<?php
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */

/** @var Magento\Customer\Block\Account\Customer $block */

?>
<?php if ($block->customerLoggedIn()) : ?>
    <li class="customer-welcome">
    <span class="customer-name"
              role="link"
              tabindex="0"

              data-toggle="dropdown"
              data-trigger-keypress-button="true"
              data-bind="scope: 'customer'">
              <!-- ko if: customer().firstname -->
                <span class="logged-in" data-bind='text: new String("<?= $block->escapeHtml(__("%1's Account", "%1")) ?>").replace("%1", customer().firstname)'>
                </span>
            <!-- /ko -->
            <!-- ko ifnot: customer().fullname  -->
                <span class="not-logged-in"
                    data-bind='html:"<?= $block->escapeHtml(__('Welcome')) ?>"'></span>
            <!-- /ko -->

            <button type="button"
                    class="action switch"
                    tabindex="-1"
                    data-action="customer-menu-toggle">
                <span><?= $block->escapeHtml(__('Change')) ?></span>
                <?= $block->getCustomer(); ?>
            </button>
        </span>
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
        <?php if ($block->getChildHtml()) :?>
            <div class="customer-menu" data-target="dropdown">
                <?= $block->getChildHtml() ?>
            </div>
        <?php endif; ?>
    </li>

    <script type="text/javascript">
     require([
        "jquery",
    ], function($) {

        $(document).ready(function() {
            $('.header.links.Parent .customer-welcome').hover(function() {
                $('.customer-menu .header.links').addClass("opened-menu");
            }, function() {
                $('.customer-menu .header.links').removeClass("opened-menu");
            });

            $('.header.links.Parent').on('click', function() {
                window.location.replace(`${window.checkout.baseUrl}/customer/account`);
            });
        })
    });
    </script>
<?php endif; ?>
