<?php
/**
 * Copyright © 2021 Redbox Digital Limited. All rights reserved.
 * Beside
 */

/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>
<?php
/** @var \Magento\Customer\Helper\Address $addressHelper */
$addressHelper = $block->getData('addressHelper');
/** @var \Magento\Directory\Helper\Data $directoryHelper */
$directoryHelper = $block->getData('directoryHelper');

?>
<div class="create-account-wrapper">
    <div class="create-account form">
        <h2 class="page-title"><span><?= $block->escapeHtml(__('Register now and make the most of my account')) ?></span></h2>
        <p class="note"><?= $block->escapeHtml(__('You will be able to receive our exclusive newsletter, save your favourite items, shop faster, and check your orders and returns.')) ?></p>
        <form class="form create account form-create-account"
            action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
            method="post"
            id="form-validate"
            enctype="multipart/form-data"
            autocomplete="off">

            <div class="form-field-block">
            <?= /* @noEscape */ $block->getChildHtml('form_fields_before_in_form') ?>
            <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset create account" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">

            <?= $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Name::class)
                    ->setObject($block->getFormData())
                    ->setForceUseCustomerAttributes(true)
                    ->toHtml()
                ?>

                <div class="field required">
                    <label for="email_address" class="label"><span><?= $block->escapeHtml(__('E-mail address')) ?></span></label>
                    <div class="control">
                        <input type="email"
                            name="email"
                            id="email_address"
                            autocomplete="email"
                            placeholder="<?= $block->escapeHtmlAttr(__('E-mail address*')) ?>"
                            value="<?= $block->escapeHtml($block->getFormData()->getEmail()) ?>"
                            title="<?= $block->escapeHtml(__('Email')) ?>"
                            class="input-text"
                            data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <div class="field required">
                    <label class="label" for="email-confirm">
                        <span><?= $block->escapeHtml(__('Confirm E-mail')) ?></span>
                    </label>
                    <div class="control">
                        <input name="email-confirm" type="email" id="email-confirm" class="input-text"
                            placeholder="<?= $block->escapeHtmlAttr(__('Confirm E-mail*')) ?>"
                            data-validate="{required:true, equalTo:'#email_address'}"
                            data-msg-required="<?php /* @escapeNotVerified */ echo __('Please confirm your email address') ?>"
                            data-msg-equalTo="<?php /* @escapeNotVerified */ echo __('Email addresses do not match') ?>" />
                    </div>
                </div>

                <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
                <?php if ($_dob->isEnabled()): ?>
                    <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
                <?php endif ?>

                <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
                <?php if ($_gender->isEnabled()): ?>
                    <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
                <?php endif ?>


                <div class="field password required">
                    <label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <?php $requiredCharacterClassesNumber = $block->escapeHtmlAttr(
                            $block->getRequiredCharacterClassesNumber()
                        ); ?>
                        <input type="password" name="password" id="password"
                            title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                            class="input-text"
                            placeholder="<?= $block->escapeHtmlAttr(__('Password*')) ?>"
                            data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                            data-password-min-character-sets="<?= /* @noEscape */ $requiredCharacterClassesNumber ?>"
                            data-validate="{required:true, 'validate-customer-password':true}"
                            autocomplete="off">
                        <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                            <div id="password-strength-meter" class="password-strength-meter">
                                <?= $block->escapeHtml(__('Password Strength')) ?>:
                                <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field confirmation required">
                    <label for="password-confirmation" class="label">
                        <span><?= $block->escapeHtml(__('Confirm Password')) ?></span>
                    </label>
                    <div class="control">
                        <input type="password"
                            name="password_confirmation"
                            title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>"
                            id="password-confirmation"
                            placeholder="<?= $block->escapeHtmlAttr(__('Confirm Password*')) ?>"
                            class="input-text"
                            data-validate="{required:true, equalTo:'#password'}"/>
                    </div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>

            <!-- <fieldset class="fieldset create info"> -->
                <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>"/>
                <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>"/>


                <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
                <?php if ($_taxvat->isEnabled()): ?>
                    <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
                <?php endif ?>



                <div class="confirm-content">
                    <?php echo $this->getLayout()
                        ->createBlock(\Magento\Cms\Block\Block::class)
                        ->setBlockId('create_account_confirm_content')
                        ->toHtml();
                    ?>
                </div>

                <?php $customerAttributes = $block->getChildBlock('customer_form_user_attributes');?>
                <?php if ($customerAttributes): ?>
                    <?php $customerAttributes->setObject($block->getFormData())
                        ->setEntityType('customer')
                        ->setShowContainer(false);?>
                    <?php $block->restoreSessionData($customerAttributes->getMetadataForm());?>
                    <?= $customerAttributes->toHtml() ?>
                <?php endif;?>
                </fieldset>
            <!-- </fieldset> -->

            <?php if ($block->getShowAddressFields()): ?>
                <fieldset class="fieldset address">
                    <legend class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></legend><br>
                    <input type="hidden" name="create_address" value="1"/>
                    <div class="field company">
                        <label for="company" class="label">
                            <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('company') ?></span>
                        </label>
                        <div class="control">
                            <input type="text"
                                name="company"
                                id="company"
                                value="<?= $block->escapeHtml($block->getFormData()->getCompany()) ?>"
                                title="<?= $block->escapeHtml(__('Company')) ?>"
                                class="input-text <?= /* @noEscape */ $addressHelper->getAttributeValidationClass('company') ?>"
                            />
                        </div>
                    </div>
                    <div class="field telephone required">
                        <label for="telephone" class="label">
                            <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('telephone') ?></span>
                        </label>
                        <div class="control">
                            <?php $phoneValidationClass = $addressHelper->getAttributeValidationClass('telephone'); ?>
                            <input type="text"
                                name="telephone"
                                id="telephone"
                                value="<?= $block->escapeHtml($block->getFormData()->getTelephone()) ?>"
                                title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('telephone') ?>"
                                class="input-text <?= /* @noEscape */ $phoneValidationClass ?>"/>
                        </div>
                    </div>

                    <?php $_streetValidationClass = $addressHelper->getAttributeValidationClass('street'); ?>

                    <div class="field street required">
                        <label for="street_1" class="label">
                            <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span>
                        </label>
                        <div class="control">
                            <input type="text"
                                name="street[]"
                                value="<?= $block->escapeHtml($block->getFormData()->getStreetLine(1)) ?>"
                                title="<?= $block->escapeHtml(__('Street Address')) ?>"
                                id="street_1"
                                class="input-text <?= /* @noEscape */ $_streetValidationClass ?>"/>
                            <div class="nested">
                                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                                <?php for ($_i = 2, $_n = $addressHelper->getStreetLines(); $_i <= $_n; $_i++): ?>
                                    <div class="field additional">
                                        <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                            <span><?= $block->escapeHtml(__('Street Address %1', $_i)) ?></span>
                                        </label>
                                        <div class="control">
                                            <input type="text"
                                                name="street[]"
                                                value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>"
                                                title="<?= $block->escapeHtml(__('Street Address %1', $_i)) ?>"
                                                id="street_<?= /* @noEscape */ $_i ?>"
                                                class="input-text <?= /* @noEscape */ $_streetValidationClass ?>"/>
                                        </div>
                                    </div>
                                <?php endfor; ?>
                            </div>
                        </div>
                    </div>

                    <div class="field required">
                        <label for="city" class="label">
                            <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span>
                        </label>
                        <div class="control">
                            <input type="text"
                                name="city"
                                value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>"
                                title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>"
                                class="input-text <?= /* @noEscape */ $addressHelper->getAttributeValidationClass('city') ?>"
                                id="city"/>
                        </div>
                    </div>

                    <div class="field region required">
                        <label for="region_id" class="label">
                            <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span>
                        </label>
                        <div class="control">
                            <select id="region_id"
                                    name="region_id"
                                    title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                                    class="validate-select region_id">
                                <option value="">
                                    <?= $block->escapeHtml(__('Please select a region, state or province.')) ?>
                                </option>
                            </select>
                            <input type="text"
                                id="region"
                                name="region"
                                value="<?= $block->escapeHtml($block->getRegion()) ?>"
                                title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                                class="input-text <?= /* @noEscape */ $addressHelper->getAttributeValidationClass('region') ?>"/>
                        </div>
                    </div>
                    <?= /* @noEscape */
                    $secureRenderer->renderTag(
                        'style',
                        [],
                        '#region_id { display:none; }
                #region { display:none; }
            ',
                        true
                    );
                    ?>

                    <div class="field zip required">
                        <label for="zip" class="label">
                            <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
                        </label>
                        <div class="control">
                            <?php $zipValidationClass = $addressHelper->getAttributeValidationClass('postcode'); ?>
                            <input type="text"
                                name="postcode"
                                value="<?= $block->escapeHtml($block->getFormData()->getPostcode()) ?>"
                                title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                                id="zip"
                                class="input-text validate-zip-international <?= /* @noEscape */ $zipValidationClass ?>"
                                data-validate="{'required':true, 'validate-zip-international':true}"/>
                        </div>
                    </div>

                    <div class="field country required">
                        <label for="country" class="label">
                            <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span>
                        </label>
                        <div class="control">
                            <?= $block->getCountryHtmlSelect() ?>
                        </div>
                    </div>
                    <?= $block->getChildBlock('success_customer_form_address_user_attributes') ?>
                    <?php $addressAttributes = $block->getChildBlock('success_customer_form_address_user_attributes');?>
                    <?php if ($addressAttributes): ?>
                        <?php $addressAttributes->setEntityType('customer_address'); ?>
                        <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                        <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                        <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
                    <?php endif;?>
                    <input type="hidden" name="default_billing" value="1"/>
                    <input type="hidden" name="default_shipping" value="1"/>
                </fieldset>

            <?php endif; ?>

            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit"
                            class="action submit primary"
                            title="<?= $block->escapeHtmlAttr(__('Create an Account')) ?>">
                        <span><?= $block->escapeHtml(__('Register')) ?></span>
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
