// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 8;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
        background-color: @brand-color5;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: @brand-color5;
            z-index: -1;
            left: -1000px;
            left: -62.5rem;
            right: 14px;
            right: .875rem;
        }

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
        }

        .step-content {
            margin: 0 0 60px;
        }

        #one-step-checkout-accordion {
            margin-top: -3px;
            [data-role='collapsible'] {
                h4 {
                    .lib-font-size(24);
                    .lib-line-height(34);
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                }
                .accordion-header {
                    display: table;
                    width: 100%;
                    height: 100px;
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        background: #fff;
                        height: 2px;
                        position: absolute;
                        top: 0;
                        left: -62.5rem;
                        right: -106px;
                    }
                    h4 {
                        display: table-cell;
                        vertical-align: middle;
                    }
                    span {
                        display: table-cell;
                        text-align: right;
                        vertical-align: middle;
                        letter-spacing: 0.5px;
                        color: #494949;
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
            [data-role='content'] {

            }

            .data.item.title {
                &.general-delivery,
                &.pickup-location {
                    display: table-cell;
                    vertical-align: middle;
                    padding-right: 60px;
                    a {
                        .lib-font-size(14);
                        .lib-line-height(22);
                        letter-spacing: 0.5px;
                        padding-left: 40px;
                        display: inline-block;
                        position: relative;
                        &:before {
                            content: '';
                            width: 20px;
                            height: 20px;
                            border: 1px solid #000;
                            border-radius: 20px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        span {

                        }
                    }
                    &.active {
                        a {
                            font-weight: 500;
                            &:after {
                                content: '';
                                width: 14px;
                                height: 14px;
                                background-color: #000;
                                border-radius: 20px;
                                position: absolute;
                                top: 4px;
                                left: 4px;
                            }
                        }
                    }
                }
            }

            #pickup-location {
                letter-spacing: 0.5px;
                margin-bottom: 30px;
                #checkout-step-collect {
                    margin-bottom: 0;
                }
                #store-selector {
                    > .field {
                        .label {
                            font-weight: @font-weight__bold;
                            text-transform: uppercase;
                            margin-bottom: 20px;
                            display: block;
                        }
                        .control {
                            max-width: 290px;
                            .select {
                                border: 0;
                            }
                        }
                    }
                    .ispu-result {
                        .warning {
                            color: #494949;
                            text-transform: uppercase;
                            .lib-font-size(10);
                            .lib-line-height(20);
                            margin-top: 6px;
                            display: block;
                        }
                        .control {
                            h3 {
                                text-transform: uppercase;
                                font-weight: 700;
                                .lib-font-size(14);
                                .lib-line-height(26);
                                margin-top: 25px;
                            }
                            .pickup-locations {
                                padding-left: 0;
                                list-style: none;
                                li.pickup-location {
                                    border-top: 1px solid #e8e8e8;
                                    margin: 0;
                                    padding: 20px 0;
                                    &:last-child {
                                        border-bottom: 1px solid #e8e8e8;
                                    }
                                    .content-wrapper {
                                        display: none;
                                        .padded-wrapper {
                                            padding: 20px 0 0 30px;
                                        }
                                    }
                                    .wrapper {
                                        position: relative;
                                        .info-title {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            text-decoration: underline;
                                            cursor: pointer;
                                            user-select: none;
                                        }
                                    }

                                    .view-store-details {
                                        &.open {
                                            .view-store-content {
                                                display: grid !important;
                                                grid-gap: 15px;
                                            }

                                            .view-store-toggle {
                                                font-size: 0;
                                                text-decoration: none;
                                                &:before {
                                                    content: @icon-close-x-small-black-icon;
                                                    font-family: @font-icon-additional__font-name;
                                                    font-style: normal;
                                                    font-weight: normal;
                                                    line-height: 1;
                                                    font-size: 18px;
                                                    -webkit-font-smoothing: antialiased;
                                                    color: #979797;
                                                }
                                            }
                                        }
                                    }

                                    .view-store-toggle {
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        text-decoration: underline;
                                        cursor: pointer;
                                    }

                                    .view-store-content {
                                        margin-top: 20px;
                                    }

                                    .info-collapsible {
                                        &.active {
                                            .info-title {
                                                text-decoration: none;
                                                > span {
                                                    display: none;
                                                }
                                                &:before {
                                                    content: '\e919';
                                                    font-family: 'beside icons additional';
                                                    font-style: normal;
                                                    font-weight: normal;
                                                    line-height: 1;
                                                    font-size: 18px;
                                                    -webkit-font-smoothing: antialiased;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        #pick-up-location-customer-info {
                            margin-top: 40px;
                            .fieldset {
                                &:after {
                                    content: '';
                                    display: table;
                                    clear: both;
                                }
                                > .field {
                                    width: 100%;
                                    float: left;
                                    margin: 0 0 24px;
                                }
                                > .field:not(.choice) > .control {
                                    width: 100%;
                                }
                                > .field-firstname,
                                > .field-lastname {
                                    width: 50%;
                                }
                                > .field-firstname {
                                    padding-right: 12px;
                                }
                                > .field-lastname {
                                    padding-left: 12px;
                                }
                            }

                            input {
                                border: solid 1px transparent;
                                &.mage-error {
                                    border-color: #ff1010
                                }
                            }
                        }
                    }
                }
                #review-buttons-container {
                    .action.primary {
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                        padding: 13px 50px;
                        margin: 0;
                    }
                }
            }
        }
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            margin-left: auto;
            margin-right: auto;
            width: 150px;
        }

        .page-header {
            border-bottom: 1px solid #e8e8e8;
        }

        .fieldset > .field:not(.choice) > .label {
            .lib-visually-hidden();
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }

        .field.choice {
            margin-bottom: 20px;
        }
    }

    .checkout-order-review {
        padding-bottom: 80px;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        .order-review-shipping-info,
        .order-review-billing-info,
        .order-review-payment-info {
            float: left;
            margin-bottom: 30px;
            padding-right: 20px;
            box-sizing: border-box;
            h5 {
                letter-spacing: 0.5px;
                text-transform: uppercase;
                margin: 0 0 10px;
            }
            p {
                margin-bottom: 0;
                letter-spacing: 0.5px;
            }
        }

        .order-review-shipping-info {
            div {
                display: flex;
            }
            p:nth-child(2) {
                margin-left: 5px;
            }
        }

        .order-review-payment-info {
            clear: left;
        }
        .summary-info {
            width: 100%;
            float: left;
            position: relative;
            .summary-title {
                letter-spacing: 0.5px;
                margin-bottom: 0;
            }
            .summary-description {
                letter-spacing: 0.5px;
                .lib-font-size(10);
                .lib-line-height(20);
                color: #494949;
            }
            a {
                .lib-font-size(10);
                .lib-line-height(20);
                text-transform: uppercase;
                color: #494949;
                text-decoration: underline;
            }

            input[type="checkbox"] {
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;

                + .summary-text {
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 21px;
                        height: 21px;
                        border: 1px solid #000000;
                        box-sizing: border-box;
                        background-color: #ffffff;
                    }
                }

                &:checked {
                    + .summary-text {
                        &:after {
                            content: '';
                            position: absolute;
                            left: 3px;
                            top: 3px;
                            width: 15px;
                            height: 15px;
                            box-sizing: border-box;
                            background-color: #000000;
                            margin: 0;
                        }
                    }
                }
            }

            .summary-text {
                cursor: pointer;
                margin-left: 30px;
            }
        }
        .actions-toolbar {
            float: left;
            margin-top: 20px;
            .checkout {
                text-transform: uppercase;
                min-width: 293px;
                line-height: 2.2rem;
                letter-spacing: 1px;
            }
        }
    }

    .checkout-index-index {

        .opc-block-summary {
            .items-in-cart  {
                .product {
                    .item-options {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        margin-bottom: 0;
                        &:before {
                            display: none;
                        }
                    }
                }

                .minicart-items {
                    .product-item-details {
                        .details-qty {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            margin-top: 0;
                        }
                    }
                }
            }
        }


        .page-footer {
            letter-spacing: 0.5px;
        }
        .footer-checkout {
            p {
                margin-bottom: 0;
            }
        }
        .checkout-copyright {
            border-top: 1px solid #E9E9E9;
            padding: 25px 0;
            p {
                max-width: @layout__max-width;
                margin: 0 auto;
            }
        }
    }

    .intl-tel-input {
        .flag-container {
            height: 44px;
        }
    }

    .checkout-login-index {
        .form-login {
            .action.login {
                letter-spacing: 0.5px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 16px;
                padding: 13px 50px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
    .checkout-index-index {
        .checkout-copyright {
            padding: 20px 15px;
        }
    }

    .checkout-login-index {
        .form-login {
            .action.login {
                font-size: 12px;
                padding: 0;
                line-height: 3.3rem;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: 105px;
        width: 56.5%;

        #one-step-checkout-accordion {
            #pickup-location {
                #store-selector {
                    .ispu-result {
                        .control {
                            .pickup-locations {
                                li.pickup-location {
                                    .view-store-details {
                                        &.open {
                                            .view-store-content {
                                                grid-template-columns: 1fr 1fr;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    aside.opc-sidebar {
        width: 43.5%;
        margin: 0;
    }

    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 22px 0 0;
        }
    }

    .checkout-index-index {
        .logo {
            padding: 23px 0;
        }
        .minicart-wrapper {
            .action.showcart {
                &:before,
                .not-empty {
                    height: 66px;
                    background-position: 50% 50%;
                }
                .counter.qty {
                    padding-top: 3px;
                    padding-left: 3px;
                }
            }
        }
    }

    .checkout-order-review {
        .order-review-shipping-info,
        .order-review-billing-info,
        .order-review-payment-info {
            width: 50%;
        }
    }

    .checkout-login-index {
        .login-container {
            .block.block-new-customer {
                margin-bottom: 0 !important;
            }
        }

        .form.form-login {
            .actions-toolbar {
                margin-left: 0;
                margin-right: 25.8%;
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .checkout-index-index {
        .logo {
            img {
                width: 96px;
            }
        }
        .header.content {
            padding: 16px 15px;
            .minicart-wrapper {
                position: absolute;
                top: 0;
                right: 15px;
                margin: 0;
                .action.showcart {
                    &:before {
                        height: 45px;
                    }
                    .not-empty {
                        height: 45px;
                    }
                }
            }
        }

        .page-footer {
            .footer-checkout {
                padding: 27px 0 !important;
                .pagebuilder-column {
                    padding: 0 !important;
                    margin-bottom: 15px !important;
                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }
            }
            .footer-checkout-links {
                margin: 20px 0px !important;
                .pagebuilder-column {
                    padding: 0 !important;
                }
                .row-full-width-inner {
                    padding: 0 !important;
                    margin-top: 20px;
                }
                .pagebuilder-column-group {
                    padding: 0 15px !important;
                }
            }
        }
    }

    .opc-wrapper {
        margin-bottom: 0;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: #f6f6f6;
            z-index: -1;
            right: -62.5rem;
            left: .875rem;
        }
        .step-content {
            margin: 0 0 24px;
        }
        #one-step-checkout-accordion {
            [data-role='collapsible'] {
                h4 {
                    .lib-font-size(18);
                    .lib-line-height(29);
                    margin: 28px 0;
                }
                .accordion-header {
                    height: auto;
                    h4 {
                        display: block;
                    }
                    span {
                        display: none;
                        &.step-edit {
                            display: table-cell;
                        }
                    }
                }
            }

            #pickup-location #store-selector .ispu-result #pick-up-location-customer-info .fieldset {
                > .field-firstname,
                > .field-lastname {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }

    .checkout-login-index {
        .header.content {
            display: flex;
            align-items: center;
            .minicart-wrapper {
                order: 3;
                width: 20%;
                .action.showcart {
                    float: right;
                    .not-empty {
                        right: 0;
                        left: auto;
                        width: 29px;
                    }
                }
            }
        }
        .nav-toggle {
            width: 20%;
            order: 1;
            margin: 0;
        }
        .logo {
            order: 2;
            width: 60%;
            img {
                width: 123px;
            }
        }
    }
}
