// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-summary__background-color: @color-white-smoke;
@checkout-summary__padding: 22px @indent__l;

@checkout-summary-title__margin: @indent__s;
@checkout-summary-mark-value__color: @color-gray60;

@checkout-summary-items__max-height: 370px;
@checkout-summary-items__padding: 15px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Order Summary
    //  ---------------------------------------------

    .opc-block-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(padding, 30px 24px);
        margin: 0 0 @indent__base;

        > .title {
            &:extend(.abs-checkout-title all);
            display: block;
            .lib-font-size(24);
            .lib-line-height(34);
            letter-spacing: 0.8px;
            text-transform: uppercase;
            font-weight: @font-weight__bold;
            border: 0;
        }

        //  Totals table
        .table-totals {
            &:extend(.abs-sidebar-totals all);
        }

        .mark {
            .value {
                .lib-css(color, @checkout-summary-mark-value__color);
                display: block;
            }
        }

        .discount.coupon {
            display: none;
        }

        .grand.incl {
            & + .grand.excl {
                .mark,
                .amount {
                    border-top: 0;
                    .lib-font-size(14);
                    padding-top: 0;

                    strong {
                        font-weight: @font-weight__regular;
                    }
                }
            }
        }

        .not-calculated {
            font-style: italic;
        }

        //
        //  Items list
        //  ---------------------------------------------

        //  Block title
        .items-in-cart {
            margin-bottom: 0;
            > .title {
                padding: 18px 15px;
                background-color: #f6f6f6;
                border-top: 1px solid @color-black;
                margin-bottom: 5px;
                h3 {
                    .lib-font-size(14);
                    .lib-line-height(24);
                    margin: 0;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }
            }

            &.active {
                > .title {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }

            .product {
                position: relative;
                display: block;
                .item-options {
                    &:extend(.abs-product-options-list all);
                    &:extend(.abs-add-clearfix all);
                    letter-spacing: 0.5px;
                    margin-bottom: 9px;
                    dt {
                        clear: none;
                        font-weight: @font-weight__regular;
                        max-width: 88px;
                        width: 100%;
                        margin-right: 0;
                    }
                }
            }
        }

        //  Cart items
        .minicart-items-wrapper {
            .lib-css(margin, 0 -(@checkout-summary-items__padding) 0 0);
            .lib-css(max-height, 410px);
            .lib-css(padding, 0 @checkout-summary-items__padding 0 0);
            border: 0;
        }

        .column.main & {
            .product-item {
                margin: 0;
                padding-left: 0;
                border-bottom: 1px solid #e8e8e8;
                padding: 30px 0;
            }
        }

        .product-item {

            .product-image-container {
                width: 90px !important;
                height: auto !important;
            }

            .product-item-name-block {
                .product-item-name {
                    .lib-font-size(16);
                    .lib-line-height(26);
                }
            }

            .subtotal {
                float: right;
            }

            .price {
                .lib-font-size(16);
            }

            .price-including-tax {
                & + .price-excluding-tax {
                    margin: 0;

                    .price {
                        .lib-font-size(10);
                    }
                }
            }
        }

        .actions-toolbar {
            position: relative;
            z-index: 1;

            .secondary {
                border-top: @border-width__base solid @border-color__base;
                display: block;
                float: none;
                margin: -1px 0 0;
                padding: 15px 0 0;
                text-align: left;

                .action {
                    margin: 0;
                }
            }
        }

        //
        //  Coupon Code
        //  ---------------------------------------------
        .payment-option.discount-code {
            background-color: #f6f6f6;
            padding: 20px 30px;
            .payment-option-title {
                padding-left: 0;
                .lib-font-size(16);
                .lib-line-height(36);
                letter-spacing: 0.6px;
                text-transform: uppercase;
                font-weight: @font-weight__bold;
                position: relative;
                .action-toggle {
                    &:after {
                        content: '';
                        width: 8px;
                        height: 8px;
                        position: absolute;
                        top: 15px;
                        right: 0;
                        border-top: 1px solid black;
                        border-right: 1px solid black;
                        transform: rotate(135deg)
                    }
                }
            }
            &._active {
                .payment-option-title {
                    .action-toggle {
                        &:after {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            .payment-option-content {
                letter-spacing: 0.5px;
                .form-discount {
                    .label {
                        .lib-font-size(14);
                        .lib-line-height(26);
                        letter-spacing: 0.5px;
                        margin-bottom: 12px;
                        display: block;
                    }
                    .input-text {
                        border: 0;
                        margin-bottom: 20px;
                    }
                    .actions-toolbar {
                        margin-left: 0;
                        .primary {
                            max-width: 260px;
                            width: 100%;
                        }
                        .action-cancel,
                        .action-apply {
                            background-color: transparent;
                            text-transform: uppercase;
                            letter-spacing: 0.5px;
                            width: 100%;
                            margin: 0;
                            &:hover,
                            &:focus {
                                color: @color-black;
                            }
                        }
                    }
                }
            }
        }

        .data.table.table-totals {
            letter-spacing: 0.5px;
            margin-top: 55px;
            > tbody > tr > td,
            > tbody > tr > th {
                padding: 5px 0;
                line-height: 26px;
            }
            .grand.totals {
                th strong {
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                }
            }
        }

    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-summary-wrapper {
        .modal-header {
            .action-close {
                display: none;
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .opc-estimated-wrapper {
        display: none;
    }

    .opc-summary-wrapper {
        .modal-header {
            .action-close {
                display: none;
            }
        }
    }

    .opc-block-summary {
        margin: 2px -15px 24px -15px;
        padding: 0;
        > .title {
            display: none;
        }
        .items-in-cart {
            background-color: #f6f6f6;
            > .title {
                padding: 21px 15px;
                h3 {
                    .lib-font-size(16);
                }
            }
            .content.minicart-items {
                padding-left: 15px;
                padding-right: 15px;
            }
            .product {
                .item-options {
                    .lib-font-size(12);
                    .lib-line-height(24);
                }
            }
        }
        .product-item {
            padding: 12px 0 !important;
            border: 0 !important;
            &:first-child {
                padding-top: 0 !important;
            }
            .product-item-name-block {
                .product-item-name {
                    .lib-font-size(12);
                    .lib-line-height(20);
                    margin-bottom: 0;
                }
            }
            .price {
                .lib-font-size(12);
                .lib-line-height(20);
            }
        }
        .data.table.table-totals {
            margin-top: 0;
            .lib-font-size(12);
            > tbody > tr > td,
            > tbody > tr > th {
                padding: 2px 15px;
            }
            .grand.totals {
                .lib-font-size(18);
                th, td {
                    padding: 20px 15px;
                }
            }
        }

        .payment-option.discount-code {
            margin-bottom: 20px;
            padding: 20px 15px;
        }
    }

}

