// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-shipping-address__max-width: 600px;
@checkout-shipping-address__margin-top: 28px;

@checkout-shipping-item-icon__background-color: @checkout-shipping-item__active__border-color;
@checkout-shipping-item-icon__color: @color-white;
@checkout-shipping-item-icon__content: @icon-checkmark;

@checkout-shipping-item__border: 2px solid transparent;
@checkout-shipping-item__line-height: 30px;
@checkout-shipping-item__margin: 0 0 @indent__base;
@checkout-shipping-item__padding: @indent__base (@indent__l + 5px) @indent__base @indent__base;
@checkout-shipping-item__transition: .3s border-color;
@checkout-shipping-item__width: 100%/3;
@checkout-shipping-item-tablet__width: 100%/2;
@checkout-shipping-item-mobile__width: 100%;
@checkout-shipping-item__active__border-color: @active__color;

@checkout-shipping-item-icon__selected__height: 27px;
@checkout-shipping-item-icon__selected__width: 29px;

@checkout-shipping-item-mobile__padding: 0 0 15px;
@checkout-shipping-item-mobile__margin: @checkout-shipping-item-mobile__padding;
@checkout-shipping-item-mobile__active__padding: 15px (@indent__l + 5px) 15px 18px;

@checkout-shipping-item-before__border-color: @color-gray80;
@checkout-shipping-item-before__height: calc(~'100% - 20px');

@checkout-shipping-method__border: @checkout-step-title__border;
@checkout-shipping-method__padding: @indent__base;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .opc-wrapper {

        //
        //  Shipping Address
        //  ---------------------------------------------

        .form-login,
        .form-shipping-address {

            .fieldset {
                .note {
                    font-size: @font-size__base;
                    margin-top: @indent__s;
                }
            }
        }

        .form.methods-collect,
        .form-shipping-address {
            margin-top: 30px;
        }

        .form-shipping-address,
        .form-login {
            #shipping-new-address-form {
                margin-bottom: 0;
                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }
            }
            .fieldset {
                .field {
                    width: 100%;
                    float: left;
                    margin: 0 0 25px;
                    &:not(.choice) > .control {
                        width: 100%;
                        input,
                        select,
                        textarea {
                            border-color: transparent;
                            &::placeholder {
                                color: #494949;
                            }
                            &.mage-error {
                                border-color: #ff1010;
                            }
                        }
                        .field-error {
                            &:before {
                                position: absolute;
                                top: 0;
                                right: 0;
                                line-height: 44px;
                                font-size: 36px;
                            }
                        }
                    }
                    &._error {
                        .control {
                            input,
                            select,
                            textarea {
                                border-color: #ff1010;
                            }
                        }
                    }
                }

                [name="shippingAddress.custom_attributes.customer_mobile_number_prefix"] {
                    display: none;
                }

                [name="shippingAddress.firstname"],
                [name="shippingAddress.lastname"],
                [name="shippingAddress.country_id"],
                [name="shippingAddress.city"],
                [name="shippingAddress.postcode"],
                [name="shippingAddress.region_id"],
                [name="shippingAddress.region"] {
                    width: 50%;
                }
                [name="shippingAddress.firstname"],
                [name="shippingAddress.city"],
                [name="shippingAddress.country_id"] {
                    padding-right: 12px;
                }
                [name="shippingAddress.lastname"],
                [name="shippingAddress.region_id"],
                [name="shippingAddress.region"],
                [name="shippingAddress.postcode"] {
                    padding-left: 12px;
                }

                [name="shippingAddress.telephone"] .control._with-tooltip {
                    input {
                        width: 100%;
                        margin-right: 0;
                    }
                    .field-tooltip {
                        display: none;
                    }
                }
            }
        }

        .form-login {
            .actions-toolbar {
                margin: 20px 0 0 !important;
                .primary {
                    float: left;
                    .action {
                        .lib-font-size(14);
                        .lib-line-height(22);
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        padding: 10px 17px;
                        min-width: 150px;
                    }
                }
                .secondary {
                    float: left;
                    margin-left: 20px;
                    a.action {
                        margin-top: 10px;
                        text-decoration: underline;
                    }
                }
            }
            .field-tooltip {
                display: none;
            }
        }

        .shipping-address-items {
            font-size: 0;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
            margin-top: 30px;
            grid-column-gap: 6%;
        }

        .shipping-address-item {
            &:extend(.abs-add-box-sizing all);
            .lib-css(border, @checkout-shipping-item__border);
            .lib-css(line-height, @checkout-shipping-item__line-height);
            .lib-css(margin, @checkout-shipping-item__margin);
            .lib-css(padding, 15px 20px 15px 20px);
            .lib-css(transition, @checkout-shipping-item__transition);
            .lib-css(width, 100%);
            display: inline-block;
            font-size: @font-size__base;
            position: relative;
            vertical-align: top;
            word-wrap: break-word;

            &.selected-item {
                .lib-css(border-color, @color-black);

                &:after {
                    .lib-css(background, @color-black);
                    .lib-css(color, @checkout-shipping-item-icon__color);
                    .lib-css(content, @checkout-shipping-item-icon__content);
                    .lib-css(font-family, @icons__font-name);
                    .lib-css(height, @checkout-shipping-item-icon__selected__height);
                    .lib-css(width, @checkout-shipping-item-icon__selected__width);
                    font-size: 27px;
                    line-height: 21px;
                    padding-top: 2px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 0;
                }
            }
        }

        .field {
            &.addresses {
                &:extend(.abs-add-clearfix all);
            }
        }

        .action-show-popup {
            margin: 0 0 @indent__base;
            text-transform: uppercase;
            letter-spacing: 0.5px;

            > span {
                &:before {
                    content: '+';
                    padding-right: @indent__xs;
                }
            }
        }

        .action-select-shipping-item {
            float: right;
            margin: 15px 0 0;
            .lib-font-size(12);
            text-transform: uppercase;
            letter-spacing: 0.5px;
            padding: 6px 10px;
        }

        .edit-address-link {
            &:extend(.abs-action-button-as-link all);
            display: block;
            float: left;
            margin: 19px 5px 0 0;
            text-decoration: underline;
        }
    }

    //
    //  Shipping Methods
    //  ---------------------------------------------

    .checkout-shipping-method {
        .step-title {
            .lib-font-size(16);
            .lib-line-height(26);
            letter-spacing: 0.5px;
            text-transform: uppercase;
            font-weight: @font-weight__bold;
            padding: 0;
            margin-bottom: 26px;
            border: 0;
        }

        .no-quotes-block {
            margin: @indent__base 0;
        }
    }

    .methods-shipping {
        .actions-toolbar {
            .action {
                &.primary {
                    &:extend(.abs-button-l all);
                    margin: @indent__base 0 0;
                }
            }
        }
    }

    .table-checkout-shipping-method {
        thead {
            th {
                display: none;
            }
        }

        tbody {
            td {
                .lib-css(border-top, @checkout-shipping-method__border);
                .lib-css(padding-bottom, 20px);
                .lib-css(padding-top, 0);
                letter-spacing: 0.5px;
                border: 0;

                &:first-child {
                    padding-left: 0;
                    padding-right: 0;
                    width: 20px;
                }

                .text-carrier {
                    .lib-font-size(10);
                    .lib-line-height(20);
                    color: #494949;
                    text-transform: uppercase;
                    margin: 0;
                }
            }

            tr {
                &.pointer {
                    cursor: pointer;
                }
                &:first-child {
                    td {
                        border-top: none;
                    }
                }
            }

            .row-error {
                td {
                    border-top: none;
                    padding-bottom: @indent__s;
                    padding-top: 0;
                }
            }

            .col-method {
                position: relative;

                .radio {
                    position: absolute;
                    opacity: 0;
                    &:checked {
                        + .radio-label:after {
                            content: '';
                            width: 14px;
                            height: 14px;
                            background-color: #000;
                            border-radius: 20px;
                            position: absolute;
                            top: 4px;
                            left: 4px;
                        }
                    }
                }

                .radio-label {
                    &:before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        border: 1px solid #000;
                        border-radius: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    #shipping-new-address-form {
        display: grid;
        &.fieldset > .field.choice:before {
            width: auto;
            padding: 0;
        }
    }

        .form-shipping-address {
            .fieldset {
                [name="shippingAddress.firstname"],
                [name="shippingAddress.lastname"],
                .street,
                [name="shippingAddress.country_id"],
                [name="shippingAddress.region_id"],
                [name="shippingAddress.region"] {
                    order: -1
                }

            }
        }


        .gift-wrapping-container {
            margin-bottom: 12px;
        }

        .invisible {
            height: 0;
            margin-bottom: 0 !important;
        }


}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {

        .shipping-address-item {
            .lib-css(border-bottom, 1px solid @checkout-shipping-item-before__border-color);
            .lib-css(margin, @checkout-shipping-item-mobile__margin);
            .lib-css(padding, @checkout-shipping-item-mobile__padding);
            width: 100%;

            &.selected-item {
                .lib-css(padding, @checkout-shipping-item-mobile__active__padding);
                border-bottom-width: 2px;

                .edit-address-link {
                    .lib-css(right, @checkout-shipping-item-icon__selected__width + @indent__s);
                }
            }
        }

        .form-shipping-address {
            .lib-css(margin-top, @checkout-shipping-address__margin-top);
        }

        .action-select-shipping-item {
            float: none;
            margin-top: @indent__s;
            width: 100%;
        }

        .action-show-popup {
            width: 100%;
        }

        .edit-address-link {
            .lib-icon-font(
                @icon-settings,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 28px,
                @_icon-font-text-hide: true,
                @_icon-font-color: @color-gray19,
                @_icon-font-color-hover: @color-gray19,
                @_icon-font-color-active: @color-gray19
            );
            margin: 0;
            position: absolute;
            right: 0;
            top: 1px;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .opc-wrapper {
        .form-shipping-address {
            .fieldset {
                [name="shippingAddress.firstname"],
                [name="shippingAddress.lastname"],
                [name="shippingAddress.country_id"],
                [name="shippingAddress.city"],
                [name="shippingAddress.postcode"],
                [name="shippingAddress.telephone"],
                [name="shippingAddress.region_id"],
                [name="shippingAddress.region"] {
                    width: 100%;
                    padding: 0;
                    margin: 0 0 20px;
                }
                > .field:not(.choice) > .control {
                    input,
                    select,
                    textarea{
                        height: 42px;
                    }
                }
            }
        }
        .form-login {
            .fieldset {
                margin-bottom: 0;
            }
        }
        .shipping-address-items {
            grid-template-columns: 47% 47%;
            grid-column-gap: 6%;
        }
    }

    .checkout-shipping-method {
        .step-title {
            .lib-font-size(14) !important;
            margin-bottom: 15px;
        }
    }

    .table-checkout-shipping-method tbody td {
        padding-bottom: 15px;
    }

    #checkout-step-shipping_method {
        .actions-toolbar {
            margin: 0;
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            .primary {
                width: 100%;
                .action {
                    margin-top: 16px;
                    min-width: 100%;
                    .lib-font-size(16);
                }
            }
        }
    }

}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-shipping-method {
        .actions-toolbar {
            > .primary {
                float: right;
            }

            .action {
                &.primary {
                    margin: 0;
                }
            }
        }
    }

    .table-checkout-shipping-method {
        width: auto;
    }

    #shipping-new-address-form {
        grid-template-columns: 1fr 1fr;
    }

    .checkout-index-index {
        &._has-modal {
            #shipping-new-address-form {
                grid-template-columns: 1fr;
            }
        }
    }

    .opc-wrapper {
        .form-shipping-address {
            .fieldset {
                [name="shippingAddress.firstname"],
                [name="shippingAddress.lastname"],
                [name="shippingAddress.country_id"],
                [name="shippingAddress.region_id"],
                [name="shippingAddress.region"],
                [name="shippingAddress.city"],
                [name="shippingAddress.postcode"] {
                    width: 100%;
                }
                [name="shippingAddress.lastname"] {
                    grid-column: ~"2/3";
                }
                .street,
                [name="shippingAddress.telephone"] {
                    grid-column: ~"1/3";
                }

            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .opc-wrapper {
        .shipping-address-item {

            &:before {
                .lib-css(background, @checkout-shipping-item-before__border-color);
                .lib-css(height, 100%);
                content: '';
                left: 0;
                position: absolute;
                top: 0;
                width: 1px;
            }

            &:nth-child(3n + 1) {
                &:before {
                    display: none;
                }
            }

            &.selected-item {
                &:before {
                    display: none;
                }

                + .shipping-address-item {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

}
