// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-sidebar-shipping-information__padding: @indent__l;
@checkout-sidebar-shipping-information__line-height: @checkout-billing-address-details__line-height;

@checkout-sidebar-shipping-information-edit-icon__color: @minicart-icons-color;
@checkout-sidebar-shipping-information-edit-icon__content: @icon-settings;
@checkout-sidebar-shipping-information-edit-icon__font-size: 28px;
@checkout-sidebar-shipping-information-edit-icon__line-height: 28px;
@checkout-sidebar-shipping-information-edit-icon__top: 2px;
@checkout-sidebar-shipping-information-edit-icon__hover__color: @primary__color;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shipping Information
    //  ---------------------------------------------

    .opc-block-shipping-information {
        .lib-css(padding, 0 24px);

        .shipping-information-title {
            &:extend(.abs-checkout-title all);
            .lib-css(border-bottom, @checkout-step-title__border);
            margin: 0 0 @indent__base;
            position: relative;

            .action-edit {
                &:extend(.abs-action-button-as-link all);
                .lib-css(top, @checkout-sidebar-shipping-information-edit-icon__top);
                .lib-icon-font(
                    @checkout-sidebar-shipping-information-edit-icon__content,
                    @_icon-font-size: @checkout-sidebar-shipping-information-edit-icon__font-size,
                    @_icon-font-line-height: @checkout-sidebar-shipping-information-edit-icon__line-height,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @checkout-sidebar-shipping-information-edit-icon__color,
                    @_icon-font-color-hover: @checkout-sidebar-shipping-information-edit-icon__hover__color,
                    @_icon-font-color-active: @checkout-sidebar-shipping-information-edit-icon__color
                );
                margin: 0;
                position: absolute;
                right: 0;
            }
        }

        .shipping-information-content {
            .lib-css(line-height, @checkout-sidebar-shipping-information__line-height);
            .actions-toolbar {
                margin-left: 0;
            }
        }

        .ship-to,
        .ship-via {
            margin: 0 0 @indent__base;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-block-shipping-information {
        .shipping-information-title {
            font-size: 2.3rem;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .opc-block-shipping-information {
        padding: 0;
    }

}
