// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@form-field__vertical-indent__desktop: 29px;
@form-calendar-icon__color: @primary__color;

@form-element-input__height: 44px;
@form-element-input__border: 1px solid #cccccc;
@form-element-input__padding: 0 15px;
@focus__box-shadow: none;
@form-element-input-placeholder__color: @brand-color2;
@form-validation-note-icon__font-content: @icon-remove;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .fieldset {
        .lib-form-fieldset();
        &:last-child {
            margin-bottom: @indent__base;
        }

        > .field,
        > .fields > .field {
            .lib-form-field();

            &.no-label {
                > .label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            &.choice {
                .label {
                    display: inline;
                    font-weight: normal;
                }
            }

            .label {
                .column:not(.main) & {
                    font-weight: normal;
                }
            }

            .field.choice {
                margin-bottom: @indent__s;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            input[type=file] {
                margin: @indent__xs 0;
            }

            > .control {
                position: relative;
                div.mage-error[generated]:before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 9;
                    .lib-font-size(40);
                    .lib-line-height(44);
                }
            }
        }
    }

    .legend + .fieldset,
    .legend + div {
        clear: both;
    }

    .legend {
        strong {
            margin-left: @indent__xs;
        }
    }

    fieldset.field {
        border: 0;
        padding: 0;
    }

    .field {
        &.date {
            &:extend(.abs-field-date all);

            .time-picker {
                display: inline-block;
                margin-top: @indent__s;
                white-space: nowrap;
            }
        }

        .message {
            &.warning {
                margin-top: @indent__s;
            }
        }
    }

    .field-error,
    div.mage-error[generated] {
        margin-top: 2px;
    }

    .field-error {
        .lib-form-validation-note();
    }

    .product-options-wrapper {
        .date {
            &.required {
                div[for*='options'] {
                    &.mage-error {
                        display: none !important;
                    }
                }
            }
        }
    }

    .field .tooltip {
        .lib-tooltip(right);
        .tooltip-content {
            min-width: 200px;
            white-space: normal;
        }
    }

    input:focus ~ .tooltip .tooltip-content,
    select:focus ~ .tooltip .tooltip-content {
        display: block;
    }

    ._has-datepicker {
        ~ .ui-datepicker-trigger {
            .lib-button-reset();
            .lib-icon-font(
            @_icon-font-content: @icon-calendar,
            @_icon-font-color: @primary__color__lighter,
            @_icon-font-size: @icon-calendar__font-size,
            @_icon-font-line-height: @icon-calendar__font-size,
            @_icon-font-display: block,
            @_icon-font-text-hide: true
            );
            display: inline-block;
            vertical-align: middle;

            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }
    }

    //
    //  Sidebar forms
    //  -----------------------------------------

    .sidebar {
        .fieldset {
            margin: 0;

            > .field:not(.choice) >,
            .fields > .field {
                &:not(:last-child) {
                    margin: 0 0 @form-field__vertical-indent;
                }

                .label {
                    margin: 0 0 4px;
                    padding: 0 0 @indent__xs;
                    text-align: left;
                    width: 100%;
                }

                .control {
                    width: 100%;
                }
            }
        }
    }

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"] {
        letter-spacing: 0.5px;
    }

    // Checkbox

    .field {
        &.choice {
            position: relative;
            padding-left: 30px;
            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked,
            [type="radio"]:not(:checked),
            [type="radio"]:checked {
                .lib-visually-hidden();
            }
            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label,
            [type="radio"]:not(:checked) + label,
            [type="radio"]:checked + label {
                cursor: pointer;
                letter-spacing: 0.5px;
                color: @color-black;
                .lib-line-height(24);
                .lib-font-size(14);
                .lib-css(user-select, none);
            }

            [type="checkbox"]:not(:checked) + label:before,
            [type="checkbox"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 21px;
                height: 21px;
                border: 1px solid @color-black;
                box-sizing: border-box;
                background-color: @color-white;
            }
            [type="checkbox"]:not(:checked) + label:after,
            [type="checkbox"]:checked + label:after {
                content: '';
                position: absolute;
                left: 3px;
                top: 3px;
                width: 15px;
                height: 15px;
                box-sizing: border-box;
                background-color: @color-black;
                margin: 0;
            }

            [type="radio"]:not(:checked) + label:before,
            [type="radio"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 21px;
                height: 21px;
                border: 1px solid @color-black;
                box-sizing: border-box;
                background-color: @color-white;
                border-radius: 20px;
            }
            [type="radio"]:not(:checked) + label:after,
            [type="radio"]:checked + label:after {
                content: '';
                position: absolute;
                left: 3px;
                top: 3px;
                width: 15px;
                height: 15px;
                box-sizing: border-box;
                background-color: @color-black;
                margin: 0;
                border-radius: 20px;
            }

            [type="checkbox"]:not(:checked) + label:after,
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }
            [type="checkbox"]:checked + label:after,
            [type="radio"]:checked + label:after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .fieldset {
        .legend {
            &:extend(.abs-margin-for-forms-desktop all);
        }

        > .field {
            .lib-form-field-type-revert();
            margin: 0 0 @form-field__vertical-indent__desktop;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"],
    select,
    textarea {
        height: 35px;
        .lib-font-size(12);
    }

    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        width: 20px;
        height: 20px;
        top: 1px;
    }
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        width: 14px;
        height: 14px;
        top: 4px;
    }

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        .lib-font-size(12) !important;
        .lib-line-height(20) !important;
    }

}
