@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?gojmr5');
    src:  url('../fonts/icomoon.eot?gojmr5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?gojmr5') format('woff2'),
    url('../fonts/icomoon.ttf?gojmr5') format('truetype'),
    url('../fonts/icomoon.woff?gojmr5') format('woff'),
    url('../fonts/icomoon.svg?gojmr5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account-icon:before {
    content: "\e900";
}
.icon-arrow-down-medium-black-icon .path1:before {
    content: "\e901";
    color: rgb(216, 216, 216);
}
.icon-arrow-down-medium-black-icon .path2:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-arrow-down-medium-black-icon .path3:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(216, 216, 216);
}
.icon-arrow-down-medium-black-icon .path4:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-arrow-down-medium-white-icon .path1:before {
    content: "\e905";
    color: rgb(216, 216, 216);
}
.icon-arrow-down-medium-white-icon .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-arrow-down-medium-white-icon .path3:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(216, 216, 216);
}
.icon-arrow-down-medium-white-icon .path4:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-arrow-down-thin-black-icon:before {
    content: "\e909";
}
.icon-click-and-collect-icon:before {
    content: "\e914";
}
.icon-close-x-big-black-icon:before {
    content: "\e915";
}
.icon-close-x-medium-black-icon:before {
    content: "\e916";
}
.icon-close-x-medium-red-icon:before {
    content: "\e917";
    color: #ff1010;
}
.icon-close-x-medium-white-icon:before {
    content: "\e918";
    color: #fff;
}
.icon-close-x-small-black-icon:before {
    content: "\e919";
}
.icon-close-x-small-red-icon:before {
    content: "\e91a";
    color: #ff1010;
}
.icon-confirmation-green-medium-icon:before {
    content: "\e91b";
    color: #10b351;
}
.icon-confirmation-green-small-icon:before {
    content: "\e91c";
    color: #10b351;
}
.icon-customer-care-icon:before {
    content: "\e91d";
}
.icon-delivery-icon:before {
    content: "\e91e";
}
.icon-fast-delivery-icon:before {
    content: "\e91f";
}
.icon-info-icon:before {
    content: "\e920";
}
.icon-minus-icon:before {
    content: "\e921";
}
.icon-play-icon:before {
    content: "\e923";
}
.icon-plus-big-icon:before {
    content: "\e924";
}
.icon-plus-icon:before {
    content: "\e925";
}
.icon-return-icon:before {
    content: "\e927";
}
.icon-same-day-delivery-bike-green-icon:before {
    content: "\e929";
    color: #4a8002;
}
.icon-search-icon:before {
    content: "\e92b";
}
.icon-shopping-bag-black-icon .path1:before {
    content: "\e92c";
    color: rgb(0, 0, 0);
}
.icon-shopping-bag-black-icon .path2:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(254, 254, 254);
}
.icon-shopping-bag-black-icon .path3:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(254, 254, 254);
}
.icon-shopping-bag-black-icon .path4:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(254, 254, 254);
}
.icon-shopping-bag-red-icon:before {
    content: "\e930";
    color: #ff1010;
}
.icon-shopping-bag-white-icon:before {
    content: "\e931";
    color: #fff;
}
.icon-size-conversion-icon:before {
    content: "\e932";
}
.icon-track-your-order-icon:before {
    content: "\e933";
}
.icon-wishlist-black-icon:before {
    content: "\e934";
}
