// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@layout-column-main__sidebar-offset: 2%;
@layout-column__additional-sidebar-offset: @layout-column-main__sidebar-offset;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .columns {
        #lib-layout-columns();

        .column.main {
            &:extend(.abs-add-box-sizing all);
            .lib-css(padding-bottom, @indent__xl);
            .lib-vendor-prefix-flex-basis(auto);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-order(1);
            width: 100%;
        }

        .sidebar-main {
            &:extend(.abs-add-box-sizing all);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-order(1);
        }

        .sidebar-additional {
            &:extend(.abs-add-box-sizing all);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-order(2);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-main,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .catalog-category-view {
        .page-main {
            padding-right: 0;
            padding-left: 0;
        }
        .column.main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }
    }

    .page-main {
        .cms-privacy-policy & {
            padding-top: 41px;
            position: relative;
        }
    }

    [data-content-type='row'][data-appearance='full-width'] > .row-full-width-inner {
        padding-left: 15px;
        padding-right: 15px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .page-main {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: @layout__max-width;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: auto;
    }

    .catalog-category-view {
        .page-main {
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
        .column.main {
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: @layout__max-width;
            padding-left: @layout-indent__width;
            padding-right: @layout-indent__width;
            width: auto;
        }
        .subcategory-listing,
        .promo-bar{
            margin: 0 -9999px !important;
            padding: 0 9999px !important;
        }
    }

    .page-main {
        width: 100%;
    }

    .columns {
        display: block;
    }

    .column.main {
        #lib-layout-columns > .main();
        &:extend(.abs-add-box-sizing-desktop all);
        min-height: 300px;
    }

    .sidebar-main {
        #lib-layout-columns > .left();
        padding-right: @layout-column-main__sidebar-offset;
        &:extend(.abs-add-box-sizing-desktop all);
    }

    .page-layout-2columns-right .sidebar-main {
        padding-left: @layout-column-main__sidebar-offset;
        padding-right: 0;
    }

    .sidebar-additional {
        #lib-layout-columns > .right();
        clear: right;
        padding-left: @layout-column__additional-sidebar-offset;
        &:extend(.abs-add-box-sizing-desktop all);
    }

    .page-layout-2columns-left {
        .main {
            padding-left: @layout-column__additional-sidebar-offset
        }

        .sidebar-additional {
            clear: left;
            float: left;
            padding-left: 0;
        }
    }

    .panel.header {
        padding: 10px 20px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .page-main {
        box-sizing: content-box;
        max-width: @layout__max-width;//@layout-xl__max-width;
    }
}
