//
//  Beside theme variables
//  _____________________________________________
@import "fonts/_beside-icons";
//
//  Layout variables
//  _____________________________________________

//  Widths
@layout__max-width: 1300px;
@layout-indent__width: 15px;

//
//  Brand Colors
//  ---------------------------------------------

@brand-color1: #282828; // #000
@brand-color2: @color-gray-darken4; // #494949
@brand-color3: #888;
@brand-color4: @color-lighter-grayish; //#cacaca
@brand-color5: @color-gray-light0; // #f6f6f6
@brand-color6: @color-white; // #fff
@brand-color7: #ff1010;
@brand-color8: #c31212;
@brand-color9: #10b351;
@brand-color10: #4a8002;
@brand-color11: #346a9a;
@brand-color12: #455a75;
@brand-color13: #E9E9E9;
@brand-color14: #F30000;
@brand-color15: #508000;

//  Fonts icons
@icons__font-path-beside: '@{baseDir}fonts/icomoon';
@icons__font-name-beside: 'icomoon';

// Theme colors
//  ---------------------------------------------

// Text color
@primary__color: @brand-color1;
@error__color: @brand-color7;

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Aktiv Grotesk';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__secondary: 'Roboto Condensed';
@font-family__second: @font-family-name__secondary, @font-family__sans-serif;

@font-weight__semibold: 500;
@font-weight__bold: 700;

@line-height__base: (24 / 14);


// Heading
//  _____________________________________________

@heading__font-family__base: @font-family__second;
@heading__font-weight__base: @font-weight__bold;

@h1__font-size: 1.26rem;
@h1__font-size-desktop: 1.26rem;
@h1__line-height: 8.4rem;

@h2__font-size: 7rem;
@h2__line-height: 7.7rem;

@h3__font-size: 4rem;
@h3__line-height: 5.4rem;

@h4__font-size: 2.4rem;
@h4__line-height: 3.7rem;

@h5__font-size: 1.6rem;
@h5__line-height: 2.6rem;

@h6__font-size: 1.4rem;
@h6__line-height: 2.4rem;

//  Sizes
@font-size__xs: 12px;
@font-size__s: 14px;
@font-size__m: 16px;
@font-size__l: 18px;
@font-size__xl: 20px;
@font-size__xxl: 22px;
@font-size__xxxl: 24px;


//
//  Sections variables
//  _____________________________________________

//
//  Navigation
//  ---------------------------------------------
@navigation__background: @brand-color6;

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Links
//  ---------------------------------------------

// Links color
@link__color: @primary__color;
@link__hover__color: @link__color;
@link__active__color: @link__color;
@link__font-family: @font-family__second;
@link__text-transform: false;

@button__font-family: @font-family__second;
@button__background: @brand-color6;
@button__border: 1px solid @brand-color1;
@button__border-radius: 0;
@button__disabled__opacity: 0.3;
@button__text-transform: uppercase;
@button__padding: 10px 50px;

@button__hover__background: @brand-color1;
@button__hover__color: @brand-color6;
@button__active__background: @brand-color1;
@button__active__color: @brand-color6;


@button-primary__background: #282828;
@button-primary__border: 1px solid #282828;
@button-primary__color: #ffffff;

@button-primary__hover__background: #dbc7ae;
@button-primary__hover__color: #1d1d1d;
@button-primary__hover__border: 1px solid #dbc7ae;
@button-primary__active__background: #282828;
@button-primary__active__color: #fff;
@button-primary__active__border: 1px solid #282828;

@link__hover__text-decoration: none;
@link__active__text-decoration: none;


//
//  Forms
//  ---------------------------------------------
@form-element-validation__border-error: @brand-color7;
@form-element-validation__border-valid: @brand-color9;
@form-validation-note__color-error: @brand-color1;

@form-field-label__font-weight: @font-weight__regular;


@input-radio__border: 1px solid @brand-color4;
@input-radio__checked__background: @brand-color1;
@input-checkbox__border: 1px solid @brand-color4;
@input-checkbox__checked__background: @brand-color1;
@form-element-choice__margin: 0 @indent__xs 0 0;

@form-validation-note__color-error: @brand-color7;
@form-validation-note-icon__use: true;

//@layout__max-width:@layout-xl__max-width;
