//
//  Common
//  _____________________________________________
@font-family-name__base: 'Roboto';
@font-family-name__secondary: 'Roboto Condensed';

& when (@media-common = true) {
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/roboto-v20-latin-100',
        @font-weight: 100,
        @font-style: normal,
        @font-display: swap
    );
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/roboto-v20-latin-300',
        @font-weight: 300,
        @font-style: normal,
        @font-display: swap
    );
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/roboto-v20-latin-regular',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/roboto-v20-latin-500',
        @font-weight: 500,
        @font-style: normal,
        @font-display: swap
    );
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/roboto-v20-latin-700',
        @font-weight: 700,
        @font-style: normal,
        @font-display: swap
    );
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/roboto-v20-latin-900',
        @font-weight: 900,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__secondary,
        @font-path: '@{baseDir}fonts/roboto-condensed/roboto-condensed-v19-latin-300',
        @font-weight: 300,
        @font-style: normal,
        @font-display: swap
    );
    .lib-font-face(
        @family-name: @font-family-name__secondary,
        @font-path: '@{baseDir}fonts/roboto-condensed/roboto-condensed-v19-latin-regular',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );
    .lib-font-face(
        @family-name: @font-family-name__secondary,
        @font-path: '@{baseDir}fonts/roboto-condensed/roboto-condensed-v19-latin-700',
        @font-weight: 700,
        @font-style: normal,
        @font-display: swap
    );
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    h1 {
        .lib-css(font-size, 24px);
        .lib-css(margin-bottom, @h1__margin-bottom__desktop);
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .items {
        .lib-list-reset-styles();
    }
}
