<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper(\Magento\Search\Helper\Data::class);
?>

<div class="block block-search" data-block="search">
    <div class="block block-title" id="searchcache"><strong><?= $block->escapeHtml(__('Search')) ?></strong></div>
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form"
              action="<?= $block->escapeUrl($helper->getResultUrl()) ?>" method="get">
            <div class="field search">
				
				<?php //Haingo 20210813: deplacement champ ?>
				<div class="control-search-input">
					
				 </div>
				 <?php // Fin Haingo ?>
				 
                <div class="control">
                    <input id="search"
                           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?= $block->escapeUrl($helper->getSuggestUrl())?>",
                                "destinationSelector":"#search_autocomplete",
                                "minSearchLength":"<?= $block->escapeHtml($helper->getMinQueryLength()) ?>"}
                           }'
                           type="search"
                           name="<?= $block->escapeHtmlAttr($helper->getQueryParamName()) ?>"
                           value="<?= /* @noEscape */ $helper->getEscapedQueryText() ?>"
                           placeholder="<?= $block->escapeHtmlAttr(__('Search')) ?>"
                           class="input-text"
                           maxlength="<?= $block->escapeHtmlAttr($helper->getMaxQueryLength()) ?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           autocomplete="off"
                           aria-expanded="false"/>
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                    <?= $block->getChildHtml() ?>
                </div>
                <div class="actions">
                    <button type="submit"
                            title="<?= $block->escapeHtml(__('Search')) ?>"
                            class="action search"
                            aria-label="Search">
                        <span><?= $block->escapeHtml(__('Search')) ?></span>
                    </button>
                </div>
                <button type="submit"
                        data-role="closeBtn"
                        title="<?= $block->escapeHtml(__('Close')) ?>"
                        class="action-close" style="display: none">
                    <span><?= $block->escapeHtml(__('Close')) ?></span>
                </button>
            </div>
        </form>
    </div>
</div>

<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->get('Magento\Customer\Model\Session');
    if ( $customerSession->isLoggedIn() ) {

        if ( isset($_SESSION['seachusercache']) ) {
          ?><span id="seachusercache" style="display: none;"><?php echo $_SESSION['seachusercache']; ?></span><?php
        } else {
          ?><span id="seachusercache" style="display: none;"></span><?php
        }

        //if ( isset($_GET['dbg']) ) { ?>

          <script type="text/javascript">
            require(['jquery', 'jquery/ui'], function($){
              $(document).ready( function() {
                $('#searchcache').click(function() {
                    $('#search').val($('#seachusercache').text());
                    //$("#search").trigger( "focus" );
                    setTimeout(function() {
                        $('#search').click();
                    }, 500);
                    $('#search').click();
                    $('#search').click();
                                      
                });

                $('input#search').change(function() {
                  console.log('change val');
                  console.log($(this).val());
                  var sc = $(this).val();
                  setTimeout(function() {
                    $('body').click();
                  }, 1000);
                  $.ajax({
                      context: '#ajaxresponse',
                      url: '/seachusercache.php',
                      type: "POST",
                      data: {seachusercache:sc},
                  }).done(function (data) {
                    console.log('ajax done');
                    console.log(data);
                    $('#seachusercache').text(data);
                  });
                })                


              });
            });  
          </script>

        <?php    // var_dump($_SESSION);
            // if ( isset($_SESSION['seachusercache']) ) {
            //   var_dump($_SESSION['seachusercache']);
            //   echo 'OK';
            // } else {
            //   echo 'Not';
            // }

            // die;
        //}    
    }
?>