//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-onepage-success {
        .page-main {
            background-color: @brand-color5;
        }

        .page-title-wrapper {
            .page-title {
                letter-spacing: 0.8px;
                text-transform: uppercase;
            }
        }

        .checkout-success {
            .checkout-success-left {
                .actions-toolbar {
                    a {
                        text-decoration: underline;
                        letter-spacing: 0.5px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                p {
                    letter-spacing: 0.5px;

                    a {
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .checkout-success-right {
                .create-account-wrapper {
                    margin: 0;
                    padding: 0;
                    background: none;

                    .note {
                        letter-spacing: 0.5px;
                        font-size: 14px;
                    }

                    .fieldset > .field:not(.choice) > .control {
                        max-width: 100%;
                        width: 100%;
                    }

                    .actions-toolbar .primary .action.submit.primary {
                        max-width: 100%;
                    }

                    input[type="text"],
                    input[type="email"],
                    input[type="password"],
                    select {
                        border: none;
                        background: @brand-color5;
                    }
                }
            }

            .checkout-success-bottom {
                width: 100%;

                .order-info-wrapper {
                    .order-info-list {
                        p {
                            .lib-vendor-prefix-display(flex);
                            justify-content: space-between;
                            letter-spacing: 0.5px;
                            line-height: 26px;
                            margin-bottom: 0;

                            span {
                                &.red {
                                    color: @brand-color14;
                                    text-transform: uppercase;
                                }
                            }

                            &.strong {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            h2 {
                letter-spacing: 0.8px;
                text-transform: uppercase;
            }
        }

        .order-details {
            background-color: @brand-color6;

            h4 {
                text-transform: uppercase;
                font-weight: bold;
                margin: 0;
                letter-spacing: 0.5px;
            }

            .order-details-block {
                border-top: 1px solid @brand-color1;
                letter-spacing: 0.5px;

                .order-details-product-list {
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }
                }

                &.in-store-pick-up {
                    .order-details-title {
                        &:before {
                            content: '';
                            display: inline-block;
                            background: url('@{baseDir}Magento_Checkout/images/in-store-pick-up.png') 100% 100% no-repeat;
                            background-size: contain;
                            margin-right: 10px;
                        }
                    }
                }

                &.items-being-shipped {
                    .order-details-title {
                        &:before {
                            content: '';
                            display: inline-block;
                            background: url('@{baseDir}Magento_Checkout/images/items-being-shipped.png') 100% 100% no-repeat;
                            background-size: contain;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .order-details-product-list {
                ul {
                    li {
                        .product-item {
                            .info-wrap {
                                .product-name {
                                    letter-spacing: 0.5px;
                                    font-weight: bold;
                                }
                            }
                        }

                        .shipping-block {
                            color: @brand-color15;

                            strong {
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }

                        .product-price {
                            font-weight: bold;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-onepage-success {
        .page-title-wrapper {
            .page-title {
                font-size: 18px;
                line-height: 29px;
                margin: 18px 0 13px;
            }
        }

        h2 {
            font-size: 18px;
            line-height: 29px;
        }

        .checkout-success {
            .lib-vendor-prefix-display(flex);
            flex-direction: column;

            .checkout-success-left {
                .lib-vendor-prefix-display(flex);
                flex-direction: column;

                p {
                    font-size: 12px;
                    line-height: 24px;
                }

                .actions-toolbar {
                    order: 1;
                    margin: 20px 0 40px;

                    .primary {
                        text-align: left;
                        font-size: 13px;
                    }
                }

                .order-details {
                    order: 1;
                    margin-left: -15px;
                    margin-right: -15px;

                    h2 {
                        padding: 0 15px;
                    }

                    h4 {
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.5px;
                    }

                    .order-details-block {
                        padding: 24px 0;
                        border-width: 2px;

                        .order-details-block-title-wrapper {
                            padding: 0 15px;

                            .order-details-block-title {
                                margin-bottom: 20px;

                                .order-details-title {
                                    .lib-vendor-prefix-display(flex);
                                    justify-content: space-between;
                                    position: relative;

                                    h4 {
                                        padding-left: 35px;
                                    }
                                }

                                p {
                                    font-size: 14px;
                                    line-height: 24px;
                                    margin-top: 10px;
                                }
                            }
                        }

                        .order-details-product-list {
                            padding: 0 15px;

                            ul {
                                li {
                                    .lib-vendor-prefix-display(flex);
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    margin-bottom: 30px;

                                    .product-item {
                                        .lib-vendor-prefix-display(flex);
                                        width: 100%;
                                        margin-bottom: 5px;

                                        .img-wrap {
                                            width: 110px;
                                            min-width: 110px;
                                            margin-right: 10px;

                                            img {
                                                width: 100%;
                                            }
                                        }

                                        .info-wrap {
                                            width: 100%;

                                            .product-name {
                                                font-size: 12px;
                                                line-height: 20px;
                                                margin-bottom: 25px;
                                                display: block;
                                            }

                                            .attributes-list {
                                                dl {
                                                    .lib-vendor-prefix-display(flex);
                                                    justify-content: space-between;
                                                    letter-spacing: 0.5px;
                                                    line-height: 24px;
                                                    font-size: 12px;
                                                    margin-bottom: 0;

                                                    dt {
                                                        margin-right: 10px;
                                                        font-weight: normal;
                                                        margin-bottom: 0;

                                                        &:after {
                                                            content: ':';
                                                        }
                                                    }

                                                    dd {
                                                        margin-bottom: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .shipping-block {
                                        strong {
                                            display: block;
                                            font-size: 11px;
                                            line-height: 20px;
                                        }

                                        span {
                                            font-size: 10px;
                                        }
                                    }

                                    .product-price {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }

                        .order-details-block-address {
                            padding: 0 15px;

                            h4 {
                                margin-bottom: 15px;
                            }

                            .order-details-address {
                                margin-bottom: 15px;

                                address {
                                    font-size: 12px;
                                    line-height: 24px;
                                }
                            }
                        }

                        &.in-store-pick-up {
                            .order-details-title {
                                &:before {
                                    width: 22px;
                                    height: 21px;
                                    position: absolute;
                                }
                            }
                        }

                        &.items-being-shipped {
                            .order-details-title {
                                &:before {
                                    width: 28px;
                                    height: 24px;
                                    position: absolute;
                                }
                            }
                        }
                    }
                }
            }

            .checkout-success-right {
                order: 1;
                background-color: @brand-color6;
                margin-left: -15px;
                margin-right: -15px;
                padding: 0 15px 50px;

                .note {
                    margin-bottom: 25px;
                }

                input[type="text"],
                input[type="email"],
                input[type="password"],
                select {
                    font-size: 14px;
                    height: 50px;
                }

                .confirm-content {
                    font-size: 14px;
                }

                button[type="submit"] {
                    font-size: 14px;
                    height: 50px;
                }
            }

            .checkout-success-bottom {
                padding-bottom: 50px;

                h2 {
                    margin-bottom: 15px;
                }
            }
        }

        .columns .column.main {
            padding-bottom: 0;
        }

        .page-main {
            border-bottom: 1px solid @brand-color5;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-onepage-success {
        .page-main {
            max-width: 100%;
            border-top: 1px solid @brand-color13;
        }

        .page-title-wrapper {
            .page-title {
                line-height: normal;
                margin-bottom: 30px;
            }
        }

        .checkout-success {
            max-width: @layout__max-width;
            margin: 0 auto;
            position: relative;
            display: grid;
            grid-template-columns: 2fr 1fr;

            h2 {
                font-size: 24px;
                line-height: 26px;
                margin: 0 0 20px;
            }

            .checkout-success-left {
                box-sizing: border-box;
                padding: 45px 3px 0 0;
                position: relative;
                grid-row: ~"1/2";

                .actions-toolbar {
                    position: absolute;
                    right: 25px;
                    top: 48px;

                    a {
                        font-size: 14px;
                    }
                }

                p {
                    max-width: 615px;
                    line-height: 26px;
                    margin-bottom: 20px;
                    padding-right: 25px;
                }

                .order-details {
                    position: relative;
                    padding: 30px 25px 30px 0;
                    margin-top: 50px;

                    &:before {
                        content: '';
                        display: block;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        z-index: 0;
                        pointer-events: none;
                        top: 0;
                        left: 0;
                        background: @brand-color6;
                        transform: translateX(-100%);
                    }

                    .order-details-block {
                        padding-top: 15px;
                        position: relative;

                        h4 {
                            font-size: 14px;
                            line-height: 26px;
                            margin-bottom: 5px;
                        }

                        .order-details-block-title-wrapper {
                            .lib-vendor-prefix-display(flex);
                            justify-content: space-between;
                            position: relative;
                            margin-bottom: 10px;

                            .order-details-block-title {
                                padding-right: 20px;

                                .order-details-title {
                                    .lib-vendor-prefix-display(flex);

                                    span {
                                        margin-left: 20px;
                                    }
                                }

                                p {
                                    letter-spacing: 0.5px;
                                }
                            }
                        }

                        .order-details-product-list {
                            ul {
                                li {
                                    .lib-vendor-prefix-display(flex);
                                    justify-content: space-between;
                                    max-width: 75%;
                                    position: relative;
                                    padding-bottom: 30px;
                                    margin-bottom: 45px;

                                    .product-item {
                                        .lib-vendor-prefix-display(flex);

                                        .img-wrap {
                                            margin-right: 15px;

                                            a {
                                                img {
                                                    max-width: 90px;
                                                }
                                            }
                                        }

                                        .info-wrap {
                                            .product-name {
                                                font-size: 16px;
                                                line-height: 16px;
                                            }

                                            dl {
                                                .lib-vendor-prefix-display(flex);
                                                letter-spacing: 0.5px;
                                                line-height: 26px;
                                                margin-bottom: 0;

                                                dt {
                                                    width: 100px;
                                                    margin-right: 20px;
                                                    font-weight: normal;
                                                    margin-bottom: 0;

                                                    &:after {
                                                        content: ':';
                                                    }
                                                }

                                                dd {
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }

                                    .shipping-block {
                                        text-align: right;
                                        letter-spacing: 0.5px;

                                        strong {
                                            display: block;
                                            line-height: 20px;
                                        }

                                        span {
                                            font-size: 12px;
                                        }
                                    }

                                    .product-price {
                                        font-size: 16px;
                                        position: absolute;
                                        right: 0;
                                        bottom: 0;
                                    }
                                }
                            }
                        }

                        .order-details-block-address {
                            text-align: right;
                            position: absolute;
                            right: 0;
                            top: 15px;

                            .order-details-address {
                                address {
                                    line-height: 26px;
                                }
                            }
                        }

                        &.in-store-pick-up {
                            .order-details-title {
                                &:before {
                                    width: 20px;
                                    height: 19px;
                                }
                            }
                        }

                        &.items-being-shipped {
                            .order-details-title {
                                &:before {
                                    width: 24px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }

                &.full-width {
                    width: 100%;
                    padding-right: 0;
                    grid-column: ~"1/3";

                    .actions-toolbar {
                        right: 0;
                    }

                    .order-details {
                        padding: 30px 0;

                        &:after {
                            content: '';
                            display: block;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            z-index: 0;
                            pointer-events: none;
                            top: 0;
                            right: 0;
                            background: @brand-color6;
                            transform: translateX(100%);
                        }
                    }
                }
            }

            .checkout-success-right {
                background-color: @brand-color6;
                padding-left: 40px;
                box-sizing: border-box;
                position: relative;
                padding: 45px 0 30px 40px;
                grid-row: ~"1/3";

                &:after {
                    content: '';
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    z-index: 0;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                    background: @brand-color6;
                    transform: translateX(100%);
                }
            }

            .checkout-success-bottom {
                padding-top: 60px;

                .order-info-wrapper {
                    .lib-vendor-prefix-display(flex);
                    flex-wrap: wrap;
                    margin-bottom: 50px;

                    .order-info-block {
                        margin-right: 50px;
                        width: 300px;
                    }

                    .order-info-list {
                        p {
                            &.strong {
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}
