//
//  Common
//  _____________________________________________

@import "./components/_common.less";
& when (@media-common = true) {

    .roboto-condensed {
        font-family: @font-family-name__secondary;
    }

    .homepage-top-promo {
        letter-spacing: 1.3px;
        font-weight: @font-weight__semibold;
    }

    .block-search {
        .block-content {
            display: none;
            &.active {
                display: block;
            }

            .field {
                &.search {
                    width: inherit;
                    padding: 20px 15px;
                    .control {
                        padding-right: 0;
                    }
                }
            }
        }

        .action-close {
            background-image: url('@{baseDir}images/icons/close-icon.svg');
            height: 20px;
            width: 20px;
            cursor: pointer;
            font-size: 0;
            border: none;
            padding: 0;
            background-size: cover;
            &:hover {
                background-color: transparent;
            }
        }

        input {
            padding: 10px 0;
            outline: thin dotted #cacaca;
        }

        .search-autocomplete {
            display: none !important;
        }
    }

    body {
        &.noscroll {
            overflow-y: hidden;
            .page-header {
                z-index: 4;
                background-color: #fff;
            }
        }
    }

    .background-overlay {
        display: none;
        position: fixed;
        height: 100%;
        opacity: .5;
        width: 100%;
        z-index: 3;
        background-color: #000;
        &.overlay {
            display: block;
        }
    }

    .nav-toggle {
        position: relative;
        top: 0;
        left: 0;
        margin-right: 24px;
        z-index: inherit;
    }

    .header.links.Parent {
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        font-family: @font-family-name__secondary;
        .authorization-link:hover a {
            opacity: 1 !important;
        }
        li {
            margin: 0;
            padding: 17px 0px 17px 4px;
            display: inline-block;
            order: 1;
            opacity: 1;
            width: 100%;
            .logged-in {
                letter-spacing: 0.6px;
                font-weight: @font-weight__bold;
                color: @color-black;
            }

            &.nav.item {
                display: none;
                order: 1 !important;
            }
            &.authorization-link{
                order: 20;
            }
        }
        a {
            font-size: @font-size__s;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            font-weight: @font-weight__bold;
            line-height: 21px;
        }
        .customer-welcome {
            ~ .authorization-link {
                display: none;
            }
            span.customer-name {
                .action.switch {
                    border: 0;
                    &:after {
                        display: none;
                    }
                }
            }
            &:hover {
                opacity: 1 !important;
            }
        }

        .greet.welcome {
            span {
                font-size: @font-size__s;
                letter-spacing: 1.6px;
                text-transform: uppercase;
                font-weight: @font-weight__bold;
                line-height: 21px;
            }
        }

        .customer-menu {
            .header.links {
                margin: 0;
                padding: 12px 25px;
                min-width: 214px;
                right: -50px;
                border: 0;
                box-shadow: none;
                flex-wrap: wrap;
                display: none;
                &:after,
                &:before {
                    display: none;
                }
                &.opened-menu{
                    display: flex;
                }
                li {
                    padding: 0;
                    display: block;
                    &.link.wishlist {
                        a:after {
                            display: none;
                        }
                    }
                }
                a {
                    padding: 0;
                    text-transform: none;
                    font-size: @font-size__s;
                    font-weight: @font-weight__regular;
                    line-height: 36px;
                    display: inline-block;
                    letter-spacing: 0.5px;
                    font-family: @font-family-name__base;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .page-header {
        .switcher {
            .switcher-trigger.action.toggle {
                display: flex;
                &.active {
                    display: flex;
                }
            }
        }
        .switcher-options {
            &:hover {
                opacity: 1 !important;
            }
        }
    }

    .panel.header {
        display: none;
    }

    .header-content-row {
        display: table;
        width: 100%;
        .header-content-column {
            float: left;
            width: 40%;
            &.column-second{
                width: 20%;
            }
        }

        .column-third {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            line-height: 1;
            > li {
                list-style: none;
                &.wishlist {
                    a {
                        font-size: 0;
                    }

                    div {
                        position: relative;
                        padding: 17px 10px;
                        display: inline-block;
                        &:before {
                            -webkit-font-smoothing: antialiased;
                            font-size: 38px;
                            line-height: 28px;
                            color: #000;
                            font-family: 'icons-blank-theme';
                            margin: 0;
                            vertical-align: top;
                            display: inline-block;
                            font-weight: normal;
                            overflow: hidden;
                            speak: none;
                            text-align: center;
                        }

                        &.empty {
                            &:before {
                                content: '\e601';
                            }
                        }

                        &.not-empty {
                            &:before {
                                content: '\e600';
                            }
                        }
                    }

                    .counter {
                        position: absolute;
                        top: 30px;
                        left: 38px;
                        font-size: 11px;
                    }

                    &:hover {
                        opacity: 1 !important;
                    }
                }
            }

        }

        .switcher-website {
            padding: 17px 5px;
            order: 1;
            margin-right: 0;
            strong {
                font-size: 14px;
                letter-spacing: 1.6px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 21px;
                cursor: pointer;
                display: flex;
                font-family: @font-family-name__secondary;
            }

            .actions.dropdown.options.switcher-options {
                font-size: 14px;
                letter-spacing: 1.6px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 21px;
                font-family: 'Roboto Condensed';
            }

            .view,
            .website {
                &-ae,
                &-sa {
                    span,
                    a {
                        display: flex !important;
                        align-items: center;
                        &:before {
                            content: '';
                            width: 21px;
                            height: 15px;
                            background-size: cover;
                            margin-right: 8px;
                        }
                    }
                }

                &-ae {
                    span,
                    a {
                        &:before {
                            background-image: url('@{baseDir}images/flag/uae.png');
                        }
                    }
                }

                &-sa {
                    span,
                    a {
                        &:before {
                            background-image: url('@{baseDir}images/flag/ksa.png');
                        }
                    }
                }
            }
        }

        .switcher-language {
            order: 1;
            padding: 17px 10px;
            margin-right: 0;
        }

        &:after {
            display: table;
            content: '';
            clear: both;
        }
    }

    .light {
        color: @color-white !important;
        a {
            color: @color-white !important;
        }
    }

    .block.ves-megamenu {
        margin: 0;
    }

    .ves-megamenu.help-menu {
        float: right;
        &.top-navigation > .navigation {
            padding: 0;
        }
        nav.navigation {
            border: 0 !important;
        }
        .navigation {
            .level0 {
                margin: 0;
                padding: 18px 12px;
                &:hover a {
                    opacity: 1 !important;
                }
                > a {
                    padding: 0;
                    .lib-font-size(14);
                    .lib-line-height(22);
                    letter-spacing: 1.6px;
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                    font-family: 'Roboto Condensed';
                    color: @color-black;
                }
                &.current {
                    a {
                        background-color: transparent;
                        color: @color-black;
                    }
                }
                > .submenu {
                    top: 58px !important;
                    box-shadow: none !important;
                    .submenu-inner {
                        padding: 12px 25px !important;
                    }
                    .nav-item > a {
                        border: 0 !important;
                        padding: 0;
                        .lib-font-size(14);
                        letter-spacing: 0.5px;
                        font-family: @font-family-name__base;
                        display: inline-block;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .top-poromo-banner {
        p {
            margin: 0;
        }
    }

    .block-products-list {
        .products-grid {
            .product-item-actions {
                display: none;
            }

            .product-item-details {
                margin-top: 14px;
            }

            .slick-slide {
                img {
                    width: 100%;
                }
            }

            .widget-product-grid.product-items {
                display: none;
                &.slick-initialized {
                    display: block;
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .page-header {
        margin-bottom: 0;
        .switcher {
            padding: .8rem 3.5rem .8rem 2rem !important;
            .switcher-trigger{
                &.action{
                    &.toggle{
                        display: block !important;
                        &:after{
                            display: none !important;
                        }
                    }
                }
            }
            .label {
                height: auto;
                margin: 0;
                position: static;
                width: auto;
            }
            .options{
                display: block;
                ul.dropdown{
                    position: static;
                    margin: 0;
                    padding: 0;
                    list-style: none none;
                    padding: 12px 0;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    border: none;
                    background: none;
                    li{
                        &:hover{
                            background: none;
                        }
                    }
                    a{
                        padding: 0;
                    }
                }
            }
            strong{
                font-weight: @font-weight__bold !important;
            }
        }
    }

    .header-content-row {
        .header-content-column{
            width: 33.3333% !important;
            &.column-third{
                .switcher-language{
                    display: none;
                }
            }
        }
        .ves-megamenu.help-menu {
            display: none;
        }
    }

    .block-search {
        opacity: 0;
        &.block {
            margin-top: 0;
        }

        .block-title {
            padding: 0;
            &:before {
                font-family: @font-icon-additional__font-name;
                content: @icon-search-icon;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                font-size: 19px;
                display: block;
                -webkit-font-smoothing: antialiased;
            }

            strong {
                display: none;
            }
        }

        .block-content {
            top: 58px;

            .search {
                &.field {
                    .actions {
                        display: none;
                    }
                }
            }
        }
    }

    .widget {
        &.block-static-block {
            ~ .page-wrapper {
                .block-search {
                    .block-content {
                        top: 94px;
                    }
                }
            }
        }
    }

    .header-content-row {
        .column-third {
            align-items: center;
        }

        .column-first {
            display: flex;
            align-items: center;

            .ves-megamenu.top-main-menu {
                display: none;
            }

            .block-search {
                opacity: 1;
            }

            .nav-toggle {
                display: block;
                &:before {
                    color: @color-black;
                }
            }

        }

        .column-second {
            .nav-toggle {
                display: none;
            }
        }

        // remove the following after sorting header
        .switcher-website,
        .nav.item.current,
        .nav.item {
            display: none;
        }
    }

    html.nav-open {
        .header-content-row .column-first {
            .nav-toggle:before {
                content: '\e616';
                position: absolute;
                top: -29px;
                z-index: 9;
                background: #898888;
                line-height: 54px;
                width: 54px;
                right: -39px;
                font-size: 44px;
                color: @color-white;
            }
        }
        .nav-sections {
            box-shadow: none;
        }
    }

    div.minicart-wrapper {
        margin-top: 0;
    }

    .header {
        &.links.Parent {
            .authorization-link {
                padding: 0;
                a {
                    font-size: 0;
                    width: 16px;
                    height: 17px;
                    display: inline-block;
                    position: relative;
                    top: 12px;
                    &:before {
                        font-family: @font-icon-additional__font-name;
                        content: @icon-account-icon;
                        font-style: normal;
                        font-weight: normal;
                        line-height: 1;
                        font-size: 17px;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
        }

        .header-content-row {
            display: flex;
            align-items: center;
        }
    }

    .nav-sections-items {
        position: initial;
        .nav-sections-item-title {
            display: none;
        }
        .nav-sections-item-content {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        #login-link {
            font-size: 12px;
            letter-spacing: .5px;
            background: black;
            width: 50%;
            float: left;
            line-height: 46px;
            text-align: center;
            position: absolute;
            bottom: 0;
            a {
                color: @color-white;
            }
        }
    }

    .sections.nav-sections {

        .ves-megamenu.help-menu {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            display: grid;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                top: 50%;
                transform: translateY(50%);
                border-left: 1px solid #e9e9e9;
                height: 23px;
                right: 50%;
            }
            &.top-navigation > .navigation {
                border: 0;
                grid-column: ~"2/3";
            }
            .navigation {
                .nav-item {
                    > a {
                        letter-spacing: .5px;
                        color: @color-black;
                    }
                }
                > ul {
                    &:after {
                        content: '';
                        display: table;
                        clear: both;
                    }
                }
            }
            .navigation .level0 {
                border: 0;
                padding: 0;
                > a {
                    width: 100%;
                    color: @color-white;
                    background-color: @color-black;
                    font-size: 12px;
                    letter-spacing: .5px;
                    line-height: 46px;
                    text-transform: capitalize;
                    font-weight: 400;
                    font-family: @font-family-name__base;
                    text-align: center;
                    float: right;
                    > .drill-opener {
                        left: 0;
                        bottom: 0;
                        width: auto;
                        border: 0;
                        background: transparent;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            &.ves-mdrilldown .navigation {
                border: 0;
                background: transparent;
            }
            &.help-menu-open {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 999;
                background: #F6F6F6;
                width: 100%;
            }
            .navigation .drilldown-back a {
                background: @color-white;
                border: 0;
                .drill-opener {
                    height: 8px;
                    width: 8px;
                    top: 20px;
                    left: 20px;
                    border-top: 2px solid @color-black;
                    border-right: 2px solid @color-black;
                    transform: rotate(-135deg);
                    background: transparent;
                    &:before {
                        display: none;
                    }
                }
                .current-cat {
                    font-family: @font-family-name__base;
                    .lib-font-size(14);
                    font-weight: @font-weight__bold;
                    float: right;
                    color: @color-black;
                    margin-right: 18px;
                    letter-spacing: .5px;
                }
                &:after {
                    display: block;
                    clear: both;
                    content: '';
                }
            }

            .nav-sections-item-content {
                margin-top: 0;
                margin-left: 0;
                padding: 0;
                grid-column: ~"1/2";

                li {
                    width: 100%;
                    background-color: #000000;
                    font-size: 12px;
                    letter-spacing: .5px;
                    line-height: 46px;
                    text-transform: capitalize;
                    font-weight: 400;
                    text-align: center;
                    list-style: none;
                }

                a {
                    color: #fff;
                }
            }

            .switcher {
                grid-column: ~"1/3";
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                letter-spacing: .5px;
                font-weight: 400;
                background-color: #f6f6f6;

                .switcher-trigger {
                    strong {
                        margin-right: 8px;
                        display: flex;
                        align-items: center;
                        &:after {
                            top: -16px;
                            transform: rotate(270deg);
                            font-size: 32px;
                            right: -50px;
                        }
                        &.view-ae {
                            &:before {
                                background-image: url('@{baseDir}images/flag/uae.png');
                            }
                        }

                        &.view-sa {
                            &:before {
                                background-image: url('@{baseDir}images/flag/ksa.png');
                            }
                        }

                        &:before {
                            width: 21px;
                            height: 15px;
                            background-size: cover;
                            display: block;
                            position: relative;
                            right: -50px;
                            content: '';
                        }
                    }

                    &.active {
                        strong {
                            &:after {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }

            .switcher-options {
                &.active {
                    .ui-widget {
                        float: right;
                        margin-right: 8px;
                    }

                    li {
                        margin: 0;
                    }
                }

                .switcher-option {
                    display: flex;
                    position: relative;
                    &:before {
                        content: '';
                        background-size: cover;
                        width: 21px;
                        height: 15px;
                        position: relative;
                        right: -50px;
                    }

                    &.website-sa {
                        &:before {
                            background-image: url('@{baseDir}images/flag/ksa.png');
                        }
                    }

                    &.website-ae {
                        &:before {
                            background-image: url('@{baseDir}images/flag/uae.png');
                        }
                    }
                }
            }

            .switcher-language {
                margin-bottom: 40px;
                border-bottom: 1px solid #d1d1d1;
            }

        }

    }

    .block-products-list {
        .products-grid {
            .slick-list {
                padding: 0 100px 0 0 !important;
            }

            .slick-slide {
                margin-right: 20px;
            }
        }
    }

    .products-widget-fullwidth {
        padding-left: 15px;
        padding-right: 15px;
    }

    body {
        position: relative;
    }

    div {
        &[aria-describedby="switcherDialog"] {
            top: 10% !important;
            position: absolute !important;
        }
    }

    .column-third {
        > .customer-welcome {
            padding: 17px 0px;

            .header.links {
                margin-bottom: 0;
                padding: 0;
            }

            .customer-menu {
                li {
                    display: none;
                    &:nth-child(1) {
                        display: block;
                        margin-bottom: 0;
                        line-height: 1;
                        a {
                            font-size: 0;
                            &:before {
                                font-family: @font-icon-additional__font-name;
                                content: @icon-account-icon;
                                font-style: normal;
                                font-weight: normal;
                                line-height: 1;
                                font-size: 17px;
                                -webkit-font-smoothing: antialiased;
                            }
                        }
                    }
                }
            }
        }

        .header.links.Parent {
            display: none;
        }
    }

    div.ves-mdrilldown .navigation .nav-item>a span.drill-opener {
        left: auto;
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .header.links.Parent {
        display: flex;

        .nav.item {
            order: -1;
        }
    }

    .header.content {
        &:hover {
            .ves-megamenu.top-main-menu .navigation .level0 > a,
            .ves-megamenu.help-menu .navigation .level0 > a,
            .block-search .block-title,
            .header.links.Parent > .authorization-link a,
            .header.links.Parent li.customer-welcome,
            .header.links.Parent li.nav.item,
            .switcher-options,
            .block-search .block-title,
            .fme-quote-cart-wrapper,
            li.wishlist,
            .action.showcart {
                opacity: .5;
            }
        }
    }

    .page-wrapper {
        > .widget {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .nav-sections {
        margin-bottom: 0;
    }
    .nav-sections-item-content{
        .switcher-language{
            display: none !important;
        }
    }

    .block-products-list {
        .products-grid {
            .slick-slide {
                .product-item {
                    margin: 0 0 20px;
                    padding: 0 12px !important;
                }
            }

            .slick-prev, .slick-next {
                background: none;
                top: 45%;
                // transform: translate(0, -45%);
                width: 43px;
                height: 43px;
            }

            .slick-next {
                right: -33px;
                left: auto;
            }

            .slick-prev {
                left: -33px;
                right: auto;
            }
        }
    }

    .products-widget-fullwidth {
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
    }

}


//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m + 1)) {
    .pagebuilder-mobile-hidden {
        display: none!important;
    }
}
