// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__background: @color-yellow-light2;
@message-global-note__border-color: @color-yellow-light3;
@message-global-note__color: @text__color;

@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;

@message-global-caution__background: @color-red9;
@message-global-caution__border-color: none;
@message-global-caution__color: @color-white;

@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;

//  Header
@header__background-color: false;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;

@addto-color: @text__color__muted;
@addto-hover-color: @primary__color;

@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@button__shadow: inset 0 2px 1px rgba(0,0,0,.12);

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: false;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    body {
        .lib-css(background-color, @page__background-color);
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        min-height: 100vh; // Stretch content area for sticky footer
    }

    .page-main {
        .lib-vendor-prefix-flex-grow(1);
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;
        margin-bottom: @indent__base;
    }

    .header {
        &.content {
            position: relative;
        }
    }

    .logo {

        img {
            display: block;
            height: auto;
            margin: 0 auto;
        }

        .page-print & {
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        .lib-css(background-color, @footer__background-color);
        margin-top: auto;
    }

    .footer {
        &.content {
            margin-top: 0;
            padding-bottom: 25px;
            padding-top: 25px;

            ul {
                &:extend(.abs-reset-list all);
            }

            .links {
                > li {
                    margin: 0 0 8px;
                }
            }

            .switcher-store {
                margin: 0 0 30px;
            }
        }

        .copyright,
        .bugs {
            display: block;
            margin: 20px 0 0;
            font-size: 10px;
            a{
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .page-header ,
    .page-footer {
        .switcher {
            margin-right: 10px;

            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 22px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        display: block;
                        padding: 8px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            li {
                font-size: @font-size__s;
                margin: 0;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }

            strong {
                font-weight: @font-weight__regular;
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            &:extend(.abs-margin-for-blocks-and-widgets all);
        }
    }

    .widget {
        clear: both;

        .block-title {
            &:extend(.abs-block-title all);
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
    }

    .no-display {
        &:extend(.abs-no-display all);
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker {
        td {
            padding: 0;
        }
    }

    .ves-megamenu.top-main-menu.ves-mdrilldown {
        .navigation {
            border: 0;
            .level0 > .item-before-content {
                display: none;
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-wrapper {
        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }
    }

    .navigation ul {
        padding: 0 8px;
    }

    .header {
        &.panel {
            > .header.links {
                float: right;
                font-size: 0;
                .lib-list-inline();
                margin-left: auto;

                > li {
                    font-size: @font-size__base;
                    margin: 0 0 0 15px;

                    &.welcome,
                    a {
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }
            }
        }

    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
        }

        .header.panel {
            &:extend(.abs-add-clearfix-desktop all);
            padding-bottom: @indent__s;
            padding-top: @indent__s;
        }

        .switcher {
            display: inline-block;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .logo {
        display: block;
        padding: 17px 0;

        img {
            max-height: inherit;
        }
    }

    .footer {
        &.content {
            .block {
                float: right;
            }

            .links {
                display: inline-block;
                margin-bottom: 20px;
                padding: 0 50px 0 0;
                vertical-align: top;
            }

            .switcher.store {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;
            }
        }

        .copyright {
            &:extend(.abs-add-clearfix all);
        }
    }

    .ves-megamenu.top-main-menu {
        .navigation .level0 .submenu a:hover,
        .navigation .level0 .submenu a.ui-state-focus {
            background-color: transparent;
            color: @color-black;
        }
        .navigation {
            ul,
            .level0 {
                position: static;
            }
            .level0 {
                position: static !important;
            }
            .level0 {
                margin: 0;
                a {
                    .lib-font-size(14);
                    .lib-line-height(24);
                    padding: 17px 14px;
                    letter-spacing: 0.4px;
                    color: @color-black;
                    font-weight: 400;
                    font-family: 'Aktiv Grotesk', Arial, Helvetica;
                    &:hover {
                        opacity: 1 !important;
                    }
                }

                &.current > a {
                    background-color: transparent;
                    color: @color-black;
                }
                .second-level {
                    display: inline-block;
                    width: auto !important;
                    position: static !important;
                    &.level1 {
                        > .dropdown-menu {
                            left: 0 !important;
                            top: 56px !important;
                            padding: 30px 0 56px 0;
                            &:before,
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                height: 100%;
                                background-color: white;
                                z-index: -1;
                                width: 50%;
                            }
                            &:after {
                                right: -30em;
                                left: auto;
                            }
                            &:before {
                                left: -30em;
                                right: auto;
                            }
                        }
                    }
                }
                .submenu {
                    .mega-col > .nav-item.level1 > a {
                        padding: 0 18px;
                        border: 0;
                        opacity: .5;
                        text-transform: uppercase;
                        line-height: 56px;
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
            .nav-item.level0.subhover > .submenu {
                box-shadow: none;
                > .submenu-inner {
                    padding: 0 10px;
                    box-sizing: border-box;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 1300px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-top: 1px solid #e9e9e9;
                }
            }
            .nav-item.level1.subhover > .submenu {
                box-shadow: none;
                > .submenu-inner {
                    padding: 0;
                    .nav-item {
                        a {
                            border: 0;
                            font-weight: 400;
                            display: inline-block;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .nav-item.level0.subhover > .submenu {
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    background-color: white;
                    z-index: -1;
                    width: 50%;
                }
                &:after {
                    right: -30em;
                    left: auto;
                }
                &:before {
                    left: -30em;
                    right: auto;
                }
            }
            .nav-item.level0.current > a,
            .nav-item.level1.current > a {
                opacity: 1 !important;
            }
            .nav-item.active>a {
                background-color: transparent;
            }
        }
        &.top-navigation {
            > .navigation {
                padding: 0;
            }
        }
    }

    .ves-megamenu {
        .nav-item.active>a {
            background-color: transparent !important;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .ves-megamenu.top-main-menu.nav-mobile {
        &.ves-mdrilldown {
            .navigation {
                border: 0;
                .level0 {
                    border: 0;
                    border-bottom: 3px solid @color-white;
                    min-height: 40px;
                    > .item-before-content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        z-index: 1;
                        display: none;
                        img {
                            width: 100%;
                        }
                    }
                    > .nav-anchor {
                        z-index: 2;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        .lib-font-size(14);
                        letter-spacing: .5px;
                        color: #1d1d1d;
                        padding: 0;
                        span.drill-opener {
                            left: 0;
                            bottom: 0;
                            width: auto;
                            border: 0;
                            background: transparent;
                            &:before {
                                top: 12px;
                            }
                        }

                        span:first-child {
                            position: absolute;
                            left: 18px;
                            bottom: 11px;
                            line-height: 18px;
                        }
                    }
                    &.active > a:not(.ui-state-active),
                    &.has-active > a:not(.ui-state-active) {
                        border: 0;
                        background: transparent;
                    }
                }
                .drilldown-back {
                    left: 0;
                    a {
                        border: 0;
                        background-color: @color-white;
                        .drill-opener {
                            height: 8px;
                            width: 8px;
                            top: 24px;
                            left: 20px;
                            border-top: 2px solid @color-black;
                            border-right: 2px solid @color-black;
                            transform: rotate(-135deg);
                            background: transparent;
                            &:before {
                                display: none;
                            }
                        }
                        .current-cat {
                            .lib-font-size(14);
                            .lib-line-height(56);
                            letter-spacing: .5px;
                            font-weight: @font-weight__bold;
                            color: @color-black;
                            float: right;
                            margin-right: 18px;
                        }
                    }
                }
                .submenu-inner {
                    .nav-item {
                        /* background-color: #f6f6f6; */
                        a {
                            letter-spacing: 0.5px;
                            color: @color-black;
                            .drill-opener {
                                height: 100%;
                                background: transparent;
                                border: 0;
                                &:before {
                                    height: 8px;
                                    width: 8px;
                                    top: 20px;
                                    right: 20px;
                                    border: 0;
                                    border-top: 2px solid @color-black;
                                    border-right: 2px solid @color-black;
                                    transform: rotate(45deg);
                                    background: transparent;
                                    content: '';
                                    display: block;
                                    position: absolute;
                                }
                            }
                        }
                        &.active > a {
                            background: #333;
                            color: @color-white;
                            .drill-opener:before {
                                border-color: @color-white;
                            }
                        }
                    }
                }
            }
        }
    }

    .ves-megamenu {
        > .navigation {
            width: 100% !important;
        }

    }

    .fw700-mobile {
        font-weight: 700;
    }

    .footer {
        .copyright {
            text-align: center;
        }
    }

}

