<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Framework\View\Element\AbstractBlock $block
 */

// We should use strlen function because coupon code could be "0", converted to bool will lead to false
$hasCouponCode = (bool) strlen($block->getCouponCode());
?>
<div class="block discount"
     id="block-discount"
     data-mage-init='{"collapsible":{"active": <?= $hasCouponCode ? 'true' : 'false' ?>, "openedState": "active", "saveState": false}}'
>
    <div class="title" data-role="title">
        <strong id="block-discount-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Did you receive a voucher code?')) ?></strong>
    </div>
    <div id="coupon-code-content" class="content" data-role="content" aria-labelledby="block-discount-heading" style="display:none">
        <form id="discount-coupon-form"
              action="<?= $block->escapeUrl($block->getUrl('checkout/cart/couponPost')) ?>"
              method="post"
              data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                               "removeCouponSelector": "#remove-coupon",
                                               "applyButton": "button.action.apply",
                                               "cancelButton": "button.action.cancel"}}'>
            <div class="fieldset coupon<?= $hasCouponCode ? ' applied' : '' ?>">
                <input type="hidden" name="remove" id="remove-coupon" value="0" />
                <div class="field">
                    <label for="coupon_code" class="label"><span><?= $block->escapeHtml(__('Enter a voucher code')) ?></span></label>
                    <div class="coupon_control">
                        <div class="control">
                            <input type="text"
                                class="input-text"
                                id="coupon_code"
                                name="coupon_code"
                                value="<?= $block->escapeHtmlAttr($block->getCouponCode()) ?>"
                                    <?php if ($hasCouponCode) :?>
                                    disabled="disabled"
                                    <?php endif; ?>
                            />
                        </div>
                        <div class="actions-toolbar">
                            <?php if (!$hasCouponCode) :?>
                            <div class="primary">
                                <button class="action apply primary" type="button" value="<?= $block->escapeHtmlAttr(__('Apply')) ?>">
                                    <span><?= $block->escapeHtml(__('Apply')) ?></span>
                                </button>
                            </div>
                            <?php else :?>
                                <div class="primary">
                                    <button class="action apply primary" type="button" value="<?= $block->escapeHtmlAttr(__('Apply')) ?>">
                                        <span><?= $block->escapeHtml(__('Apply')) ?></span>
                                    </button>
                                </div>
                                <div class="coupon-info">
                                    <span class="coupon-status"><?= $block->escapeHtml(__('Promocode: applied')) ?></span>
                                    <button type="button" class="action cancel primary" value="<?= $block->escapeHtmlAttr(__('Remove')) ?>"><span><?= $block->escapeHtml(__('Remove')) ?></span></button>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="voucher-description">
                    <?php /* 
                    <span class="coupon-info-link">What is this?
                        <span class="coupon-info-text info-message">Promo codes may be entered here to receive a discount on shipping, items or the whole basket. Subscribe to our newsletter to always be up-to-date and receive promo codes.</span>
                    </span>    
                    */ ?>
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('voucher_tooltip')->toHtml();?>    
                    </div>
                </div>
                
            </div>
            <?php if (!$hasCouponCode) : ?>
                <?= /* @noEscape */ $block->getChildHtml('captcha') ?>
            <?php endif; ?>
        </form>
    </div>
</div>
<script>
<?php // Haingo 20211007: when the user clicks on voucher code section, Promo code section is automatically selected ?>
require(['jquery', 'jquery/ui'], function($){
  $( "#block-discount-heading" ).click(function() {
		 $( "#coupon-code-content" ).show(function() {
			$('#coupon_code').focus();
		});
	});
});
</script>
<?php // Fin Haingo ?>