<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
?>
<?php
// Haingo 20211029: regler pblm pour stock de produit epuise
$nb_cart_items = sizeof($block->getItems());
// fin Haingo
?>
<?php if($nb_cart_items>0): ?>			
	<?php $mergedCells = ($this->helper(Magento\Tax\Helper\Data::class)->displayCartBothPrices() ? 2 : 1); ?>
	<?= $block->getChildHtml('form_before') ?>
	<div class="top-cart-block">
			<div class="title-holder">
				
				<div class="page-title-wrapper">
				<h1 class="page-title">
					<span class="base" data-ui-id="page-title-wrapper"><?= __('Your Shopping Bag') ?></span>    
				</h1>
				</div>
				<span class="itemdesktop"><?= $block->escapeHtml(__('You have %1 items in your bag', count($block->getItems()))); ?></span>
				<span class="mobile-only"><?= $block->escapeHtml(__('%1 items', count($block->getItems()))); ?></span>
			</div>
	</div>
	<form action="<?= $block->escapeUrl($block->getUrl('checkout/cart/updatePost')) ?>"
		  method="post"
		  id="form-validate"
		  data-mage-init='{"Magento_Checkout/js/action/update-shopping-cart":
				  {"validationURL" : "<?= $block->escapeUrl($block->getUrl('checkout/cart/updateItemQty')) ?>",
				  "updateCartActionContainer": "#update_cart_action_container"}
			  }'
		  class="form form-cart">
		
		<?= $block->getBlockHtml('formkey') ?>
		<div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
			<?php if ($block->getPagerHtml()) :?>
				<div class="cart-products-toolbar cart-products-toolbar-top toolbar"
					 data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?>
				</div>
			<?php endif ?>
			<div class="table-heading">
				<h5 class="table-title"><?= __('items being shipped') ?></h5>
				<span class="basket-tooltip">
					<a href="#" class="tooltip-toggle">i</a>
					<span class="tooltip-content">
						<?= $block->getChildHtml('basket-tooltip-block') ?>
					</span>
				</span>
			</div>


			<table id="shopping-cart-table"
				   class="cart items data table"
				   data-mage-init='{"shoppingCart":{"emptyCartButton": ".action.clear",
				   "updateCartActionContainer": "#update_cart_action_container"}}'>
				<caption class="table-caption"><?= $block->escapeHtml(__('Shopping Cart Items')) ?></caption>
					<?php foreach ($block->getItems() as $_item) :?>
						<?= $block->getItemHtml($_item) ?>
					<?php endforeach ?>
			</table>
			<?php if ($block->getPagerHtml()) :?>
				<div class="cart-products-toolbar cart-products-toolbar-bottom toolbar"
					 data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?>
				</div>
			<?php endif ?>
		</div>
	</form>
	<?= $block->getChildHtml('checkout.cart.order.actions') ?>
	<?= $block->getChildHtml('shopping.cart.table.after') ?>
<?php else: ?>
<?php // Haingo 20211029: regler pblm pour stock de produit epuise ?>
<div class="cart-empty">
    <?= $block->getChildHtml('checkout_cart_empty_widget') ?>
    <p><?= $block->escapeHtml(__('You have no items in your shopping cart.')) ?></p>
    <p><?= $block->escapeHtml(
        __(
            'Click <a href="%1">here</a> to continue shopping.',
            $block->escapeUrl($block->getContinueShoppingUrl())
        ),
        ['a']
    ) ?>
    </p>
    <?= $block->getChildHtml('shopping.cart.table.after') ?>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Checkout/js/empty-cart": {}
    }
}
</script>

<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
  jQuery(document).ready( function() {
	$("#block-discount").hide();
	$(".cart-payment-block").hide();
  });
});
</script>
<?php // Fin haingo ?>
<?php endif ?>

