<?php
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
?>
<?php 
// Haingo 20210721: affichage panier suivant width ecran
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
// Fin Haingo 20210721: 
?>

<div data-block="minicart" class="minicart-wrapper">
    <a id="minicart-showcart-link" class="action showcart" href="<?= $block->escapeUrl($block->getShoppingCartUrl()) ?>"
       data-bind="scope: 'minicart_content'">
        <span class="text"data-bind="css: {'not-empty' : getCartParam('summary_count') > 0}"><?= $block->escapeHtml(__('My Cart')) ?></span>
        <span class="counter qty empty"
              data-bind="css: { empty: !!getCartParam('summary_count') == false && !isLoading() },
               blockLoader: isLoading">
            <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
        </span>
    </a>
    <?php if ($block->getIsNeedToDisplaySideBar()):?>
        <div class="block block-minicart"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "triggerEvent":"click",
                 "closeOnMouseLeave": false,
                 "closeOnEscape": false,
                 "triggerClass":"active",
                 "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?= $block->getChildHtml('minicart.addons') ?>
        </div>
    <?php else: ?>
        <?php $scriptString = <<<script
            require(['jquery'], function ($) {
                $('a.action.showcart').click(function() {
                    $(document.body).trigger('processStart');
                });
            });
script;
        ?>
        <?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false); ?>
    <?php endif ?>
    <?= /* @noEscape */ $secureRenderer->renderTag('script', [], 'window.checkout = ' .
     /* @noEscape */ $block->getSerializedConfig(), false); ?>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= $block->escapeJs(
                $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))
            ) ?>"
        }
    }
    </script>
</div>

<script type="text/javascript">
// Haingo 20210721: affichage panier suivant width ecran
require([
        "jquery",
    ], function($) {


        $('#minicart-showcart-link').on('click', function() {
			
			var screenWidth = $(window).width();
			if(screenWidth<=768){
				$("#minicart-content-wrapper").hide();
				$("#ui-id-2").hide();
				$("#minicart-showcart-link").data("bind","");
				window.location.href ="<?php echo $baseUrl; ?>checkout/cart";
		    }
		
        });
    });		
// fin Haingo 20210721: affichage panier suivant width ecran
/*
    require([
        "jquery",
    ], function($) {

        $(document).ready(function() {
                    $('.minicart-wrapper').hover(function() {
                        $('.minicart-wrapper').addClass('active');
                        $(this).children('.action.showcart').addClass("active");
                        $(this).children('.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog').show('fast');
                        $('.background-overlay').toggleClass('overlay');
                        $('.page-header').toggleClass('minicart-active');

                    }, function() {
                        $('.minicart-wrapper').removeClass('active');
                        $(this).children('.action.showcart').removeClass("active");
                        $(this).children('.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog').hide();
                        $('.background-overlay').removeClass('overlay');
                        $('.page-header').removeClass('minicart-active');
                    });

                    $('.action.showcart').on('click', function() {
                        window.location.replace(window.checkout.shoppingCartUrl);
                    });
        });
    });
    
    */
</script>

<?php // Deplacement script de Haingo 20210811: on scroll fixe lapartie a droite de la fiche ?>
<script>
    require(['jquery', 'jquery/ui'], function($){
        $(document).ready( function() {
            $(window).on("scroll",function() {

                var last_scroll = $('.media').innerHeight()-500;
                
                if(($(this).scrollTop() >= 100) && ($(this).scrollTop()<last_scroll)) {
                    $(".product-info-main").addClass('fixemoi');
                    $(".product-info-main").removeClass('bottommoi');
                }else if(($(this).scrollTop() < 100)){
                    $(".product-info-main").removeClass('fixemoi');
                    $(".product-info-main").removeClass('bottommoi');
                }else {
                    $(".product-info-main").removeClass('fixemoi');
                    $(".product-info-main").addClass('bottommoi');
                }


                // var sticky = $(".page-header").offsetTop;
                if (($(this).scrollTop() > 50)) {
                    $(".page-header").addClass('sticky');
                } else {
                    $(".page-header").removeClass('sticky');
                }

            });
        });
    });
</script>