<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->create('Magento\Customer\Model\Session');

    if ($customerSession->isLoggedIn()) {
        $customerSession->getCustomerId();  // get Customer Id
        $customerSession->getCustomerGroupId();
        $customerSession->getCustomer();
        $customerSession->getCustomerData();

        $customerName = $customerSession->getCustomer()->getData('firstname');  // get  First Name
        $customerEmail = $customerSession->getCustomer()->getEmail(); // get Email
        $logoutLink = $this->getUrl("customer/account/logout"); // logout Link URL
    }
?>
<div class="block <?= $block->escapeHtmlAttr($block->getBlockCss()) ?>">
    <div class="<?= $block->escapeHtmlAttr($block->getBlockCss()) ?>-title"
         data-mage-init='{"toggleAdvanced": {"toggleContainers": "#<?= $block->escapeHtmlAttr($block->getBlockCss()) ?>", "selectorsToggleClass": "active"}}'>
        <strong>
            <?php echo __('Hi, %1!', $customerName) ?>
        </strong>
        <div>
            <?php echo __('Not %1?', $customerName) ?>
            <a href="<?php echo $logoutLink ?>" class="logout-link"><?php echo __('Log Out') ?></a>
        </div>
    </div>
    <div class="content <?= $block->escapeHtmlAttr($block->getBlockCss()) ?>-content"
         id="<?= $block->escapeHtmlAttr($block->getBlockCss()) ?>">
        <?= $block->getChildHtml() ?>
    </div>
</div>

<style type="text/css">
    .account-nav .account-nav-title strong {
        text-transform: none !important;
    }    
</style>

<script type="text/javascript">
    require([
        "jquery",
    ],function($) {
        $('.logout-link').on('click', function() {
             window.location.href = '<?= $logoutLink ?>'
        })
    })
</script>
