<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var  $block \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer */
$_item = $block->getItem();
?>
<tr id="order-item-row-<?= (int) $_item->getId() ?>">
    <td>
        <?php
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getProductId());
            $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
            $image_url = $imageHelper->init($_product, 'customer_order_history_thumbnail')->setImageFile($_product->getImage())->getUrl();
        ?>
        <img src="<?php echo $image_url;?>" />
    </td>
    <td>
        <table>
            <tr>
                <td class="product-main-info"><strong class="product name product-item-name"><?= $block->escapeHtml($_item->getName()) ?></strong></td>
                <th><?= __('QUANTITY'); ?></th>
                <th><?= __('PRICE'); ?></th>
            </tr>
            <tr>
                <td>
                    <dl class="item-options">
                        <dt>
                            <?= $block->escapeHtml(__('Item NO:')); ?>
                        </dt>
                        <dd>
                            <?= /* @noEscape */ $block->prepareSku($block->getSku()) ?>
                        </dd>
                    </dl>
                    <?php if ($_options = $block->getItemOptions()) : ?>

                        <?php foreach ($_options as $_option) : ?>
                            <dl class="item-options">
                                <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                                <?php if (!$block->getPrintStatus()) : ?>
                                    <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                                    <dd<?= (isset($_formatedOptionValue['full_view']) ? ' class="tooltip wrapper"' : '') ?>>
                                        <?= $block->escapeHtml($_formatedOptionValue['value'], ['a', 'img']) ?>
                                        <?php if (isset($_formatedOptionValue['full_view'])) : ?>
                                            <div class="tooltip content">
                                                <dl class="item options">
                                                    <dt><?= $block->escapeHtml($_option['label']) ?>:</dt>
                                                    <dd><?= $block->escapeHtml($_formatedOptionValue['full_view']) ?></dd>
                                                </dl>
                                            </div>
                                        <?php endif; ?>
                                    </dd>
                                <?php else : ?>
                                    <dd><?= $block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value'])) ?></dd>
                                <?php endif; ?>
                            </dl>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <?php $addtInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                    <?php if ($addtInfoBlock) : ?>
                        <?= $addtInfoBlock->setItem($_item)->toHtml() ?>
                    <?php endif; ?>
                    <?= $block->escapeHtml($_item->getDescription()) ?>
                    <dl class="item-options">
                        <dt>
                            <?= $block->escapeHtml(__('Status:')); ?>
                        </dt>
                        <dd>
                            <?php if ($block->getItem()->getQtyOrdered() > 0) : ?>
                                <span class="title"><?= $block->escapeHtml(__('Ordered')) ?></span>
                            <?php endif; ?>
                            <?php if ($block->getItem()->getQtyShipped() > 0) : ?>
                                <span class="title"><?= $block->escapeHtml(__('Shipped')) ?></span>
                            <?php endif; ?>
                            <?php if ($block->getItem()->getQtyCanceled() > 0) : ?>
                                <span class="title"><?= $block->escapeHtml(__('Canceled')) ?></span>
                            <?php endif; ?>
                            <?php if ($block->getItem()->getQtyRefunded() > 0) : ?>
                                <span class="title"><?= $block->escapeHtml(__('Refunded')) ?></span>
                            <?php endif; ?>
                        </dd>
                    </dl>
                </td>
                <td><span class="dd-item"><?= __('Quantity'); ?>:</span><?= (float) $block->getItem()->getQtyOrdered() ?></td>
                <td>
                    <span class="dd-item"><?= __('Price'); ?>:</span><?= $block->getItemRowTotalHtml() ?>
                </td>
            </tr>
        </table>
    </td>
</tr>
