<div class="actions-toolbar">
    <div class="secondary">
        <a class="action back" href="<?= $block->getBaseUrl(); ?>sales/order/history/">
            <span><?= __('Return to Order History') ?></span>
        </a>
    </div>
</div>
