<?php
/**
 * Copyright © 2021 Redbox Digital Limited. All rights reserved.
 * Beside
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
?>
<?php
/**
 * Edit customer address template
 *
 * @var $block \Magento\Customer\Block\Address\Edit
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */
/** @var \Magento\Customer\Helper\Address $addressHelper */
$addressHelper = $block->getData('addressHelper');
$requiredAttributesPrechecked = $block->getData('required_attributes_prechecked');
$displayAllRegions = $block->getConfig('general/region/display_all');
/** @var \Magento\Directory\Helper\Data $directoryHelper */
$directoryHelper = $block->getData('directoryHelper');
?>
<form class="form-address-edit"
      action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Add Address')) ?></span></legend><br>
        <?= $block->getBlockHtml('formkey') ?>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>"/>
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>"/>
        <?= $block->getNameBlockHtml() ?>

        <?php if ($addressHelper->isAttributeVisible('fax')): ?>
            <div class="field fax">
                <label class="label" for="fax"><span><?= $block->escapeHtml(__('Fax')) ?></span></label>
                <div class="control">
                    <input type="text"
                           name="fax"
                           id="fax"
                           title="<?= $block->escapeHtmlAttr(__('Fax')) ?>"
                           value="<?= $block->escapeHtml($block->getAddress()->getFax()) ?>"
                           class="input-text <?= /* @noEscape */ $addressHelper->getAttributeValidationClass('fax') ?>"/>
                </div>
            </div>
        <?php endif; ?>
    </fieldset>
    <fieldset class="fieldset">
        <?php $_streetValidationClass = $addressHelper->getAttributeValidationClass('street'); ?>
        <div class="field street required">
            <label for="street_1" class="label">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span>
            </label>
            <div class="control">
                <input type="text"
                       name="street[]"
                       value="<?= $block->escapeHtml($block->getStreetLine(1)) ?>"
                       placeholder="<?= $block->escapeHtml(__('Address Line 1*')) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Address Line 1*')) ?>"
                       id="street_1"
                       class="input-text <?= /* @noEscape */ $_streetValidationClass ?>"/>
                <div class="nested">
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 2, $_n = $addressHelper->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <div class="field additional">
                            <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                <span><?= $block->escapeHtml(__('Address Line %1', $_i)) ?></span>
                            </label>
                            <div class="control">
                                <input type="text"
                                       name="street[]"
                                       value="<?= $block->escapeHtml($block->getStreetLine($_i)) ?>"
                                       placeholder="<?= $block->escapeHtmlAttr(__('Address Line %1', $_i)) ?>"
                                       title="<?= $block->escapeHtmlAttr(__('Address Line %1', $_i)) ?>"
                                       id="street_<?= /* @noEscape */ $_i ?>"
                                       class="input-text <?= /* @noEscape */ $_streetValidationClass ?>"/>
                            </div>
                        </div>
                    <?php endfor; ?>
                </div>
            </div>
        </div>

        <?php if ($addressHelper->isVatAttributeVisible()): ?>
            <div class="field taxvat">
                <label class="label" for="vat_id">
                    <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?></span>
                </label>
                <div class="control">
                    <?php $taxvatValidationClass = $addressHelper->getAttributeValidationClass('vat_id'); ?>
                    <input type="text"
                           name="vat_id"
                           value="<?= $block->escapeHtml($block->getAddress()->getVatId()) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                           placeholder="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                           class="input-text <?= /* @noEscape */ $taxvatValidationClass ?>"
                           id="vat_id"/>
                </div>
            </div>
        <?php endif; ?>



        <div class="field country required <?= str_contains($block->getUrl(), 'sa') ? 'wide' : '' ?>">
            <label class="label" for="country">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span>
            </label>
            <div class="control">
                <?= $block->getCountryHtmlSelect() ?>
            </div>
        </div>

        <div class="field region required">
            <label class="label" for="region_id">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span>
            </label>
            <div class="control">
                <select id="region_id"
                        name="region_id"
                        title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                        class="validate-select region_id"
                    <?= (!$displayAllRegions) ? ' disabled="disabled"' : '';?>>
                    <option value="">
                        <?= $block->escapeHtml(__('Please select a region, state or province.')) ?>
                    </option>
                </select>
                <input type="text"
                       id="region"
                       name="region"
                       value="<?= $block->escapeHtml($block->getRegion()) ?>"
                       placeholder="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                       title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                       class="input-text <?= /* @noEscape */ $addressHelper->getAttributeValidationClass('region') ?>"
                    <?= (!$displayAllRegions) ? ' disabled="disabled"' : '';?>/>
            </div>
        </div>

        <div class="field city required">
            <label class="label" for="city">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span>
            </label>
            <div class="control">
                <input type="text"
                       name="city"
                       value="<?= $block->escapeHtml($block->getAddress()->getCity()) ?>"
                       placeholder="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>*"
                       title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>"
                       class="input-text <?= /* @noEscape */ $addressHelper->getAttributeValidationClass('city') ?>"
                       id="city"/>
            </div>
        </div>

        <div class="field zip required">
            <label class="label" for="zip">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
            </label>
            <div class="control">
            <?php $postCodeValidationClass = $addressHelper->getAttributeValidationClass('postcode'); ?>
                <input type="text"
                       name="postcode"
                       value="<?= $block->escapeHtml($block->getAddress()->getPostcode()) ?>"
                       placeholder="<?= $block->escapeHtml(__('Postal code*')) ?>"
                       title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                       id="zip"
                       class="input-text validate-zip-international <?= /* @noEscape */ $postCodeValidationClass ?>"/>
                <div role="alert" class="message warning">
                    <span></span>
                </div>
                <?= /* @noEscape */
                $secureRenderer->renderTag(
                    'style',
                    [],
                    'div.zip .message.warning { display:none; }',
                    false
                ); ?>
            </div>
        </div>

        <?php $userDefinedAttributes = $block->getLayout()->getBlock('customer_form_address_user_attributes'); ?>
        <?php if ($userDefinedAttributes): ?>
            <?= $userDefinedAttributes->setShowContainer(false)->toHtml() ?>
        <?php endif;?>
        <?php if ($addressHelper->isAttributeVisible('telephone')): ?>
            <?php $requiredPhone = in_array('telephone', $requiredAttributesPrechecked) ? 'required' : ''; ?>
            <div class="field telephone <?= $block->escapeHtmlAttr($requiredPhone);?>">
                <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
                <div class="control">
                    <?php $phoneValidationClass = $addressHelper->getAttributeValidationClass('telephone'); ?>
                    <input type="text"
                           name="telephone"
                           value="<?= $block->escapeHtml($block->getAddress()->getTelephone()) ?>"
                           placeholder="<?= ($block->escapeHtmlAttr($requiredPhone)) ? $block->escapeHtml(__('Phone Number*')) : $block->escapeHtml(__('Phone Number'));?>"
                           title="<?= $block->escapeHtml(__('Phone Number')) ?>"
                           class="input-text <?= /* @noEscape */ $phoneValidationClass ?>"
                           id="telephone"/>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($block->isDefaultBilling()): ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("This is your default billing address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultBilling()): ?>
            <div class="field choice set billing">
                <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox"/>
                <label class="label" for="primary_billing">
                    <span><?= $block->escapeHtml(__('Use as my default billing address')) ?></span>
                </label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_billing" value="1"/>
        <?php endif; ?>

        <?php if ($block->isDefaultShipping()): ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("This is your default shipping address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultShipping()): ?>
            <div class="field choice set shipping">
                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox"/>
                <label class="label" for="primary_shipping">
                    <span><?= $block->escapeHtml(__('Use as my default shipping address')) ?></span>
                </label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_shipping" value="1"/>
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action submit primary"
                    data-action="save-address"
                    title="<?= $block->escapeHtmlAttr(__('Save Address')) ?>">
                <span><?= $block->escapeHtml(__('Save Address')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $block->escapeHtml(__('Go back')) ?></span>
            </a>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {
                "postCodes": <?= /* @noEscape */ $block->getPostCodeConfig()->getSerializedPostCodes(); ?>
            }
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ ($displayAllRegions ? 'true' : 'false') ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $directoryHelper->getRegionJson() ?>,
                "defaultRegion": "<?= /* @noEscape */ $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $directoryHelper->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>


<script type="text/javascript">
require(['jquery'], function($) {
    var hideRegion = setInterval(function () {
            if ($('[name="region_id"]').children().length == 2) {
                $('[name="region_id"]').css('visibility', 'hidden');
                $('[name="region_id"]').val(jQuery('[name="region_id"] option:nth-child(2)').val()).change();
                clearInterval(hideRegion)
            }
        }, 200)

});
</script>
