// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________


& when (@media-common = true) {

    .customer-account-create {
        .page-title-wrapper {
            .lib-visually-hidden();
        }
        .form-create-account {
            #remember-me-box {
                .lib-visually-hidden();
            }
        }

    }

    .create-account-wrapper {
        background-color: @brand-color5;
        box-sizing: border-box;
        padding: 26px 15px;

        .fieldset {
            > .field {
                margin: 0 0 15px;
            }
            > .field:not(.choice) > .label {
                .lib-visually-hidden();
            }
            #password-strength-meter-container {
                .lib-visually-hidden();
            }
            &.create.account,
            &.create.info {
                margin-bottom: 0;
            }

            &.create.info {
                .control.customer-dob {
                    input._has-datepicker {
                        width: 100%;
                        margin-right: 0;
                        ~ .ui-datepicker-trigger {
                            display: none;
                        }
                    }
                }
            }
        }

        .create-account-content {
            .account-featured-content {
                > p {
                    margin-bottom: 20px;
                }
                li img {
                    float: left;
                    margin: 2px 10px 0 0;
                }
                p {
                    letter-spacing: 0.5px;
                }
                ul {
                    .lib-list-reset-styles();
                }
                a {
                    text-decoration: underline;
                }
            }
        }

        .confirm-content {
            letter-spacing: 0.5px;
            margin-top: 30px;
            margin-bottom: 8px;
        }

        .actions-toolbar {
            .primary {
                width: 100%;
                .action.submit.primary {
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    font-weight: @font-weight__regular;
                    padding: 13px 50px;
                    margin: 0;
                    max-width: 260px;
                    width: 100%;
                }
            }
        }
    }

    .ui-datepicker {
        .ui-datepicker-title {
            .ui-datepicker {
                &-month,
                &-year {
                    padding: 0;
                    height: 30px;
                }
            }
        }
        .ui-datepicker {
            &-prev,
            &-next {
                top: 7px
            }
        }
    }

    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next {
        top: 7px
    }

}

//
//  Mobile
//  _____________________________________________



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .customer-account-create {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .create-account-wrapper {
        .page-title {
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-bottom: 15px;
            .lib-font-size(16);
            .lib-line-height(26);
        }
        .create-account-content {
            margin-bottom: 22px;
            .account-featured-content {
                > * {
                    display: none;
                    .lib-line-height(20);
                    .lib-font-size(12);
                }
                > p {
                    display: block;
                    margin: 0;
                }
            }
        }
        .confirm-content {
            .lib-font-size(12);
            p, span {
                .lib-line-height(20) !important;
            }
        }

        .fieldset {
            > .field {
                &.field-personal_data_for_profiling.choice,
                &.field-personal_data_for_marketing.choice {
                    .label {
                        span {
                            position: relative;
                            top: -6px;
                        }
                    }
                }
            }
        }

        .actions-toolbar .primary .action.submit.primary {
            padding: 0;
            max-width: 100%;
            .lib-font-size(12);
            .lib-line-height(33);
            letter-spacing: 1px;
            margin-top: 20px;
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .create-account-wrapper {
        margin-top: 35px;
        padding: 80px;
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
        .page-title {
            letter-spacing: 0.8px;
            line-height: 34px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .fieldset {
            > .field {
                margin: 0 0 20px;
            }
        }

        .form-create-account {
            position: relative;
            .create-account-content {
                position: absolute;
                top: 0;
                right: 0;
                max-width: 306px;
            }
        }

        .fieldset {
            > .field {
                &:not(.choice) > .control {
                    max-width: 426px;
                }
                &.choice:before {
                    display: none;
                }
            }
        }
        .form-create-account {
            .actions-toolbar {
                margin-left: 0 !important;
                margin-top: 10px;
            }
        }
    }

}
