// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @sidebar__background-color);
        margin-bottom: @indent__m;
        padding: 1px 15px @indent__m;

        > .title {
            display: block;
            .lib-heading(h3);
        }

        .block {
            &:extend(.abs-discount-block all);
            margin-bottom: 0;
            &.giftcard{
                display: none;
            }
            &.discount{
                background: @color-gray-light0;
                >.title{
                    padding: 20px 36px 20px 25px;
                    strong{
                        text-transform: uppercase;
                        font-size: 16px !important;
                        font-weight: @font-weight__bold !important;

                    }
                    &:after{
                        top: 50%;
                        right: 15px;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
                .content{
                    padding:0 25px 20px;
                    #discount-coupon-form{
                        .fieldset{
                            margin: 0;
                        }
                    }
                    .input-text{
                        border: none;
                        height: 44px;
                    }
                }
                .action{
                    &.apply{
                        text-transform: uppercase;
                    }
                }
                .actions-toolbar {
                    .primary{
                        float: none;
                        display: block;
                    }
                }
                .coupon-info{
                    display: block;
                    overflow: hidden;
                    padding: 10px 0;
                    .action{
                        border: none;
                        background: none;
                        padding: 0;
                        float: right;
                        text-decoration: underline;
                        font-weight: @font-weight__regular;
                        color: @color-black;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                .coupon-status{
                    text-transform: uppercase;
                    color: @color-dark-green1;
                }
            }
            .item-options {
                margin-left: 0;
            }

            .fieldset {
                margin: 15px 0 @indent__m @indent__xs;

                .field {
                    margin: 0 0 @indent__s;

                    &.note {
                        font-size: @font-size__s;
                    }
                }

                .methods {
                    .field {
                        > .label {
                            display: inline;
                        }
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }
        }
        .actions-toolbar {
            > .primary {
                button {
                    &:extend(.abs-revert-secondary-color all);
                }
            }
        }
        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    .cart-totals {
        border-top: 1px solid @border-color__base;
        padding-top: @indent__s;
        &:extend(.abs-sidebar-totals all);

        .table-wrapper {
            margin-bottom: 0;
            overflow: inherit;
        }

        .discount.coupon {
            display: none;
        }
        .grand.totals{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: @font-weight__bold;
            font-family: @font-family-name__secondary;
            strong{
                text-transform: uppercase;
                font-size: 16px;
                font-weight: @font-weight__bold;
                font-family: @font-family-name__secondary;
            }
        }
    }

    //  Products table
    .cart.table-wrapper {
        .items {
            thead + .item {
                //border-top: @border-width__base solid @border-color__base;
            }

            > .item {
                //border-bottom: @border-width__base solid @border-color__base;
                position: relative;
            }
        }

        .price-as-configured {
            display: flex;
            flex-direction: column;
        }

        .table-heading{
            position: relative;
            z-index: 2;
            .basket-tooltip{
                .lib-tooltip(bottom);
                position: absolute;
                right: 10px;
                top: 50%;

                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                .tooltip-content{
                    left: auto;
                    right: -10px;
                    font-size: 12px;
                    line-height: 20px;
                    z-index: 1;
                    min-width: 225px;
                    padding-bottom: 0;
                    border-color: @color-white;
                    &:after,
                    &:before{
                        left: auto;
                        right: 15px;
                        border-bottom-color: @color-white;
                    }
                    h5{
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 20px;
                        margin: 0;
                    }
                    a{
                        text-decoration: underline;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
            .tooltip-toggle{
                display: block;
                text-align: center;
                line-height: 22px;
                width: 20px;
                height: 20px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                color: @color-gray62;
                border: 1px solid @color-gray62;
            }
        }
        .col {
            padding-top: @indent__base;
            &.subtotal{
                padding-top: 32px;
            }
            &.qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                    border-color: @color-black;
                }

                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .item {
            &-actions td {
                padding-bottom: @indent__s;
                text-align: center;
                white-space: normal;
            }

            .col {
                &.item {
                    display: block;
                    min-height: 75px;
                    padding: @indent__m 0 @indent__s 75px;
                    position: relative;
                }
            }
        }

        .actions-toolbar {
            &:extend(.abs-add-clearfix all);
            text-align: right;
            line-height: 1.5em;

            > .action {
                //&:extend(button all);
                //.lib-link-as-button();
                margin-bottom: @indent__s;
                margin-right: @indent__s;
                &.action-edit{
                    margin-right: 0;
                    vertical-align: top;
                    &:after{
                        content:'';
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        vertical-align: top;
                        background: url('../images/icons/edit_icon.png') 0 0 no-repeat;
                        -webkit-background-size: cover;
                        background-size: cover;
                    }
                }
                &.action-delete{
                    &:after{
                        content:'\e616';
                        font-size: 35px;
                        font-family: 'icons-blank-theme';
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
                span{
                    display: none;
                }
            }
        }

        .action {
            &.help.map {
                &:extend(.abs-action-button-as-link all);
                font-weight: @font-weight__regular;
            }
        }

        .product {
            &-item-photo {
                display: block;
                left: 0;
                max-width: 60px;
                padding: 0;
                position: absolute;
                top: 15px;
                width: 100%;
            }

            &-item-details {
                white-space: normal;
            }

            &-item-name {
                display: inline-block;
                font-weight: @font-weight__regular;
                margin-top: -6px;
            }
        }

        .gift-registry-name-label {
            &:after {
                content: ':';
            }
        }

        //  Product options
        .item-options {
            font-size: @font-size__s;
            margin-bottom: @indent__s;
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
        }

        .product-item-name + .item-options {
            margin-top: @indent__s;
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .action.configure {
            display: inline-block;
            margin: 0 0 @indent__base;
        }
        .control.qty{
            position: relative;
            padding-right: 16px;
            .qty_control{
                position: absolute;
                width: 17px;
                height: 100%;
                right: 0;
                top: 0;
                button{
                    padding: 0;
                    width: 100%;
                    height: 50%;
                    display: block;
                }
            }
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
            background: @color-gray-light0;
            margin-left: -9999px;
            padding-left: 9999px;
            padding-right: 50px;
            .table-title{
                text-transform: uppercase;
            }
            .product-item-name{
                font-family: @font-family-name__secondary;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: @font-weight__bold;
            }
            .item-options{
                margin: 0;
                dt{
                    min-width: 88px;
                    margin: 0 0 5px;
                    font-weight: @font-weight__regular;
                }
            }
        }
        .title-holder{
            margin-left: -9999px;
            padding-left: 9999px;
            border-bottom: 1px solid @color-white;
            padding-top: 30px;
            padding-bottom: 30px;
            line-height: 32px;
            font-size: 14px;
            span{
                vertical-align: middle;
                display: inline-block;
                &.mobile-only{
                    display: none;
                }
            }
            .page-title-wrapper{
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
            }
            h1.page-title{
                margin-bottom: 0;
                line-height: 31px;
                font-size: 24px;
                text-transform: uppercase;
            }
        }
        .spend-topromo-block{
            margin-left: -9999px;
            padding-left: 9999px;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid @color-white;
            line-height: 32px;
            font-size: 14px;
        }
        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin-top: @indent__base;
            text-align: center;

            .action.primary {
                &:extend(.abs-button-l all);
                width: 100%;
                text-transform: uppercase;
            }

            .item {
                & + .item {
                    margin-top: @indent__base;
                }
            }
        }
        #gift-options-cart{
            display: none;
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            margin: @indent__m 0 15px;
            padding: 0;
            text-align: center;
        }

        .pages {
            margin: 0 0 @indent__m;
            text-align: center;

            .items {
                > .item {
                    border-bottom: 0;
                }
            }
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //
    //  Cross sell
    //  ---------------------------------------------

    .block.crosssell {
        margin-top: 70px;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
}
.cart-totals{
    border-top: 0;
}
.cart-summary{
    background: none;
    >.title{
        display: none;
    }
    .block>.title{
        border: none;
    }
}
.block.crosssell {
    .product-image-photo,
    .product-image-container{
        width: 100% !important;
    }
    .product-item-info{
        width: 100%;
    }
    .product-items{
        margin-left: -13px;
        margin-right: -13px;
    }
    .product-item{
        padding: 0 13px !important;
    }
    .product-item-actions{
        display: none;
    }
    #block-crosssell-heading{
        text-transform: uppercase;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-cart-index{
        .page-footer{
            padding-bottom: 150px;
        }
    }

    .cart {
        &.table-wrapper {
            overflow: inherit;

            thead {
                .col {
                    &:not(.item) {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    text-align: center;
                    white-space: nowrap;
                    width: 33%;

                    &[data-th]:before {
                        content: attr(data-th) ':';
                        display: block;
                        font-weight: @font-weight__bold;
                        padding-bottom: @indent__s;
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }
            .items{
                >.item{
                    display: block;
                    overflow: hidden;
                    .item-info{
                        display: block;
                        overflow: hidden;
                    }
                }
            }

            .item {
                .col {
                    &.item {
                        padding-bottom: 0;
                        padding-left: 150px;
                        .product-item-details{
                            strong{
                                display: block;
                                padding-right: 80px;
                            }
                        }
                        .item-options{
                            display: block;
                            dt{
                                width: 100%;
                                max-width: 50%;
                            }
                            dd{
                                width: 100%;
                                max-width: 50%;
                                text-align: right;
                                padding: 0 15px;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                            }

                        }
                    }
                    &.subtotal {
                        width: 49%;
                        text-align: right;
                        &:before {
                            display: none;
                        }

                        .price-label {
                            display: none;
                        }
                    }
                    &.qty{
                        width: 50%;
                        padding-left: 150px;
                        padding-right: 0;
                        text-align: left;
                        &:before{
                            display: none;
                        }
                        .control.qty{
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                }
            }
            .actions-toolbar{
                position: absolute;
                top: 10px;
                right: 5px;
                line-height: 1.5em;
            }
            .product-item-photo{
                max-width: 145px;
            }
            .product-image-container{
                width: 100% !important;
            }
        }
    }

    .cart-container {
        display: flex;
        flex-wrap: wrap;
        .form-cart {
            &:extend(.abs-shopping-cart-items-mobile all);
            order: 1;
            width: 100%;
            padding: 0 15px;
            margin: 0 -15px 30px;
        }
        .title-holder {
            overflow: hidden;
            >span{
                float: right;
                display: none;
                &.mobile-only{
                    display: block;
                }
            }
        }
    }
    .block.crosssell {
        .product-items{
            width: 125%;
        }
    }
    .cart-summary{
        order: 2;
        top: 0px;
        width: calc(~'100% + 30px');
        padding-right: 15px;
        padding-left: 15px;
        margin: 30px -15px;
        .cart-totals{
            margin-bottom: 20px;
        }
        .block{
            &.discount{
                margin: 0 -15px;
                .actions-toolbar{
                    margin-bottom: 20px;
                }
                .action{
                    &.apply{
                        max-width: 80%;
                    }
                }
            }
        }
    }
    .checkout-methods-items{
        position: fixed;
        bottom: 0;
        padding: 15px !important;
        width: 100%;
        margin: 0 -15px !important;
        z-index: 2;
        background: @color-white;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            width: calc(~'63% - 50px');
        }

        .widget {
            float: left;

            &.block {
                margin-bottom: @indent__base;
            }
        }
    }

    .cart-summary {
        float: right;
        position: relative;
        width: 36%;
        .actions-toolbar {
            .column.main & {
                &:extend(.abs-reset-left-margin-desktop all);
                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            >.title{
                border-top: 0;
            }
            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            .item {
                .col {
                    &.item {
                        padding: 27px 8px @indent__s;
                    }
                    &.subtotal {
                        .price {
                            font-size: 16px;
                            font-weight: 700
                        }

                        .price-label {
                            display: none;
                        }
                    }
                }

                &-actions {
                    td {
                        text-align: right;
                    }
                }
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    min-width: 93px;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }

            .item-actions {
                line-height: 1em;
                td{
                    padding: 0;
                }
                .actions-toolbar {
                    text-align: right;
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }

        .action {
            margin-bottom: @indent__s;
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;
            margin: 0 0 1px;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: 7px;
                            padding-top: 8px;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }
}
