// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .page-header {
        &.minicart-active {
            z-index: 4;
           /*  background-color: #fff; */
        }
    }

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: left;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal,
        .vat {
            display: flex;
            justify-content: space-between;
            line-height: 1;

            .label,
            .value {
                &:extend(.abs-colon all);
                font-size: 12px;
                letter-spacing: 0.5px;
                &:after {
                    content: '';
                }
            }
        }

        .vat {
            margin-bottom: 10px;
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;
                        font-size: 12px;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            display: flex;
            flex-direction: column;
             .actions {
                margin-top: 20px;
                text-align: center;

                > .primary {
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            width: 100%;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 1.4rem;
                            width: 100%;
                            padding-top: 13px;
                            padding-bottom: 13px;
                            line-height: 1;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &:hover {
                                background-color: #494949;
                                border-color: #494949;
                            }
                        }
                    }
                }
            }

            .minicart-footer {
                order: 2;
                border-top: solid 1px #f2f2f2;
                margin: 0 -15px;
                padding: 20px 15px 0;
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-list-width: 320px,
        @_dropdown-list-position-right: 0,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-pointer-position-left-right: 26px,
        @_dropdown-list-z-index: 101,
        @_dropdown-toggle-icon-content: '',
        @_dropdown-toggle-active-icon-content: '',
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 30px,
        @_icon-font-line-height: 58px,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color
        );
        float: right;

        .block-minicart {
            padding: 16px 15px;
            margin-top: 0;
            .block-title {
                display: none;
            }

            &:before,
            &:after {
                display: none;
            }
        }

        .product {
            .actions {
                float: right;
                margin: -28px 0 0;
                text-align: right;

                > .primary,
                > .secondary {
                    display: inline;
                }
            }
        }

        .action {
            &.close {
                display: none;
            }

            &.showcart {
                white-space: nowrap;
                display: flex;
                align-items: center;

                &.active {
                    display: flex;
                }

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .minicart {
                    display: flex;
                }

                .counter.qty {
                    color: #ff1010;
                    background-color: transparent;
                    margin: 0;
                    min-width: inherit;
                    padding: 0;
                    font-weight: 500;


                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }

                .not-empty {
                    background-image: url(../images/icons/shopping-bag-red-icon.svg);
                    position: relative;
                    width: 23px;
                    height: 58px;
                    background-size: 26px;
                    background-position: 50% 40%;
                    background-repeat: no-repeat;
                    font-size: 0;
                    position: absolute;
                    left: 0;
                    clip: auto;
                    background-color: white;
                }

                &:before {
                    background:url(../images/ico-monpanier.png) no-repeat left 50% ; content: ''; width: 30px; height: 25px;
                }
                &:hover {
                    opacity: 1 !important;
                }
            }
        }

    }

    .minicart-items-wrapper {
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        height: auto !important;
    }

    .minicart-items {
        .lib-list-reset-styles();

        .product-item {
            padding: @indent__base 0;

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
                position: relative;
            }
        }

        .product {
            .options {
                display: none;
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .message {
            margin-bottom: 0;
            margin-top: 10px;
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: false,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
                cursor: pointer;
                position: relative;
                white-space: nowrap;

                &:after {
                    position: static;
                    right: @indent__base;
                    top: 0;
                }
            }

            &.active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }
        }

        .product-item-name {
            margin: 0 0 @indent__s;
            letter-spacing: 0.5px;
            font-weight: 700;
            text-transform: uppercase;

            a {
                .lib-css(color, @link__color);
            }
        }

        .product-item-details {
            padding-left: 110px;

            .price {
                font-weight: @font-weight__bold;
                letter-spacing: 0.5px;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0 0;
                display: flex;
                align-items: center;
            }

            .minicart-old-price {
                order: -1;
                .price {
                    color: #d8d8d8;
                    text-decoration: line-through;
                    padding-right: 4px;
                }
            }

            .weee[data-label] {
                .lib-font-size(11);

                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__s;
            }
        }

        .product.options {
            .tooltip.toggle {
                .lib-icon-font(
                    @icon-down,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 28px,
                    @_icon-font-text-hide: true,
                    @_icon-font-margin: -3px 0 0 7px,
                    @_icon-font-position: after
                );

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .details-qty {
            display: none;
        }

        .item-qty {
            text-align: center;
            width: 45px;
        }

        .update-cart-item {
            .lib-font-size(11);
            margin-left: 5px;
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                    @icon-settings,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 28px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @color-gray19,
                    @_icon-font-color-hover: @color-gray19,
                    @_icon-font-color-active: @color-gray19
                );
            }

            &.edit {
                display: none;
            }

            &.delete {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                right: 0;
                vertical-align: middle;
                &:before {
                    content: @icon-close-x-small-black-icon;
                    font-family: @font-icon-additional__font-name;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    font-size: 14px;
                    -webkit-font-smoothing: antialiased;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper {
        margin-top: @indent__s;
        .lib-clearfix();
        .product {
            .actions {
                float: left;
                margin: 10px 0 0 0;
            }
        }
        .update-cart-item {
            float: right;
            margin-left: 0;
        }

        .block-minicart {
            max-width: 100vw;
            right: -15px;
            margin-top: 0;
            width: 100vw;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        .block-minicart {
            right: -15px;
            width: 332px;
        }
    }
}
