// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: 20px 0;
    }
    .select-fit{
        background: @color-gray-light0;
        .select-fit-holder{
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: @layout__max-width;
            padding-left: @layout-indent__width;
            padding-right: @layout-indent__width;
            width: auto;
            .select-fit-frame{
                overflow: hidden;
                padding: 15px 0;
                text-transform: uppercase;
                .label{
                    float: left;
                }
                .link-to-fit-guide{
                    float: right;
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            .fit-slider{
                margin: 0 -14px;
                display: none;
                &.slick-initialized {
                    display: block;
                }
                .fit-item{
                    position: relative;
                    padding: 0 7px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    &:after{
                        content:'';
                        position: absolute;
                        left: 0;
                        top: 0;
                        background: @color-black;
                        opacity: 0.5;
                        display: none;
                        width: calc(~'100% - 14px');
                        left: 7px;
                        top: 0;
                        height: 100%;
                        pointer-events: none;
                    }
                    &.current-fit,
                    &:hover{
                        &:after{
                            display: block;
                        }
                        .category-filter-title{
                            position: absolute;
                            top: 50%;
                            width: 100%;
                            left: 0;
                            z-index: 1;
                            text-align: center;
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                            color: @color-white;
                            font-family: @font-family__second;
                            font-weight: @font-weight__bold;
                            a{
                                color: @color-white;
                            }
                        }
                        .close-visual-filter{
                            display: block;
                        }
                    }
                    .close-visual-filter{
                        display: none;
                        position: absolute;
                        top: 6px;
                        right: 10px;
                        z-index: 1;
                        cursor: pointer;
                        &:after{
                            content: '\e616';
                            font-family: 'icons-blank-theme';
                            font-size: 36px;
                            line-height: 36px;
                            color: @color-white;
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            .category-filter-title{
                pointer-events: none;
            }
        }
    }
    .product {
        &-items {
            font-size: 0;
            &:extend(.abs-reset-list all);
        }

        &-item {
            font-size: 1.4rem;
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                margin-left: 15px;
                padding: 0;
                width: calc(~'(100% - 15px) / 2');
                margin-bottom: 38px;
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
                width: 152px;

                .page-products & {
                    width: 297px;
                }
            }

            .slider-list-wrapper.slick-slider {
                list-style: none;
                padding: 0;
                margin: 0;
                &:hover {
                    .slick-arrow {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                .slick-arrow {
                    transition: opacity ease-in-out .3s,transform ease-in-out .2s;
                    opacity: 0;
                    filter: brightness(0%);
                    height: 10px;
                    transform: translateY(10px);
                    background-size: contain;
                    background-color: transparent;
                    width: 27px;
                    &:before {
                        content: '';
                        background-image: url("../images/slider-arrow.svg");
                        background-repeat: no-repeat;
                        display: block;
                        height: 10px;
                        padding: 0;
                        background-position: center;
                    }
                    &.slick-next {
                        right: 10px;
                        left: auto;
                    }
                    &.slick-prev {
                        left: 10px;
                        right: auto;
                        &:before {
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);;
                        }
                    }
                }
            }

            &-actions {
                font-size: 0;

                > * {
                    font-size: 1.4rem;
                }

                .actions-secondary {
                    display: inline-block;
                    font-size: 1.4rem;
                    vertical-align: middle;
                    white-space: nowrap;
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        line-height: 35px;
                        text-align: center;
                        width: 35px;

                        &:extend(.abs-actions-addto-gridlist all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }

                        &.towishlist {
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 99;
                        }
                    }
                }

                .actions-primary {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                }
            }

            .price-box {
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__regular;
                    white-space: nowrap;
                    letter-spacing: 0.5px;
                    line-height: 26px;
                }

                .price-label {
                    font-size: @font-size__s;

                    &:after {
                        content: ':';
                    }
                }
            }

            .special-price,
            .minimal-price {
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__bold;
                }

                .price-wrapper {
                    display: inline-block;
                }

                .price-including-tax + .price-excluding-tax {
                    display: block;
                }
            }

            .price-box.price-final_price {
                /* display: grid;
                grid-auto-flow: column;
                grid-auto-columns: max-content;
                gap: 15px; */
                .special-price {
                    grid-column-start: 2;
                    .price-label {
                        display: none;
                    }
                    .price {
                        font-weight: @font-weight__regular;
                    }
                }
                .old-price {
                    grid-column-start: 1;
                    .price {
                        color: #898888;
                    }
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: 5px;

                .price-label {
                    .lib-css(color, @link__color);
                    .lib-font-size(14);
                }

                .price {
                    font-weight: @font-weight__regular;
                }
            }

            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
                display: block;
                white-space: nowrap;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-empty
                );
            }

            .tocart {
                white-space: nowrap;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '('attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
    .page-with-filter{
        .block {
            &.filter{
                /* overflow: hidden; */
                height: calc(~'100% - 30px');
                padding: 0px 9999px;
                margin: 0 -9999px 10px;
                background: #ffffff;
                border-top: 1px solid #f0ede8;
                background:url(../images/bg-page-with-filter.jpg) 0 54px repeat-x;
                min-height: 55px;
                #sorter-mobile{
                    display: none;
                }
                .select-styled{
                    display: none;
                }
                .block-filter-holder{
                    position: relative;
                }
                .filter-title{
                    float: left;
                    line-height: normal;
                    margin: 9px 0 0;
                    padding: 10px 30px 10px 0;
                    min-width: 100px;
                    box-sizing: border-box;
                    strong{
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: @font-weight__regular;
                    }
                }
                .filter-content{
                    .filter-frame{
                        display: flex;
                        align-items: flex-start;
                        flex-wrap: wrap;
                       /*  overflow: hidden; */
                    }
                    .filter-options {
                        width: 100%;
                        max-width: calc(~'(100%/6 ) - 19px'); 
                        margin: 5px 10px;
                        /* max-height: 45px; */
                        background: @color-white;
                        -webkit-transition: max-height 0.5s;
                        -moz-transition: max-height 0.5s;
                        -ms-transition: max-height 0.5s;
                        -o-transition: max-height 0.5s;
                        transition: max-height 0.5s;
                        &.select-open{
                            max-height: none;
                            dt{
                                &:after {
                                    -webkit-transform: rotate(-180deg);
                                    -moz-transform: rotate(-180deg);
                                    -ms-transform: rotate(-180deg);
                                    -o-transform: rotate(-180deg);
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                        &.js-filter-hidden{
                            &.filter-hide{
                                display: none !important;
                            }
                        }
                        dd{
                            /* overflow-x: hidden;
                            overflow-y: hidden; */
                            padding: 0;
                            transition: max-height .5s;
                            width: 100vw;
                            position: absolute;
                            margin-bottom: 0;
                        }
                        &:not(.select-open){
                            .filter-options-content{
                                max-height: 0 !important;
                            }
                        }
                        dt{
                            font-weight: @font-weight__regular;
                            font-family: @font-family__base;
                            font-size: 14px;
                            line-height: 24px;
                            padding: 15px 35px 16px 15px;
                            cursor: pointer;
                            background: @color-white;
                            position: relative;
                            margin-bottom: 0;
                            &:after {
                                content: @ico-var-chevron-down;
                                font-family: @font-icons__font-name;
                                position: absolute;
                                right: 15px;
                                top: 15px;
                                font-size: 11px;
                                line-height: 14px;
                                -webkit-transition: all ease-in-out .3s;
                                -moz-transition: all ease-in-out .3s;
                                -ms-transition: all ease-in-out .3s;
                                -o-transition: all ease-in-out .3s;
                                transition: all ease-in-out .3s;
                            }
                        }
                        ol.items,
                        ul.items{
                            display: inline-flex;
                            flex-flow: column wrap;
                            /* max-height: 440px;*/
                            margin: 30px 0 0;
                            font-size: 14px;
                            line-height: 35px;
                            li{
                                padding: 10px 15px;
                                background: @color-white;
                                position: relative;
                                overflow: hidden;
                                margin-bottom: 0;
                                >input{
                                    &[type="radio"],
                                    &[type="checkbox"]{
                                        position: absolute;
                                        top: -50px;
                                    }
                                }
                                >a{
                                    padding-left: 23px;
                                    position: relative;
                                    &:before{
                                        content: '';
                                        left: 0;
                                        position: absolute;
                                        top: 0;
                                        height: 14px;
                                        width: 14px;
                                        border: 1px solid @color-black;
                                    }
                                    &.am_shopby_link_selected{
                                        &:before{
                                            background: @color-black;
                                        }
                                    }
                                    .count{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    .swatch-attribute {
                        display: inline-flex;
                        flex-flow: column wrap;
                        /* max-height: 440px; */
                        margin: 0;
                        font-size: 13px;
                        /* line-height: 35px; */

                        .item {
                            padding: 0!important;
                            position: relative;
                            overflow: hidden;
                            display: flex;
                            align-items: center;

                            a {
                                position: relative;
                                padding-left: 23px;

                                &:before {
                                    content: '';
                                    left: 0;
                                    position: absolute;
                                    top: 0;
                                    height: 14px;
                                    width: 14px;
                                    border: 1px solid #000;
                                }

                                .swatch-option {
                                    background-color: transparent;
                                    color: black;
                                    border: none;
                                    font-weight: 400;
                                    line-height: 1;
                                    padding: 0;
                                }
                            }

                            input {
                                &:checked {
                                    + a {
                                        &:before {
                                            background-color: black;
                                        }

                                        .swatch-option {
                                            font-weight: 700;
                                            outline: none;
                                        }
                                    }
                                }
                            }
                        }

                        &.macro_colour {
                            .swatch-option {
                                border: solid 1px #000 !important;
                            }
                        }
                    }
                }
                .filter-toggle{
                    position: absolute;
                    cursor: pointer;
                    font-size: 12px;
                    line-height: normal;
                    text-align: right;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    top: 20px;
                    right: 14px;
                    width: 94px;
                    .less-filters,
                    .more-filters{
                        border-bottom: 1px solid @color-black;
                        &.more-hidden{
                            display: none;
                        }
                    }
                }
                .filter-actions-holder{
                    position: relative;
                    overflow: hidden;
                    .amshopby-filter-current{
                        .filter-current-subtitle{
                            display: none;
                        }
                        .amshopby-filter-name{
                            display: none;
                        }
                    }
                    .filter-actions{
                        float: left;
                        padding: 10px 30px 10px 0;
                        font-size: 12px;
                        min-width: 100px;
                        box-sizing: border-box;
                        a{
                            text-transform: uppercase;
                            text-decoration: underline;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                    .amshopby-items{

                        font-size: 12px;
                        padding: 20px 30px 10px 0;
                        li{
                            display: inline-block;
                            vertical-align: top;
                            margin-right: 10px;
                            background: #bd7f32;
                            border-radius: 20px;
                            color: white;
                            padding: 0px 20px 0px 15px;
                            .amshopby-remove{
                                top: 7px;
                            }
                        }
                    }
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    .product-item-info {
                        .badge {
                            right: auto;
                            left: 0;
                            top: 0;
                            font-size: 13px;
                            font-weight: @font-weight__bold;
                            padding: 5px 6px 4px;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .select-fit {
        .select-fit-holder {
            .fit-slider{
                width: 120%;
            }
        }
    }
    .page-with-filter {
        #maincontent{
            &.mobile-frame{
                position: relative;
                z-index: 0;
                &.open-mobile-filter{
                    .block-filter-holder{
                        &:after{
                            width: 100%;
                        }
                    }
                    .filter-content{
                        left: 0;
                    }
                }
            }
        }
        #amasty-shopby-product-list{
            .toolbar-sorter{
                display: none;
            }
        }
        .block {
            &.filter {
                height: auto;
                .sorter-mobile{
                    display: block !important;
                    border-bottom: 1px solid @color-gray80;
                    margin-bottom: 30px;
                    .sorter-label{
                        padding: 10px 15px;
                        font-family: @font-family__second;
                        font-weight: @font-weight__bold;
                        font-size: 12px;
                        display: block;
                    }
                    .select-options{
                        padding: 0;
                        list-style:none;
                        li{
                            padding: 10px 35px 10px 15px;
                            position: relative;
                            max-width: 5px 0;
                            &:after{
                                content:'';
                                width: 17px;
                                height: 17px;
                                position: absolute;
                                right: 15px;
                                top: 12px;
                                border: 1px solid @color-black;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                            }
                            &:before{
                                content:'';
                                width: 11px;
                                height: 11px;
                                position: absolute;
                                right: 19px;
                                top: 16px;
                                display: none;
                                background: @color-black;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                            }
                            &:hover,
                            &.active-sort{
                                &:before{
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .filter-title{
                    margin-top: 0;
                    padding: 10px 35px 10px 12px;
                    background: @color-white;
                    position: relative;
                    width: 100%;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    &:not(.filter-title-mobile){
                        &:after{
                            content: '\e616';
                            font-family: 'icons-blank-theme';
                            font-size: 30px;
                            line-height: 30px;
                            position: absolute;
                            top: 6px;
                            right: 12px;
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
                .block-filter-holder{
                    &:after{
                        /* content:'';
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        width: 0;
                        height: 100%;
                        background: @color-black;
                        opacity: 0.5;
                        -webkit-transition: width ease-in-out .5s;
                        -moz-transition:width ease-in-out .5s;
                        -ms-transition:width ease-in-out .5s;
                        -o-transition: width ease-in-out .5s;
                        transition: width ease-in-out .5s; */
                    }
                    .filter-content {
                        /* position: fixed;
                        width: 100%;
                        max-width: 85%;
                        height: 100%;
                        top: 0;
                        left: -85%;
                        z-index: 100;
                        display: block;
                        background: @color-white;
                        padding-top: 50px;
                        -webkit-transition: left ease-in-out .5s;
                        -moz-transition:left ease-in-out .5s;
                        -ms-transition:left ease-in-out .5s;
                        -o-transition: left ease-in-out .5s;
                        transition: left ease-in-out .5s;
                        overflow-y: scroll; */

                        .close-btn{
                            display: block !important;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            &:after{
                                content: '\e616';
                                font-family: 'icons-blank-theme';
                                font-size: 32px;
                                line-height: 32px
                            }
                        }
                        .filter-options{
                            max-width: 100%;
                            margin:5px 0;
                        }
                        .filter-title-mobile{
                            display: block !important;
                            float: none;
                            padding: 10px 15px;
                            font-family: @font-family__second;
                            font-weight: @font-weight__bold;
                            strong{
                                font-weight: @font-weight__bold;
                            }
                        }
                    }
                    .filter-actions-mobile{
                        display: block !important;
                        &:not(.filter-actions-mobile){
                            display: none;
                        }
                    }
                }
                .filter-actions-holder{
                   /* position: absolute; */
                    width: 100%;
                    bottom: 50px;
                    left: 0;
                    text-align: center;
                    .filter-actions{
                        padding: 20px;
                        float: none;
                        a.filter-clear{
                            text-decoration: none;
                            font-size: 12px;
                            padding: 10px;
                            width: 100%;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            border: 1px solid @color-black;
                            display: block;
                        }
                    }
                    #am-shopby-container{
                       /*  display: none; */
                    }
                }

                .filter-toggle {
                    left: 5px;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product {
        &-item {
            .products-grid & {
                margin-bottom: @indent__l;
            }

            &-actions {
                display: block;

                .actions-primary + .actions-secondary {
                    > * {
                        white-space: normal;
                    }
                }
            }
        }
    }

    .products-grid .product-item {
        width: 100%/3;
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                margin-left: 2%;
                padding: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                margin-left: 2%;
                padding: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
                margin: 0 0 20px;
                padding: 0 12px;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
                display: -ms-grid;
                display: grid;
                grid-auto-flow: dense;
                grid-auto-columns: 50% 50%;
                grid-template-columns: 297px 297px 297px 297px;
                grid-gap: 28px;
            }

            .product-item {
                margin-left: 2%;
                padding: 0;
                width: calc(~'(100% - 6%) / 4');

                &:nth-child(3n + 1) {
                    margin-left: 2%;
                }

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: auto;
                    grid-column: span 1;
                    grid-row: span 1;
                    margin-bottom: 22px;
                    .product-item-info {
                        width: 100%;
                        position: relative;
                        .badge {
                            right: auto;
                            left: 0;
                            top: 0;
                            font-size: 13px;
                            text-align: center;
                            width: 20%;
                            height: 30px;
                            line-height: 30px;
                            font-weight: @font-weight__bold;
                            padding: 5px 6px 4px;
                        }
                    }
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
