// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@toolbar-mode-icon-font-size: 24px;
@toolbar-element-background: @panel__background-color;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-products {
        .columns {
            position: relative;
            z-index: 1;
        }
    }

    .toolbar {
        &:extend(.abs-add-clearfix all);
    }

    .search-back,
    .total-result-count {
        display: none;
    }

    .toolbar-amount {
        display: block;
        margin: 0;
        vertical-align: middle;
        font-size: @font-size__s;
        letter-spacing: 0.5px;

        .products.wrapper ~ .toolbar & {
            display: none;
        }
    }

    .toolbar-products {
        text-align: center;
        &:extend(.abs-add-clearfix all);

        .pages {
            display: none;

            .products.wrapper ~ & {
                display: block;
            }
        }

        .limiter {
            .control {
                display: inline-block;
            }
        }
    }

    .sorter {
        .sorter-select-holder{
            position: relative;
            display: inline-block;
            vertical-align: top;
            .select-styled{
                position: relative;
                text-align: left;
                padding-right: 20px;
                cursor: pointer;
                &:after {
                    content: @ico-var-chevron-down;
                    font-family: @font-icons__font-name;
                    position: absolute;
                    right: 0;
                    top: 6px;
                    font-size: 11px;
                    line-height: 14px;
                    -webkit-transition: all ease-in-out .3s;
                    -moz-transition: all ease-in-out .3s;
                    -ms-transition: all ease-in-out .3s;
                    -o-transition: all ease-in-out .3s;
                    transition: all ease-in-out .3s;
                }
                &.active{
                    &:after {
                        -webkit-transform: rotate(-180deg);
                        -moz-transform: rotate(-180deg);
                        -ms-transform: rotate(-180deg);
                        -o-transform: rotate(-180deg);
                        transform: rotate(-180deg);
                    }
                }
            }
            .select-options{
                position: absolute;
                background: white;
                border: 1px solid #f0ede8;
                text-align: left;
                top: 100%;
                left: 0px;
                right: 0;
                margin-left: -68px;
                padding: 10px 20px 20px 20px;
                list-style: none;
                width: 139px;
                z-index: 99;
                max-height:1000px;
                -webkit-transition: all ease-in-out 0.3s;
                -moz-transition: all ease-in-out 0.3s;
                -ms-transition: all ease-in-out 0.3s;
                -o-transition: all ease-in-out 0.3s;
                transition: all ease-in-out 0.3s;
                &.select-hide {
                    max-height:0;
                    overflow:hidden;
                    opacity:0;
                }
                >li{
                    cursor: pointer;
                    margin: 4px 0;
                }
            }
            select{
                display: none;
            }
        }
        .sorter-label {
            letter-spacing: 0.5px;
            text-transform: uppercase;
            &:after {
                content: ':';
                margin-left: 3px;
                position: relative;
                bottom: 1px;
            }
        }

        .products.wrapper ~ .toolbar & {
            display: none;
        }

        .sorter-action {
            display: none;
        }
    }

    .sorter-options {
        margin: 0 0 0 7px;
        width: auto;
        padding: 0;
        letter-spacing: 0.5px;
        border: 0;
    }

    .sorter-action {
        vertical-align: top;
        .lib-icon-font(
            @icon-arrow-up,
            @_icon-font-size: 28px,
            @_icon-font-line-height: 32px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover,
            @_icon-font-text-hide: true
        );
    }

    .sorter {
        .sort-desc {
            &:before {
                content: @icon-arrow-down;
            }
        }
    }

    .modes {
        display: none;
    }

    .limiter-options {
        margin: 0 5px 0 7px;
        width: auto;
    }

    .limiter-label {
        font-weight: @font-weight__regular;
    }

    .limiter {
        .page-products .toolbar & {
            display: none;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .columns {
            padding-top: 0;
            position: relative;
            z-index: 1;
        }
    }

    .toolbar {
        .products.wrapper ~ & .pages {
            float: left;
        }
    }

    .toolbar-amount {
        float: left;
    }

    .sorter {
       /* float: right; */
    }

    .modes {
        display: inline-block;
        float: left;
        margin-right: @indent__base;

        .products.wrapper ~ .toolbar & {
            display: none;
        }
    }

    .modes-label {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .modes-mode {
        .lib-css(color, @text__color__muted);
        border: 1px solid @border-color__base;
        border-right: 0;
        float: left;
        font-weight: @font-weight__regular;
        line-height: 1;
        padding: 7px 10px;
        text-align: center;

        &:not(.active) {
            &:hover {
                .lib-css(color, @text__color__muted);
                background: darken(@toolbar-element-background, 7%);
            }
        }

        &:last-child {
            border-right: 1px solid @border-color__base;
        }

        &.active {
            .lib-css(color, @primary__color__light);
        }

        .lib-icon-font(
            @icon-grid,
            @_icon-font-size: @toolbar-mode-icon-font-size,
            @_icon-font-text-hide: true,
            @_icon-font-color: @text__color__muted,
            @_icon-font-color-hover: @text__color__muted
        );
    }

    .mode-list {
        .lib-icon-font-symbol(@icon-list);
    }

    .toolbar {
        .products.wrapper ~ & .limiter {
            display: block;
            float: right;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .catalogsearch-result-index {
        .total-result-count {
            display: block;
            position: absolute;
            top: -46px;
            right: 15px;
        }
        .search-back {
            display: block;
            position: absolute;
            top: -38px;
            left: 20px;
            span {
                width: 8px;
                height: 8px;
                border-top: 2px solid #000;
                display: block;
                border-left: 2px solid #000;
                transform: rotate(-45deg);
            }
        }
    }

}
