/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */

//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .header {
        &.links.Parent {
            .customer-welcome {
                span {
                    &.customer-name {
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }

            .customer-menu {
                .header.links {
                    top: 50px;
                }

                .wishlist {
                    a {
                        display: flex;
                        align-items: center;
                        &:after {
                            content: '';
                            display: inline-block !important;
                            content:'\e600';
                            font-family: 'icons-blank-theme';
                            font-size: 36px;
                            line-height: 0.9em;
                            vertical-align: top;
                        }
                    }
                    .counter.qty{
                        font-size: 11px;
                        margin-left: -9px;
                        line-height: 2.5em;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
    .account {
        &.sales-order-history {
            .column {
                &.main {
                    border: 1px solid #E9E9E9;
                }
            }

            .toolbar {
                .limiter {
                    display: none;
                }
            }

            .actions-toolbar {
                display: none;
            }
        }

        &.wishlist-index-index {
            .block-wishlist {
                display: none;
            }
            .wishlist-block-top{
                padding: 35px 40px;
                border: 1px solid @color-gray91;
                margin-bottom: 40px;
                .block-title{
                    margin-bottom: 0;
                    >strong{
                        font-size: 14px !important;
                        text-transform: uppercase;
                        line-height: 2em !important;
                        margin: 0 !important;
                    }
                }
                .actions-toolbar{
                    .action{
                        &.tocart{
                            text-transform: uppercase;
                            font-family: @font-family__second;
                            font-weight: @font-weight__bold;
                            padding: 13px 49px 14px;
                        }
                        &.share{
                            font-weight: @font-weight__regular;
                            border: none;
                            padding: 0;
                            vertical-align: middle;
                            padding-left: 40px;
                            font-size: 16px;
                            position: relative;
                            margin-left: 20px;
                            &:after{
                                content:'';
                                width: 31px;
                                height: 23px;
                                position: absolute;
                                left: 0;
                                top: 50%;
                                background: url('../images/icons/share-link.png') 0 0 no-repeat;
                                -webkit-background-size: 100% 100%;
                                background-size: 100% 100%;
                                overflow: hidden;
                                -webkit-transform: translateY(-50%);
                                -moz-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                -o-transform: translateY(-50%);
                                transform: translateY(-50%);
                            }
                            &:focus,
                            &:hover{
                                background: none;
                                color: inherit;
                            }

                        }
                    }
                }
            }
            .products-grid {
                margin: 0 -13px;
                .product-item{
                    margin: 0;
                    width: 100%;
                    max-width: 33.3333%;
                    padding: 10px 13px;
                    .product-item-info{
                        width: auto;
                    }
                }
            }
            .product-item-actions {
                margin-top: 0;
                overflow: hidden;
                .actions-primary{
                    display: block;
                    .action{
                        width: 100%;
                        text-transform: uppercase;
                    }
                }
                .action.edit{
                    text-transform: uppercase;
                    font-family: @font-family__second;
                    font-weight: @font-weight__bold;
                    font-size: 12px;
                }
                .btn-remove{
                    text-transform: uppercase;
                    font-family: @font-family__second;
                    float: right;
                    position: relative;
                    padding-left: 30px;
                    font-size: 12px;
                    font-weight: @font-weight__bold;
                    &:before{
                        content: '\e616';
                        font-family: 'icons-blank-theme';
                        font-size: 26px;
                        line-height: 26px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }

                }
            }
        }

        .block-wishlist {
            float: right;
            width: 100%;

            .block-title {
                text-transform: uppercase;
                letter-spacing: 0.8px;
            }

            .product-image-photo {
                position: relative;
            }

            .product-item {
                margin-right: 26px;
                float: left;
            }

            .product-item-info {
                width: inherit;
            }

            .product-item-name {
                letter-spacing: 0.5px;
                line-height: 26px;
            }
        }

        .page-title {
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 24px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .orders-history {
            margin-bottom: 0;
            .table {
                > thead {
                    tr > {
                        th {
                            letter-spacing: 0.4px;
                            font-weight: 400;
                            font-size: 10px;
                            text-transform: uppercase;
                            padding-left: 0;
                            line-height: 20px;
                            border-bottom: none;

                            &.actions {
                                font-size: 0;
                            }
                        }
                    }
                }

                > tbody {
                    tr > {
                        td {
                            padding-left: 0;
                            letter-spacing: 0.5px;
                            border-bottom: solid 1px #e9e9e9;

                            &.status {
                                color: #4A8002;
                            }

                            &.actions {
                                text-transform: uppercase;
                                font-weight: 700;
                            }
                        }

                        &:last-child {
                            td {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }

            .empty {
                letter-spacing: 0.5px;
            }
        }
        &.magento_rma-returns-create{
            #rma_create_form{
                padding: 35px 40px;
                border: 1px solid @color-gray91;
                margin-bottom: 10px;
                .block-title{
                    margin-bottom: 10px;
                    >strong{
                        font-size: 14px !important;
                        text-transform: uppercase;
                        line-height: 2em !important;
                        margin: 0 !important;
                    }
                }
            }
            #rma_create_form_accordion{
                .rma_accordeon-title{
                    background: @color-gray-light0;
                    padding: 15px 20px;
                    overflow: hidden;
                    pointer-events: none;
                    margin-bottom: 1px;
                    &.allow{
                        .rma_step{
                            display: none;
                        }
                        .rma_step_edit{
                            pointer-events: auto;
                            display: block;
                        }
                    }
                    &.active{
                        .rma_step{
                            display: block;
                        }
                        .rma_step_edit{
                            display: none;
                        }
                    }
                    .title{
                        font-family: @font-family__second;
                        font-weight: @font-weight__bold;
                        font-size: 14px;
                        line-height: 17px;
                        text-transform: uppercase;
                    }
                    .rma_step_edit,
                    .rma_step{
                        float: right;
                        text-decoration: underline;
                        cursor: pointer;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    .rma_step_edit{
                        display: none;
                    }
                    ~div[data-role="content"]{
                        padding: 20px 0;
                        .info-block{
                            padding: 20px 0;
                        }
                        .actions-toolbar{
                            margin-left: 0;
                            .primary{
                                display: block;
                                float: none;
                            }
                            .action.primary{
                                text-transform: uppercase;
                                width: 100%;
                                max-width: 292px;
                                text-align: center;
                                padding: 9px 15px;
                            }
                        }
                    }
                }
                .uncheck-product-return-link{
                    cursor: pointer;
                    display: none;
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
                .rma_select_items_table{
                    tr{
                        &:last-child{
                            &.uncheck-product-return-link-holder {
                                td{
                                    border: none;
                                }
                            }
                        }
                    }
                    td{
                        padding: 24px 12px 8px;
                    }
                    .image-holder{
                        width: 100px;
                        padding-left: 0;
                        padding-right: 10px;
                    }
                    .actions-col{
                        width: 50%;
                        text-transform: uppercase;
                        .return-ratio{
                            position: relative;
                            overflow: hidden;
                            input[type="radio"]{
                                position: absolute;
                                top: -70px;
                                &:checked{
                                    +label{
                                        &:after{
                                            display: block;
                                        }
                                    }
                                }
                            }
                            label{
                                position: relative;
                                padding-left: 27px;
                                display: inline-block;
                                line-height: 20px;
                                &:before{
                                    content:'';
                                    width: 18px;
                                    height: 17px;
                                    border: 1px solid @color-black;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    border-radius: 50%;
                                }
                                &:after{
                                    content:'';
                                    display: none;
                                    width: 12px;
                                    height: 12px;
                                    background: @color-black;
                                    position: absolute;
                                    top: 4px;
                                    left: 4px;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    border-radius: 50%;
                                }
                            }
                        }
                        .qty-box{
                            margin-bottom: 15px;
                            label{
                                display: inline-block;
                                margin-right: 10px;
                                min-width: 100px;
                                vertical-align: middle;
                            }
                            input[type="number"]{
                                max-width: 75px;
                                display: inline-block;
                                vertical-align: middle;
                                border: none;
                                background: @color-gray-light0;
                            }
                        }
                        .reason-box{
                            label{
                                display: inline-block;
                                margin-right: 10px;
                                min-width: 100px;
                                vertical-align: middle;
                            }
                            select{
                                width: 100%;
                                max-width: calc(~'100% - 115px');
                                display: inline-block;
                                border: none;
                                background: @color-gray-light0
                            }
                        }
                    }
                    .product-detail{
                        .item-product-name{
                            text-transform: uppercase;
                            font-family: @font-family__second;
                            font-weight: @font-weight__bold;
                        }
                    }
                    .item-options{
                        width: 100%;
                        max-width: 190px;
                        overflow: hidden;
                        margin-bottom: 0;
                        dt{
                            display: inline-block;
                            vertical-align: top;
                            font-weight: @font-weight__regular;
                        }
                        dd{
                            float: right;
                            display: inline-block;
                            vertical-align: top;
                            text-align: right;
                        }
                    }
                    .uncheck-product-return-link-holder {
                        td{
                            border-bottom: 1px solid @color-gray91;
                            padding: 8px 0;
                        }
                    }
                }
            }
            .actions-holder{
                text-align: right;
                .actions-frame{
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    width: 50%;
                    padding: 8px 12px;
                    box-sizing: border-box;
                    .action.primary{
                        text-transform: uppercase;
                        width: 100%;
                        max-width: 292px;
                        text-align: center;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
            .actions-toolbar.rma_back_link{
                a{
                    font-family: @font-family__second;
                    font-weight: @font-weight__bold;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: uppercase;
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .account {
        .block-wishlist {
            margin-top: 40px;

            .block-title strong {
                font-size: 40px;
                line-height: 54px;
            }

            .product-items {
                display: inline-block;
            }
        }

        .account-main-column {
            width: 73.7%;
            float: right;

            .column.main {
                width: 100%;
            }
        }

        .page-main {
            margin-top: 38px;
        }

        &.sales-order-history {
            .column {
                &.main {
                    padding: 40px;
                    position: relative;
                }
            }

            .order-products-toolbar {
                position: absolute;
                top: 40px;
                right: 40px;
                .pages{
                    position: absolute;
                    width: 100%;
                    z-index: 0;
                    top: -34px;
                    right: 0;
                    text-align: right;
                }
            }
        }

        .orders-history {
            .table {
                > tbody {
                    tr {
                        td {
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
}



//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .account {
        .block-wishlist {
            margin-top: 22px;
            .block-title strong {
                font-size: 24px;
                line-height: 34px;
            }

            .product-items {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
            }

            .product-item {
                flex: 0 0 auto;
            }
        }

        .account-main-column {
            width: 100%;
            order: 2;
        }

        .page-main {
            margin-top: 20px;
        }

        &.sales-order-history {
            .column {
                &.main {
                    padding: 28px 24px;
                    margin-bottom: 70px;
                }
            }

            .order-products-toolbar {
                .toolbar-amount {
                    position: absolute;
                    margin-top: 46px;
                    margin-bottom: 0;
                    text-align: center;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .orders-history  {
             .table {
                > tbody {
                    > tr {
                        border-bottom: solid 1px #e9e9e9;

                        &:last-child {
                            border-bottom: none;
                            td {
                                &.actions {
                                    padding-bottom: 0 !important;
                                }
                            }
                        }

                        td {
                            line-height: 24px;
                            display: grid !important;
                            align-items: center;
                            grid-template-columns: 1fr 1fr;
                            &[data-th] {
                                &:before {
                                    content: attr(data-th) !important;
                                    font-weight: 400 !important;
                                    font-size: 10px;
                                    text-transform: uppercase;
                                    line-height: 20px;
                                }
                            }

                            &.actions {
                                justify-content: flex-start;
                                &[data-th] {
                                    &:before {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
             }
        }
        &.wishlist-index-index {
            .products-grid {
                .product-item{
                    max-width: 100% !important;
                    margin-bottom: 30px !important;

                }
                .product-item-photo{
                    width: calc(~'50% - 24px');
                }
                .product-image-container{
                    max-width: 100%;
                }
            }
            .wishlist-block-top {
                padding-left: 24px !important;
                padding-right: 24px !important;
                .actions-toolbar {
                    .action{
                        &.tocart{
                            margin-bottom: 30px;
                        }
                        &.share{
                            width: auto;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .products-grid {
            &.wishlist{
                .product-item .price-box,
                .product-item-description,
                .product-item-tooltip,
                .product-item-name{
                    margin-left:  calc(~'50% - 24px');
                }
                .product-item-inner{
                    overflow: hidden;
                    width: 100%;
                    .box-tocart{
                        margin: 0 0 20px !important;
                        float: none;
                        width: 100%;
                    }
                    .product-item-actions{
                        float: none;
                        width: 100%;
                    }
                }
            }

        }
        .sidebar-main{
            width: 100%;
            .account-nav-content{
                width: auto;
                background: @color-gray-light0;
                margin: 0 -15px;
                padding: 13px 0;
                .nav.items{
                    overflow: hidden;
                    &:not(.slick-initialized){
                        width: 300%;
                    }
                }
                .item{
                    min-width: 25vw;
                    padding: 0 15px;
                    margin-bottom: 0;
                    white-space: nowrap;
                    float: left;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

            }
        }

        .wishlist-toolbar {
            .pager {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .account-nav {
        .account-nav-title{
            border: none;
        }
    }
}
