// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-nav-background: @sidebar__background-color;
@account-nav-color: false;

@account-nav-current-border: 3px solid transparent;
@account-nav-current-border-color: @active__color;
@account-nav-current-color: false;
@account-nav-current-font-weight: @font-weight__semibold;

@account-nav-delimiter__border-color: @color-gray82;

@account-nav-item-hover: @color-gray91;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________


& when (@media-common = true) {
    .login-container {
        .block {
            &-new-customer {
                .lib-css(background-color, @brand-color5);
                .account-featured-content {
                    > p {
                        margin-bottom: 20px;
                    }
                    li img {
                        float: left;
                        margin: 2px 10px 0 0;
                    }
                }
                p {
                    letter-spacing: 0.5px;
                }
                ul {
                    .lib-list-reset-styles();
                }
                .actions-toolbar {
                    margin-top: 35px;
                    .primary {
                        width: 100%;
                    }
                    .action.create {
                        width: 100%;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                        font-weight: @font-weight__regular;
                        padding: 9px 50px;
                        margin: 0;
                    }
                }
            }
            &-customer-login {
                .lib-css(background-color, @brand-color5);
            }
            .block-title {
                .lib-font-size(24);
                .lib-line-height(34);
                letter-spacing: 0.8px;
                text-transform: uppercase;
                font-family: @font-family-name__secondary;
                font-weight: @font-weight__bold;
                margin-bottom: 30px;
            }
            .login {
                .actions-toolbar {
                    > .primary {
                        button.login {
                            width: 100%;
                            text-transform: uppercase;
                            letter-spacing: 0.5px;
                            font-weight: @font-weight__regular;
                            padding: 13px 50px;
                            margin: 0;
                        }
                    }
                    > .secondary {
                        .remind {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .fieldset {
            > .field {
                margin: 0 0 20px;
                &.note {
                    .lib-visually-hidden();
                }
            }
            #remember-me-box {
                margin: 25px 0;
                .tooltip.wrapper {
                    .lib-visually-hidden();
                }
            }
        }
    }
    .block-dashboard-orders {
        padding: 35px 40px;
        border: 1px solid @color-gray91;
        margin-bottom: 40px;
        .block-title {
            overflow: hidden;
            strong {
                font-size: 14px !important;
                text-transform: uppercase;
                line-height: 2em !important;
                float: left;
                margin: 0 !important;
            }
            .action.view{
                text-decoration: underline;
                float: right;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-address-edit {
        .region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }

        .fieldset {
            > .field.field-dob {
                overflow: inherit;
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-information,
    .box-newsletter {
        .box-content {
            .lib-wrap-words();
            line-height: 26px;
        }
    }

    .customer-account-login {
        .page-title-wrapper {
            .lib-visually-hidden();
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            &.field {
                > .label {
                    &:extend(.abs-visually-hidden all);

                    + .control {
                        width: 100%;
                    }
                }
            }

            .field {
                &:extend(.abs-add-clearfix all);
            }
        }
    }

    //
    //  My account
    //  ---------------------------------------------

    .account {
        .column.main {
            h2 {
                margin-top: 0;
            }

            .toolbar {
                text-align: center;
                .limiter-options {
                    width: auto;
                }
            }

            .limiter {
                >.label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }

            .table-wrapper{
                th {
                    padding-left: 0;
                    padding-right: 0;
                    font-weight: @font-weight__regular;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-family: @font-family__base;
                    border-bottom: none;
                }
                td {
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 14px;
                    font-family: @font-family__base;
                }
            }
        }

        .sidebar-additional {
            margin-top: 40px;
        }

        .table-wrapper {
            &:last-child {
                margin-bottom: 0;
            }

            .action {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
        .customer-newsletter-subscription{
            padding: 35px 40px;
            border: 1px solid @color-gray91;
            margin-bottom: 40px;
            .fieldset>.field.choice:before,
            .fieldset>.field.no-label:before{
                display: none;
            }
            .block-title{
                margin-bottom: 0;
                >strong{
                    font-size: 14px !important;
                    text-transform: uppercase;
                    line-height: 2em !important;
                    margin: 0 !important;
                }
            }
            .actions-toolbar{
                margin-left: 0 !important;
                .primary{
                    .action{
                        text-transform: uppercase;
                    }
                }
            }
        }
        .customer-promotions-block{
            padding: 35px 40px;
            border: 1px solid @color-gray91;
            margin-bottom: 40px;
            .block-title{
                margin-bottom: 0;
                >strong{
                    font-size: 14px !important;
                    text-transform: uppercase;
                    line-height: 2em !important;
                    margin: 0 !important;
                }
            }
            .pagebuilder-column-group{
                .pagebuilder-column{
                    padding-left: 20px;
                    max-width: 48%;
                    &:first-child{
                        padding-left: 0;
                        padding-right: 20px;
                    }
                    div[class^="discover-promotion-"]{
                        margin-top: 30px;
                        a{
                            text-decoration: underline;
                            font-weight:@font-weight__regular;
                            font-size: 14px;
                        }
                    }
                }
            }
            .promotions-popup{
                display: none;
                z-index: 2;
                &:after{
                    content:'';
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0.5;
                    background: @color-black;
                }
                .popup-content{
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    max-width: 800px;
                    width: 100%;
                    background: @color-white;
                    padding: 50px 110px;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    max-height: 90%;
                    overflow-y: auto;
                    z-index: 2;
                    .close-btn{
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        cursor: pointer;
                        &:after{
                            content: '\e616';
                            font-family: 'icons-blank-theme';
                            font-size: 32px;
                            line-height: 32px
                        }
                    }
                    h2,
                    h3,
                    h4,
                    h5,
                    h6{
                        text-transform: uppercase;
                    }
                }
                &.open-popup{
                    display: block;
                }
            }
        }
        &.sales-order-view,
        &.sales-order-invoice,
        &.sales-order-shipment {
            .block-order-details-view{
                padding: 30px;
                border: 1px solid @color-gray91;
                margin-bottom: 0px;
                +.actions-toolbar{
                    margin-bottom: 40px;
                    font-family: @font-family__second;
                    font-size: 14px;
                    font-weight: @font-weight__bold;
                    text-transform: uppercase;
                    a{
                        text-decoration: underline;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }

            .price-including-tax,
            .price-excluding-tax {
                .price {
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            .order-history-tlte{
                font-family: @font-family__second;
                font-size: 14px;
                border: none;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            .order-history-top-info{
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid @color-gray91;
                .table-wrapper {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    table{
                        max-width: 50%;
                        width: 100%;
                        td{
                            span{
                                display: none;
                            }
                        }
                    }
                    .action.primary{
                        text-transform: uppercase;
                    }
                }
                .track-link{
                    text-transform: uppercase;
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
                .return-policy-link{
                    a{
                        text-decoration: underline;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
            .order-details-items{
                border-bottom: 1px solid @color-gray91;
                .order-title{
                    strong{
                        font-size: 16px;
                        text-transform: uppercase;
                        font-family: @font-family__second;
                        margin: 0;
                    }
                }
                .order-items{
                    legend{
                        text-transform: uppercase;
                        font-family: @font-family__second;
                    }
                    .table-order-items{
                        tr{
                            td{
                                padding: 0;
                                &:first-child{
                                    width: 120px;
                                    padding-right: 20px;
                                    img{
                                        width: 100%;
                                        max-width: 100%;
                                        height: auto;
                                    }
                                }
                                span.dd-item{
                                    display: none;
                                }
                                span{
                                    &.price{
                                        font-weight: @font-weight__regular;
                                        font-size: 14px;
                                    }
                                    &.price-including-tax,
                                    &.price-excluding-tax{
                                        display: inline-block;
                                        vertical-align: top;
                                    }
                                }
                            }
                        }
                        .product-item-name{
                            font-size: 14px;
                            text-transform: uppercase;
                            font-family: @font-family__second;
                            font-weight: @font-weight__bold;
                        }
                        .product-main-info{
                            width: 50% !important;
                        }
                        dl.item-options{
                            margin-bottom: 0;
                            dd,
                            dt{
                                width: 100%;
                                font-weight: @font-weight__regular;
                                max-width: 45%;
                                margin-bottom: 0;
                                display: inline-block;
                                vertical-align: top;
                            }
                        }
                        table{
                            td{
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
            .block-order-details-frame{
                .block-content{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    .box{
                        width: 50%;
                    }
                    .box-title{
                        text-transform: uppercase;
                        font-weight: @font-weight__regular;
                        margin: 0 0 20px;
                        span{
                            font-size: 10px !important;
                            font-family: @font-family-name__base !important;
                        }
                    }
                    table{
                        th,
                        td{
                            padding: 0;
                            font-weight: @font-weight__regular;
                        }
                    }
                }
            }
        }
    }
    .account-benefit-block{
        padding: 30px;
        border: 1px solid @color-gray91;
        margin-bottom: 40px;
        h6{
            text-transform: uppercase;
        }
        ul{
            list-style:none;
            padding: 0;
            margin: 0;
            img{
                display: inline-block;
                vertical-align: top;
                margin-right: 5px;
            }
        }
        .pagebuilder-button-link{
            text-decoration: underline;
            font-weight:@font-weight__regular;
            font-size: 14px;
        }
    }
    .account-help-block-holder{
        background: @color-gray-light0;
        padding: 70px;
        h4{
            text-transform: uppercase;
        }
        ul{
            list-style:none;
            padding: 0;
            margin: 0 0 30px;
            img{
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }
    //  Checkout address (create shipping address)
    .field.street {
        .field {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Account navigation
    //  ---------------------------------------------

    .account-nav {
        .title {
            &:extend(.abs-visually-hidden all);
        }
        .account-nav-title{
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid @color-gray91;
            strong{
                font-family: @font-family__second;
                text-transform: uppercase;
                font-size: 16px;
            }
            a{
                text-decoration: underline;
                display: inline-block;
                vertical-align: top;
                margin-left: 20px;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .content {
            padding: 15px 0;
        }

        .item {
            margin: 0 0 10px;

            &:first-child {
                margin-top: 0;
            }

            a,
            > strong {
                .lib-css(color, @account-nav-color);
                font-family: @font-family__second;
                //display: block;
                padding: @indent__xs 0;
                text-transform: uppercase;
                font-weight: @font-weight__bold;
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.current {
                a,
                strong {
                    //.lib-css(border-color, @account-nav-current-border-color);
                    .lib-css(color, @account-nav-current-color);
                    text-decoration: underline;
                }
            }

            .delimiter {
                border-top: 1px solid @account-nav-delimiter__border-color;
                display: block;
                margin: @indent__s 1.8rem;
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            margin-bottom: @indent__s;

            strong {
                .lib-heading(h4);
                .column.main & {
                    font-size: @h3__font-size;
                }
            }
        }

        p:last-child {
            margin: 0;
        }

        .box-actions {
            margin-top: @indent__xs;
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    .form-edit-account,
    .form-address-edit {
        border: 1px solid @color-gray91;
        padding: 44px 40px;
        box-sizing: border-box;
        margin-bottom: 40px;
        .fieldset {
            margin-bottom: 0;
            max-width: 630px;
            width: 100%;
            .legend {
                font-family: @font-family__second;
                margin: 0 0 25px;
                font-size: @font-size__s;
                line-height: 24px;
                letter-spacing: 0.4px;
                font-weight: @font-weight__bold;
                text-transform: uppercase;
            }
            > .field {
                margin: 0 0 24px;
                overflow: hidden;
                &.country,
                &.field-customer_mobile_number_prefix,
                &.field-name-lastname,
                &.field-name-firstname{
                    width: 50%;
                    float: left;
                    margin: 0 0 25px;
                }
                &.city,
                &.telephone {
                    width: 100%;
                }
                &.field-customer_mobile_number_prefix,
                &.country,
                &.field-name-firstname{
                    padding-right: 12px;
                }
                &.country.wide {
                    width: 100%;
                }
            }
            > .field:not(.choice) {
                > .control {
                    width: 100%;

                }
                > .label {
                    .lib-visually-hidden();
                }
                input[type="text"],
                select,
                .input-text {
                    background-color: @color-gray-light0;
                    border: none;
                }
                #street_1{
                    margin-bottom: 13px;
                }
            }
            > .field.choice:before {
                display: none;
            }
        }
        .actions-toolbar {
            margin: 0 !important;
            max-width: 630px;
            .primary,
            .secondary {
                width: 50%;
            }
            .secondary{
                text-align: right;
                .action{
                    text-align: center;
                }
            }
            .action.back,
            .action.submit.primary {
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                line-height: 40px;
                border: 2px solid @color-black;
                font-size: @font-size__s;
                background-color: transparent;
                color: @color-black;
                font-weight: 600;
                letter-spacing: 0.5px;
                width: 100%;

            }
        }
    }

    .customer-address-index {
        .page-title-wrapper {
            display: none;
        }
        .actions-toolbar {
            .action.primary.add {
                letter-spacing: 0.4px;
                color: @color-black;
                background-color: transparent;
                padding: 0;
                margin: 0;
                border: 0;
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }

    .block-addresses-list {
        border: 1px solid @color-gray91;
        padding: 28px 38px 34px 38px;
        margin-bottom: 12px;
        .block-title > strong {
            font-size: @font-size__s !important;
            line-height: 24px !important;
            letter-spacing: 0.4px;
            text-transform: uppercase;
        }
        ul {
            .lib-list-reset-styles();
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            li {
                width: 33.33%;
                float: left;
                margin-bottom: 30px;
                > p {
                    margin-bottom: 0;
                    letter-spacing: 0.5px;
                }
                .actions {
                    margin-top: 20px;
                    letter-spacing: 0.5px;
                }
            }
        }
        .toolbar {
            margin-bottom: 0 !important;
            .limiter-options {
                padding: 0;
                height: 24px;
            }
            .toolbar-amount {
                padding: 4px 0 0 !important;
            }
        }
    }

    .block-addresses-default {
        margin-top: 50px;
        border: 1px solid @color-gray91;
        padding: 28px 38px 34px 38px;
        .block-title {
            display: none;
        }
        .box-title > span {
            font-size: @font-size__s !important;
            line-height: 24px !important;
            letter-spacing: 0.4px;
            text-transform: uppercase;
        }
        .block-content {
            > .box {
                margin-bottom: 0 !important;
            }
        }
        .box-actions {
            .action {
                letter-spacing: 0.4px;
                text-decoration: underline;
            }
        }
    }

    .sales-guest-view,
    .sales-guest-shipment,
    .sales-guest-invoice {
        .block-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;

            .box {
                margin-bottom: 24px;
                width: 48.8%;
                &:nth-child(odd) {
                    float: left;
                    clear: left;
                }

                &:nth-child(even) {
                    float: right;
                }
            }

            .box-order-billing-method {
                &:nth-child(3) {
                    display: none;
                }
            }

            .box-title {
                text-transform: uppercase;
                font-weight: 400;
                display: inline-block;
                margin: 0 0 6px;

                span {
                    font-weight: 700;
                    line-height: 3.7rem;
                    margin-top: 2.4rem;
                    margin-bottom: 2.4rem;
                    font-size: 10px;
                    font-family: 'Roboto';
                }
            }
        }

        .price-including-tax,
        .price-excluding-tax {
            .price {
                font-weight: 400;
                font-size: 14px;
            }
        }


        .order-details-items {
            .order-history-top-info {
                td {
                    span {
                        display: none;
                    }
                }
            }

            .order-title {
                > strong {
                    font-size: 16px;
                    text-transform: uppercase;
                    margin: 0;
                }
            }
        }

        table {
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        padding: 8px 0;
                    }
                }
            }
        }
    }

    .sales-order-printinvoice {
        .block-order-details-view {
            .block-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                &:before {
                    display: none;
                }
            }
        }
    }

    .sales-guest-printinvoice,
    .sales-order-printinvoice,
    .sales-guest-print {
        .page-title-wrapper {
            float: right;

            .page-title {
                line-height: 1;
                padding-top: 17px;
            }

            .order-date,
            .order-status {
                display: none;
            }
        }

        .columns {
            display: flex;
            flex-direction: column;
            width: 98%;
            .column.main {
                padding-bottom: 0;
            }
        }

        .order-history-top-info {
            .track-link,
            .action.primary {
                display: none;
            }
        }

        .table-order-items {
            td {
                span {
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            tfoot {
                td {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        .order-title, .block-title {
            margin-bottom: 0;
            strong {
                font-size: 24px !important;
            }
        }

        .logo {
            position: absolute;
            top: 0;
            img {
                display: initial;
            }
        }

        .copyright {
            display: none;
        }

        .copyright-footer {
            text-align: center;
            img {
                width: 178px;
            }

            p {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        table {
            > thead {
                > tr {
                    > th {
                        padding: 8px 0 0;
                    }
                }
            }
        }

        .order-details-items {
            padding-bottom: 0;
        }
    }

    .sales-guest-printinvoice {
        .order-title {
            display: flex;
            flex-direction: column;
        }

        .table-order-items {
            .table {
                > thead {
                    > tr {
                        > th {
                            span {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }

        .block-order-details-view {
            > .block-title {
                display: flex;
                flex-direction: column;
                strong {
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 32px;
                }
            }
        }
    }

    .sales-guest-form {
        .form-orders-search {
            input,
            select {
                border: none;
                background-color: #f6f6f6;
            }

            .submit {
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
            #remember-me-box {
                margin: 18px 0 25px 0;
            }
            &.login {
                margin-bottom: 0;
            }
        }
        .block {
            padding: 25px 15px 30px 15px;
            &-customer-login {
                margin-bottom: 29px;
            }
            &-new-customer {
                .actions-toolbar {
                    margin-top: 10px;
                    .action.create {
                        padding: 0;
                        .lib-line-height(33);
                        .lib-font-size(@font-size__xs);
                    }
                }
            }
            .block-title {
                .lib-font-size(@font-size__m);
                .lib-line-height(26);
                margin-bottom: 15px;
            }
            .login .actions-toolbar {
                > .primary {
                    margin-bottom: 17px;
                    button.login {
                        padding: 0;
                        .lib-line-height(33);
                        .lib-font-size(@font-size__xs);
                    }
                }
                > .secondary {
                    text-align: left;
                    .remind {
                        .lib-font-size(@font-size__xs);
                    }
                }
            }
        }
    }


    .account {
        .messages {
            margin-bottom: 0;
        }

        .toolbar {
            &:extend(.abs-pager-toolbar-mobile all);
        }
        .customer-promotions-block{
            padding-left: 24px;
            padding-right: 24px;
            .pagebuilder-column{
                margin-bottom: 26px;
                max-width: 100% !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
        h4{
            font-size: 16px;
            margin-bottom: 14px;
        }

        &.sales-order-invoice,
        &.sales-order-shipment {
            .box-order-billing-method {
                &:nth-child(3) {
                    display: none;
                }
            }
        }

        &.sales-order-view,
        &.sales-order-invoice,
        &.sales-order-shipment {
            .block-order-details-view{
                padding-left: 15px;
                padding-right: 15px;
            }
            .order-history-top-info {
                .table-wrapper{
                    flex-wrap: wrap;
                    table{
                        max-width: 100%;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid @color-gray91;
                        thead{
                            display: none;
                        }
                        td{
                            display: block;
                            padding: 0;
                            span{
                                display: inline-block;
                                vertical-align: top;
                                width: 45%;
                            }
                        }
                    }
                }
            }
            .order-details-items {
                .order-items {
                    .table-order-items {
                        tr {
                            td{
                                float: left;
                                &:first-child{
                                    width: 80px;
                                }
                                &:not(first-child){
                                    width: calc(~'100% - 100px');
                                }
                                .product-main-info,
                                td{
                                    display: block;
                                    width: 100% !important;
                                    padding: 0 !important;
                                    span.dd-item{
                                        display: inline-block;
                                        width: 100%;
                                        max-width: 45%;
                                        vertical-align: top;
                                    }
                                }
                            }
                            th{
                                display: none !important;
                            }
                        }
                    }
                }
            }
            .block-order-details-frame {
                .block-content {
                    flex-wrap: wrap;
                    .box{
                        width: 100%;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid @color-gray91;
                    }
                }
            }
        }
    }
    .account-benefit-block{
        padding-left: 24px;
        padding-right: 24px;
        .pagebuilder-column{
            margin-bottom: 30px;
        }
    }
    .account-help-block-holder{
        padding-left: 24px;
        padding-right: 24px;
    }
    .block-dashboard-orders{
        padding-bottom: 95px;
        padding-left: 24px;
        padding-right: 24px;
        position: relative;
        .block-title {
            .action{
                &.view{
                    position: absolute;
                    bottom: 37px;
                    white-space: nowrap;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-left: 0 !important;
                }
            }
        }
        #my-orders-table{
            tr{
                border-bottom: 1px solid @color-gray91;
            }
        }
    }
    .control.captcha-image {
        .captcha-img {
            .lib-css(margin-bottom, @indent__s);
            display: block;
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }

    .form.search.advanced {
        .field.price {
            .with-addon {
                .input-text {
                    flex-basis: auto;
                    width: 100%;
                }
            }
        }
    }

    .customer-account-login {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }
        .columns .column.main {
            padding-bottom: 0;
        }
    }

    .form-address-edit {
        padding: 28px 24px;
        .fieldset {
            > .field {
                margin: 0 0 27px;
            }
            .field:not(.choice) {
                select,
                .input-text {
                    height: 44px;
                }
            }
        }
        .actions-toolbar {
            .primary,
            .secondary {
                width: 100%;
            }
            .primary {
                margin-bottom: 30px;
            }
            .action.back,
            .action.submit.primary {
                line-height: 31px;
                border-width: 1px;
                font-size: 12px;
                max-width: 100%;
                display: inline-block;
            }
        }
    }

    .block-addresses-list {
        padding: 28px 24px;
        ul {
            li {
                width: 100%;
                border-bottom: 1px solid @color-gray91;
                padding-bottom: 18px;
                margin-bottom: 18px;
                > p {
                    .lib-font-size(12);
                }
                .actions {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
        .toolbar {
            .toolbar-amount {
                margin-bottom: 10px !important;
                padding: 0 !important;
            }
            .limiter {
                margin-bottom: 0;
            }
        }
    }

    .block-addresses-default {
        padding: 28px 24px;
        .block-content {
            .box.box-address-billing {
                border-bottom: 1px solid @color-gray91;
                padding-bottom: 18px;
                margin-bottom: 18px !important;
            }
        }
        .box-content {
            .lib-font-size(12);
        }
        .box-actions {
            .action {
                font-size: 12px;
            }
        }
    }
    .customer-newsletter-subscription{
        padding: 28px 24px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container {
        display: flex;
        justify-content: space-between;
        &:extend(.abs-add-clearfix-desktop all);

        .block {

            float: left;
            padding: 0px 108px 50px 130px;
            box-sizing: border-box;
            margin-top: 50px;
            width: 50%;
            .login {
                .actions-toolbar {
                    margin-left: 0;

                    > .primary {
                        margin-bottom: 24px;
                        width: 100%;
                        button.login {

                        }
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
            &.block-new-customer {
                float: right;
                margin-bottom: 48px !important;
                .actions-toolbar {
                    .action.create {

                    }
                }
            }

        }

        .fieldset {
            &:after {
                margin-left: 0;
                &:extend(.abs-margin-for-forms-desktop all);
            }

            > .field {
                > .control {
                    width: 100%;
                    max-width: 346px;
                }

                .label {
                    text-align: left;
                    width: 100%;
                }
                &.choice:before {
                    display: none;
                }
            }
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            .field {
                .label {
                    .lib-css(margin, @form-field-type-label-inline__margin);
                    .lib-css(padding, @form-field-type-label-inline__padding);
                    .lib-css(text-align, @form-field-type-label-inline__align);
                    .lib-css(width, @form-field-type-label-inline__width);
                    box-sizing: border-box;
                    float: left;
                }

                .control {
                    .lib-css(width, @form-field-type-control-inline__width);
                    float: left;
                }
            }
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.search.advanced,
    .form.form-orders-search {
        min-width: 600px;
        width: 50%;
    }

    //
    //  My account
    //  ---------------------------------------------

    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 25%;
        }

        .column.main {
            width: 71.8%;
        }
    }

    .account {
        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48.8%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 2.4%;
                }
            }
        }
    }

    //
    //  Welcome block
    //  ---------------------------------------------

    .dashboard-welcome-toggler {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}
