<!--
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */
-->
<span class="product-image-container">
    <span class="product-image-wrapper"  data-bind="style: {'padding-bottom': height/width*100 + '%'}">
        <img class="product-image-photo" data-bind="attr: {src: src, alt: alt}, style: {width: 'auto', height: 'auto'}" />
    </span>
</span>
