<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var $block \Magento\Sales\Block\Order\Recent */
?>
<div class="block block-dashboard-orders">
    <?php
    $_orders = $block->getOrders();
    $count = count($_orders);
    /** @var \Beside\Aramex\Helper\Data $helper */
    $helper = $this->helper('Beside\Aramex\Helper\Data');
    ?>
    <div class="block-title order">
        <strong><?= $block->escapeHtml(__('Your last online orders')) ?>:</strong>
        <?php if ($count > 0) : ?>
            <a class="action view" href="<?= $block->escapeUrl($block->getUrl('sales/order/history')) ?>">
                <span><?= $block->escapeHtml(__('View All Online Orders')) ?></span>
            </a>
        <?php endif; ?>
    </div>
    <div class="block-content">
        <?= $block->getChildHtml() ?>
        <?php if ($count > 0) : ?>
            <div class="table-wrapper orders-recent">
                <table class="data table table-order-items recent" id="my-orders-table">
                    <caption class="table-caption"><?= $block->escapeHtml(__('Recent Orders')) ?></caption>
                    <thead>
                    <tr>
                        <th scope="col" class="col id"><?= $block->escapeHtml(__('Order Number')) ?></th>
                        <th scope="col" class="col date"><?= $block->escapeHtml(__('Order Date')) ?></th>
                        <th scope="col" class="col status"><?= $block->escapeHtml(__('Order Status')) ?></th>
                        <th scope="col" class="col status"><?= $block->escapeHtml(__('Order Type')) ?></th>
                        <th scope="col" class="col actions"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($_orders as $_order) : ?>
                        <tr>
                            <td data-th="<?= $block->escapeHtml(__('Order Number')) ?>" class="col id">#<?= $block->escapeHtml($_order->getRealOrderId()) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Order Date')) ?>" class="col date"><?= $block->escapeHtml($block->formatDate($_order->getCreatedAt())) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Order Status')) ?>" class="col status"><?= $block->escapeHtml($_order->getStatusLabel()) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Order Type')) ?>" class="col status"><!-- TODO:FOR BE - add here order type --></td>
                            <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">

                                <?php foreach ($_order->getShipmentsCollection() as $shipment) : ?>
                                    <?php $tracks = $shipment->getTracksCollection(); ?>
                                    <?php  if ($tracks->count()) : ?>
                                        <?php foreach ($tracks as $track) : ?>
                                            <?php  if ($track->getCarrierCode() === 'aramex' && !empty($track->getTrackNumber()) && !empty($helper->getTrackingUrl())): ?>
                                                <a target="_blank" href="<?= $block->escapeUrl($helper->getTrackingUrl() . $track->getTrackNumber()) ?>"
                                                    <span><?= $block->escapeHtml(__('TRACK')) ?></span>
                                                </a>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                <?php endforeach; ?>

                                <!--<a href="<?/*= $block->escapeUrl($block->getViewUrl($_order)) */?>" class="action view">
                                    <span><?/*= $block->escapeHtml(__('View Order')) */?></span>
                                </a>
                                <?php /*if ($this->helper(\Magento\Sales\Helper\Reorder::class)
                                    ->canReorder($_order->getEntityId())
                                ) : */?>
                                    <a href="#" data-post='<?/*= /* @noEscape */
                                    //$this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                        //->getPostData($block->getReorderUrl($_order))
                                    ?>' class="action order">
                                        <span><?/*= $block->escapeHtml(__('Reorder')) */?></span>
                                    </a>
                                --><?php /*endif */?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        <?php else : ?>
            <div class="message info empty"><span><?= $block->escapeHtml(__('You have placed no orders.')) ?></span></div>
        <?php endif; ?>
    </div>
</div>
