<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
?>
<?php /** @var  $block \Magento\Sales\Block\Order\View*/?>
<div class="order-details-items ordered">
    <?php $_order = $block->getOrder() ?>

    <div class="block order-history-top-info">
        <div class="table-wrapper">
            <table class="data table">
                <thead>
                    <tr>
                        <th><?= __('ORDER NUMBER'); ?></th>
                        <th><?= __('ORDER DATE'); ?></th>
                        <th><?= __('ORDER STATUS'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span><?= $block->escapeHtml(__('ORDER NUMBER')) ?></span>#<?= $block->escapeHtml($_order->getRealOrderId()) ?></td>
                        <td><span><?= $block->escapeHtml(__('ORDER DATE')) ?></span><?= /* @noEscape */ $block->formatDate($_order->getCreatedAt()) ?></td>
                        <td><span><?= $block->escapeHtml(__('ORDER STATUS')) ?></span><?= $block->escapeHtml($_order->getStatusLabel()) ?></td>
                    </tr>
                </tbody>
            </table>
            <?php if ($this->helper(Magento\Rma\Helper\Data::class)->canCreateRma($_order)):?>
                <a href="<?= $block->escapeUrl($this->helper(Magento\Rma\Helper\Data::class)->getReturnCreateUrl($block->getOrder())) ?>" class="action primary"><?= __('return item'); ?></a>
            <?php else: ?>
                <p class="return-policy-link">
                    <?= __('As per our <a href="%1">Returns Policy</a>, the order is not eligible for return.', $block->getBaseUrl().'help/returns'); ?>
                </p>
            <?php endif; ?>
        </div>
        <a href="#" class="track-link"><?= __('Tracking link'); ?></a>
    </div>


    <div class="order-title">
        <strong><?= $block->escapeHtml(__('Shipped items')) ?></strong>
        <?php if (!empty($_order->getTracksCollection()->getItems())) : ?>
            <?= $block->getChildHtml('tracking-info-link') ?>
        <?php endif; ?>
    </div>

    <?= $block->getChildHtml('order_items') ?>

    <?php if ($this->helper(\Magento\GiftMessage\Helper\Message::class)->isMessagesAllowed('order', $_order)
        && $_order->getGiftMessageId()
    ) : ?>
    <div class="block block-order-details-gift-message">
        <div class="block-title"><strong><?= $block->escapeHtml(__('Gift Message for This Order')) ?></strong></div>
        <?php
        $_giftMessage = $this->helper(\Magento\GiftMessage\Helper\Message::class)->getGiftMessageForEntity($_order);
        ?>
        <div class="block-content">
            <dl class="item-options">
                <dt class="item-sender"><strong class="label"><?= $block->escapeHtml(__('From')) ?></strong><?= $block->escapeHtml($_giftMessage->getSender()) ?></dt>
                <dt class="item-recipient"><strong class="label"><?= $block->escapeHtml(__('To')) ?></strong><?= $block->escapeHtml($_giftMessage->getRecipient()) ?></dt>
                <dd class="item-message">
                    <?= /* @noEscape */
                    $this->helper(\Magento\GiftMessage\Helper\Message::class)->getEscapedGiftMessage($_order) ?>
                </dd>
            </dl>
        </div>
    </div>
    <?php endif; ?>


</div>
