<style>
    .fme-quote-showcart{
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;

    }
    .fme-quote-cart-wrapper {
        display: none;
    }
    .header-content-row .fme-quote-cart-wrapper {
        display: block;
    }
    .fme-quote-cart-wrapper:hover {
        opacity: 1 !important;
    }
    .minicart-wrapper .action.fme-quote-showcart:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 38px;
        line-height: 28px;
        color: #000;
        font-family: 'icons-blank-theme';
        margin: 0;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }
    .minicart-wrapper .action.fme-quote-showcart.empty:before {
        content: '\e601';
    }
    .minicart-wrapper .action.fme-quote-showcart.not-empty:before {
        content: '\e600';
    }
    .minicart-wrapper .action.fme-quote-showcart .counter.qty {
        color: black;
        position: absolute;
        left: 38px;
        font-size: 11px;
        top: 30px;
    }
    .minicart-wrapper .action.fme-quote-showcart .counter-label
    {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .minicart-wrapper .action.fme-quote-showcart .counter.qty.empty {
        display: none;
    }
    .minicart-wrapper .action.action.fme-quote-showcart:hover:before{
        color:#333
    }
    .minicart-wrapper .action.fme-quote-showcart:active:before{
        color:#757575
    }
    .minicart-wrapper .action.fme-quote-showcart.active{
        display:inline-block;text-decoration:none
    }
    .minicart-wrapper .action.fme-quote-showcart.active:active:before{
        color:#757575
    }
    .minicart-wrapper .action.fme-quote-showcart{
        position: relative;
        padding: 17px 10px;
    }
    .minicart-wrapper .action.fme-quote-showcart .counter.qty .loader>img{
        max-width:24px
    }
    .opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart{
        background-image:none;background:none;-moz-box-sizing:content-box;border:0;box-shadow:none;line-height:inherit;margin:0;padding:0;text-decoration:none;text-shadow:none;font-weight:400
    }
    .opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart:focus,.opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart:active{
        background:none;border:none
    }
    .opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart:hover{
        background:none;border:none
    }
    .opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart{
        pointer-events:none;opacity:.5
    }

</style>
<?php $wishlistHelper = $this->helper(\FME\GuestWishList\Helper\Data::class);?>
<?php if($wishlistHelper->displayType()==='popup'  && !$block->isLoggedIn()): ?>
    <div data-block="quotecart" class="minicart-wrapper fme-quote-cart-wrapper"  data-bind="scope: 'popup'">
    <a href="#" class="action fme-quote-showcart" data-bind="css: {
        empty: !!popup().counter == false,
        'not-empty': !popup().counter == false
    }">
            <span class="counter qty empty" data-bind="css: { empty: !!popup().counter == false }">
                    <span data-bind="text: !popup().counter == false ? popup().items.length : 0"  class="counter-number"></span>
            </span>
        </a>
    </div>

    <div id="popup-mpdal" style="display:none;" >
    <?php
        if (!$block->isLoggedIn()) : ?>
            <div class="block block-wishlist" data-bind="scope: 'popup'">
                <div class="block-content">
                    <!-- ko if: popup().counter -->
                    <ol class="product-items no-display" style="display: inline-flex;" id="wishlist-sidebar" data-bind="foreach: popup().items, css: {'no-display': null}">
                        <li class="item product product-item">
                            <div class="product-item-info">
                                <a class="product-item-photo" data-bind="attr: { href: product_url, title: product_name }">
                                    <!-- ko template: {name: $data.image.template, data: $data.image} -->
                                    <!-- /ko -->
                                </a>
                                <div class="product-item-details">
                                    <strong class="product-item-name">
                                        <a data-bind="attr: { href: product_url }" class="product-item-link">
                                            <span data-bind="html: product_name"></span>
                                        </a>
                                    </strong>
                                    <div data-bind="html: product_price"></div>
                                    <div class="product-item-actions" style="display:inline-grid;">
                                        <!-- ko if: product_is_saleable_and_visible -->
                                        <div class="actions-primary" >
                                            <!-- ko if: product_has_required_options -->
                                            <a href="#"  data-bind="attr: {'id':product_addtocart_id}"  class="action tocart primary"><span><?=$block->escapeHtml(__('Add to Cart'))?></span></a>
                                            <!-- /ko -->
                                            <!-- ko ifnot: product_has_required_options -->
                                            <button type="button" class="action tocart primary"  data-bind="attr: {'id':product_addtocart_id}" ><span><?=$block->escapeHtml(__('Add to Cart'))?></span></button>
                                            <!-- /ko -->
                                            <div data-bind="html: product_addtocart_script"></div>
                                        </div>
                                        <!-- /ko -->
                                        <div class="actions-secondary">
                                            <a href="#" data-bind="attr: {'id':product_remove_id}" >
                                                <span><?=$block->escapeHtml(__('Remove'))?></span>
                                            </a>
                                            <div data-bind="html: product_remove_script"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <!-- /ko -->
                    <!-- ko ifnot: popup().counter -->
                    <div class="empty"><?=$block->escapeHtml(__('You have no items in your wish list.'))?></div>
                    <!-- /ko -->
                </div>
            </div>
            <script type="text/x-magento-init">
                {
                "*": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "popup": {
                                "component": "FME_GuestWishList/js/view/popup"
                            }
                        }
                    }
                }
            }
        </script>
        <?php endif; ?>
    </div>
    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal',
                'mage/translate'
            ],
            function(
                $,
                modal
            ) {

                var options = {
                    type: 'popup',
                    responsive: true,
                    title: '<?php echo $block->escapeHtml(__('My Wish List')) ?>',
                    innerScroll: true,
                    buttons: [{
                        text: $.mage.__('Close'),
                        class: '',
                        click: function () {
                            this.closeModal();
                        }
                    }]
                };
                var popup = modal(options, $('#popup-mpdal'));
                $(".fme-quote-cart-wrapper").on('click',function(){
                    $("#popup-mpdal").modal("openModal");
                });

                $('.fme-quote-cart-wrapper').detach().insertAfter('.minicart-wrapper')

            }
        );
    </script>
<?php endif; ?>

<script type="text/x-magento-init">
        {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "popup": {
                        "component": "FME_GuestWishList/js/view/popup"
                    }
                }
            }
        }
    }
</script>
