<style>
    .fme-quote-showcart{
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;

    }
    .fme-quote-cart-wrapper {
        display: none;
    }
    .header-content-row .fme-quote-cart-wrapper {
        display: block;
    }
    .fme-quote-cart-wrapper:hover {
        opacity: 1 !important;
    }
    .minicart-wrapper .action.fme-quote-showcart:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 58px;
        line-height: 28px;
        color: #000;
        font-family: 'icons-blank-theme';
        margin:-2px -12px 0 -15px;
        vertical-align: top;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }
    .minicart-wrapper .action.fme-quote-showcart.empty:before {
        content: '\e601';
    }
    .minicart-wrapper .action.fme-quote-showcart.not-empty:before {
        content: '\e600';
    }
    .minicart-wrapper .action.fme-quote-showcart .counter.qty {
        position: absolute;
       /*  left: 15px!important; */
        font-size: 11px;
        top: 20px;
        font-weight: bold;
        color:#ffffff
    }
    .minicart-wrapper .action.fme-quote-showcart .counter-label
    {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .minicart-wrapper .action.fme-quote-showcart .counter.qty.empty {
        display: none;
    }
    .minicart-wrapper .action.action.fme-quote-showcart:hover:before{
        color:#333
    }
    .minicart-wrapper .action.fme-quote-showcart:active:before{
        color:#757575
    }
    .minicart-wrapper .action.fme-quote-showcart.active{
        display:inline-block;text-decoration:none
    }
    .minicart-wrapper .action.fme-quote-showcart.active:active:before{
        color:#757575
    }
    .minicart-wrapper .action.fme-quote-showcart{
        position: relative;
        padding: 17px 10px;
    }
    .minicart-wrapper .action.fme-quote-showcart .counter.qty .loader>img{
        max-width:24px
    }
    .opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart{
        background-image:none;background:none;-moz-box-sizing:content-box;border:0;box-shadow:none;line-height:inherit;margin:0;padding:0;text-decoration:none;text-shadow:none;font-weight:400
    }
    .opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart:focus,.opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart:active{
        background:none;border:none
    }
    .opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart:hover{
        background:none;border:none
    }
    .opc-estimated-wrapper .minicart-wrapper button.action.fme-quote-showcart{
        pointer-events:none;opacity:.5
    }
.jbhSliderPages {display:none}

    .modal-content .block-wishlist .jcarousel-wrapper .jcaourser-load {
        /*background: rgba(0,0,0,0.5) !important;*/
        height: 340px !important;
    }

    @media screen and (max-width:767px){
        .minicart-wrapper .action.fme-quote-showcart:before {font-size: 48px; margin:-2px -12px 0 -20px; }
    }

</style>
<?php $wishlistHelper = $this->helper(\FME\GuestWishList\Helper\Data::class);?>
<?php 
// Haingo 20210716: 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$nbItems = $wishlistHelper->getWishListCount();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
// echo '----iciiiiiiiiiiiiiii'.$nbItems;

// Fin Haingo 20210716: 
?>

<?php if ( $customerSession->isLoggedIn() ) { ?>
    <a id="account_user" href="<?php echo $baseUrl; ?>customer/account/" style="font-size: 12px; padding-right: 10px; color: #dbc7ae;">
        <?php  echo "Hi " . $customerSession->getCustomer()->getName(); ?>
    </a>
	
<?php } ?>

<input type="hidden" id="is-customer-logged-in" value="<?php echo  $customerSession->isLoggedIn() ?>" />

<?php // Haingo 20210716: Affichage popup mm pour client connecte ?>
<?php  // if($wishlistHelper->displayType()==='popup'  && !$block->isLoggedIn()): ?>
<?php  if($wishlistHelper->displayType()==='popup'): ?>
<?php  // if(!$block->isLoggedIn()): ?>
	<?php  if($nbItems>0): ?>
		<div data-block="quotecart" class="minicart-wrapper fme-quote-cart-wrapper"  data-bind="scope: 'popup'">
		<input  type="hidden" id="wishlist-item-count" data-bind="value: popup().counter" />
		<a id="wishlist-header-icone" href="#" class="action fme-quote-showcart not-empty">
			<span class="counter qty empty" data-bind="css: { empty: !!popup().counter == false }">
				<span data-bind="text: !popup().counter == false ? popup().items.length : 0"  class="counter-number"></span>
			</span>  
		</a>
		<!-- a href="#" class="action fme-quote-showcart" data-bind="css: {
			empty: !!popup().counter == false,
			'not-empty': !popup().counter == false
		}">
				<span class="counter qty empty" data-bind="css: { empty: !!popup().counter == false }">
						<span data-bind="text: !popup().counter == false ? popup().items.length : 0"  class="counter-number"></span>
				</span>
				
			</a -->
		</div>
	<?else: ?>
		<div data-block="quotecart" class="minicart-wrapper fme-quote-cart-wrapper"  data-bind="scope: 'popup'">
		<input type="hidden" id="wishlist-item-count" data-bind="value: popup().counter" />
		<a id="wishlist-header-icone" href="#" class="action fme-quote-showcart empty">
			<span class="counter qty empty" data-bind="css: { empty: !!popup().counter == false }">
				<span data-bind="text: !popup().counter == false ? popup().items.length : 0"  class="counter-number"></span>
			</span>  
		</a>
		<!-- a href="#" class="action fme-quote-showcart" data-bind="css: {
			empty: !!popup().counter == false,
			'not-empty': !popup().counter == false
		}">
				<span class="counter qty empty" data-bind="css: { empty: !!popup().counter == false }">
						<span data-bind="text: !popup().counter == false ? popup().items.length : 0"  class="counter-number"></span>
				</span>
				
			</a -->
		</div>
	<?php endif; ?>
	

    <div id="popup-mpdal" style="display:none;">
	<?php // Haingo 20210716: Affichage popup mm pour client connecte ?>
    <?php
         // if (!$block->isLoggedIn()) : ?>
            <div class="block block-wishlist" data-bind="scope: 'popup'">
                <div class="block-content">
                    <!-- ko if: popup().counter -->
                    <div class="bag border-left misy-wish">
                        <div class="bag__items-wrapper empty-message" style="padding: 0!important; direction: ltr;">




                            <div class="jcarousel-wrapper">
                                <div class="jcpdng"></div>
                                <div class="jcarousel" data-jcarousel="true">
                                    <ul class="" id="wishlist-sidebar" data-bind="foreach: popup().items, css: {'no-display': null}">
                                        <li class="item product product-item">
                                            <div class="product-item-info">
                                                <div class="actions-secondary">
                                                    <a href="#" class="remove_wish_item" data-bind="attr: {'id':product_remove_id}" >
                                                        <span><?=$block->escapeHtml(__(''))?></span>
                                                    </a>
                                                    <div data-bind="html: product_remove_script"></div>
                                                </div>
                                                <a class="product-item-photo" data-bind="attr: { href: product_url, title: product_name }">
                                                    <!-- ko template: {name: $data.image.template, data: $data.image} -->
                                                    <!-- /ko -->
                                                </a>
                                            </div>
                                            <div class="product-item-details">
                                                <strong class="product-item-name">
                                                    <a data-bind="attr: { href: product_url }" class="product-item-link">
                                                        <span data-bind="html: product_name"></span>
                                                    </a>
                                                </strong>
                                                <div data-bind="html: product_price"></div>
                                                <div class="product-item-actions" style="display:inline-grid;">
                                                    <!-- ko if: product_is_saleable_and_visible -->
                                                    <div class="actions-primary" style="display: none!important;" >
                                                        <!-- ko if: product_has_required_options -->
                                                        <a href="#"  data-bind="attr: {'id':product_addtocart_id}"  class="action tocart primary"><span><?=$block->escapeHtml(__('Add to Cart'))?></span></a>
                                                        <!-- /ko -->
                                                        <!-- ko ifnot: product_has_required_options -->
                                                        <button type="button" class="action tocart primary"  data-bind="attr: {'id':product_addtocart_id}" ><span><?=$block->escapeHtml(__('Add to Cart'))?></span></button>
                                                        <!-- /ko -->
                                                        <div data-bind="html: product_addtocart_script"></div>
                                                    </div>
                                                    <!-- /ko -->

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true" style="z-index: 999">‹</a>
                                <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true" style="z-index: 999">›</a>
                            </div>

                        </div>
                        <div class="bag__summary pt-5 pb-4">
                                <span class="bag-summary__count">
                                    <span data-bind="text: !popup().counter == false ? popup().items.length : 0"  class="counter-number"></span> <?=$block->escapeHtml(__('items'))?>
                                </span>
                        </div>
                        <div class="bag__actions">
                            <div>
                                <a class="action create primary" href="<?php echo $baseUrl; ?>wishlist" title="My wish list"><?=$block->escapeHtml(__('My wish list'))?></a>
                            </div>
							<?php // Haingo 20210716: Affichage popup mm pour client connecte ?>
							<?php if(!$block->isLoggedIn()): ?>
								<div>
									<p class="mb-5"><?=$block->escapeHtml(__('Your wish list is cleared after 30 days.'))?>
										<br/>
										<?=$block->escapeHtml(__('Unless you sign up of course.'))?></p>
								</div>

								<div style="margin-bottom: 15px;">
									<a class="action create primary" href="<?php echo $baseUrl; ?>customer/account/create/" title="Sign up"><?=$block->escapeHtml(__('Sign up'))?></a>
								</div>

								<div>
									<a class="action create primary" href="<?php echo $baseUrl; ?>customer/account/login/" title="Log in"><?=$block->escapeHtml(__('Log in'))?></a>
								</div>
							 <?php endif; ?>	
							
                        </div>
                    </div>


                    <!-- /ko -->
                    <!-- ko ifnot: popup().counter -->
                    <div class="empty">
                        <div class="bag border-left">
                            <div class="bag__items-wrapper empty-message">

                                <span class="h1 d-block pb-2" style="margin-bottom: 20px;"><?=$block->escapeHtml(__('Your wishlist is empty'))?></span>
                                <?=$block->escapeHtml(__('Add new favourites to return to later'))?>

                            </div>
                            <div class="bag__summary pt-5 pb-4">
                                <span class="bag-summary__count">
                                    0 <?=$block->escapeHtml(__('items'))?>
                                </span>
                            </div>
                            <div class="bag__actions">
                                <div>
                                    <a class="action create primary" href="<?php echo $baseUrl; ?>wishlist" title="My wish list"><?=$block->escapeHtml(__('My wish list'))?></a>
                                </div>
								<?php // Haingo 20210716: Affichage popup mm pour client connecte ?>
								<?php if(!$block->isLoggedIn()): ?>
									<div>
										<p class="mb-5"><?=$block->escapeHtml(__('Your wish list is cleared after 30 days.'))?>
											<br/>
											<?=$block->escapeHtml(__('Unless you sign up of course.'))?></p>
									</div>

									<div style="margin-bottom: 15px;">
										<a class="action create primary" href="<?php echo $baseUrl; ?>customer/account/create" title="Sign up"><?=$block->escapeHtml(__('Sign up'))?></a>
									</div>

									<div>
										<a class="action create primary" href="<?php echo $baseUrl; ?>customer/account/login" title="Log in"><?=$block->escapeHtml(__('Log in'))?></a>
									</div>
								<?php endif; ?>	
								
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <script type="text/x-magento-init">
                {
                "*": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "popup": {
                                "component": "FME_GuestWishList/js/view/popup"
                            }
                        }
                    }
                }
            }
        </script>
		
        <?php // endif; // if (!$block->isLoggedIn()) : ?>
    </div>

    <div id="jcarousel-wrapper-fake" style="display: none;"></div>

    <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal',
                'mage/translate'
            ],
            function(
                $,
                modal
            ) {

                console.log('display : "'+$("#popup-mpdal").css('display')+'"');

                var options = {
                    type: 'popup',
                    responsive: true,
                    title: '<?php echo $block->escapeHtml(__('My Wish List')) ?>',
                    innerScroll: true,
                    buttons: [{
                        text: $.mage.__('Close'),
                        class: '',
                        click: function () {
                            this.closeModal();
                        }
                    }]
                };
                var popup = modal(options, $('#popup-mpdal'));

                //Fano modif
                $('#popup-mpdal').on('modalclosed', function() {
                    $(".fme-quote-showcart").removeClass("actives-ftr");
                });

                $(".fme-quote-cart-wrapper").on('click',function(){
					// Haingo 20210716: add screen widt condition
					var screenWidth = $(window).width();
					var is_customer_logged_in = $("#is-customer-logged-in").val(); 
					if((screenWidth>768) || (is_customer_logged_in != '1')){
						$("#popup-mpdal").modal("openModal");
						if ($("#popup-mpdal").css('display') == "block") $(".fme-quote-showcart").addClass("actives-ftr"); //Fano modif
					}else{
						window.location.href ="<?php echo $baseUrl; ?>wishlist";
					}

                });

                $('.fme-quote-cart-wrapper').detach().insertAfter('.minicart-wrapper');

                // var remove_wish_item = setInterval(function() {
                //     console.log('remove_wish_item');
                //     if ( $('.remove_wish_item').length ) {
                //         console.log('remove_wish_item stop');
                //         clearInterval(remove_wish_item);
                //         // $('.remove_wish_item').click(function() {
                //         //     console.log('reload');
                //         //     setTimeout(function() {
                //         //         window.location.href ="<?php //echo $baseUrl; ?>";   
                //         //         console.log('reload after 1s');
                //         //     }, 1000);
                //         // });
                //     }
                // }, 1000);



            }
        );
    </script>

<?php /**	
<?php else: ?><?php // Haingo 20210716: Affichage popup mm pour client connecte ?>

 <div data-block="quotecart" class="minicart-wrapper fme-quote-cart-wrapper"  data-bind="scope: 'popup'">
	<a href="#" class="action fme-quote-showcart" data-bind="css: {
		empty: !!popup().counter == false,
		'not-empty': !popup().counter == false
	}">
			<span class="counter qty empty" data-bind="css: { empty: !!popup().counter == false }">
					<span data-bind="text: !popup().counter == false ? popup().items.length : 0"  class="counter-number"></span>
			</span>
			
		</a>
</div>
	
	
<?php endif; ?> **/ ?>
<?php endif; ?>

<script type="text/x-magento-init">
        {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "popup": {
                        "component": "FME_GuestWishList/js/view/popup"
                    }
                }
            }
        }
    }
</script>

<?php if ( $customerSession->isLoggedIn() ) { ?>
<script>
    require(['jquery', 'jquery/ui'], function($){
      $(document).ready( function() {
    	// $( window ).load(function() {
    	// 	var wishlist_item_count = $("#wishlist-item-count").val();
    	// 	alert("Page loadeddddddddddddd1111111=."+wishlist_item_count);
    	// 	if(wishlist_item_count == 0){
    	// 		$("#wishlist-header-icone").removeClass("not-empty");
    	// 		$("#wishlist-header-icone").addClass("empty");
    	// 	}else{
    	// 		$("#wishlist-header-icone").addClass("not-empty");
    	// 		$("#wishlist-header-icone").removeClass("empty");
    	// 	}
    		
    	// });
        $('.int-child').prepend($('#account_user'));
        $('#account_user').css('color', 'white');
        $('.authorization-link  span').addClass('user_connected');
      });
    });
    </script>
<?php } ?>

<script>
    require(['jquery', 'jquery/ui'], function($){
      $(document).ready( function() {

        if ( localStorage.getItem('currentWish') ) {
            localStorage.removeItem('currentWish');
        }
      });
    });
</script>

<?php 
    if ( isset($_GET['dbg']) ) {
        die('dbg');
    }
?>
