<?php
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');



/** @var $order \Magento\Sales\Model\Order */
$order = $this->order->loadByIncrementId($block->getOrderId());

/** @var \Beside\Shopfinder\Helper\Data $helper */
$helper = $this->helper(Beside\Shopfinder\Helper\Data::class);
$shopData = $helper->getShopData($order);
?>
<div class="checkout-success">
    <div class="checkout-success-left<?php if ($customerSession->isLoggedIn()) : ?> full-width<?php endif ?>">
        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper"><?= $block->escapeHtml(__('Thank you for your order')) ?></span>
            </h1>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <a class="action link continue"
                href="<?= $block->escapeUrl($block->getContinueUrl()) ?>"><span><?= $block->escapeHtml(__('Continue Shopping')) ?></span></a>
            </div>
        </div>

        <?php if ($block->getOrderId()) : ?>
            <?php if ($block->getCanViewOrder()) : ?>
                <p><?= $block->escapeHtml(__('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeUrl($block->getViewOrderUrl()), $block->getOrderId())), ['a', 'strong']) ?></p>
            <?php else : ?>
                <?php if ($order->getShippingMethod() == 'beside_store_pickup_beside_store_pickup') : ?>
                    <p><?= $block->escapeHtml(__('You will soon receive a confirmation email. You may check the status of your order by entering the <strong>Order Number %1</strong> under the Order Status section of our Help Area.', $block->getOrderId()), ['strong']) ?></p>
                <?php else: ?>
                    <p><?= $block->escapeHtml(__('Your <strong>Order Number %1</strong>. You will soon receive a confirmation email.', $block->getOrderId()), ['strong']) ?></p>

                <?php endif; ?>

            <?php endif; ?>
        <?php endif; ?>

        <?php


        /** @var $billingAddress \Magento\Sales\Api\Data\OrderAddressInterface */
        /** @var $shippingAddress \Magento\Sales\Api\Data\OrderAddressInterface */
        $billingAddress = $order->getBillingAddress();
        $shippingAddress = $order->getShippingAddress();
        $block->getShopDetails($shippingAddress);
        ?>

        <div class="order-details">
            <h2><?= $block->escapeHtml(__('Order details')) ?></h2>

        <?php if ($order->getShippingMethod() == 'beside_store_pickup_beside_store_pickup') : ?>

            <div class="order-details-block in-store-pick-up">
                <div class="order-details-block-title-wrapper">
                    <div class="order-details-block-title">
                        <div class="order-details-title">
                            <h4><?= $block->escapeHtml(__('In Store Pick up')) ?></h4>
                            <span><?= $block->escapeHtml(__($block->getShopName())) ?></span>
                        </div>
                        <p><?= $block->escapeHtml(__('You will receive an email as soon as your order is ready for pickup.')) ?></p>
                    </div>
                </div>

                <div class="order-details-product-list">
                    <ul>
					<?php // Haingo 20211026: correction affichage data items add getAllItems and check product type ?>
                    <?php foreach($order->getAllItems() as $item) : ?>
					<?php if($item->getProductType() != "configurable"):  ?>
                        <?php
                        /** @var $product \Magento\Catalog\Model\Product */
                        $product = $this->product->load($item->getProductId());
                        ?>
                        <?php //if ($item->getShippingMethod()== 'Store Pick Up') : ?>
                        <li>
                            <div class="product-item">
                                <div class="img-wrap">
                                    <a href="<?= $block->escapeUrl($product->getProductUrl($item)) ?>"
                                       class="product photo product-item-photo">
                                        <img src="<?= $block->getImage($product); ?>" />
                                    </a>
                                </div>
                                <div class="info-wrap">
                                    <a href="<?= $block->escapeUrl($product->getProductUrl($item)) ?>"
                                       class="product-name"><?= $block->escapeHtml(__($product->getName())); ?></a>
                                    <div class="attributes-list">
                                    <?php if(strlen($product->getData('macro_colour')) != 0) : ?>
                                        <dl>
                                            <dt>Colour</dt>
                                            <dd><?= $block->escapeHtml(__($product->getAttributeText("macro_colour"))); ?></dd>
                                        </dl>
                                    <?php endif; ?>

                                    <?php if(strlen($product->getData('size')) != 0) : ?>
                                        <dl>
                                            <dt>Size</dt>
                                            <dd><?= $block->escapeHtml(__($product->getAttributeText("size"))); ?></dd>
                                        </dl>
                                    <?php endif; ?>

                                        <?php if (strtoupper($block->getAttributeSetName($product)) == \Beside\Checkout\Block\Onepage\Success::ATTRIBUTE_SET_NAME_VALUE) : ?>
                                            <?php if(strlen($product->getData('denim_length')) != 0) : ?>
                                            <dl>
                                                <dt>Length</dt>
                                                <dd><?= $block->escapeHtml(__($product->getAttributeText("denim_length"))); ?></dd>
                                            </dl>
                                            <?php endif; ?>
                                        <?php endif; ?>

                                        <dl>
                                            <dt>Quantity</dt>
                                            <dd><?= number_format($block->escapeHtml(__($item->getQtyOrdered()))); ?></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <div class="product-price"><?=$block->formatPrice($product->getFinalPrice()); ?> </div>
                        </li>
                        <?php //endif; ?>
						<?php endif; ?>
                <?php endforeach; ?>
                    </ul>
                </div>
                <div class="order-details-block-address">
                    <h4><?= $block->escapeHtml(__('Store address')) ?></h4>
                    <div class="order-details-address">

                        <address>
                            <?= $shopData['shop_name'] ?> <br />
                            <?=$block->escapeHtml(__($shippingAddress->getStreet()[0] ?? ''. $shippingAddress->getStreet()[1] ?? '')) ?><br />
                            <?=$block->escapeHtml(__($shippingAddress->getCity() . "," . $shippingAddress->getPostcode() )) ?><br />
                            <?=$block->escapeHtml(__($block->getCountryByCode($shippingAddress->getCountryId()))) ?>
                        </address>
                    </div>
                </div>
            </div>
        <?php else: ?>

            <div class="order-details-block items-being-shipped">
                <div class="order-details-block-title-wrapper">
                    <div class="order-details-block-title">
                        <div class="order-details-title">
                            <h4><?= $block->escapeHtml(__('Items being shipped')) ?></h4>
                        </div>
                        <p><?= $block->escapeHtml(__('You will receive an email as soon as your order is shipped.')) ?></p>
                    </div>
                </div>

                <div class="order-details-product-list">
                    <ul>
						<?php // Haingo 20211026: correction affichage data items add getAllItems and check product type ?>
                        <?php foreach($order->getAllItems() as $item) : ?>
						<?php if($item->getProductType() != "configurable"):  ?>
							<?php
								/** @var $product \Magento\Catalog\Model\Product */
								$product = $this->product->load($item->getProductId());
								
							?>
							<?php if ($item->getShippingMethod() != 'Store Pick Up') : ?>
							<li>
								<div class="product-item">
									<div class="img-wrap">
										<a href="<?= $block->escapeUrl($product->getProductUrl($item)) ?>"
										   class="product photo product-item-photo">
											<img src="<?= $block->getImage($product); ?>" />
										</a>
									</div>
									<div class="info-wrap">
										<a href="<?= $block->escapeUrl($product->getProductUrl($item)) ?>"
										   class="product-name"><?= $block->escapeHtml(__($product->getName())); ?></a>
										<div class="attributes-list">

                                    <?php
                                        $used_product_attributes = $product->getData('_cache_instance_used_product_attributes');
                                        if($used_product_attributes && count($used_product_attributes)){

                                            $productOptions = $item->getData("product_options");
                                            $arrResult = array();

                                            foreach($used_product_attributes as $optionId){
                                                if(isset($productOptions)){
                                                    $attributesInfo = $productOptions["attributes_info"] ? $productOptions["attributes_info"] : array();
                                                    if(count($attributesInfo)){
                                                        $arrResult = array_filter($attributesInfo, function($ar) use ($optionId){
                                                            //return ($ar['option_id'] == $optionId);
                                                            return true;
                                                        });
                                                    }
                                                }
                                            }

                                            $macroColorValue = "";
                                            $sizeValue = "";
                                            $lengthValue = "";
                                        }

                                        if($arrResult && count($arrResult)){
                                            foreach($arrResult as $res){
                                            ?>

                                            <dl>
                                                <dt><?php echo $res["label"]; ?></dt>
                                                <dd><?= $block->escapeHtml(__($res["value"])); ?></dd>
                                            </dl>

                                            <?php
                                            }
                                            
                                        }

                                    ?>

										<?php if(0 && strlen($product->getData('macro_colour')) != 0) : ?>
											<dl>
												<dt>Colour</dt>
												<dd><?= $block->escapeHtml(__($product->getAttributeText("macro_colour"))); ?></dd>
											</dl>
										<?php endif; ?>

										<?php if(0 && strlen($product->getData('size')) != 0) : ?>
											<dl>
												<dt>Size</dt>
												<dd><?= $block->escapeHtml(__($product->getAttributeText("size"))); ?></dd>
											</dl>
										<?php endif; ?>

											<?php if (strtoupper($block->getAttributeSetName($product)) == \Beside\Checkout\Block\Onepage\Success::ATTRIBUTE_SET_NAME_VALUE) : ?>
												<?php if(strlen($product->getData('denim_length')) != 0) : ?>
												<dl>
													<dt>Length</dt>
													<dd><?= $block->escapeHtml(__($product->getAttributeText("denim_length"))); ?></dd>
												</dl>
												<?php endif; ?>
											<?php endif; ?>

											<dl>
												<dt>Quantity</dt>
												<dd><?= number_format($block->escapeHtml(__($item->getQtyOrdered()))); ?></dd>
											</dl>
										</div>
									</div>
								</div>

								<div class="product-price"><?=$block->formatPrice($product->getFinalPrice()); ?> </div>
							</li>
							<?php endif; ?>
						<?php endif; ?>
                    <?php endforeach; ?>
                   </ul>
                </div>

                <div class="order-details-block-address">
                    <h4><?= $block->escapeHtml(__('Shipping address')) ?></h4>
                    <div class="order-details-address">
                        <address>
                            <?=$block->escapeHtml(__($shippingAddress->getName()))?><br />
                            <?=$block->escapeHtml(__($shippingAddress->getStreet()[0] ?? ''. $shippingAddress->getStreet()[1] ?? '')) ?><br />
                            <?=$block->escapeHtml(__($shippingAddress->getCity() . "," . $shippingAddress->getPostcode() )) ?><br />
                            <?=$block->escapeHtml(__($block->getCountryByCode($shippingAddress->getCountryId()))) ?>
                        </address>
                    </div>
                </div>
            </div>
        <?php endif; ?>
        </div>
    </div>

    <?php if (!$customerSession->isLoggedIn()) : ?>
        <div class="checkout-success-right">
            <?= $block->getChildHtml('success_customer_form_register') ?>
        </div>
    <?php endif ?>

    <div class="checkout-success-bottom">
        <div class="order-info-wrapper">
            <div class="order-info-block">
                <h2><?= $block->escapeHtml(__('Billing address')) ?></h2>
                <div class="order-info-list">
                    <p><span><?=$block->escapeHtml(__($billingAddress->getName()))?></span></p>
                    <p><span><?=$block->escapeHtml(__($billingAddress->getStreet()[0] ?? ''. $billingAddress->getStreet()[1] ?? '')) ?></span></p>
                    <p><span><?=$block->escapeHtml(__($billingAddress->getPostcode() . "," . $billingAddress->getCity() )) ?></span></p>
                    <p><span><?=$block->escapeHtml(__($block->getCountryByCode($billingAddress->getCountryId()))) ?></span></p>
                </div>
            </div>
        </div>

        <div class="order-info-wrapper">
            <div class="order-info-block">
                <h2><?= $block->escapeHtml(__('Payment method')) ?></h2>
                <div class="order-info-list">
                    <p>
                        <span>
                            <?php
                             if ($order->getPayment()->getMethod() == 'cashondelivery') {
                                echo $block->escapeHtml(__('Cash On Delivery'));
                             } elseif ($order->getPayment()->getMethod() == 'creditcard') {
                                echo $block->escapeHtml(__('Credit Card'));
                             } elseif ($order->getPayment()->getMethod() == 'checkoutcom_card_payment') {
                                echo $block->escapeHtml(__('Credit Card'));
                             } else {
                                echo $block->escapeHtml(__('Check / Money order'));
                             }
                             ?>
                        </span>
                    </p>
                    <p><span><?=$order->getPayment()->getCcType();?></span></p>
                    <p><span><?=$order->getPayment()->getCcLast4();?></span></p>
                </div>
            </div>

            <div class="order-info-block">
                <h2><?= $block->escapeHtml(__('Payment total')) ?></h2>
                <div class="order-info-list">
                    <p><span><?= $block->escapeHtml(__('Order subtotal')) ?></span><span><?=$block->formatPrice($order->getSubtotal());?></span></p>
                    <p><span><?= $block->escapeHtml(__('Shipping cost')) ?></span><span class="red"><?= ($order->getShippingAmount() == 0) ? 'FREE' : $block->formatPrice($order->getShippingAmount());?></span></p>
                    <p><span><?= $block->escapeHtml(__('VAT')) ?></span><span><span><?= $block->escapeHtml(__('Included')) ?></span></p>
                    <p class="strong"><span><?= $block->escapeHtml(__('Order total')) ?></span><span><?=$block->formatPrice($order->getGrandTotal());?></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
