<?php
$blockObj = $block->getLayout()->createBlock('\Beside\Checkout\Block\Onepage\Success');
$product = $block->getProduct();
?>

<div class="product info detailed cms-accordion"
     data-mage-init='{"tabs":{"openedState":"active",
         "active": false,
         "collapsible": true}}'>
    <div class="product data items">
        <div data-role="collapsible" class="data item title">
            <div data-toggle="trigger" class="data switch">
                <span>About this product</span>
            </div>
        </div>
        <div data-role="content" class="data item content">
            <div>
                <?php echo $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getDescription(), 'description'); ?>
                <p style="padding-top: 40px">Article number: <?php echo $product->getSku(); ?></p>
            </div>
        </div>
    </div>
</div>
