<?php
$blockObj = $block->getLayout()->createBlock('\Beside\Checkout\Block\Onepage\Success');
$product = $block->getProduct();
?>

<div class="product info detailed cms-accordion"
     data-mage-init='{"tabs":{"openedState":"active",
         "active": false,
         "collapsible": true}}'>
    <div class="product data items">
        <div data-role="collapsible" class="data item title active">
            <div data-toggle="trigger" class="data switch">
                <span><?= $escaper->escapeHtml(__('About this product')) ?></span>
            </div>
        </div>
        <div id="about-this-product-tab" data-role="content" class="data item content" style="display: block">
            <div>
                <?php echo $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getDescription(), 'description'); ?>
                <p style="padding-top: 40px"><span><?= $escaper->escapeHtml(__('Article number')) ?></span>: <?php echo $product->getSku(); ?></p>
            </div>
        </div>
    </div>
</div>

<?php // Haingo 20210909: pblm ouverture content on load page ?>
<script>
    require(['jquery', 'jquery/ui'], function($){
		
        $(document).ready( function() {
            $(window).on("load",function() {
				setTimeout(function(){ $('#about-this-product-tab').show() }, 1000);
            });
        });
    });
</script>