
<?php
$blockObj = $block->getLayout()->createBlock('\Beside\Checkout\Block\Onepage\Success');
$product = $block->getProduct();
?>

<div class="product attribute additional-description">
    <ul>
    <?php if(strlen($product->getData('composition')) != 0) : ?>
        <li>
            <span><?= $product->getData('composition') ?></span>
        </li>
    <?php endif; ?>

    <?php if(strlen($product->getData('measurements')) != 0) : ?>
        <li>
            <span><?= $product->getData('measurements') ?></span>
        </li>
    <?php endif; ?>

    <?php if ($blockObj->getAttributeSetName($product) == 'denim'): ?>
        <?php if(strlen($product->getData('wash_description')) != 0) : ?>
            <li>
                <span><?= $product->getData('wash_description') ?></span>
            </li>
         <?php endif; ?>

        <?php if(strlen($product->getData('style_editorial')) != 0) : ?>
            <li>
                <span><?= $product->getData('style_editorial') ?></span>
            </li>
        <?php endif; ?>
    <?php endif; ?>


    <?php if(strlen($product->getData('short_description')) != 0) : ?>
        <li>
            <span><?= $product->getData('short_description') ?></span>
        </li>
    <?php endif; ?>
    </ul>
</div>
