<?php
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>

<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php
// Haingo 20210716:
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
// Fin Haingo 20210716:
?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <img src="<?php echo $baseUrl; ?>../pub/media/ico-addpans.png" style="margin-right: 10px">
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php // Haingo 20211019: default select macro_color ?>
<?php $request = $objectManager->get("Magento\Framework\App\Action\Context")->getRequest(); ?>
<input type="hidden" id="current-page-full-action" value="<?php echo $request->getFullActionName()  ?>" />
<script>
// require(['jquery', 'jquery/ui'], function($){
		
        // $(document).ready( function() {
            // $(window).on("load",function() {
				// alert($('.swatch-attribute.macro_colour .swatch-option'));
				// $('.swatch-attribute.macro_colour .swatch-option').first().trigger('click');
            // });
        // });
    // });

</script>

