<?php
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>

<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php // Haingo 20210811: on scroll fixe lapartie a droite de la fiche ?>
<script>
require(['jquery', 'jquery/ui'], function($){
  $(document).ready( function() {
	var last_scroll = $('.media').innerHeight()-500;	
	$(window).on("scroll",function() { 
// var last-scroll = $('.media').height()+100;
		  if(($(this).scrollTop() > 100) && ($(this).scrollTop()<last_scroll)) {
			$(".product-info-main").addClass('fixemoi');
			$(".product-info-main").removeClass('bottommoi');

		    // $( ".product-info-main" ).css( "border", "3px solid red" );
			// $( ".product-info-main" ).css( "position", "fixed!important" );
			// $( ".product-info-main" ).css( "top", "0" );
		  }else if(($(this).scrollTop() > 0) && ($(this).scrollTop()<last_scroll)) {
			  $(".product-info-main").removeClass('bottommoi');
		  }else {
			// $("#pop").removeClass("active").addClass("normal"); 
			$(".product-info-main").removeClass('fixemoi');
			$(".product-info-main").addClass('bottommoi');
			// $( ".product-info-main" ).css( "border", "3px solid green" );
			// $( ".product-info-main" ).css( "position", "relative" );
			// $( ".product-info-main" ).css( "top", "unset" );
		  }
	  }); 
  });
});
</script>
<?php // Fin Haingo 20210811 ?>

