<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper(Magento\Catalog\Helper\Output::class);
    $_product = $block->getProduct();
    $requiredAttributes = ['washing', 'bleaching', 'ironing', 'dry_cleaning', 'machine_drying', 'datrual_drying'];
?>
<?php if ($_additional = $block->getAdditionalData()) :?>
    <div class="additional-attributes-wrapper care-instructions-content">
        <ul>
            <?php foreach ($_additional as $_data) :?>
                <?php if (in_array($_data['code'], $requiredAttributes)) :?>
                    <li class="<?= $_data['code']?>">
                        <?= /* @noEscape */ $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
                    </li>
                <?php endif;?>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif;?>
