<?php
$product = $block->getProduct();
$attrData = $product->getData('micro_colour');
$blockObj = $block->getLayout()->createBlock('\Beside\Checkout\Block\Onepage\Success');
?>
<?php if ($blockObj->getAttributeSetName($product) == 'denim'): ?>
    <?php if (trim($attrData) !== "") : ?>
        <div class="micro_colour">
        <strong class="type"><?= $block->escapeHtml(__('Color')) ?></strong>
            <?php echo $attrData; ?>
        </div>
    <?php endif; ?>
<?php endif; ?>

