<?php
$product = $block->getProduct();
?>

<!--
<div class="product info detailed cms-accordion"
data-mage-init='{"tabs":{"openedState":"active",
         "active": false,
         "collapsible": true}}'>


<?php /*if(strlen($product->getData('has_free_delivery')) != 0) : */?>
    <?/*= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('free_standard_delivery')->toHtml()*/?>
<?php /*endif; */?>

<?php /*if(strlen($product->getData('has_extended_returns')) != 0) : */?>
    <?/*= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('extended_returns_policy')->toHtml()*/?>
<?php /*endif; */?>
</div>

-->
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$urlInterface = $objectManager->get('\Magento\Framework\UrlInterface');
?>

<div class="product info detailed cms-accordion" style=" border-bottom: 1px solid #f0ede8!important;"
     data-mage-init='{"tabs":{"openedState":"active",
         "active": false,
         "collapsible": true}}'>
    <div class="product data items">
        <div data-role="collapsible" class="data item title">
            <div data-toggle="trigger" class="data switch">
                <span>Delivery & Returns</span>
            </div>
        </div>
        <div data-role="content" class="data item content">
            <div>
                <ul class="check-list">
                    <li>
                        <a id="deliveryguide" class="" href="<?php echo $urlInterface->getUrl('delivery-and-returns') ?>" target="_blank" title="Delivery & Returns">
                            Delivery & Returns
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>