<?php
$blockObj = $block->getLayout()->createBlock('\Beside\Checkout\Block\Onepage\Success');
$product = $block->getProduct();
?>



<?php if ($blockObj->getAttributeSetName($product) == 'denim'): ?>
    <p>
     <?= $product->getAttributeText('look') ?>
    </p>

<?php else:?>
    <p>
        <?php echo $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getPlpDescription(), 'plp_description'); ?>
    </p>
<?php endif; ?>




