<?php
$product = $block->getProduct();
?>

<!--
<div class="product info detailed cms-accordion"
data-mage-init='{"tabs":{"openedState":"active",
         "active": false,
         "collapsible": true}}'>


<?php /*if(strlen($product->getData('has_free_delivery')) != 0) : */?>
    <?/*= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('free_standard_delivery')->toHtml()*/?>
<?php /*endif; */?>

<?php /*if(strlen($product->getData('has_extended_returns')) != 0) : */?>
    <?/*= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('extended_returns_policy')->toHtml()*/?>
<?php /*endif; */?>
</div>

-->

<div>
    <?php if($product->getData('has_free_delivery')) : ?>
        <ul class="check-list">
            <li>Free shipping across the UAE within 1-3 business days</li>
        </ul>
    <?php endif; ?>

</div>