<?php
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 * 
 */
?>

<?php
$images = $block->getGalleryImages()->getItems();
$mainImage = current(array_filter($images, function ($img) use ($block) {
    return $block->isMainImage($img);
}));

if (!empty($images) && empty($mainImage)) {
    $mainImage = $block->getGalleryImages()->getFirstItem();
}

$helper = $block->getData('imageHelper');
$mainImageData = $mainImage ?
    $mainImage->getData('medium_image_url') :
    $helper->getDefaultPlaceholderUrl('image');

?>

<div class="gallery-placeholder _block-content-loading image-gallery-mobile" data-gallery-role="gallery-placeholder">
    <img
        alt="main product photo"
        class="gallery-placeholder__image"
        src="<?= /* @noEscape */ $mainImageData ?>"
    />
</div>

<div class="gallery-container">
    <div class="image-gallery__close">X</div>

    <?php $product = $block->getProduct() ?>

    <div class="image-gallery">

        <?php $isany = 1;?>
        <?php foreach ($images as $img) : ?>
                <img class="image-gallery__item" src="<?= $img->getData('large_image_url') ?>"/>

            <?php if ($isany==1): ?>
                <?php if ($product->getData('video_url')): ?>
                    <video class="image-gallery__item video" poster="" preload="none" controlslist="nodownload" autoplay muted="" loop playsinline="" webkit-playsinline="">
                        <source src="<?php echo $product->getData('video_url') ?>" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                <?php endif; ?>
            <?php endif; ?>
        <?php $isany++; endforeach ?>
    </div>
</div>
	 <?php // Haingo 20211001: affichage video on color select ?>
<?php if ($product->getTypeId() == 'configurable'): ?>
	<input type="hidden" id="gallery-video-color" value="" />
<?php endif ?>
<?php // Fin Haingo 20211001 ?>
 
<script id="mobile-gallery" type="text/plain">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?= /* @noEscape */ $block->getMagnifier() ?>,
                "data": <?= /* @noEscape */ $block->getGalleryImagesJson() ?>,
                "options": <?= /* @noEscape */ $block->getGalleryOptions()->getOptionsJson() ?>,
                "fullscreen": <?= /* @noEscape */ $block->getGalleryOptions()->getFSOptionsJson() ?>,
                 "breakpoints": <?= /* @noEscape */ $block->getBreakpoints() ?>
            }
        }
    }
</script>

<?php // Haingo 20210910: affichage fleche sur gallery mobile ?>
<style>.fotorama__arr.fotorama__arr--prev,.fotorama__arr.fotorama__arr--next{display:block !important}</style>
<script>
    require(['jquery', 'jquery/ui'], function($){
        $(document).ready( function() {
            $(window).on("load",function() {
				setTimeout(function(){ 
					if ($(window).width() < 768) {
						$(".fotorama__arr--prev").show();
						$(".fotorama__arr--next").show();
					}
				}, 2000);
				// $(window).trigger('resize');
            });
			
			$( window ).resize(function() {
				//alert($(window).width());
				if ($(window).width() < 768) {
					$(".fotorama__arr--prev").show();
					$(".fotorama__arr--next").show();
				}
			});
		
        });
    });
</script>
<?php // Fin Haingo 20210910 ?>

<script>
      require([
      'jquery',
      'matchMedia'
  ], function($, mediaCheck) {

    mediaCheck({
        media: '(min-width: 768px)',
        entry: function () {
            $(document).on('click', '.image-gallery__item', function (e) {
                $(this).parent('.image-gallery').addClass('fullscreen')
                $('.gallery-container').addClass('fullscreen')

                $('.image-gallery.fullscreen').scrollTop($(this)[0].offsetTop)
            })

            $('.image-gallery__close').on('click', function () {
                $(this).parent().removeClass('fullscreen')
                $(this).next('.image-gallery').removeClass('fullscreen')
            })

            $(document).on('click', '.swatch-attribute.macro_colour .swatch-option.image', function() {
			 
              if (window.gallery.length) {
                var images = window.gallery.map(function(img,index) {
					// Haingo 20211004: add video simple
					if(index == 1){
						var video = $("#gallery-video-color").val();
						return video+`<img class="image-gallery__item" src="${img.full}">`
					}else{
						return `<img class="image-gallery__item" src="${img.full}">`
					}
					
              })

              var updatedElem = `<div class="image-gallery">
                ${images.join('\n ')}
              </div>`
				
				
                $('.image-gallery').replaceWith(updatedElem)
              }
            })
        },
        exit: function () {
            let script = $('#mobile-gallery');
            script.attr('type', 'text/x-magento-init');
            $('body').trigger('contentUpdated');
        }
    });

  });
</script>
