<?php
$blockObj = $block->getLayout()->createBlock('\Beside\Checkout\Block\Onepage\Success');
$product = $block->getProduct();
?>
<?php if ($descriptionBullets = $product->getData('descriptionbullets')): ?>
    <div class="product info detailed cms-accordion"
         data-mage-init='{"tabs":{"openedState":"active",
         "active": false,
         "collapsible": true}}'>
        <div class="product data items">
            <div data-role="collapsible" class="data item title">
                <div data-toggle="trigger" class="data switch">
                    <span><?= $escaper->escapeHtml(__('Highlights & Care')) ?></span>
                </div>
            </div>
            <div data-role="content" class="data item content">
                <div>
                    <?php
                    $arrayBullets = explode(' | ',$descriptionBullets);
                    ?>
                    <ul class="check-list">
                        <?php foreach ($arrayBullets as $bullet): ?>
                            <li><?php echo $bullet ?></li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>