<?php 
    $_urlHelper = $this->helper('Magento\Framework\Url\Helper\Data');     
    ?>
<div class="notify-instock">
    <div class="notify-instock__container">
        <span class="notify-instock__msg"><?= $block->escapeHtml(__('Sorry, this product is not in stock')) ?></span>
        <div class="notify-instock__first-step">
            <div class="action primary notify"><?= $block->escapeHtml(__('Notify me when in stock')) ?></div>
        </div>
        <div class="notify-instock__second-step">
            <div class="container">
                <span><?= $block->escapeHtml(__('Insert your e-mail address to be notified when the product is available.')) ?></span>
                <div class="form">
                    <div class="field email">
                        <div class="control">
                            <input type="email" class="input-text" placeholder="<?= $block->escapeHtml(__('Enter your email address*'))?>" data-validate="{required:true, 'validate-email':true}" />
                        </div>
                    </div>
                    <div class="field choice newsletter">
                        <input type="checkbox" name="notify-newsletter" value="yes" id="notify-newsletter" />
                        <label for="notify-newsletter" class="label">
                            <span><?= $block->escapeHtml(__('Yes! I would like to receive the Scotch & Soda Newsletter!')) ?></span>
                        </label>
                    </div>
                    <div class="field choic-radio newsletter-type">
                        <div>
                            <input type="radio" name="newsletter-type" id="men" value="men" />
                            <label for="men" class="label"><span><?= $block->escapeHtml(__('Men')) ?></span></label>
                            <input type="radio" name="newsletter-type" id="women" value="women" />
                            <label for="women" class="label"><span><?= $block->escapeHtml(__('Women')) ?></span></label>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="action primary notify">
                        <a href="<?= $block->getUrl("productalert/add/stock", ['product_id' => $block->getProduct()->getId(), \Magento\Framework\App\ActionInterface::PARAM_NAME_URL_ENCODED => $_urlHelper->getEncodedUrl()]) ?>"
                            title="<?= $block->escapeHtml(__('Notify me when in stock')) ?>">
                                <?= $block->escapeHtml(__('Notify me when in stock')) ?>
                        </a>
                    </div>                       
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Catalog/js/notify-instock" : {}
        }
    }
</script>
