<?php
$product = $block->getProduct();

?>
<?php // if(strlen($product->getData('size_guide')) != 0 && $product->getAttributeText('size_guide') != 'NA') : ?>

<div class="conteneur-size-guides">
    <div class="size-find-trigger">
        <p><?= $block->escapeHtml(__('Find your size')) ?></p>
        <div class="size-find modal" style="display: none;">
        <div class="content">
            <h1><?= $block->escapeHtml(__('Find your size')) ?></h1>
            <!-- Men Guides -->
            blabla bla 2

        </div>
    </div>
    </div>

    <div class="size-guide-trigger">
        <p><?= $block->escapeHtml(__('Size Guide')) ?></p>
        <div class="size-guide modal" style="display: none;">
            <div class="content">
                <!-- Size Guides BoF -->
                <section>


                    <div class="content-asset">
                        <div class="help">
                            <div class="sizetables">
                                <div class="men size-chart-tables filter-sub-nav__sizeguide" style="overflow: auto;">
                                    <div class="size-guide-categories subjects custom-select--sorting" data-subtype="sizecategory" aria-expanded="false">
                                        <ul class="filter-list filter-list--text filter-list--refinement js-url-select--hash js-collapsible js-sizeguide-select" style="max-height: 0px; margin: 30px 0 60px 0; padding: 0;">
                                            <li  data-anchor="Tops" data-subselector="sizecategory-1" class="filter-list__item first">Tops</li>
                                            <li  data-anchor="Bottoms" data-subselector="sizecategory-2" class="filter-list__item">Bottoms</li>
                                            <li  data-anchor="Shorts" data-subselector="sizecategory-5" class="filter-list__item">Shorts</li>
                                            <li  data-anchor="Shoes" data-subselector="sizecategory-4" class="filter-list__item active">Shoes</li>
                                        </ul>
                                    </div>
                                    <div class="sizecategory-1 sizecategory sizetable content" style="display: none;">
                                        <h4 class="underline-40-left d-none d-lg-block">Tops</h4>

                                        <div class="content-asset">
                                            <!-- div class="valueswitch">
                                                <input type="checkbox" name="valueswitch_men" class="valueswitch-checkbox" id="valueswitch" checked="">
                                                <label class="valueswitch-label" for="valueswitch">
                                                    <span class="valueswitch-inner" data-switch-value1="cm" data-switch-value2="inch"></span>
                                                    <span class="valueswitch-switch"></span>
                                                </label>
                                            </div -->
											<div class="conteneur-cm-inch">
												<div value="switch-value1" class="valueswitch-inner-measure  actives">cm</div>
												<div value="switch-value2" class="valueswitch-inner-measure">inch</div>
											</div>
												
                                            <span class="jumpto-measurements">How to measure?</span>
                                        </div> <!-- End content-asset -->


                                        <div class="content-asset"></div>
                                        <table style="width: auto;">
                                            <thead>
                                            <tr>
                                                <th class="desktop">Size</th>
                                                <th class="region">EU</th>
                                                <th class="region">UK</th>
                                                <th class="region">US</th>
                                                <th colspan="2" class="only-mobile">Size</th>
                                                <th data-measurement="chest">1.<br>Chest</th>
                                                <th data-measurement="waist">2.<br>Waist</th>
                                                <th data-measurement="hip">3.<br>Hip</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                <td class="_1">S</td>
                                                <td class="_2">46</td>
                                                <td class="_2">S</td>
                                                <td class="_2">S</td>
                                                <td class="_2 only-mobile">EU 46<br>UK S<br>US S</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">92 cm</span><span class="switch-value2 inch" style="display: none;">36"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">78 cm</span><span class="switch-value2 inch" style="display: none;">30,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">92 cm</span><span class="switch-value2 inch" style="display: none;">36"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">M</td>
                                                <td class="_2">48</td>
                                                <td class="_2">M</td>
                                                <td class="_2">M</td>
                                                <td class="_2 only-mobile">EU 48<br>UK M<br>US M</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">98 cm</span><span class="switch-value2 inch" style="display: none;">38,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">84 cm</span><span class="switch-value2 inch" style="display: none;">33"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">98 cm</span><span class="switch-value2 inch" style="display: none;">38,5"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">L</td>
                                                <td class="_2">50</td>
                                                <td class="_2">L</td>
                                                <td class="_2">L</td>
                                                <td class="_2 only-mobile">EU 50<br>UK L<br>US L</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">104 cm</span><span class="switch-value2 inch" style="display: none;">41"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">90 cm</span><span class="switch-value2 inch" style="display: none;">35,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">104 cm</span><span class="switch-value2 inch" style="display: none;">41"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">XL</td>
                                                <td class="_2">52</td>
                                                <td class="_2">XL</td>
                                                <td class="_2">XL</td>
                                                <td class="_2 only-mobile">EU 52<br>UK XL<br>US XL</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">110 cm</span><span class="switch-value2 inch" style="display: none;">43"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">96 cm</span><span class="switch-value2 inch" style="display: none;">38"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">110 cm</span><span class="switch-value2 inch" style="display: none;">43"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">XXL</td>
                                                <td class="_2">54</td>
                                                <td class="_2">XXL</td>
                                                <td class="_2">XXL</td>
                                                <td class="_2 only-mobile">EU 54<br>UK XXL<br>US XXL</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">116 cm</span><span class="switch-value2 inch" style="display: none;">45,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">102 cm</span><span class="switch-value2 inch" style="display: none;">40"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">116 cm</span><span class="switch-value2 inch" style="display: none;">45,5"</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="sizecategory-2 sizecategory sizetable content" style="display: none;">
                                        <h4 class="underline-40-left d-none d-lg-block">Bottoms</h4>

                                        <div class="content-asset">
                                            <!-- div class="valueswitch">
                                                <input type="checkbox" name="valueswitch_men" class="valueswitch-checkbox" id="valueswitch" checked="">
                                                <label class="valueswitch-label" for="valueswitch">
                                                    <span class="valueswitch-inner" data-switch-value1="cm" data-switch-value2="inch"></span>
                                                    <span class="valueswitch-switch"></span>
                                                </label>
                                            </div -->
											<div class="conteneur-cm-inch">
												<div value="switch-value1" class="valueswitch-inner-measure actives">cm</div>
												<div value="switch-value2" class="valueswitch-inner-measure">inch</div>
											</div>
                                            <span class="jumpto-measurements">How to measure?</span>
                                        </div> <!-- End content-asset -->


                                        <div class="content-asset"></div>
                                        <table style="width: auto;">
                                            <thead>
                                            <tr>
                                                <th class="desktop">Size</th>
                                                <th class="region">EU</th>
                                                <th class="region">UK</th>
                                                <th class="region">US</th>
                                                <th colspan="2" class="only-mobile">Size</th>
                                                <th data-measurement="waist">2.<br>Waist</th>
                                                <th data-measurement="hip">3.<br>Hip</th>
                                            </tr>
                                            </thead>

                                            <tbody style="">
                                            <tr>
                                                <td class="_1">28 / S</td>
                                                <td class="_2">46</td>
                                                <td class="_2">36</td>
                                                <td class="_2">36</td>
                                                <td class="_2 only-mobile">EU 46<br>UK 36<br>US 36</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">77,5 cm</span><span class="switch-value2 inch" style="display: none;">30,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">91,5 cm</span><span class="switch-value2 inch" style="display: none;">36"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">29 / S</td>
                                                <td class="_2">46</td>
                                                <td class="_2">36</td>
                                                <td class="_2">36</td>
                                                <td class="_2 only-mobile">EU 46<br>UK 36<br>US 36</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">80 cm</span><span class="switch-value2 inch" style="display: none;">31,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">94 cm</span><span class="switch-value2 inch" style="display: none;">37"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">30 / M</td>
                                                <td class="_2">48</td>
                                                <td class="_2">38</td>
                                                <td class="_2">38</td>
                                                <td class="_2 only-mobile">EU 46<br>UK 38<br>US 38</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">82,5 cm</span><span class="switch-value2 inch" style="display: none;">32,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">96,5 cm</span><span class="switch-value2 inch" style="display: none;">38"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">31 / M</td>
                                                <td class="_2">48</td>
                                                <td class="_2">38</td>
                                                <td class="_2">38</td>
                                                <td class="_2 only-mobile">EU 48<br>UK 38<br>US 38</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">85 cm</span><span class="switch-value2 inch" style="display: none;">33,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">99 cm</span><span class="switch-value2 inch" style="display: none;">39"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">32 / L</td>
                                                <td class="_2">50</td>
                                                <td class="_2">40</td>
                                                <td class="_2">40</td>
                                                <td class="_2 only-mobile">EU 50<br>UK 40<br>US 40</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">87,5 cm</span><span class="switch-value2 inch" style="display: none;">34,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">101,5 cm</span><span class="switch-value2 inch" style="display: none;">40"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">33 / L</td>
                                                <td class="_2">50</td>
                                                <td class="_2">40</td>
                                                <td class="_2">40</td>
                                                <td class="_2 only-mobile">EU 50<br>UK 40<br>US 40</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">90 cm</span><span class="switch-value2 inch" style="display: none;">35,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">104 cm</span><span class="switch-value2 inch" style="display: none;">41"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">34 / XL</td>
                                                <td class="_2">52</td>
                                                <td class="_2">42</td>
                                                <td class="_2">42</td>
                                                <td class="_2 only-mobile">EU 52<br>UK 42<br>US 42</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">92,5 cm</span><span class="switch-value2 inch" style="display: none;">36,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">106,5 cm</span><span class="switch-value2 inch" style="display: none;">42"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">36 / XL</td>
                                                <td class="_2">52</td>
                                                <td class="_2">42</td>
                                                <td class="_2">42</td>
                                                <td class="_2 only-mobile">EU 52<br>UK 42<br>US 42</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">97,5 cm</span><span class="switch-value2 inch" style="display: none;">38,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">111,5 cm</span><span class="switch-value2 inch" style="display: none;">44"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">38 / XXL</td>
                                                <td class="_2">54</td>
                                                <td class="_2">44</td>
                                                <td class="_2">44</td>
                                                <td class="_2 only-mobile">EU 54<br>UK 44<br>US 44</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">102,5 cm</span><span class="switch-value2 inch" style="display: none;">40,5"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">116,5 cm</span><span class="switch-value2 inch" style="display: none;">46"</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        &nbsp;

                                        <h4 class="underline-40-left">Inseam</h4>
                                        <div class="content-asset"></div>

                                        <table style="width: auto;">
                                            <thead>
                                            <tr>
                                                <th>Length</th>
                                                <th data-measurement="inseam">4.<br>Inseam</th>
                                            </tr>
                                            </thead>

                                            <tbody style="">
                                            <tr>
                                                <td class="_1">30</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">77 cm</span><span class="switch-value2 inch" style="display: none;">30"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">32</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">82 cm</span><span class="switch-value2 inch" style="display: none;">32"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">34</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">87 cm</span><span class="switch-value2 inch" style="display: none;">34"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">36</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">92 cm</span><span class="switch-value2 inch" style="display: none;">36"</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="sizecategory-5 sizecategory sizetable content" style="display: none;">
                                        <h4 class="underline-40-left d-none d-lg-block">Shorts</h4>


                                        <div class="content-asset"></div>
                                        <table style="width: auto;">
                                            <thead>
                                            <tr>
                                                <th>Size</th>
                                                <th data-measurement="waist">2.<br>Waist</th>
                                                <th data-measurement="hip">3.<br>Hip</th>
                                            </tr>
                                            </thead>

                                            <tbody style="">
                                            <tr>
                                                <td class="_1">S</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">75 cm</span><span class="switch-value2 inch" style="display: none;">30"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">91 cm</span><span class="switch-value2 inch" style="display: none;">36"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">M</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">80 cm</span><span class="switch-value2 inch" style="display: none;">32"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">96 cm</span><span class="switch-value2 inch" style="display: none;">38"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">L</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">84 cm</span><span class="switch-value2 inch" style="display: none;">33"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">102 cm</span><span class="switch-value2 inch" style="display: none;">40"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">XL</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">89 cm</span><span class="switch-value2 inch" style="display: none;">35"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">107 cm</span><span class="switch-value2 inch" style="display: none;">42"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">XXL</td>
                                                <td><span class="switch-value1 cm" style="display: initial;">97 cm</span><span class="switch-value2 inch" style="display: none;">38"</span></td>
                                                <td><span class="switch-value1 cm" style="display: initial;">115 cm</span><span class="switch-value2 inch" style="display: none;">45"</span></td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>


                                    <div class="sizecategory-4 sizecategory sizetable content" style="display: block;">
                                        <h4 class="underline-40-left d-none d-lg-block">Shoes</h4>

                                        <div class="content-asset"><!-- dwMarker="content" dwContentID="8c0b63c368f9b20349924bfb51" dwContentViewID="size-guide-switch" -->
                                           
                                                <!-- input type="checkbox" name="valueswitch_men" class="valueswitch-checkbox" id="valueswitch" checked="" -->
												<!-- 
                                                <label class="valueswitch-label" for="valueswitch">
                                                    <span class="valueswitch-inner" data-switch-value1="cm" data-switch-value2="inch"></span>
                                                    <span class="valueswitch-switch"></span>
                                                </label>
												-->
												<div class="conteneur-cm-inch">
													<div value="switch-value1" class="valueswitch-inner-measure actives">cm</div>
													<div value="switch-value2" class="valueswitch-inner-measure">inch</div>
												</div>
												
                                          
                                            <span class="jumpto-measurements">How to measure?</span>
                                        </div> <!-- End content-asset -->


                                        <style>.sizecategory-4 .jumpto-measurements { display:none; }</style>


                                        <div class="content-asset"></div>
                                        <table class="shoes" style="width: auto;">
                                            <thead>
                                            <tr>
                                                <th class="desktop">Size</th>
                                                <th class="region">EU</th>
                                                <th class="region">UK</th>
                                                <th class="region">US</th>
                                                <th colspan="2" class="only-mobile">Size</th>
                                                <th class="">Foot Length</th>
                                            </tr>
                                            </thead>

                                            <tbody style="">
                                            <tr>
                                                <td class="_1">40</td>
                                                <td class="_2">40</td>
                                                <td class="_2">6,5</td>
                                                <td class="_2">7</td>
                                                <td class="_2 only-mobile">EU 40<br>UK 6,5<br>US 7</td>
                                                <td class=""><span class="switch-value1 cm" style="display: initial;">26,0 cm</span><span class="switch-value2 inch" style="display: none;">10,2"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">41</td>
                                                <td class="_2">41</td>
                                                <td class="_2">7</td>
                                                <td class="_2">8</td>
                                                <td class="_2 only-mobile">EU 41<br>UK 7<br>US 8</td>
                                                <td class=""><span class="switch-value1 cm" style="display: initial;">26,5 cm</span><span class="switch-value2 inch" style="display: none;">10,4"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">42</td>
                                                <td class="_2">42</td>
                                                <td class="_2">8</td>
                                                <td class="_2">8.5</td>
                                                <td class="_2 only-mobile">EU 42<br>UK 8<br>US 8.5</td>
                                                <td class=""><span class="switch-value1 cm" style="display: initial;">27,0 cm</span><span class="switch-value2 inch" style="display: none;">10,6"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">43</td>
                                                <td class="_2">43</td>
                                                <td class="_2">9</td>
                                                <td class="_2">9.5</td>
                                                <td class="_2 only-mobile">EU 43<br>UK 9<br>US 9.5</td>
                                                <td class=""><span class="switch-value1 cm" style="display: initial;">27,5 cm</span><span class="switch-value2 inch" style="display: none;">10,8"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">44</td>
                                                <td class="_2">44</td>
                                                <td class="_2">10</td>
                                                <td class="_2">10</td>
                                                <td class="_2 only-mobile">EU 44<br>UK 10<br>US 10</td>
                                                <td class=""><span class="switch-value1 cm" style="display: initial;">28,0 cm</span><span class="switch-value2 inch" style="display: none;">11,0"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">45</td>
                                                <td class="_2">45</td>
                                                <td class="_2">10,5</td>
                                                <td class="_2">11</td>
                                                <td class="_2 only-mobile">EU 45<br>UK 10,5<br>US 11</td>
                                                <td class=""><span class="switch-value1 cm" style="display: initial;">28,5 cm</span><span class="switch-value2 inch" style="display: none;">11,2"</span></td>
                                            </tr>
                                            <tr>
                                                <td class="_1">46</td>
                                                <td class="_2">46</td>
                                                <td class="_2">11</td>
                                                <td class="_2">11,5</td>
                                                <td class="_2 only-mobile">EU 46<br>UK 11<br>US 11,5</td>
                                                <td class=""><span class="switch-value1 cm" style="display: initial;">29,0 cm</span><span class="switch-value2 inch" style="display: none;">11,4"</span></td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                    <div class="size-guide-image"><span class="icon-men-size-guide" style="background-image: none;">
				<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 263 668"><style>.st0{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;} .st1{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;stroke-dasharray:1.9944,1.9944;} .st2{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;stroke-dasharray:2.0424,2.0424;} .st3{font-family:MontserratMedium,Verdana,Arial,sans-serif; font-weight:bold;}</style><path d="M221.7 338.9c-.8 7.2-1.5 14.4-2.5 21.6-1.2 8.7-2.6 17.4-4.2 26-2.2 11.5-4.5 23-7.3 34.4-2.8 11.5-4.2 23-4.7 34.8-.2 5.7 1.8 10.7 2.2 16.1.4 4.6 1.1 9.2 1.1 13.8.1 10.7-2.1 21-5.1 31.1-2.9 10-6.2 19.9-8.7 30-2.9 11.5-4 23.3-4.5 35.3-.2 5 1.6 8.8 3.8 13.1 2.9 5.5 5.9 10.7 9.9 15.4 3.8 4.7 7.7 9.4 11.3 14.2 1.8 2.5 3.3 5.3 4.6 8.1.5 1 .3 2.4 0 3.6-.6 2.5-1.4 5-2.3 7.5-.5 1.3-1 2.8-2.9 2.5-.3 0-.8.2-1.1.4-3.6 2.8-8 3-12.2 3.6-3.4.4-6-1.8-8.4-3.8-1.6-1.3-2.9-3.1-4.3-4.8-4.4-5.4-8.8-10.9-13.1-16.4-4.1-5.2-7-11-9.6-16.9-.3-.7.3-1.8.5-2.7 1.5-6.8 3.4-13.5 4.4-20.3.6-3.9 0-8.1-.3-12.1-.7-10.2-1.4-20.3-2.2-30.5-.8-9.7-1.7-19.4-2.5-29-.3-3.7-.6-7.4-.7-9.4-1.1 8.6-2.4 18.9-3.7 29.1-1.3 10.4-2.1 20.8-1.3 31.3.3 4.6-.1 9.2.2 13.8.3 4.5.6 9 2.3 13.5 3.2 8.1 2.1 16.1-3 23.4-4.8 6.8-9.3 13.9-14.1 20.8-2.2 3.1-4.6 6-7.2 8.8-.9 1-2.6 1.7-4.1 1.8-3.4.4-6.8.6-10.2.7-1.1 0-2.2-.6-3.3-1.1-1.5-.7-2.9-1.5-4.4-2.4-.5-.3-1.2-.7-1.5-1.2-1.9-4.3-4.2-8.7-2.3-13.6 1.1-2.8 2.4-5.6 4.1-8 6-8.8 12.2-17.5 18.2-26.2 2.9-4.2 4.8-8.7 4.9-14.1 0-6.8-1.8-13.3-3.3-19.7-3.2-13.6-6.6-27.1-10.4-40.5-2.7-9.3-4.4-18.7-4.7-28.4-.3-8.2.4-16.3 2.1-24.4.7-3.5.5-7.3.7-10.9.4-9.9-3.6-19-5.2-28.5-1.3-7.6-2.7-15.2-3.9-22.8-1.5-9.1-3.1-18.2-4.5-27.3-1.4-9.3-2.6-18.6-3.9-27.9-.5-3.3-1.2-6.5-1.8-9.8-2 1.3-2.8 3.6-2.4 7 .4 3.2 1 6.5 1.4 9.7.2 1.9.2 3.8.4 5.7.1 1.6-.1 2.9-1.8 3.4s-3 0-4.2-1.4c-2.5-3-4-6.4-5.4-10-2.5-6.5-5.2-12.9-7.8-19.3-1.5-3.8-3.6-7.5-4-11.5-.4-3.5.9-7.2 2-10.7 1.9-6.1 4.2-12 6.2-18 .4-1.2.1-2.7.1-4-.1-10 0-20.1-.2-30.1-.1-6.8-.7-13.5-1-20.3-.5-11-.9-22-1.3-32.9-.2-5.3-.4-10.7-.3-16 .2-7.7.7-15.3.9-23 .1-2.1-.5-4.2-.8-6.4-.7-4.8-.6-9.4.1-14.2 1.2-7.2 3.3-14 9.2-18.6 3.9-3.1 8.4-5.5 12.8-7.8 7.4-3.8 15-7.4 22.6-11 3.2-1.5 6.7-2.5 9.9-4.2 1.6-.8 3.1-2.3 4-3.9 2.8-4.6 4-9.7 4-15.1 0-.8-.2-1.7-.6-2.2-3.6-3.8-5.9-8.5-8-13.2-4.4-9.8-6-20.2-4.6-30.8.7-5.4 2.1-10.8 4-15.9 1.5-4 4.4-7.4 8.7-9.1 1.3-.5 2.6-1.2 3.8-1.9 5.9-3.5 12.1-3.4 18.4-1.6 7.6 2.2 13.2 7.1 18.2 12.9 2.9 3.3 3.5 7.6 4.5 11.8 1.2 5.2 1.1 10.4.6 15.7-.5 6.4-1.6 12.7-3.7 18.7-.9 2.5-2.4 4.8-3.9 7.1-1.6 2.4-3.6 4.7-5.4 7.1-.5.7-1.1 1.5-1.1 2.3.1 3.4.2 6.9 2.3 9.9.1.1.1.1.1.2 2.8 7 8.9 9.6 15.2 12.3 9.6 4.1 18.9 8.8 28 13.9 8.6 4.8 12.9 12.7 14.1 22.6.7 5.6.1 10.9-.6 16.3-.6 5.2 0 10.5 0 15.8 0 8.6 0 17.2-.1 25.8 0 5.2-.1 10.3-.2 15.5-.2 6.4-.5 12.9-.6 19.3 0 5 .2 10 .4 15.1.4 12.2.9 24.4 1.3 36.6.2 7.9 1.9 15.4 4.4 22.9 1 3 2.1 6 2.9 9.1.3.9.2 2.1-.1 3-1.9 5.4-3.9 10.7-5.7 16.1-1.8 5.1-3.3 10.3-5.1 15.4-.6 1.9-1.6 3.6-2.6 5.4-1.3 2.3-5.8 3.1-7.9 1.4-.5-.5-.9-1.5-.8-2.2.4-5.6.8-11.3 1.5-16.9.4-3-1.3-5.1-2.3-7.5.2-.3-.1-.3-.4-.3zM114.9 178.8c.5 1.7 1.1 3.2 1.3 4.8.4 2.8.4 5.7.9 8.6.7 3.7 1.8 7.3 2.4 11 .7 4.6 1 9.3 1.5 13.9.7 6.7 2 13.5 2.2 20.2.2 10.8-1 21.6-3.6 32-2.6 10.4-6.5 20.5-9.6 30.8-1.8 5.8-3.6 11.7-4.6 17.7-.7 3.8-.2 7.9.1 11.9.5 7.1.9 14.2 1.9 21.2 1.3 9.8 2.9 19.5 4.5 29.3 1.2 7.4 2.5 14.8 3.8 22.1 1 5.7 2 11.4 3.1 17.1 1.1 5.6 2.2 11.2 3.3 16.9 1.2 5.8 2.9 11.5 3.4 17.3.4 5.3-.5 10.7-1 16.1-.3 4.2-1.2 8.4-1.2 12.6 0 6 .2 11.9.8 17.9.6 5.5 1.4 11 2.7 16.4 2.2 9.1 5 17.9 7.1 27 2.6 11.2 4.2 22.7 7.1 33.8 1.7 6.6-1 11.6-4 16.6-3.6 5.8-8.1 11-11.9 16.7-3.7 5.5-6.9 11.3-10.3 16.9-2.9 4.7-2 14.1 5.4 16.4 1.4.4 2.6.9 4 .1.7-.4 1.5-.4 2.3-.5 3.9-.8 7.8-.7 10.6-5 4.6-7 10.3-13.4 15.3-20.2 2-2.7 4.2-5.6 5.2-8.8 1.8-5.4 1.6-10.8-.9-16.3-1.1-2.5-1.2-5.5-1.5-8.2-.2-1.9.4-3.8.3-5.7-.3-9.3-.4-18.6-1-27.9-.6-10.8 1.7-21.2 3.4-31.8 1.6-9.9 2.2-19.7 1.1-29.6-.9-7.3-2.6-14.5-3.7-21.8-.6-4.1-1.6-8.2-1.4-12.3.5-7.5 2-14.9 2.9-22.3.8-6.9 1.6-13.8 2.1-20.7.2-3.5-.6-7.1-.6-10.7-.3-15-.4-30-.6-45-.1-7.2-.1-14.4-.1-21.5 0-1.8-.5-3-2.5-3.2-.8-.1-1.6-.4-2.1-.9-.5-.4-.5-1.3-.8-2 .6-.2 1.3-.7 1.9-.6 5 .9 10 .5 14.8-1 1.5-.5 2.4-.2 2.8 1.6-.9.6-1.7 1.4-2.6 1.7-1.8.4-2.2 1.5-2.2 3.1 0 3.4-.1 6.7-.3 10.1-.3 9.3-.9 18.5-1 27.8s.3 18.7.5 28c.2 10.3.7 20.6 2.5 30.7 1.1 6.5 2.1 13.1 2.5 19.7.4 8.3-1.6 16.3-3.9 24.2-.4 1.5-.7 3.1-.8 4.7-.2 4.7-.4 9.4-.3 14 .2 7.5-.3 15.1 1.1 22.4 1.7 9.2 1.8 18.5 2.5 27.8.7 9.7 1.5 19.4 2.3 29.1.3 3.7.9 7.5.8 11.2-.2 5.7-1.9 11.1-4 16.4-1.8 4.5-1.7 9.1 1.1 13.2 4.8 6.9 9.7 13.6 14.8 20.2 2.9 3.7 6 7.2 9.3 10.5 2.2 2.2 4.9 3.5 8.2 2.1.8-.3 1.7-.2 2.6-.3 5.6-.2 11.2-7 10.4-12.5 0-.3-.3-.5-.5-.8-2.2-3.2-4.4-6.5-6.7-9.6-6.7-9.1-13.5-18.2-20-27.4-2.7-3.8-4-8-3.3-12.9 1.1-8 1.7-16.2 2.7-24.2 1.7-14 4.8-27.7 9.9-41 5.7-14.7 6.8-29.9 4.2-45.4-1.1-6.8-3-13.6-2.1-20.6 1.3-10.1 2.9-20.2 4.7-30.2 1.4-7.7 3.3-15.2 4.9-22.9 1.7-8.3 3.4-16.5 4.8-24.9 1.4-8.2 2.9-16.5 3.6-24.8.7-7.8 1.4-15.6.3-23.6-1.2-8.8-3-17.2-6.6-25.3-2.2-4.9-3.7-10.2-5.1-15.4-1.1-4.3-1.3-8.9-2.4-13.2-2.3-8.6-2.3-17.4-2.2-26.2.1-6.8.5-13.6.9-20.3.4-6.4.9-12.9 1.8-19.3 1.2-8.7 2.8-17.3 4.1-26 .3-1.9.9-2.6 2.8-1.8-.2 3.3-.5 6.5-.8 9.8-.4 5.3-1.1 10.6-.2 15.9.9 5.8 2 11.5 4.3 16.9 1 2.3 2.2 3.8 5.1 3.8 2.9 0 5.8.8 8.7 1.5.7.2 1.1 1.3 1.6 1.9-.7.2-1.5.7-2.1.6-3.3-.4-6.6-1-9.9-1.5-1.2-.2-2.1.1-2 1.6.6 7.6 1.1 15.3 1.8 22.9.4 3.9 1.2 7.8 1.8 11.8 1 7.3 1.6 14.6 3.1 21.8s3.8 14.2 5.7 21.3c.3 1.2.4 2.5.2 3.7-.9 3.9-2 7.7-3 11.6-1.4 5.5-1.9 10.8 1.6 16.1 1.7 2.5 2.9 5.7 2.3 9.1-.9 5-1.8 10-2.6 15 2.4.8 2.6.8 3.4-1.2 4.3-11.1 8.5-22.2 12.6-33.3.4-1 .3-2.2.1-3.2-.7-2.7-1.7-5.3-2.5-8-1.1-3.8-2.2-7.5-2.9-11.3s-2.2-7.3-1.7-11.4c.6-5.4-.3-10.8-.4-16.2l-.6-30c-.1-6.5-.3-13.1-.1-19.6.3-10 1.1-20.1 1.3-30.1.1-6.2-.7-12.4-.6-18.6.1-5.8-1.4-11.5 0-17.5 1.1-4.4.5-9.4.1-14-.4-4-1.7-8.3-4.9-10.9-5-4.1-10.4-7.7-15.9-11.1-5.6-3.5-11.1-7-17.6-9-7-2.1-13.2-5.8-16.9-12.4-2.1-3.7-3.6-7.7-5.5-11.6-3.1 3.1-6.8 5.4-11.8 4.9s-7.5-4.9-11.6-7.3c-.2 1.4-.3 2.5-.4 3.6-.7 8.7-5.1 15-12.6 19.1-2.7 1.5-5.6 2.6-8.5 3.8-3.1 1.3-6.5 2-9.3 3.6-7.2 4.1-14.3 8.5-21.2 13-2.6 1.7-5.2 3.7-6.9 6.1-4.8 6.8-5 14.6-4.2 22.5.3 2.6 1.4 5.3 1.3 7.9-.2 6.5-1.1 13-1.4 19.5-.2 5.7-.1 11.4.1 17.1.1 5 .4 10.1.6 15.1.4 8.4.8 16.8 1 25.2.3 10.9.4 21.8.6 32.7.1 4.1-.2 8.3.3 12.3.2 2 .7 3.7-.4 5.6-1.1 1.7-1.8 3.6-2.5 5.5-.9 2.4-1.6 4.9-2.3 7.3-2 6.6-4.8 12.9-1.2 20.2 4.2 8.5 7 17.6 10.5 26.5 1 2.6 2.5 5 3.8 7.5.3-.1.6-.1 1-.2.2-1 .6-2.1.6-3.1-.5-5.5-1.1-11-1.5-16.4-.1-1.4.4-2.9.7-4.3.7-2.9 1.7-5.6 2.2-8.5 1.1-6.1-.9-11.8-2.9-17.4-.9-2.5-2.2-5.2-1.9-7.7.7-6.3 2-12.6 3.3-18.8 1.9-8.7 4.3-17.3 5.8-26.1 1.3-7.4 1.7-14.9 2.5-22.4.3-3.2.8-6.3 1-9.5.1-2.6-.7-3.2-3.3-2.9-2.7.3-5.4.7-8.1.9-1 .1-2-.4-2.9-.6v-.9c3.4-.8 7-1.5 10.3-2.6 1.5-.5 3.4-1.7 3.8-3 2-5.8 3.5-11.7 5.3-17.6 1.1-3.5 1.2-6.9.3-10.6-.9-4-1.2-8.2-1.8-12.3.3-.2 1-.6 2.1-1.3zm73.8-134.9h.7c-.6-2.3-1.1-4.6-1.8-6.9-2.2-7-6.4-12.7-12.5-16.8-4.1-2.7-8.5-5-13.8-4.4-5.4.5-9.8 3.1-14.3 5.7-4.4 2.6-5.9 7.3-7.6 11.6-3.1 7.6-3 15.7-2.4 23.8.5 6.3 2.8 12.1 5.5 17.8 3.2 6.8 8.2 12.2 14.2 16.5 2 1.4 4.9 2.3 7.3 2.2 2.2-.1 4.6-1.5 6.4-3 2.5-2.1 4.7-4.6 6.5-7.2 2.7-3.8 5.5-7.8 7.2-12.1 3.6-8.7 6-17.6 4.6-27.2zM207.9 206h-.4c-.4 1.7-.9 3.4-1.1 5.1-.7 7.5-1.5 14.9-1.9 22.4-.3 5.2.2 10.6-.1 15.8-.5 9.1.8 18 2.9 26.8 2.2 8.7 5.4 17.2 7.8 25.9 1.9 6.7 5.2 13.1 5.3 20.3 0 1.7.3 3.4.5 5.6.3-1.2.5-1.9.7-2.5.9-4.4 2.6-8.8 2.4-13.1-.3-7-1.7-13.9-3-20.8-1-5.6-3-11-3.7-16.6-1.5-12.3-2.5-24.6-3.8-36.9-.4-4.4-.8-8.8-1.6-13.1-.7-3.8-1.9-7.5-2.7-11.3-.4-2.5-.8-5-1.3-7.6zm-91.6 2.6c-.1 0-.2.1-.3.1-.3 1-.5 2-.8 3-2.1 8.2-4 16.2-4.2 24.9-.3 9.8-2.6 19.5-4 29.3-.4 2.6-.5 5.2-1.1 7.7-2.2 9.6-4.6 19.1-6.7 28.6-1.1 5.2.3 10 3 15 .4-2.4.7-4.5 1.2-6.5 2.2-7.5 4.7-14.9 6.8-22.4 2.2-7.8 6.3-14.9 6.9-23.1.3-3.9 1.9-7.6 2.3-11.5 1-11.8.2-23.6-1.8-35.2-.5-3.3-.9-6.6-1.3-9.9zm45.3 277.2c.9-4.7 1.8-10.1 2.9-15.5.7-3.4 1.9-6.8 2.7-10.2 1.7-7.4 0-14.7-1.2-22-1.5-8.9-3.5-17.6-3.2-26.7.3-8.5 0-16.9 0-25.4v-11.6h-.7c-.2 6.4-.7 12.7-.7 19.1-.1 10.5.3 20.9-.1 31.3-.3 6.7-1.9 13.4-2.6 20.1-.6 5.4-1.5 11-1 16.4.7 8.5 2.6 16.8 3.9 24.5zm.3-116.1h1.1v-36.1h-1.2s-.7.2-1.3.3c.4 12.1.9 24 1.4 35.8z"></path><path class="st0" data-measurement="chest" d="M115.3 178l91.8 1"></path><path class="st0" data-measurement="waist" d="M123.5 249.7l80.5-.7"></path><path class="st0" data-measurement="hip" d="M103 311l111 .5"></path><path class="st0" d="M160 334h-1"></path><path class="st1" data-measurement="inseam" d="M157 334l-124.5-.6"></path><path class="st0" d="M31.4 333.4h-1M160 588h-1"></path><path class="st2" data-measurement="inseam" d="M157 588l-122.3.4"></path><path class="st0" d="M33.7 588.4h-1"></path><path class="st0" data-measurement="inseam" d="M31.4 333.4L33 588"></path><text transform="translate(154.21 169.674)" class="st3 st4" data-measurement="chest">1.</text><text transform="translate(154.043 242.62)" class="st3 st4" data-measurement="waist">2.</text><text id="_x33_." transform="translate(152.927 303.798)" class="st3 st4" data-measurement="hip">3.</text><text id="_x34_." transform="translate(12 460.498)" class="st3 st4" data-measurement="inseam">4.</text></svg></span>
                                    </div>
                                </div>


                                <div class="sizecategory-x  how-to-measure sizetable content" >
                                    <div class="content-asset">
                                        <h4 class="underline-40-left">How to measure?</h4>
                                        <p data-measurement="chest"><strong>1. Chest</strong><br>Measure around chest at the fullest part. Keep your arms down.</p>
                                        <p data-measurement="waist"><strong>2. Waist</strong><br>Measure around natural waistline, the narrowest part above the belly button</p>
                                        <p data-measurement="hip"><strong>3. Hip</strong><br>Measure around the hip at the widest part</p>
                                        <p data-measurement="inseam"><strong>4. Inseam</strong><br>Measure from top of inside leg at crotch to ankle bone</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>
                <!-- Size Guides EoF -->
            </div>
    </div>
    </div>
</div>




<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ],function($, modal) {

       /* var moveSizeGuide = setInterval(function () {
            if ($('.product-options-bottom').length) {
                $('.size-guide-trigger').appendTo('.product-options-bottom')
                clearInterval(moveSizeGuide)
            }
        }, 200) */



        var options = {
            type: 'popup',
            responsive: true,
            modalClass: 'size-guide-show',
            buttons: [{
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        };

        var popup = modal(options, $('.size-guide.modal'));
        $(".size-guide-trigger").click(function() {
            $('.size-guide.modal').show();
            $('.size-guide.modal').modal('openModal');
        });


        var popup = modal(options, $('.size-find.modal'));
        $(".size-find-trigger").click(function() {
            $('.size-find.modal').show();
            $('.size-find.modal').modal('openModal');
        });
		
		// Haingo 20210817: animation
		
		$(".sizetables li").click(function(e) {
			var subselector = $(this).attr('data-subselector');
			$('.sizecategory').hide();
			$('.'+subselector).show();
			$('.filter-list__item').removeClass('active');
			$(this).addClass('active');
        });
		
		$(".valueswitch-inner-measure").click(function(e) {
			var value = $(this).attr("value");
			if(value == 'switch-value1'){
				$('.switch-value1').show();
				$('.switch-value2').hide();
				
			}else{
				$('.switch-value1').hide();
				$('.switch-value2').show();
			}
			$('.valueswitch-inner-measure').removeClass('actives');
			$(".valueswitch-inner-measure").each(function() {
				var current_value = $(this).attr("value");
				if(current_value == value)$(this).addClass('actives');
			});
			
        });
		
		
		$('td').mouseover(function () {
			$(this).addClass('hover');
			var ind = $(this).index();
			$('td:nth-child(' + (ind + 1) + ')').addClass('hover');
			$('th:nth-child(' + (ind + 1) + ')').addClass('hover-th');
		});
		$('td').mouseleave(function () {
			$(this).removeClass('hover');
			var ind = $(this).index();
			$('td:nth-child(' + (ind + 1) + ')').removeClass('hover');
			$('th:nth-child(' + (ind + 1) + ')').removeClass('hover-th');
		});
		
		
		$('tr').mouseover(function () {
			$(this).addClass('hover');
			var ind = $(this).index();
			console.log('mouseover tr '+ind);
			$('tr:nth-child(' + (ind + 1) + ')').addClass('hover');
		});
		$('tr').mouseleave(function () {
			$(this).removeClass('hover');
			var ind = $(this).index();
			$('tr:nth-child(' + (ind + 1) + ')').removeClass('hover');
		});

		// Haingo


    });
	
	
</script>

<?php  // endif; ?>

