<?php
$product = $block->getProduct();

?>
<?php if(strlen($product->getData('size_guide')) != 0 && $product->getAttributeText('size_guide') != 'NA') : ?>
<div class="size-guide-trigger">
    <p><?= $block->escapeHtml(__('Find Your Size')) ?></p>
</div>


<div class="size-guide modal" style="display: none;">
    <div class="content">
        <h1><?= $block->escapeHtml(__('Size Guide')) ?></h1>
        <!-- Men Guides -->
        <?php if ($product->getAttributeText('size_guide') == 'men_diesel_bottom') : ?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('men_diesel_bottom')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'men_diesel_black_gold_bottom') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('men_diesel_black_gold_bottom')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'men_diesel_top') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('men_diesel_top')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'men_diesel_black_gold_top') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('men_diesel_black_gold_top')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'men_shoes') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('men_shoes')->toHtml()?>
            </div>

            <!-- Women Guides -->

            <?php elseif ($product->getAttributeText('size_guide') == 'women_diesel_bottom') : ?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('women_diesel_bottom')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'women_diesel_black_gold_bottom') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('women_diesel_black_gold_bottom')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'women_diesel_top') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('women_diesel_top')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'women_diesel_black_gold_top') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('women_diesel_black_gold_top')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'women_shoes') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('women_shoes')->toHtml()?>
            </div>

        <!-- Kids Guides -->
        <?php elseif ($product->getAttributeText('size_guide') == 'kids_baby_accessories') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('kids_baby_accessories')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'kids_junior_accessories') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('kids_junior_accessories')->toHtml()?>
            </div>

        <?php elseif ($product->getAttributeText('size_guide') == 'kids_footwear') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('kids_footwear')->toHtml()?>
            </div>

        <!-- Belts Guide -->
        <?php elseif ($product->getAttributeText('size_guide') == 'belts_belts') :?>
            <div>
                <?= $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('belts_belts')->toHtml()?>
            </div>

        <?php endif; ?>

    </div>
</div>

<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ],function($, modal) {

        var moveSizeGuide = setInterval(function () {
            if ($('.swatch-attribute.size').length) {
                $('.size-guide-trigger').appendTo('.swatch-attribute.size')
                clearInterval(moveSizeGuide)
            }
        }, 200)



        var options = {
            type: 'popup',
            responsive: true,
            modalClass: 'size-guide-show',
            buttons: [{
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        };

        var popup = modal(options, $('.size-guide.modal'));
        $(".size-guide-trigger").click(function() {
            $('.size-guide.modal').show();
            $('.size-guide.modal').modal('openModal');
        });
    });
</script>

<?php endif; ?>

