<?php
$product = $block->getProduct();

?>
<?php // if(strlen($product->getData('size_guide')) != 0 && $product->getAttributeText('size_guide') != 'NA') : ?>

<div class="conteneur-size-guides">
    <div class="size-find-trigger">
        <p><?= $block->escapeHtml(__('Find your size')) ?></p>
        <div class="size-find modal" style="display: none;">
        <div class="content">
            <h1><?= $block->escapeHtml(__('Find your size')) ?></h1>
            <!-- Men Guides -->
            blabla bla 2

        </div>
    </div>
    </div>

    <div class="size-guide-trigger">
        <p><?= $block->escapeHtml(__('Size Guide')) ?></p>
        <div class="size-guide modal" style="display: none;">
        <div class="content">
            <h1><?= $block->escapeHtml(__('Size Guide')) ?></h1>
            <!-- Men Guides -->
            blabla bla

        </div>
    </div>
    </div>
</div>




<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ],function($, modal) {

       /* var moveSizeGuide = setInterval(function () {
            if ($('.product-options-bottom').length) {
                $('.size-guide-trigger').appendTo('.product-options-bottom')
                clearInterval(moveSizeGuide)
            }
        }, 200) */



        var options = {
            type: 'popup',
            responsive: true,
            modalClass: 'size-guide-show',
            buttons: [{
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        };

        var popup = modal(options, $('.size-guide.modal'));
        $(".size-guide-trigger").click(function() {
            $('.size-guide.modal').show();
            $('.size-guide.modal').modal('openModal');
        });


        var popup = modal(options, $('.size-find.modal'));
        $(".size-find-trigger").click(function() {
            $('.size-find.modal').show();
            $('.size-find.modal').modal('openModal');
        });


    });
</script>

<?php  // endif; ?>

