<?php
$product = $block->getProduct();
?>

<ul class="size-fit-content">
    <?php if(strlen($product->getData('model_image_size')) != 0) : ?>
        <li>
        <span><?= $product->getData('model_image_size') ?></span>
    </li>
    <?php endif; ?>

    <?php if(strlen($product->getData('size_guide')) != 0 && $product->getAttributeText('size_guide') != 'NA') : ?>
    <li class="size-fit-trigger">
    <?= $block->escapeHtml(__('Size info')) ?>
    </li>
    <?php endif; ?>
</ul>



<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ],function($, modal) {
        $(".size-fit-trigger").click(function() {
            $('.size-guide.modal').show();
            $('.size-guide.modal').modal('openModal');
        });
    });
</script>
