
<?php if($block->getProduct()->getTags() !== null) : ?>
<div class="tags">
    <strong><?= $block->escapeHtmlAttr(__('Tags')) ?></strong>
    <div class="tags-content">
        <?php echo $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getTags(), 'tags'); ?>
    </div>
</div>
<?php endif; ?>
