& when (@media-common = true) {
    .page-footer{
        overflow-x: hidden;
    }
    .norote-subscribe-block,
    .footer{
        &.content{
            .block {
                &.newsletter{
                    float: none;
                    max-width: 65%;
                    margin-bottom: 30px;
                    .title{
                        display: block;
                        text-transform: uppercase;
                        font-size: 14px;
                        strong{
                            font-size: 14px !important;
                        }
                    }
                    .field{
                        &.newsletter{
                            label{
                                position: relative;
                                padding-bottom: 45px;
                                .newsletter-note{
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    white-space: nowrap;
                                    font-size: 10px;
                                    line-height: 1.2em;
                                    a{
                                        text-decoration: underline;
                                        &:hover{
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                            input[type="email"]{
                                background: @color-gray-light0;
                                padding: 8px 14px;
                                height: auto;
                                max-width: 294px;
                                width: 100%;
                                border: none;
                                font-size: 14px;
                                &::-webkit-input-placeholder {
                                    color: @color-gray-darken4;
                                    font-family: @font-family-name__base;
                                }
                                &::-moz-placeholder {
                                    color: @color-gray-darken4;
                                    font-family: @font-family-name__base;
                                }
                                &:-ms-input-placeholder {
                                    color: @color-gray-darken4;
                                    font-family: @font-family-name__base;
                                }
                                &:-moz-placeholder {
                                    color: @color-gray-darken4;
                                    font-family: @font-family-name__base;
                                }
                            }
                        }
                        .control{
                            &:before{
                                display: none;
                            }
                        }
                    }
                    .actions{
                        .action{
                            &.secondary{
                                margin-left: 15px;
                                -webkit-border-radius: 0;
                                -moz-border-radius: 0;
                                border-radius: 0;
                                white-space: nowrap;
                                padding: 12px 40px 10px;
                                font-size: 14px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            .footer-top-section{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 30px;
                padding-bottom: 20px;
            }
        }
        .social-links-holder{
            width: 100%;
            max-width: 40%;

            .title{
                text-transform: uppercase;
                font-size: 14px;
                strong{
                    font-family: @font-family-name__secondary;
                    font-weight: 700;
                    line-height: 3.7rem;
                    margin-top: 2.4rem;
                    margin-bottom: 2.4rem;
                    font-size: 14px !important;
                }
            }
            .social-links{
                li{
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 30px 0 0;
                    a{
                        font-size: 0;
                        line-height: 0;
                        position: relative;
                        &:after{
                            content:'';
                            font-family: 'beside icons';
                            font-size: 21px;
                            line-height: 1.2em;
                        }
                        &:hover{
                            text-decoration: none;
                        }
                        &.ico-inst{
                            &:after{
                                content:@ico-var-instagram;
                            }
                        }
                        &.ico-fb{
                            &:after{
                                content:@ico-var-facebook;
                            }
                        }
                        &.ico-twitter{
                            &:after{
                                content:@ico-var-twitter;
                            }
                        }
                        &.ico-youtube{
                            &:after{
                                content:@ico-var-youtube;
                            }
                        }
                    }
                }
            }
        }
        .footer-links-holder{
            margin: 0 -99999px;
            padding: 20px 99999px 20px;
            border: 1px solid @color-gray91;
            border-width: 1px 0;
        }
        .footer-links-collapsible{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
            font-family: @font-family-name__secondary;
            font-size: 14px;
            font-weight: @font-weight__bold;
            text-transform: uppercase;
            >li{
                >a{
                    display: inline-block;
                    vertical-align: top;
                    padding: 1.25rem 20px 1.25rem 0;
                }
            }
            li{
                &.parent{
                    >a{
                        position: relative;
                        justify-content: flex-start;
                        z-index: 5;
                        &:after{
                            content:@ico-var-chevron-down;
                            font-family: 'beside icons';
                            position: absolute;
                            right: 0;
                            top: 17px;
                            font-size: 11px;
                            line-height: 14px;
                            -webkit-transition: all ease-in-out .3s;
                            -moz-transition: all ease-in-out .3s;
                            -ms-transition: all ease-in-out .3s;
                            -o-transition: all ease-in-out .3s;
                            transition: all ease-in-out .3s;
                        }
                        &.open{
                            &:after{
                                -webkit-transform: rotate(-180deg);
                                -moz-transform: rotate(-180deg);
                                -ms-transform: rotate(-180deg);
                                -o-transform: rotate(-180deg);
                                transform: rotate(-180deg);

                            }
                        }
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    ul.submenu{
                        transition: all 0.7s ease-out;
                        transition-delay: 0.3s;
                        position: relative;
                        padding-left: 0;
                        z-index: 1;
                        opacity: 0;
                        overflow: hidden;
                        max-height: 0;
                        text-transform: none;
                        white-space: nowrap;
                        margin-right: -10vw;
                        font-family: @font-family-name__base;
                        font-weight: @font-weight__regular;
                        &.open{
                            opacity: 1;
                            max-height: 360px;
                            max-height: 22.5rem;
                            margin-top: -22.5rem;
                            padding-top: 22.5rem;
                        }
                        li{
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
    .norote-subscribe-block{
        color: @color-white;
        a{
            color: @color-white;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
        &.content {
            .block{
                &.newsletter {
                    margin-bottom: 10px;
                    .actions {
                        .action{
                            &.secondary{
                                border: 1px solid @color-white;
                                background: none;
                                color: @color-white;
                                padding: 13px 46px 14px;
                                &:hover{
                                    background: @color-white;
                                    color: @color-black;
                                }
                            }
                        }
                    }
                    .field{
                        &.newsletter {
                            label{
                                padding-bottom: 0;
                            }
                            input[type="email"]{
                                padding: 8px 22px;
                            }
                        }
                    }
                }
            }
        }
        .newsletter-note{
            font-size: 10px;
        }
    }
}
@media only screen and (max-width: @screen__m) {
    .footer{
        &.content {
            .block{
                &.newsletter{
                    max-width: 100%;
                    width: 100% ;
                    .title{
                        strong{
                            font-size: 16px;
                        }
                    }
                    form.subscribe{
                        display: block;
                        position: relative;
                        padding-bottom: 30px;
                    }
                    .field{
                        &.newsletter{
                            label{
                                display: block;
                                padding-bottom: 0;
                                position: static;
                            }
                            input[type="email"]{
                                max-width: 100%;
                                margin: 0 0 30px;
                            }
                        }
                        .control{
                            &:before{
                                display: none;
                            }
                        }
                    }
                    .actions {
                        .action{
                            &.secondary{
                                width: 100%;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
        .social-links-holder{
            max-width: 100%;
            margin-bottom: 30px !important;
        }
        .footer-links-collapsible {
            > li {
                width: 100%;
                >a{
                    display: block;
                    &:after{
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}
