.page-wrapper{
    overflow-x: hidden;
}
.cms-noroute-index{
    h2{
        font-size: 40px;
        line-height: 1.2em;
    }
    h4,
    h5 {
        text-transform: uppercase;
        &[data-content-type="heading"] {
            text-transform: uppercase;
        }
    }
    .norote-categories-list{
        .pagebuilder-column-group{
            margin: 0 -13px;
        }
        .pagebuilder-poster-content{
            position: absolute;
            bottom: 30px;
            left: 40px;
            h4{
                color: @color-white;
                margin: 0;
            }
        }
    }
    .top-banner{
        .pagebuilder-column{
            max-width: 410px;
            width: 100%;
        }
        h1{
            font-size: 40px;
            line-height: 54px;
            text-transform: uppercase;
            margin: 0 0 30px;
            color: @color-white;
        }
        .pagebuilder-button-primary{
            width: 100%;
            max-width: 260px;
            text-transform: uppercase;
            color: @color-white;
            border: 1px solid @color-white;
            background: transparent;
            font-size: 14px;
            padding: 10px 80px;
            &:hover{
                background: @color-black;
                border-color: @color-black;
            }
        }
    }
}

.cms-index-index{
    h2{
        font-size: 40px;
        line-height: 1.2em;
    }
    .column.main{
        padding-bottom: 0;
    }
    .page-wrapper{
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .page-main{
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .page-title-wrapper{
        display: none;
    }
    .pagebuilder-column-group{
        .pagebuilder-column{
            h4,
            h5{
                &[data-content-type="heading"]{
                    text-transform: uppercase;
                }
            }
            .pagebuilder-button-link{
                text-transform: uppercase;
                text-decoration: underline;
                font-size: 14px;
                font-family: @font-family-name__secondary;
                font-weight: @font-weight__bold;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
.widget-product-carousel{
    margin: 0 -63px;
    padding: 0 50px;
    font-family: @font-family-name__base;
    .slick-prev,
    .slick-next{
        height: 30px;
        width: 30px;
        &:before{
            font-size: 21px;
        }
    }
    .slick-slide{
        .product-item{
            padding: 0 13px;
        }
    }
    .product-item-name{
        font-family: @font-family-name__base;
        font-size: 14px;
        margin: 0;
    }
    .price-box{
        margin: 0;
        font-weight: @font-weight__regular;
        font-size: 14px;
        .price{
            font-weight: @font-weight__regular;
            font-size: 14px;
        }
    }
    .product-item-inner{
        display: none;
    }
}
.hp-top-image-slider{
    h2{
        font-size: 70px;
    }
    .pagebuilder-overlay{
        position: relative;
    }
    .pagebuilder-poster-content{
        max-width: @layout__max-width;
        position: absolute;
        left: 50%;
        bottom: 60px;
        transform: translateX(-50%);
        h4{
            font-weight: @font-weight__regular;
        }
        a{
            &:extend(.abs-button-l all);
            &:extend(.pagebuilder-button-primary all);
            width: 100%;
            max-width: 270px;
            text-align: center;
        }
    }
    .slick-dots{
        max-width: @layout__max-width;
        position: absolute;
        left: 50%;
        bottom: 50px;
        text-align: right;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        li{
            button{
                background: transparent;
                border-color: @color-white;
                &:hover{
                    background: @color-white;
                    border-color: @color-white;
                }
            }
            &.slick-active{
                button{
                    background: @color-white;
                }
            }
        }
    }
}
.hp-news-block{
    .news-side-image {
        position: relative;
        img{
            position: absolute;
            height: 100% !important;
            width: auto;
            max-width: none !important;
        }

        &.image-left{
            img{
                right: 0;
            }
        }
        &.image-right{
            img{
                left: 0;
            }
        }
    }
    .pagebuilder-column{
        &.news-main-image{
            .pagebuilder-banner-wrapper{
                background-position: 50% 50% !important;
            }
        }
    }
    .pagebuilder-banner-wrapper{
        position: relative;
        .pagebuilder-overlay{
            .pagebuilder-poster-content{
                position: absolute;
                bottom: 0;
                width: 100%;
                max-width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
    }
    .pagebuilder-button-secondary{
        max-width: 270px;
        width: 100%;
    }

}

.full-width-row{
    margin-left:0 -9999px;
    padding: 0 9999px;
}
.hp-top-banner{
    color: @color-white;
    .hp-top-banner-title{
        text-transform: uppercase;
        font-size: @h2__font-size;
        line-height: @h2__line-height;
    }
}
@media(max-width: @screen__l){
    .cms-noroute-index {
        .norote-categories-list {
            .pagebuilder-column-group{
                flex-wrap: wrap;
                .pagebuilder-column{
                    width: 100% !important;
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                }
            }
            .pagebuilder-poster-content{
                left: 23px;
                bottom: 15px;
                h4{
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            .pagebuilder-poster-overlay{
                min-height: calc(~'(100vw * 68) / 187') !important;
            }
            .pagebuilder-banner-wrapper {
                [data-element='content']{
                    min-height: 1px !important;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-noroute-index {
        .top-banner {
            min-height: 530px !important;
            h1{
                font-size: 24px !important;
                line-height: 37px !important;
                max-width: 270px;
            }
            .pagebuilder-column{
                max-width: 100% !important;
                padding-top: 35px !important;
                [data-content-type='button-item']{
                    width: 100%;
                    .pagebuilder-button-primary{
                        max-width: 100%;
                        padding: 6px 30px;
                    }
                }
            }
        }
        .block{
            &.newsletter {
                max-width: 100% !important;
                .form{
                    &.subscribe{
                        display: block;
                    }
                }
                .field{
                    &.newsletter {
                        input[type="email"]{
                            margin-right: 0;
                            max-width: 100% !important;
                            margin-bottom: 20px;
                        }
                    }
                }
                .actions {
                    .action{
                        &.secondary{
                            padding: 9px 20px;
                            margin-left: 0 !important;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .hp-top-banner{
        [data-content-type='button-item']{
            width: 100%;
        }
        .pagebuilder-button-primary{
            width: 100%;
        }
    }
    .hp-top-image-slider{
        .pagebuilder-slide-wrapper{
            .pagebuilder-poster-content{
                a{
                    display: block;
                }
            }
        }
    }
    .hp-news-block{
        margin-left: -20px !important;
        margin-right: -20px !important;
        .pagebuilder-column{
            flex-basis: auto;
            width: 20px !important;
            &.news-main-image{
                width: calc(~'100% - 80px') !important;
            }
        }
    }
    .cms-index-index {
        .column.main{
            padding: 0 20px;
            .full-width-row{
                margin-left: -20px !important;
                margin-right: -20px !important;
            }
        }
        [data-content-type='products'][data-appearance='carousel'] {
            width: 125%;
        }
    }
    .hp-four-image-blocks{
        .pagebuilder-column-group{
            .pagebuilder-column{
                width: 50% !important;
                margin-bottom: 20px !important;
                flex-basis: auto;
            }
        }
    }
    .usp-row{
        .pagebuilder-column{
            figure{
                margin-bottom: 0 !important;
                img{
                    max-width: 60px !important;
                }
            }
        }
    }
}
