
@font-face {
    font-family: 'roxborough_cfmedium';
    src: url('../fonts/roxboroughcf-medium-webfont.woff2') format('woff2'),
         url('../fonts/roxboroughcf-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roxborough_cfregular';
    src: url('../fonts/RoxboroughCF-Regular.woff2') format('woff2'),
         url('../fonts/RoxboroughCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roxborough_cf';
    src: url('../fonts/RoxboroughCF-Thin.woff2') format('woff2'),
         url('../fonts/RoxboroughCF-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.cms-index-index #maincontent,
.cms-index-index .page-footer{ background: #FAF8F5;}
.cms-index-index h3{
    font-family: 'roxborough_cfmedium' !important;
    font-size: 40px !important;
    font-weight: normal !important;
}
.norote-subscribe-block.content .footer-top-section, 
.footer.content .footer-top-section {
    /*background: #fff;*/
    padding-top:18px;
    margin-bottom: 50px !important;
    margin-top: 30px !important;
    padding:35px;

}

.cms-index-index  .btn-full{
    font-family: 'Aktiv Grotesk' !important;
    max-width: 200px !important;

}
.page-footer{
    background: #faf8f5;
}
body.cms-index-index  .btn-transparent{
    font-family: 'Aktiv Grotesk' !important;
    max-width: 200px !important;
    background: transparent !important; 
    color: #fff !important
}

body.cms-index-index  a.btn-transparent:hover{
    background: #fff !important; 
    color: #000 !important;
}


p.buttons{
    margin-top:20px;
}

.norote-subscribe-block.content .block.newsletter .field.newsletter label, 
.footer.content .block.newsletter .field.newsletter label {
    position: relative;
    padding-bottom: 0px !important;
    display: flex;
    flex-flow: column-reverse;
    text-align: center;
    justify-content: center;
}



.ss-women .level1.ves-column5 > .item-content1 > .mega-col:nth-child(1){
    width: 40% !important;
}


.ss-women .ves-column5 .mega-col:nth-child(1) .mega-col-level-2{
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.ss-women .ves-column5 .mega-col:nth-child(1) .mega-col-level-2 > div{
    width: 50% !important;
}



.ss-men .ves-column5 .item-content1{display: flex}

.ss-men .level1.ves-column5 > .item-content1 > .mega-col:nth-child(1){
    width: 40% !important;
}

.ss-women .level1.ves-column5 > .item-content1 > .mega-col:nth-child(1){
    width: 40% !important;
}


.ss-men .ves-column5 .mega-col:nth-child(1) .mega-col-level-2{
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.ss-men .ves-column5 .mega-col:nth-child(1) .mega-col-level-2 > div{
    width: 50% !important;
}

.kids-twin .level1 .level2.nav-dropdown .mega-col{
       display: flex;
    flex-flow: wrap;
    width: 100%;
}
.kids-twin .level1 .level2.nav-dropdown .mega-col > div.nav-item{
    width: 50% !important;
}





.norote-subscribe-block.content .block.newsletter .title strong, .footer.content .block.newsletter .title strong {
	font-size: 14px !important;
	display: none;
}
.footer.content .block.newsletter {
	max-width: 1280px !important;
	width: 100%;
	text-align: center;
	background: #fff;
    padding: 40px;
    margin:0 auto;
	/*
    margin: 0 -99999px;
	padding: 30px 99999px 30px;
    */
}
.footer.content .block.newsletter .form.subscribe {
	display: unset;
}

.footer.content .block.newsletter .field.newsletter input[type="email"] {
    max-width: 480px !important;
    margin-right: 0;
    margin-bottom: 15px !important;
    margin: 33px auto;
    border: 1px solid #1d1d1d !important;
    padding: 10px 14px !important;
    background: #fff !important;
}
.footer.content #newsletter-error {
	width: 100%;
}
.footer.content .block.newsletter .field.newsletter label .newsletter-note {
	position: unset !important;
	color: #8a8a8a;
	font-size: 12px;
}
.footer.content .block.newsletter .field.newsletter label .newsletter-note p {
	white-space: break-spaces;
    font-size:14px;
    line-height: 23px;
    color: #1d1d1d;
}
.footer.content .block.newsletter .field.newsletter input[type="email"]::placeholder {
	color: #242424;
	opacity: 1;
}
.footer.content .block.newsletter .field.newsletter label .newsletter-note a {
	color: #8a8a8a;
font-size: 12px;
}
.footer.content .block.newsletter .actions {
	padding-top: 25px;
    width:auto;
}
.footer.content .block.newsletter .actions button span {
	font-size: 15px;
}
.btn-see-all a{
    background: transparent;
	color: #1d1d1d;
	border: 1px solid #1d1d1d;
    padding: 12px 40px 10px;
    font-size: 14px;
    text-transform: uppercase;
    max-width: 170px;
    margin: 0 auto;
    font-weight: bold;
    text-transform: none;
    width:170px;
    display:inline-block;
}
.btn-see-all a:hover{
    background:  #dbc7ae;
    color: #1d1d1d !important;
    border: 1px solid #dbc7ae;
}
.footer.content .block.newsletter .actions button {
	background: #1d1d1d;
	color: #fff;
	border: 1px solid #1d1d1d;
    padding: 14px 95px 12px !important;
    text-transform: initial !important;
    font-size: 14px !important;
    transition: all 0.3s;
}

.footer.content .block.newsletter .actions button:hover {
    background: #dbc7ae;
    color: #1d1d1d;
    border: 1px solid #dbc7ae !important;
}

.mc-field-group.input-group {padding-top: 20px;}
.mc-field-group.input-group > strong{    font-family: 'aktiv_grotesk_exbold'; font-weight: 700; text-transform: uppercase; font-size: 14px;}
.mc-field-group.input-group ul {display: flex; width: 400px; margin:20px auto!important; justify-content: space-between;}
.mc-field-group.input-group ul li label {display: inline-block!important}
.mc-field-group.input-group ul li input {margin-right: 15px; padding: 0 0 0 0px;}
.mc-field-group.input-group ul li input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: -3px;
    background-color:#ffffff;
    border: 1px solid #1d1d1d;
}
.mc-field-group.input-group ul li input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: -3px;
    background-color:#ffffff;
    border: 2px solid #1d1d1d;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
}
.mc-field-group.input-group ul li input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -1px;
    left: 6px;
}



.norote-subscribe-block.content .block.newsletter .field.newsletter input[type="email"], .footer.content .block.newsletter .field.newsletter input[type="email"] {font-weight:700}
.footer.content .social-links-holder {
	width: 100% !important;
	max-width: 100% !important;
	text-align: center;
	padding-top: 30px !important;
}
.footer.content .block.newsletter .title strong {
	color: #1d1d1d !important;;
	font-size: 25px !important;
}

.norote-subscribe-block .footer-links-collapsible li.parent>a, 
.footer .footer-links-collapsible li.parent>a{
    cursor: default;
}


.block-social-image{text-align:center;}
.block-social-image .list-image{display: flex;    max-width: 1080px;
    margin: 0 auto;}
.block-social-image .list-image .item{width:25%; padding:20px}

.block-social-image .btn-see-all{padding-top: 20px;}

.story-content .block-social-image .list-image{display: flex;    max-width:100%;
    margin: 0 auto;}
.story-content .block-social-image .list-image .item{width:25%; padding:15px}
.story-content .block-social-image .list-image .item img{width:100%; max-width: initial;}
.story-content .block-social-image h2{margin-bottom: 10px;}


span.social-title {
    font-weight: 400;
    line-height: 1.5;
    font-family: Aktiv Grotesk,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.714;
    color: #1d1d1d;
    margin-right: 20px;
    display: inline-block;
    font-size:1.5rem;
}
.social-links-wrapper {padding:20px 0; text-align: left;
    margin: 0 0rem;}
.social-links-wrapper ul {
    width: auto !important;
}
.social-links-wrapper ul li {
    width: auto;
    padding: 0;
    margin-right: 50px !important;
}
.social-links-wrapper svg {
    width: inherit;
    height: inherit;
    overflow: visible;
width:24px
}
.social-links-wrapper ul {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding: 20px 12px 0 0 !important;
    width: 100% !important;
}
.social-links-wrapper ul li span {
    width: 24px;
    height:24px;
}
.screen-reader-text {
    position: absolute;
    top: -900em;
    left: -900em;
}
.footer-links-holder h2{
    line-height: 1.5;
    font-family: Aktiv Grotesk,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    font-size: 2rem !important;
    margin-bottom: 12px;
    padding-bottom: 0;
    margin-top: 0;
}
.footer-links-holder .content-asset, .footer-links-holder  h2, .footer  h2 a {
    color: #1d1d1d;

}
.footer__items.footer__items--primary h2 {
    font-weight: 400;
    line-height: 1.5;
    font-family: Aktiv Grotesk,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    font-size: 2rem;
    margin-bottom: 12px;
    padding-bottom: 0;
}
.payment-wrapper .section-header {
    color: #1d1d1d;
    font-weight: 400;
    line-height: 1.5;
    font-family: Aktiv Grotesk,Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: .875rem;
    font-size: 1.5rem;
    line-height: 1.714;
    margin-top: 0;
    margin-bottom: 12px;
    display: inline-block;
}
.payment-wrapper .payment-grid>div {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}
.footer-links-holder{
    max-width: 100%;
    width: 100%;
    float: left;
    background: #dbc7ae;
    margin: 0 !important;
    padding: 0 !important;
}

.footer.content{max-width: 100% !important;padding: 0 !important;}

.download-app-wrapper .section-header {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    font-family: Aktiv Grotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: .875rem;
    font-size: 1.5rem;
    line-height: 1.714
}

.download-app-wrapper .download-app-buttons {
    margin-top: 12px
}

.download-app-wrapper .download-app-buttons a {
    color: #1d1d1d;
    text-decoration: underline;
    display: inline-block;
    margin-right: 12px;
    padding: 0;
    line-height: 1
}

.download-app-wrapper .download-app-buttons a:last-of-type {
    margin-right: 0
}

.payment-wrapper {
    width: 100%;
    display: block;
    padding-top: 32px;
    padding-bottom: 48px;
    padding-bottom: 20px;
}
.footer__items {
    list-style: none;
    padding: 0;
    display: inline-block
}
.footer__items li {
    display: inline-block;
    margin: 0
}
.footer__items--divider {
    border: none
}
.footer__items--divider.footer__items--social {
    border: none;
    margin-bottom: 2em;
    padding-bottom: 0
}
.footer__items--primary li a {
    color: #1d1d1d
}
.footer__items--primary li a:hover {
    color: #bd7f32
}
.footer--checkout .footer__items--primary a {
    text-transform: none
}
.footer__items--secondary li {
    width: auto
}
.footer__items--tertiary {
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}
.footer__items--tertiary ul li a,
.footer__items--tertiary ul li a:not([href]):not([tabindex]) {
    font-family: Aktiv Grotesk, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: .75rem;
    font-size: 1.2rem;
    line-height: 1.333;
    color: rgba(0, 0, 0, .5);
    cursor: pointer
}
.footer__items--tertiary ul li a:after,
.footer__items--tertiary ul li a:not([href]):not([tabindex]):after {
    content: "|";
    display: inline-block;
    padding: 0 15px
}
.footer__items--tertiary ul li:last-child a:after,
.footer__items--tertiary ul li:last-child a:not([href]):not([tabindex]):after {
    content: "";
    display: none
}
.footer__items--tertiary .footer__payment--icons {
    display: none
}
.footer__items--icons {
    padding-top: 0
}

.footer__items--social{
    display: block;
    padding-top: 15px;
}

.footer__items--social li {
    width: auto;
    margin: 1em 5px
}
.footer__copy {
    padding: 0
}
.footer__items--primary {
    padding-right: 20px
}



input.footer__email-field[type=text] {
    font-size: 15px
}
.flyouts__flyout--footer .form-row {
    margin: 0
}


.norote-subscribe-block .footer-links-collapsible li.parent>a, 
.footer .footer-links-collapsible li.parent>a {
    position: relative;
    justify-content: flex-start;
    z-index: 5;
    font-family: Aktiv Grotesk,Arial,Helvetica,sans-serif !important;
    font-size: 18px;
    text-transform: initial;
}
.footer .copyright, .footer .bugs{
    display: none !important;
}

.page-wrapper {
    background: #fffefa;
}

.create-account-wrapper {
    background-color: #fffefa !important;
    box-sizing: border-box;
    padding: 26px 15px;
    padding: 0 !important;
    max-width: 100% !important;
}
.customer-account-createpassword .page-title,
.customer-account-logoutsuccess .page-title,
.customer-account-forgotpassword .page-main > .page-title-wrapper .page-title,
.create-account-wrapper .page-title {
    font-family: 'aktiv_grotesk_exbold';
    font-size: 26px;
}
.create-account-wrapper .fieldset > .field:not(.choice) > .label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: relative !important;
    width: 300px !important;
    height: 100% !important;
    text-align: left;
    display: block;
}

.customer-account-createpassword  .fieldset > .field:not(.choice) > .label,
.customer-account-forgotpassword  .fieldset > .field:not(.choice) > .label {
    padding: 6px 15px 0 0;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    float: left;
}

.create-account-wrapper .fieldset > .field {
    margin: 0 0 30px !important;
}
.create-account-wrapper .fieldset > .field:not(.choice) > .control {
    clear: both;
}
.create-account-wrapper .create-account-content{display:none}
.action.primary{
    transition: all 0.3s ;
}
button,
.action.primary {

    font-family: 'Aktiv Grotesk' !important;
    /*font-weight: 400 !important;*/

}
.customer-account-forgotpassword .page-main,
.customer-account-create .page-main {
        padding: 0 35px !important;
}
.customer-account-login .column.main .login-container .block-new-customer, 
.customer-account-login .column.main .login-container .block-customer-login{
    background-color: transparent !important;
}
.cms-page-view .column.main h1,
.cms-page-view .column.main h2{
    font-family: 'roxborough_cf' !important;
    font-size:32px;
    line-height: 30px;
    margin-top: 25px !important;
    letter-spacing: 1px;
}


.cms-page-view .pagebuilder-button-secondary{
    color: #1d1d1d;
    font-size: 14px;
    font-family: 'Aktiv Grotesk' !important;
    padding: 10px 30px;
    min-width: 190px;
    width: auto;
}

a{
    color:#1d1d1d;
    transition: all 0.3s;
}
footer a:focus,a:hover{
    color:#bd7f32 !important;
}
a:active {  color:#1d1d1d !important; }


.block-new-customer .primary a:hover {color:#1d1d1d} 
.block-new-customer .primary a:hover span{color:#1d1d1d} 

.cms-page-view a.pagebuilder-button-primary{
    color: #fff !important;
    font-size: 14px;
    font-family: 'Aktiv Grotesk' !important;
    padding: 14px 25px;
}
.cms-page-view a.pagebuilder-button-secondary:hover,
.cms-page-view a.pagebuilder-button-primary:hover{
    color:#1d1d1d !important; 
    background-color:#dbc7ae !important; ;
}

a.story-viewmore{padding: 80px 0 0px;
    display: inline-block;
    border-bottom: 2px solid;
    line-height: 20px;}


.story-content  .social-title {
    font-family: 'roxborough_cf' !important;
    font-size:32px;
    line-height: 30px;
    margin-top: 25px !important;
    letter-spacing: 1px;
}

.cms-page-view a.pagebuilder-button-link span{
    font-size: 14px;
    border-bottom: 2px solid;
    line-height: 20px;
    padding: 2px 0px;
    margin-left: 1px;
}
.cms-page-view .transparent .pagebuilder-button-secondary{
    transition: All 0.3s;
    background: transparent;

}
.cms-page-view .transparent .pagebuilder-button-secondary:hover{
    color:#1d1d1d !important; 
    background-color:#dbc7ae !important;
    border-color: #dbc7ae;
}

.pagebuilder-button-primary:active,
.pagebuilder-button-secondary:active,
.pagebuilder-button-primary:focus,
.pagebuilder-button-secondary:focus{
    color:#fff !important; 
    background-color:#bd7f32 !important;
    border-color: #bd7f32;
}

.login-container .block-new-customer .actions-toolbar .action.create {
    
    padding: 14px 50px !important;
    
}



.sh1{
    margin-bottom: 25px;
}
html[lang=ar] .norote-subscribe-block .footer-links-collapsible li.parent ul.submenu,
html[lang=ar] .footer .footer-links-collapsible li.parent ul.submenu {
    margin-right: 0;
}

html[lang=ar] .norote-subscribe-block .footer-links-collapsible>li>a, 
html[lang=ar] .footer .footer-links-collapsible>li>a {
    display: inline-block;
    vertical-align: top;
    padding: 1.25rem 0px 1.25rem 0;
}

html[lang=ar] .social-links-wrapper ul li {
    width: auto;
    padding: 0;
    margin-right: 0px !important;
    margin-left: 50px !important;
}
html[lang=ar] .social-links-wrapper ul{
    justify-content: right !important;
}
body{overflow-x: hidden;}

html[lang=ar] .cms-page-view .pagebuilder-button-link{
    margin: 0 0px 10px 0;
}

html[lang=ar] .social-links-wrapper {
    text-align: right;
}
html[lang=ar] span.social-title {
    margin-right: 0;
}
.social-links-wrapper ul {
    padding: 20px 0px 0 0 !important;
}
html[lang="ar"] .footer .footer-links-collapsible li.parent>a:after {
    transform: rotate(-0deg) !important;
    left: 0;
    right: inherit;
}

html[lang=ar] .norote-subscribe-block .footer-links-collapsible>li>a, 
html[lang=ar] .footer .footer-links-collapsible>li>a {
    width: 100%;
    
}

.norote-subscribe-block .footer-links-collapsible li.parent ul.submenu.open, 
.footer .footer-links-collapsible li.parent ul.submenu.open, 
html[lang=ar] .norote-subscribe-block .footer-links-collapsible li.parent ul.submenu.open, 
html[lang=ar] .footer .footer-links-collapsible li.parent ul.submenu.open{
    opacity: 1;
    max-height: 360px;
    max-height: 22.5rem;
    margin-top: 0;
    padding-top: 0;
}


.form.minisearch .field.search .actions {
    display: none;
    }



.catalog-category-view  .slick-slide img {
    display: block;
    width: 100%;
}




.page-products .products-grid .product-items {
    margin: 0;
    display: -ms-grid;
    display: flex !important;
    /* grid-auto-flow: dense; */
    /* grid-auto-columns: 50% 50%; */
    /* grid-template-columns: 297px 297px 297px 297px; */
    grid-gap: 0px !important;
    flex-flow: wrap !important;
    justify-content: space-between;
}

.category-cms h2.text-size-4{
    font-size:120px !important;
    margin: 0 0 40px !important;
    letter-spacing: .25em!important;
    line-height: 130px !important;
    font-weight: 400;
    font-family: 'roxborough_cf' !important;
}
@media screen and (max-width:480px){
    .category-cms h2.text-size-4{
        font-size:80px !important;
        line-height: 40px !important;
        letter-spacing: 1rem !important;
    }


}
.category-cms section.text-size-4{
    font-size:35px !important;
    margin: 0 0 0px !important;
    font-family: 'aktiv_grotesk_exbold', arial!important;
    letter-spacing: .25em!important;    

}

.category-cms section.text-size-2{
    font-size:24px !important;
    margin: 0 0 20px !important;
    letter-spacing: .25em!important;    
}
section.cta.primary a{
  padding: 1.1rem 6.2rem;
    font-size: 1.375rem !important;
    letter-spacing: .0725rem;
    display: inline-block;
    background: #1d1d1d;
    color: #fffefa !important;
    border: 1px solid #1d1d1d;
    font-weight:bold;
}


.category-cms .buttons{}
.category-cms .buttons a{
    background: #fff;
    color: #000;
    border-color: #fff;
    padding: 1.5rem 5.3rem;;
    font-size: 1.375rem !important;
    letter-spacing: .0725rem;
    font-weight:bold;
}


.pagebuilder-poster-content h3 {
    font-family: 'roxborough_cf' !important;
    font-size: 40px;
    line-height: 35px;
    margin-top: 25px !important;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.category-cms .home-banner-txt-ss {
    padding-bottom: 15px;
}
.category-cms .buttons a.btn-transparent{
    background: transparent;
    color: #fff;
    border-color: #fff;
    padding: 1.4rem 5.3rem;
    font-size: 1.375rem !important;
    letter-spacing: .0725rem;
    font-weight:bold;
    border: 1px solid #fff;
}
section.cta.primary a:hover,
.category-cms .buttons a:hover,
.category-cms .buttons a.btn-transparent:hover{
    color:#1d1d1d !important; 
    background-color:#dbc7ae !important;
    border-color: #dbc7ae !important;
}

.text-pos-bottom .pagebuilder-banner-wrapper  .pagebuilder-poster-content {
    width: 100%;
    max-width: 1380px;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    padding: 2px;
}
.text-pos-bottom  .pagebuilder-poster-content h3{
    padding-bottom: 15px;
}
.pagebuilder-banner-wrapper [data-element='content'] {
    overflow: inherit !important;
}
.swatch-attribute.macro_colour .swatch-option-link-layered {
    clear: both;
}
.page-with-filter .block.filter .filter-content .swatch-attribute.macro_colour .swatch-option {
    
    margin-bottom: 15px !important;
    margin-top: 6px !important;
}

@media screen and (min-width:768px){

    /*.footer .footer-links-collapsible li.parent{
        width:20%;
    }*/
    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n+1){
        width: 31%;
        margin-right: 1%;
        margin-left: 0%;
    }
    
    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n+2){
        width: 31%;
        margin-right: 1%;
        margin-left: 1%;
    }
    
    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n+3){
        width: 31%;
        margin-right: 0%;
        margin-left: 1%;
    }
    
    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n+4){
        width: 49%;
        margin-right: 1%;
    }
    
    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(5n){
        width: 49%;
        margin-left: 1%;
        margin-right: 0;
    }
    

    .footer .footer-links-collapsible li.parent ul.submenu{
        max-height: 22.5rem !important;
        opacity: 1 !important;
    }
    .norote-subscribe-block .footer-links-collapsible li.parent>a:after, .footer .footer-links-collapsible li.parent>a:after{
        display: none !important;
    }
    .norote-subscribe-block .footer-links-collapsible, 
    .footer .footer-links-collapsible{
        justify-content: left !important;
    }
    
    .norote-subscribe-block .footer-links-collapsible li.parent, 
    .footer .footer-links-collapsible li.parent {
        width:33%;
    }

}

@media screen and (min-width:768px) and (max-width:1439px){
     .footer .footer-links-holder > div{
         padding-right:30px !important;
         padding-left:30px !important;
     }
}

@media screen and (max-width:767px){

    .page-with-filter .block.filter .filter-actions-holder {
        bottom: inherit !important;
        background: #fff;
    }

    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(3n+1){
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }
    
    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(3n+2){
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }
  
    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item:nth-child(3n){
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .page-products.page-layout-1column.catalog-category-view .products-grid .product-item .product-item-info {
        width: 100%;
    }

    .page-products.page-layout-1column.catalog-category-view .product-item-actions .actions-secondary>.action.towishlist {
        position: absolute;
        top: 0;
        right: 14px;
        z-index: 99;
    }

    .norote-subscribe-block .footer-links-collapsible li.parent>a:after, .footer .footer-links-collapsible li.parent>a:after {
        transform: rotate(0deg);
    }
    .cms-index-index h3{
        
        font-size: 28px !important;
        
    }
    .buttons 
    .flex-item:nth-of-type(1) { flex-grow: 1; }
    .flex-item:nth-of-type(2) { flex-grow: 1; }
    .flex-item:nth-of-type(3) { flex-grow: 2; }
    .social-links-wrapper ul li {
        margin-right: 5% !important;
    }
    html[lang=ar] .social-links-wrapper ul li {
        width: auto;
        padding: 0;
        margin-right: 0px !important;
        margin-left: 4% !important;
    }

    .block-social-image .list-image {
        flex-wrap: wrap;
    }
    .block-social-image .list-image .item {
        width: 44%;
        padding: 3%;
    }
    .block-social-image .list-image .item img{
        width: 100%;
        
    }
    .footer .footer-links-collapsible>li.parent {
        border-top: 1px solid #c0af99;
    }
    .footer .footer-links-collapsible>li.parent.last {
        border-bottom: 1px solid #c0af99;
    }
    .customer-account-forgotpassword .page-main > .page-title-wrapper .page-title,
    .create-account-wrapper .page-title {
        font-size: 20px !important;
    }
    .create-account-wrapper {
        margin-top: 35px;
    }
    .create-account-wrapper .fieldset > .field:not(.choice) > .label {
        width: 100% !important;
    }

    .footer.content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}


@media screen and (max-width:600px) {
    .mc-field-group.input-group ul {width: 90%;}
    .footer.content .block.newsletter .actions button {padding: 14px 20px 12px !important;}
}
@media screen and (min-width:381px) and (max-width:767px){
    body.cms-index-index  .hasbutton .btn-transparent,
    .cms-index-index  .hasbutton .btn-full {
        max-width: inherit !important;
    }

    body.cms-index-index  p.buttons{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    body.cms-index-index  .hasbutton p.buttons a.btn-transparent,
    body.cms-index-index  .hasbutton p.buttons a.btn-full{
        width:47%;
    }
    body.cms-index-index  .hasbutton p.buttons a.btn-transparent.story,
    body.cms-index-index  .hasbutton p.buttons a.btn-full.story{
        width:100%;
    }

}
html[lang="ar"] {
    overflow: auto;
}
@media screen and (max-width:480px){
    .norote-subscribe-block.content .footer-top-section, .footer.content .footer-top-section {
        /* background: #fff; */
        padding: 18px;
    }
    .footer.content .block.newsletter .actions .action.secondary{    margin-right: 0 !important;}
    .footer .footer-links-holder > div{
     padding:10px !important;
    }
    .footer.content .block.newsletter {
        padding: 20px;
     
    }
}
@media screen and (max-width:380px){
    .footer .footer-links-holder .row-full-width-inner {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    body.cms-index-index  .btn-transparent,
    .cms-index-index .btn-full {
        max-width: inherit !important;
    }

}

