@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('aktivgrotesk-regular-webfont.woff2') format('woff2'),
         url('aktivgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aktiv_grotesk_exbold';
    src: url('aktiv_grotesk_ex_bold-webfont.woff2') format('woff2'),
    url('aktiv_grotesk_ex_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aktivgrotesk-black-bold';
    src: url('aktivgrotesk-black-webfont.woff2') format('woff2'),
    url('aktivgrotesk-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.menus-conteneurs {clear: both; width: 100%; position: relative;}
.page-header { background: #dbc7ae;}
.header-content-row .header-content-column.column-second {width: 100%!important;}
.header-content-row .header-content-column.column-third {float: right; width: 20%; margin-top: -60px;}
.ves-megamenu ul.ui-menu.ui-widget.ui-widget-content.ui-corner-all {text-align: center;}
.nav-sections {position: relative; background: #f0ede8!important;}
[data-content-type='row'][data-appearance='full-bleed'] {
    box-sizing: border-box;
    padding: 0!important;
}
.homepage-top-promo {background:#282828; color: #fff; font-size:12px; }
.homepage-top-promo .container{display:grid; grid-template-columns:215px 1fr auto; grid-template-rows:1fr; align-items:center}

.header-content-column.column-third .block-search .block-title {
    font-family: 'Aktiv Grotesk', Arial;
    background: url(../images/ico-monsearch.png) 10px 50% no-repeat;
    padding-left: 35px; margin-left: 5px; cursor: pointer;
}
.header-content-column.column-third .block-search .block-title.active {
    font-family: 'Aktiv Grotesk', Arial;
    background: #faf8f5 url(../images/ico-monsearch-over.png) 10px 50% no-repeat;
    padding-left: 35px;
    margin-left: 5px; cursor: pointer;
}

.header-content-column.column-third .block-search {margin-top: 2px;}
.block-search .block-content { margin: 0 15px;}
.minicart-wrapper {margin-left: 11px;}
.minicart-wrapper.fme-quote-cart-wrapper {margin-left: 0px;}

.authorization-link  span{
    background: url(../images/ico-moncompt.png) no-repeat center 50%;
    width: 20px;
    height: 50px;
    text-indent: -10000px;
    display: inline-block;
    padding: 0 10px;
    cursor:pointer;
}

.authorization-link-over  span{
    background: #faf8f5 url(../images/ico-moncompt-over.png) no-repeat center 50%;
    width: 20px;
    height: 50px;
    text-indent: -10000px;
    display: inline-block;
    padding: 0 10px;
    cursor:pointer;
}

.new-wishlist-link  span{
    background: url(../images/new-wishlist-link.png) no-repeat center 50%;
    width: 26px;
    height: 50px;
    text-indent: -10000px;
    display: inline-block;
    padding: 0 10px;
    cursor:pointer;
}

.new-wishlist-link-over  span{
    background: #faf8f5 url(../images/new-wishlist-link-over.png) no-repeat center 50%;
    width: 26px;
    height: 50px;
    text-indent: -10000px;
    display: inline-block;
    padding: 0 10px;
    cursor:pointer;
}

.block-search .block-content { background-color: #faf8f5!important;}

#loginpopups {width: 100%; position: absolute; top: 50px; z-index: 999;
    background-color: #faf8f5;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);
}
#wishlistspopups {width: 100%; position: absolute; top: 50px; z-index: 999;
    background-color: #faf8f5;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.74);
}

#loginpopups .login-container {margin: 0 auto!important;}
.login-container .block-new-customer, .login-container .block-customer-login { background-color: #faf8f5!important;}
.login-container .block .block-title {font-size: 26px!important; letter-spacing: 0px!important; color: #1D1D1D; font-family: 'aktiv_grotesk_exbold', Arial, Verdana, Tahoma!important;}

.action.primary {
    font-weight: 700!important;
    padding: 15px 50px!important;
    font-size: 16px!important;
    text-transform: none!important;}

.container-p-0 {background:#282828}
.int-p-0 {max-width:1300px; margin: 0 auto; position:relative}
.int-child {position: absolute; top:1px; right:0; color:#fff}
.int-child  .switcher-language .switcher-option a {color: #fff; font-size: 16px;}
.page-header .switcher {margin-right: 0px!important;}
.usp-list{ margin-bottom:0; }
.usp-list li {
    font-family: Aktiv Grotesk,Arial,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    line-height: 32px; list-style-type:none;
	margin-bottom:0;    letter-spacing: normal;
}
.usp-list li.firstly:after {
    content: "|";
    color: #fffefa;
    margin: 0 20px;
}

a.store-head {background:url(../images/bg-store-head.jpg) no-repeat left 50%; color: #fff!important; margin-right: 20px; font-weight: 400; font-size: 12px; padding-left: 20px; font-family: 'Aktiv Grotesk','Helvetica Neue',Helvetica,Arial,sans-serif!important; padding-top: 3px; text-transform: none;}
.page-header .switcher .options ul.dropdown {left:85px;}

.login-container .fieldset>.field { margin: 0px 0px 25px 0px!important;}

.input-text {border-color: #1d1d1d!important; height: 50px!important;}
input:-internal-autofill-selected { appearance: menulist-button;
    background-color: transparent !important;
    background-image: none !important;
    color: -internal-light-dark(black, white) !important;
}

.header-content-row .column-third {line-height: normal;}
.login-container .block .login .actions-toolbar>.secondary .remind {text-decoration: none!important;}


					
@media screen and (max-width:1200px){.homepage-top-promo .container{grid-template-columns:auto 1fr auto}}
@media screen and (max-width:992px){.homepage-top-promo .container{height:100%;grid-template-columns:1fr}}
.homepage-top-promo .container .topbar-menu,.homepage-top-promo .container .usp-text{grid-row:1}
.homepage-top-promo .container .usp-text{text-align:center;grid-column:2; }
@media screen and (max-width:992px){.homepage-top-promo .container .usp-text{grid-column:1}}
.homepage-top-promo .container .usp-text .customergroup-header{display:none}
.homepage-top-promo .container .usp-text .usp-list{margin:0; padding: 0;}
.homepage-top-promo .container .usp-text .usp-list li{display:inline-block; margin-bottom:0!important; letter-spacing: initial; line-height: 30px; font-family: 'Aktiv Grotesk', Arial, Helvetica, sans-serif;}
.homepage-top-promo .container .usp-text .usp-list li a{}
.homepage-top-promo .container .usp-text .usp-list li:after{content:"|";color:#fffefa;margin:0 20px}
@media screen and (max-width:576px){.homepage-top-promo .container .usp-text .usp-list li:after{display:none}}
.homepage-top-promo .container .usp-text .usp-list li:last-of-type:after{display:none}
@media screen and (max-width:576px){.homepage-top-promo .container .usp-text .usp-list li{display:none}.homepage-top-promo .container .usp-text .usp-list li:nth-of-type(0){display:block}.homepage-top-promo .container .usp-text .usp-list li:nth-of-type(0):after{content:""}}
.homepage-top-promo .container .topbar-menu{grid-column:3;display:flex;align-items:center;margin-left:auto}
.homepage-top-promo .container .topbar-menu>a{ }
@media screen and (max-width:992px){.homepage-top-promo .container .topbar-menu>a{ }}
.homepage-top-promo .container .topbar-menu .icon-stores{width:13px;vertical-align:top;margin-right:4px}
.homepage-top-promo .container .topbar-menu .icon-stores svg path{stroke:#fff}
.homepage-top-promo .container .topbar-menu .topbar-link--locale,
.homepage-top-promo .container .topbar-menu .topbar-link--stores,
.homepage-top-promo .container .topbar-menu .topbar-link--welcome{display:none}
@media screen and (min-width:992px){.homepage-top-promo .container .topbar-menu .topbar-link--locale,.homepage-top-promo .container .topbar-menu .topbar-link--stores,.homepage-top-promo .container .topbar-menu .topbar-link--welcome{padding:0 8px;display:inline-block;vertical-align:top}}
.homepage-top-promo .container .topbar-menu .topbar-link--locale{background-size:auto 30%}
.homepage-top-promo .container .topbar-menu .topbar-link--locale .locale__divider{display:inline-block;padding:0 7px}
.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask{display:inline-block;position:relative;top:-2px;margin-left:4px;width:23px;height:auto;overflow:hidden;vertical-align:middle}
.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask [class*=icon-]{position:relative;top:4px;width:23px;height:20px}
.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask [class*=icon-flag-global]{position:relative;top:0}
.homepage-top-promo .container a{color:#fffefa}

@media screen and (min-width: 1440px) {
	.container.p-0  {max-width: 1300px; margin: 0 auto;}
}
@media screen and (min-width: 768px) {
.ves-megamenu .navigation .level0>a { text-transform: none!important;}
    .login-container .fieldset>.field>.control {max-width: 100%!important; }
}