@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('aktivgrotesk-regular-webfont.woff2') format('woff2'),
         url('aktivgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.menus-conteneurs {clear: both; width: 100%; position: relative;}
.page-header { background: #dbc7ae;}
.header-content-row .header-content-column.column-second {width: 100%!important;}
.header-content-row .header-content-column.column-third {float: right; width: 20%; margin-top: -62px;}
.ves-megamenu ul.ui-menu.ui-widget.ui-widget-content.ui-corner-all {text-align: center;}
.nav-sections {position: relative; background: #f0ede8!important;}
[data-content-type='row'][data-appearance='full-bleed'] {
    box-sizing: border-box;
    padding: 0!important;
}
.homepage-top-promo {background:#282828; color: #fff; font-size:12px; }
.homepage-top-promo .container{display:grid; grid-template-columns:215px 1fr auto; grid-template-rows:1fr; align-items:center}

.header-content-column.column-third .block-search .block-title {
    font-family: 'Aktiv Grotesk', Arial;
    background: url(../images/ico-monsearch.jpg) left 50% no-repeat;
    padding-left: 25px;
}


.authorization-link  a{background:url(../images/ico-moncompt.jpg) no-repeat left 50% ; width: 20px; height: 30px;text-indent: -10000px; display: inline-block;}
.container-p-0 {background:#282828}
.int-p-0 {max-width:1300px; margin: 0 auto; position:relative}
.int-child {position: absolute; top:1px; right:0; color:#fff}
.int-child  .switcher-language .switcher-option a {color: #fff; font-size: 16px;}
.page-header .switcher {margin-right: 0px!important;}
.usp-list{ margin-bottom:0; }
.usp-list li {
    font-family: Aktiv Grotesk,Arial,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    line-height: 32px; list-style-type:none;
	margin-bottom:0;
}
.usp-list li.firstly:after {
    content: "|";
    color: #fffefa;
    margin: 0 20px;
}

a.store-head {background:url(../images/bg-store-head.jpg) no-repeat left 50%; color: #fff!important; margin-right: 20px; font-weight: 400; font-size: 10px; padding-left: 20px; font-family: 'Aktiv Grotesk','Helvetica Neue',Helvetica,Arial,sans-serif!important;}
.page-header .switcher .options ul.dropdown {left:85px;}
					
					
@media screen and (max-width:1200px){.homepage-top-promo .container{grid-template-columns:auto 1fr auto}}
@media screen and (max-width:992px){.homepage-top-promo .container{height:100%;grid-template-columns:1fr}}
.homepage-top-promo .container .topbar-menu,.homepage-top-promo .container .usp-text{grid-row:1}
.homepage-top-promo .container .usp-text{text-align:center;grid-column:2; }
@media screen and (max-width:992px){.homepage-top-promo .container .usp-text{grid-column:1}}
.homepage-top-promo .container .usp-text .customergroup-header{display:none}
.homepage-top-promo .container .usp-text .usp-list{margin:0; padding: 0;}
.homepage-top-promo .container .usp-text .usp-list li{display:inline-block; margin-bottom:0!important; letter-spacing: initial; line-height: 30px; font-family: 'Aktiv Grotesk', Arial, Helvetica, sans-serif;}
.homepage-top-promo .container .usp-text .usp-list li a{}
.homepage-top-promo .container .usp-text .usp-list li:after{content:"|";color:#fffefa;margin:0 20px}
@media screen and (max-width:576px){.homepage-top-promo .container .usp-text .usp-list li:after{display:none}}
.homepage-top-promo .container .usp-text .usp-list li:last-of-type:after{display:none}
@media screen and (max-width:576px){.homepage-top-promo .container .usp-text .usp-list li{display:none}.homepage-top-promo .container .usp-text .usp-list li:nth-of-type(0){display:block}.homepage-top-promo .container .usp-text .usp-list li:nth-of-type(0):after{content:""}}
.homepage-top-promo .container .topbar-menu{grid-column:3;display:flex;align-items:center;margin-left:auto}
.homepage-top-promo .container .topbar-menu>a{ }
@media screen and (max-width:992px){.homepage-top-promo .container .topbar-menu>a{ }}
.homepage-top-promo .container .topbar-menu .icon-stores{width:13px;vertical-align:top;margin-right:4px}
.homepage-top-promo .container .topbar-menu .icon-stores svg path{stroke:#fff}
.homepage-top-promo .container .topbar-menu .topbar-link--locale,
.homepage-top-promo .container .topbar-menu .topbar-link--stores,
.homepage-top-promo .container .topbar-menu .topbar-link--welcome{display:none}
@media screen and (min-width:992px){.homepage-top-promo .container .topbar-menu .topbar-link--locale,.homepage-top-promo .container .topbar-menu .topbar-link--stores,.homepage-top-promo .container .topbar-menu .topbar-link--welcome{padding:0 8px;display:inline-block;vertical-align:top}}
.homepage-top-promo .container .topbar-menu .topbar-link--locale{background-size:auto 30%}
.homepage-top-promo .container .topbar-menu .topbar-link--locale .locale__divider{display:inline-block;padding:0 7px}
.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask{display:inline-block;position:relative;top:-2px;margin-left:4px;width:23px;height:auto;overflow:hidden;vertical-align:middle}
.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask [class*=icon-]{position:relative;top:4px;width:23px;height:20px}
.homepage-top-promo .container .topbar-menu .topbar-link--locale .flag-mask [class*=icon-flag-global]{position:relative;top:0}
.homepage-top-promo .container a{color:#fffefa}

@media screen and (min-width: 1440px) {
	.container.p-0  {max-width: 1300px; margin: 0 auto;}
}
@media screen and (min-width: 768px) {
.ves-megamenu .navigation .level0>a { text-transform: none!important;}
}