/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */

//
//  Styles for emails
//  _____________________________________________

//  See comments in source/_email-base.less for explanation of email styles

@import 'source/lib/_lib.less'; // Global lib
@import 'source/lib/variables/_email.less'; // Global email variables
@import 'source/_variables.less'; // Local theme variables
@import 'source/_email-variables.less'; // Theme variables for emails

//  Fonts
@font-family-name__base: 'Roboto';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__secondary: 'Roboto Condensed';
@font-family__second: @font-family-name__secondary, @font-family__sans-serif;

//
//  Styles for emails
//  ---------------------------------------------

@import 'source/_email-base.less'; // Contains primary email styles
@import 'source/_email-extend.less'; // Contains theme-specific adjustments to email styles

table.main {
    background-color: #fff;
    letter-spacing: 0.5px;

    a {
        color: #000 !important;

        &:hover {
            color: #000000 !important;
        }
    }

    td.header {
        padding: 25px 20px 15px;
        vertical-align: middle;

        &.header-right {
            text-align: right;

            strong {
                font-size: 12px;
                line-height: 12px;
                text-transform: uppercase;
            }

            span {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }

    .main-content {
        padding: 25px 20px;

        &.no-padding {
            padding: 0;
        }

        p,
        li {
            font-size: 12px;
            line-height: 19px;
        }

        li {
            margin-bottom: 0;
        }

        ul,
        ol {
            padding-left: 15px;
        }

        a {
            color: #000 !important;
            font-size: 12px !important;
            text-decoration: underline !important;

            &:hover {
                text-decoration: none !important;
            }

            &.button {
                border: none;
                border-radius: 0;
                color: #fff !important;
                text-decoration: none !important;
                background: #000 !important;

                &:hover {
                    opacity: .7;
                }
            }
        }

        strong,
        em,
        b,
        i {
            font-size: 12px;
            line-height: 19px;
        }

        h1 {
            font-size: 2.4rem;
            font-weight: 600;
        }

        h3 {
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.email-intro {
    .email-intro-gray {
        background-color: #F6F6F6;
        padding: 25px 20px;

        &:first-child {
            padding-bottom: 0;
        }

        &:last-child {
            padding-bottom: 20px;
        }

        p {
            font-size: 12px;
            line-height: 19px;
            margin-bottom: 0;

            .underline {
                text-decoration: underline;
            }
        }
    }

    .column-3-info {
        td {
            width: 33.33%;
            padding: 0 20px;

            strong {
                font-size: 14px;
                line-height: 26px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .order-info-list {
                p {
                    .lib-vendor-prefix-display(flex);
                    justify-content: space-between;
                    letter-spacing: 0.5px;
                    font-size: 12px;
                    line-height: 19px;
                    margin-bottom: 0;

                    span {
                        &.red {
                            color: #F30000;
                            text-transform: uppercase;
                        }
                    }

                    &.strong {
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                text-align: right;
                padding-right: 0;
            }
        }
    }
}

.products-list {
    .products-list-title {
        td {
            vertical-align: middle;
            padding: 20px 20px 30px;
        }

        img {
            margin-right: 10px;
        }

        div.title-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            span {
                font-size: 12px;
                line-height: 19px;
            }

            strong {
                line-height: 16px;
            }
        }

        &.title-with-border {
            td {
                border-top: 2px solid #000;
            }
        }
    }

    strong {
        color: #000;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        display: block;
    }

    .products-list-data {
        td.products-data-block {
            padding: 0 20px 40px;
        }

        .address {
            text-align: right;

            strong {
                margin-bottom: 5px;
            }

            address {
                font-size: 12px;
                line-height: 19px;
                font-style: normal;
            }
        }

        .product-item {
            .product-info {
                padding-left: 10px;

                strong {
                    margin-bottom: 5px;
                }

                dl {
                    .lib-vendor-prefix-display(flex);
                    justify-content: space-between;
                    letter-spacing: 0.5px;
                    line-height: 16px;
                    font-size: 12px;
                    margin-bottom: 0;

                    dt {
                        margin-right: 10px;
                        font-weight: normal;
                        margin-bottom: 0;
                    }

                    dd {
                        margin-bottom: 0;
                    }
                }

                .attributes-list {
                    padding-right: 30px;
                }
            }
        }
    }

    .shipping-info {
        margin-top: 15px;

        strong {
            color: #417505;
            font-size: 12px;
        }

        span {
            color: #417505;
            font-size: 12px;
        }
    }
}

.footer {
    &.footer-contact-us {
        background-color: #F6F6F6;
        text-align: center;
        padding: 30px 20px;

        p {
            font-size: 12px;
            color: #000;
        }

        a {
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: underline;
            font-weight: bold;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &.footer-copyright {
        text-align: center;
        padding: 15px 20px;

        p {
            font-size: 12px;
            line-height: 19px;
        }
    }

    &.footer-copyright-logo {
        text-align: center;
        padding: 15px 20px;

        strong {
            font-size: 15px;
            line-height: 29px;
        }

        .footer-v-center {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        img {
            margin-left: 4px;
        }
    }
}

.footer-menu {
    td {
        width: 33.33%;
        text-align: center;
        padding: 14px 0;
        border-top: 1px solid #F6F6F6;
        border-bottom: 1px solid #F6F6F6;

        a {
            font-size: 12px;
            color: #000;

            &:hover {
                text-decoration: underline;
                color: #000;
            }
        }
    }
}
