
.jbhSlider ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.jbhSliderNavigation {
    list-style-type: none;
    float: left;
}

.jbhSliderNavigation li {
    display: inline-block;
    margin: 3px 3px 3px 0;
}

