<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** This changes need to valid applying filters and configuration before search process is started. */
$productList = $block->getProductListHtml();
$helper = $this->helper(\Magento\Search\Helper\Data::class);

?>
<?php if ($block->getResultCount()) : ?>
    <?= /* @noEscape */ $block->getChildHtml('tagged_product_list_rss_link') ?>
    <div class="search results">
        <?php if ($messages = $block->getNoteMessages()) : ?>
            <div class="message notice">
                <div>
                    <?php foreach ($messages as $message) : ?>
                        <?= /* @noEscape */ $message ?><br />
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <?= /* @noEscape */ $productList ?>
    </div>
<?php else : ?>

    <div class="empty-result">
        <h2 class="search-count-title"><?= $block->escapeHtml(__('0 Results')) ?></h2>
        <p><?= $block->escapeHtml(__('Sorry, we couldn’t find any products or categories for "%1". Please try searching for a different keyword or choose something from our suggestions below:', $helper->getEscapedQueryText())) ?></p>
        <div class="cms-block-wrapper">
            <?= $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('search_result_empty')->toHtml(); ?>
        </div>

        <?= /* @noEscape */ $block->getAdditionalHtml() ?>
        <?php if ($messages = $block->getNoteMessages()) : ?>
            <?php foreach ($messages as $message) : ?>
                <br /><?= /* @noEscape */ $message ?>
            <?php endforeach; ?>
        <?php endif; ?>

    </div>

<script type="text/javascript">
    require(['jquery'], function($) {
        'use strict';
        $('body').addClass('empty-search');
    });
</script>
<?php endif; ?>

<?php if ( isset($_GET['q']) && !empty($_GET['q']) ) { ?>
    <script>
        require(['jquery', 'jquery/ui'], function($) {
            var isr = 0;
            var tssm = setInterval(function() {
                if ( $('.toolbar-sorter.sorter.mmmm').length ) {
                    console.log('isr');
                    console.log(isr);
                    clearInterval(tssm);
                    $('.toolbar-sorter.sorter.mmmm').attr("style", "display: block !important");
                    $('.sorte-new-mana').prepend($('.toolbar-sorter.sorter.mmmm').attr("style", "display: block !important"));
                    $('.toolbar-sorter.sorter.mmmm').each(function() {
                        if ( isr > 0 ) {
                            $($('.toolbar-sorter.sorter.mmmm')[isr]).hide();
                        }
                        isr++;
                    });                    
                }
            }, 1000);
        });
    </script>
<?php } ?>

