/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */

//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .catalog-product-view {
        .breadcrumbs {
            padding-left: 0;
            &-items {
                position: relative;
                color: black;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-size: 1.4rem;
                font-weight: @font-weight__bold;
               /* font-family: 'Roboto Condensed'; */
                &:before {
                    font-family: @font-icons__font-name;
                    content: @ico-var-chevron-down;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    font-size: 12px;
                    -webkit-font-smoothing: antialiased;
                    transform: rotate(90deg) translateX(50%);
                    position: absolute;
                }

                span {
                    position: relative;
                    margin-left: 15px;
                    font-weight: 700;
                }

                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .product-item {
        .slick-slider {
            .slick-arrow {
                background: none !important;
            }
        }
    }

    .column {
        .product-info-main {
            /*display: flex;
            flex-direction: column; */
            .box-tocart {
                .actions {
                    display: flex;
                    align-items: center;
                    .tocart {
                        order: 1;
                    }

                    .notify-instock {
                        display: none;
                        position: relative;
                        &__container {
                            display: flex;
                            flex-direction: column;
                        }

                        &__msg {
                            position: absolute;
                            line-height: 26px;
                            letter-spacing: 0.5px;
                            top: -30px;
                        }

                        &__second-step {
                            display: none;
                            background-color: #f6f6f6;
                            padding: 14px 20px;
                            .container {
                                display: flex;
                                flex-direction: column;
                                > span {
                                    text-align: left;
                                    margin-bottom: 14px;
                                }
                            }

                            .form {
                                text-align: left;
                            }

                            .email {
                                margin-bottom: 14px;
                            }

                            .newsletter {
                                margin-bottom: 30px;
                            }

                            .newsletter-type {
                                display: none;
                                margin-bottom: 25px;
                                > div {
                                    position: relative;
                                    display: flex;
                                }

                                input[type="radio"] {
                                    border: 0;
                                    clip: rect(0, 0, 0, 0);
                                    height: 1px;
                                    margin: -1px;
                                    overflow: hidden;
                                    padding: 0;
                                    position: absolute;
                                    width: 1px;
                                    &:checked {
                                        + .label {
                                            &:after {
                                                content: '';
                                                position: absolute;
                                                left: 3px;
                                                top: 3px;
                                                width: 15px;
                                                height: 15px;
                                                box-sizing: border-box;
                                                background-color: #000000;
                                                margin: 0;
                                                border-radius: 50%;
                                            }
                                        }
                                    }
                                }

                                .label {
                                    position: relative;
                                    padding-left: 30px;
                                    margin-right: 20px;
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        width: 21px;
                                        height: 21px;
                                        border: 1px solid #000000;
                                        box-sizing: border-box;
                                        background-color: #ffffff;
                                        border-radius: 50%;
                                    }
                                }
                            }

                            .actions {
                                padding-top: 0;
                            }
                        }

                        .action {
                            &.notify {
                                font-size: 1.4rem;
                                font-weight: 400;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                max-width: 280px;
                                width: 100%;
                                text-align: center;
                                height: 52px;
                            }
                        }
                    }
                }
            }

            .tags {
                order: 10;
                display: flex;

                &-content {
                    margin-left: 12px;
                }

                strong {
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }

                ul {
                    padding: 0;
                    list-style: none;
                    display: flex;
                }

                li {
                    text-decoration: underline;
                    font-size: 10px;
                    text-transform: uppercase;
                    padding-right: 4px;
                    color: #898888;
                    line-height: 24px;
                    letter-spacing: 0.4px;

                    &:after {
                        content: ',';
                    }
                }
            }

            .micro_colour {
                margin-top: 24px;
                display: flex;
                strong {
                    text-transform: uppercase;
                    margin-right: 20px;
                }
            }
        }
    }

    .swatch-option-tooltip {
        display: none !important;
    }

    .product-info-main {
        .page-title {
            font-size: 2.4rem;
            line-height: 34px;
        }

        .product {
            &.attribute {
                &.overview {
                    margin: 0;
                }
            }

            &.data.items {
                > .item {
                    &.title {
                        width: 100%;
                        display: flex;
                        color: @color-black;
                        font-weight: 500;
                        letter-spacing: 0.5px;
                        align-items: center;
                        margin-right: 0;

                        [data-toggle="trigger"] {
                            position: relative;
                            line-height: 1;
                            &:after {
                                content: '+';
                                font-style: normal;
                                font-weight: bold;
                                line-height: 1;
                                font-size: 26px;
                                -webkit-font-smoothing: antialiased;
                                margin-left: 18px;
                                position: absolute;
                                font-family: 'icons-blank-theme';
                                top: -10px;
                                right: 15px;
                            }
                        }

                        &.active {
                            [data-toggle="trigger"] {
                                &:after {
                                    content: '-';
                                    position: absolute;
                                }
                            }
                        }

                        ~ .data.item.title {
                            margin-top: 25px;
                        }

                        > .switch[data-toggle="trigger"] {
                            background-color: transparent;
                            padding: 0;
                            border: none;
                            color: @color-black;
                            text-transform: uppercase;
                            font-weight: 700;
                            &:hover {
                                background-color: transparent;
                                padding-bottom: 0;
                            }
                        }
                    }
                    &.content {
                        padding: 0;
                        border-top: none;
                        margin-top: 0;
                        float: none;
                        margin-left: 0;
                        border: none;
                    }
                }

                .product {
                    &.attribute {
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style-position: inside;
                        }
                    }
                }
            }
        }

        .action {
            &.towishlist {
                margin-left: 30px;
                border: none;
                padding: 0;
                background-color: transparent;
                &:before {
                    font-family: 'beside icons additional';
                    content: @icon-wishlist-icon;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    font-size: 21px;
                    -webkit-font-smoothing: antialiased;
                }

                &:hover {
                    color: inherit;
                    background: none;
                    border: none;
                }

                span {
                    font-size: 0;
                }
            }
        }

        .product-addto-links {
            order: 2;
        }

        .box-tocart {
            width: 100%;
            margin: 0;
            .action {
                &.tocart {
                    font-size: 1.4rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    /*  max-width: 279px; */
                    width: 100%;
                    max-height: 44px;
                    line-height: 1;
                    &:hover {
                        background-color: #494949;
                        border-color: #494949;
                    }
                }
            }
        }

        .description {
            letter-spacing: 0.5px;
            line-height: 26px;
            margin-bottom: 16px;
        }

        .swatch-attribute {
            display: flex;
            flex-direction: column;
            position: relative;
            &.size,
            &.denim_length,
            &.length {
                .swatch-option {
                    border: 1px solid @color-lighter-grayish;
                    background-color: @color-white;
                    color: @color-black;
                    letter-spacing: 0.5px;
                    font-weight: 400;
                    font-size: @font-size__m;
                    padding: 10px 20px;
                    height: inherit;
                    box-sizing: border-box;
                    margin-right: 6px;
                    /* font-family: 'Roboto Condensed'; */
                    margin-top: 6px;
                    min-width: 67px;
                    &:hover {
                        border: solid 1px @color-black;
                    }

                    &.selected {
                        background: @color-black !important;
                        color: @color-white;
                        outline: none;
                        border: solid 1px @color-black;
                    }

                    &.disabled {
                        color: #0003;
                        display: flex;
                        align-items: center;
                        padding: 10px 11px;
                        pointer-events: auto;

                        &.selected {
                            background: @color-black !important;
                            color: @color-white;
                            outline: none;
                            border: solid 1px @color-black;
                            &:before {
                                background-image: url('@{baseDir}images/icons/email-icon-grey.png');
                            }
                        }

                        &:after {
                            background: none;
                        }
                        &:before {
                            content: '';
                            background-image: url('@{baseDir}images/icons/email-icon.svg');
                            width: 21px;
                            height: 14px;
                            background-repeat: no-repeat;
                            margin-right: 12px;
                        }
                    }
                }
            }

            &.macro_colour {
                display: grid;
                grid-template-columns: max-content 1fr;

                .swatch-attribute-selected-option {
                    display: block;
                }

                .swatch-attribute-options {
                    grid-column: ~"1/3";
                }
            }

            &.size {
                .size-guide-trigger {
                    position: absolute;
                    right: 14px;
                    line-height: 24px;
                    letter-spacing: 0.44px;
                    /* font-family: 'Roboto Condensed'; */
                    font-weight: 700;
                    display: flex;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:before {
                        font-family: @font-icon-additional__font-name;
                        content: @icon-rule-size-icon;
                        font-size: 21px;
                        -webkit-font-smoothing: antialiased;
                        margin-right: 10px;
                    }
                }

                .mage-error {
                    padding-left: 0;
                    top: 15px;
                    margin-left: -8px;
                }
            }


            .mage-error {
                order: -1;
                position: absolute;
                padding-left: 120px;
                margin: 0;
            }

            &-label {
                &.swatch-label-error {
                    color: #ff1010;
                }
            }

            .swatch-attribute-label {
                text-transform: uppercase;
                &:before {
                    content: '';
                }
            }
        }

        .care-instructions {
            &-content {
                ul {
                    list-style: none;
                    padding: 0;
                }

                li {
                    display: flex;
                    &:nth-child(1) {
                        display: inline-flex;
                    }
                    &:before {
                        content: '';
                        height: 20px;
                        width: 20px;
                        margin-right: 10px;
                    }
                }
                .washing {
                    &:before {
                        background-image: url('@{baseDir}images/product/washing.svg');
                    }
                }

                .bleaching {
                    &:before {
                        background-image: url('@{baseDir}images/product/bleaching.svg');
                    }
                }

                .ironing {
                    &:before {
                        background-image: url('@{baseDir}images/product/ironing.svg');
                    }
                }

                .dry_cleaning {
                    &:before {
                        background-image: url('@{baseDir}images/product/dry_cleaning.svg');
                    }
                }

                .machine_drying {
                    &:before {
                        background-image: url('@{baseDir}images/product/machine_drying.svg');
                    }
                }
            }
        }

        .size-fit-content {
            padding: 0;
            list-style-position: inside;
            .size-fit-trigger {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .additional-description {
            ul {
                padding: 0;
                list-style-position: inside;
            }
        }

        .swatch-attribute-selected-option {
            display: none;
        }

        .swatch-attribute-options {
            margin: 16px 0 28px;
        }

        .swatch-option {
            border: none;
            margin-right: 10px;
            margin-bottom: 0;
            box-sizing: border-box;
            border-bottom: solid 3px transparent;
            &.image {
                &:hover,
                &.selected {
                    outline: none;
                    border: none;
                    border-bottom: solid 3px black
                }
            }
        }

        .price-box {
            .price-label {
                display: none !important;
            }
        }

        .store-pickup {
            display: flex;

            &:before {
                font-family: @font-icon-additional__font-name;
                content: @icon-marker-pin-icon;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                font-size: 23px;
                -webkit-font-smoothing: antialiased;
                margin-right: 14px;
            }

            span {
                letter-spacing: 0.5px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 45px;
                border-bottom: dashed 1px #000;
            }
        }
    }

    .cms-accordion {
        order: 1;
    }

    .block-product-selection {
        width: 100%;
        display: flex;
        flex-direction: column;
        .block-title {
            margin-bottom: 0;
            text-transform: initial;
            letter-spacing: 0.8px;
            margin-top: 40px;
            text-align: center;
        }
        .product-items {
            margin-left: -12px;
            margin-right: -12px;
            margin-top: 40px;
        }
        .product-image-photo {
            width: 100%;
        }

        .product-item-info {
            .field.choice.related {
                display: none;
            }
        }

        .block-actions.related {
            display: none;
        }

        .product {
            margin-top: 14px;
        }

        .product-item-info {
            width: 100%;
        }

        .slick-prev,
        .slick-next {
            background: none;
            top: 45%;
            transform: translate(0, -45%);
            width: 43px;
            height: 43px;
        }

        .slick-prev {
            left: -33px;
            right: auto;
        }

        .slick-next {
            right: -33px;
            left: auto;
        }
    }

    .product-items {
        &.slick-slider {
            padding: 0;
            .slick-slide {
                li.product-item {
                    max-width: inherit;
                }
            }
        }
    }

    .size-guide-show {
        .modal-footer {
            display: none;
        }

        .modal-content {
            padding: 21px 33px 21px 55px;
        }

        .modal-header {
            padding: 0;
        }

        h1 {
            line-height: 32px;
            font-size: 24px;
            letter-spacing: 0.8px;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .image-gallery__close {
        display: none;
    }

    .image-gallery {
      /*   display: grid; */
        grid-template-columns: 1fr 1fr;
        grid-gap: 26px;
        &-mobile {
            display: none;
        }

        &__item {
            cursor: zoom-in;
        }
    }

    .gallery-container {
        &.fullscreen {
            .image-gallery__close {
                display: block;
                position: fixed;
                cursor: pointer;
                z-index: 111;
                top: 30px;
                right: 40px;
                font-size: 0;
                text-align: center;
                &:before {
                    font-family: @font-icon-additional__font-name;
                    content: @icon-close-x-big-black-icon;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    font-size: 20px;
                    -webkit-font-smoothing: antialiased;
                }
            }

            .image-gallery {
                display: block;
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                z-index: 110;
                background-color: #fff;
                overflow: hidden;
                overflow-y: auto;
                text-align: center;
                &__item {
                    cursor: auto;
                    width: inherit;
                }
            }
        }
    }

    .column {
        .product-info-main {
            .box-tocart {
                .actions {
                    .notify-instock {
                        .action {
                            &.notify {
                                padding: 12px 48px;
                            }
                        }
                    }
                }
            }

            .swatch-attribute {
                &.size {
                     /* max-width: 350px; */
                }
            }
        }
    }

    .size-guide-show {
        &.modal-popup {
            .modal-inner-wrap {
                width: 60%;
                max-height: 90%;
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .breadcrumbs {
        display: none;
    }

    .product-info-main {
        .page-title-wrapper {
            .page-title {
                letter-spacing: 1px;
                margin-top: 24px;
            }
        }

        .price-box {
            .price-wrapper {
                .price {
                    font-size: 1.6rem;
                }
            }
        }

        .description {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .block-product-selection {
        .block-title {
            margin-bottom: 30px !important;
            padding-left: 5px;
            &.title strong {
                /* .lib-font-size(24) !important;
                .lib-line-height(34); */
            }
        }
        .slick-list{
            padding:0 100px 0 0 !important;
        }

        .slick-slide {
            margin-right: 20px;
        }

        ol.product-items {
            margin: 0 -15px 20px 5px;
        }
        .products-grid .product-item {
            margin: 0;
        }
        .products {
            margin: 0;
        }
    }

    .image-gallery {
        display: none;
        &-mobile {
            display: block;
            position: relative;
            margin-left: -15px;
            margin-right: -15px;

            .fotorama {
                &__nav--dots {
                    text-align: left;
                    bottom: 0;
                    position: absolute;
                    left: 16px;
                }

                &__active {
                    .fotorama__dot {
                        background-color: #898888;
                        border-color: #898888;
                    }
                }
            }
        }
        &__close {
            display: none;
        }
    }

    .column {
        .product-info-main {
            .box-tocart {
                .actions {
                    .notify-instock {
                        .action {
                            &.notify {
                                padding: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .size-guide {
        .content {
            div {
                overflow-x: scroll;
            }
        }
    }
}
