<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Remove $block */
?>
<?php // Haingo 20210726: Mise à jour popup wishlist apres suppression item wishlist  pour client connecte  ?>
<?php 
$item = $block->getItem();
$product = $item->getProduct(); 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helperGuestWishList = $objectManager->get('FME\GuestWishList\Helper\Data');
?>
<?php 
 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();

?>
<?php // Fin Haingo ?>
<a href="#" data-role="remove" id="wishlist-removepopup-<?php echo $item->getId() ?>"  title="<?= $block->escapeHtmlAttr(__('Remove Item')) ?>" class="btn-remove action delete">
    <span><?= $block->escapeHtml(__('Remove')) ?></span>
</a>

<?php // Haingo 20210726: Mise à jour popup wishlist apres suppression item wishlist  pour client connecte  ?>
<script> require(['jquery','mage/url','Magento_Customer/js/customer-data'],  
        function ($,url,customerData) {
        	// $('body').on('click.hideMenu', function(e) {

        	// })
            // $('#wishlist-removepopup-<?php echo $item->getId()?>').on('click', function (event) {
            $('body').on('click', '#wishlist-removepopup-<?php echo $item->getId()?>', function (event) {
                event.preventDefault();
                var removeData= '<?php echo $helperGuestWishList->getRemoveParams($item) ?>';
				// Haingo 20210917: onremove item
				// var counter = 2;
				
	            $.ajax({
	                url: '<?php echo $baseUrl.'guestwishlist/wishlist/remove'; ?>',
	                type: 'POST',
	                dataType: 'json',
	                data:{
	                	item:'<?php echo $product->getId()?>',
	                },
	            complete: function(response) { 
					// Haingo 20210917: onremove item
					// if(counter == 1){
						// $('#wishlist-header-icone').addClass('empty');
						// $('#wishlist-header-icone').removeClass('not-empty');
					// }else{
						// $('#wishlist-header-icone').addClass('not-empty');
						// $('#wishlist-header-icone').removeClass('empty');
					// }
					// Fin Haingo
					alert('remove');
	            	setTimeout(
	            		customerData.set('messages', {
	                    messages: [{
	                        type: 'success',
	                        text: 'Item Has been Added to Cart Succesfully'
	                    }]
	                }) , 5000);
                    customerData.reload(['wishlist']);
                    customerData.reload(['popup']);
					// location.reload();
	            },
	            error: function (xhr, status, errorThrown) {
	                console.log('Error happens. Try again.');
	            }
	            });
            });
        });
 </script> 
 <?php // Fin Haingo ?>
		