<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Catalog\Block\Product\ListProduct;
use Magento\Catalog\Block\Product\ReviewRendererInterface;
use Magento\Catalog\Helper\Output;
use Magento\Catalog\Model\Product;
use Magento\Framework\App\Action\Action;
use Magento\Framework\Data\Collection;
use Magento\Framework\Escaper;
use Magento\Framework\View\Helper\SecureHtmlRenderer;

?>
<?php
/**
 * Product list template
 *
 * @var $block ListProduct
 * @var Escaper $escaper
 * @var SecureHtmlRenderer $secureRenderer
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
/** @var Output $_helper */
$_helper = $block->getData('outputHelper');
$_helperGallery = $this->helper('Beside\Catalog\Helper\Data');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?= $escaper->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
    </div>
<?php else: ?>

    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @noEscape */
    $viewMode ?> products-<?= /* @noEscape */
    $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <li class="item product product-item">
                    <div class="product-item-info"
                         id="product-item-info_<?= /* @noEscape */
                         $_product->getId() ?>"
                         data-container="product-<?= /* @noEscape */
                         $viewMode ?>">

                        <?php $labelsBlock = $block->getChildBlock('product-labels'); ?>
                        <?php if ($labelsBlock) : ?>
                            <?php $labelsBlock->setProduct($_product); ?>
                            <?php echo $labelsBlock->toHtml(); ?>
                        <?php endif; ?>

                        <?php
                        $productImage = $block->getImage($_product, $imageDisplayArea);
                        if ($pos != null) {
                            $position = 'left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;';
                        }
                        ?>

                        <?php // Product Image ?>
                        <ul class="product-item-wrapper slider-list-wrapper slider-list-<?= /* @noEscape */
                        $_product->getId() ?>">
                            <?php
                            $_helperGallery->addGallery($_product);
                            $images = $_helperGallery->getGalleryImages($_product);
                            if ($images instanceof Collection) {
                                $i = 1;
                                foreach ($images as $image) {
                                    $item = $image->getData();
                                    if (isset($item['media_type']) && $item['media_type'] == 'image'):
                                        ?>
                                        <?php if ($i == 1): ?>
                                        <li class="selected">
                                    <?php else: ?>
                                        <li >
                                    <?php endif; ?>
                                        <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                           class="product photo product-item-photo"
                                           tabindex="-1">
                                            <img
                                                src="<?php echo isset($item['medium_image_url']) ? $item['medium_image_url'] : null; ?>"
                                                alt="<?= /* @noEscape */
                                                $_helper->productAttribute($_product, $_product->getName(), 'name') ?>"/>
                                        </a>
                                        </li>
                                        <?php
                                        $i++;
                                    endif;
                                }
                            }
                            ?>
                        </ul>
                        <script>
                            require([
                                'jquery',
                                'slick'
                            ], function ($) {
                                'use strict';

                                var $element = $('.slider-list-<?= /* @noEscape */ $_product->getId() ?>');

                                if ($element.hasClass('slick-initialized')) {
                                    $element.slick('unslick');
                                }

                                $element.slick({
                                    dots: false,
                                    rtl: window.BASE_URL.includes('_ar') ? true : false
                                });

                            });
                        </script>

                        <div class="product details product-item-details">
                            <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                    <?php if (!empty($_helper->productAttribute($_product, $_product->getPlpDescription(), 'plp_description'))): ?>
                                        <?= /* @noEscape */
                                        $_helper->productAttribute($_product, $_product->getPlpDescription(), 'plp_description') ?>
                                    <?php else: ?>
                                        <?= /* @noEscape */
                                        $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                    <?php endif; ?>
                                </a>
                            </strong>
                            <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                            <?php
                            $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
                            if ($_product->getTypeId() == "configurable") {
                                $_children = $_product->getTypeInstance()->getUsedProducts($_product);
                                foreach ($_children as $child) {
                                    $salePrice = $child->getFinalPrice();
                                    $regularPrice = $child->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue();
                                    break;
                                }

                                if ($regularPrice > $salePrice) {
                                    ?>
                                    <span class="old-price sly-old-price no-display" style="display: inline;">
                                        <span class="price-container price-final_price tax weee">
                                                <span class="price-label">Regular Price</span>
                                            <span id="old-price-<?= $_product->getId() ?>" data-price-amount="<?= $regularPrice ?>"
                                                  data-price-type="oldPrice" class="price-wrapper "><span
                                                    class="price"><?= $priceHelper->currency($regularPrice, true, false) ?></span></span>
                                            </span>
                                        </span>
                                    <?php
                                }
                            }


                            ?>


                            <?= /* @noEscape */
                            $block->getProductPrice($_product) ?>
                            <?php if ($_product->isAvailable()): ?>
                                <?= $block->getProductDetailsHtml($_product) ?>
                            <?php endif; ?>

                            <div class="product-item-inner">
                                <div class="product actions product-item-actions">

                                    <div data-role="add-to-links" class="actions-secondary">
                                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                            <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                        <?php endif; ?>
                                    </div>
                                    <?= strpos($pos, $viewMode . '-secondary') ?
                                        /* @noEscape */
                                        $secureRenderer->renderStyleAsTag(
                                            $position,
                                            'product-item-info_' . $_product->getId() . ' div.actions-secondary'
                                        ) : '' ?>
                                </div>
                                <?php if ($showDescription): ?>
                                    <div class="product description product-item-description">
                                        <?= /* @noEscape */
                                        $_helper->productAttribute(
                                            $_product,
                                            $_product->getShortDescription(),
                                            'short_description'
                                        ) ?>
                                        <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                           title="<?= /* @noEscape */
                                           $_productNameStripped ?>"
                                           class="action more"><?= $escaper->escapeHtml(__('Learn More')) ?></a>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                    <?= strpos($pos, $viewMode . '-actions') ?
                        /* @noEscape */
                        $secureRenderer->renderStyleAsTag(
                            $position,
                            'product-item-info_' . $_product->getId() . ' div.product-item-actions'
                        ) : '' ?>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $escaper->escapeJs($_product->getSku()) ?>"
                }
            }
        }


        </script>
    <?php endif; ?>
<?php endif; ?>
