<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Catalog\Block\Product\ListProduct;
use Magento\Catalog\Block\Product\ReviewRendererInterface;
use Magento\Catalog\Helper\Output;
use Magento\Catalog\Model\Product;
use Magento\Framework\App\Action\Action;
use Magento\Framework\Data\Collection;
use Magento\Framework\Escaper;
use Magento\Framework\View\Helper\SecureHtmlRenderer;

?>
<?php
/**
 * Product list template
 *
 * @var $block ListProduct
 * @var Escaper $escaper
 * @var SecureHtmlRenderer $secureRenderer
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
/** @var Output $_helper */
$_helper = $block->getData('outputHelper');
$_helperGallery = $this->helper('Beside\Catalog\Helper\Data');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?= $escaper->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
    </div>
<?php else: ?>

    <?php 
        $s_p = ($_productCollection->count() > 1) ? 's' : '';
    ?>
    <?php /* ?>
    <div class="conteneur-short-numbs product_count">
        <a class="short-down"><?php echo __('Short') ?>:</a>
        <p><?php echo $_productCollection->count() . ' ' . __('Item') . $s_p; ?></p>
    </div>   
    <?php */ ?> 

    <script>
        require([
            'jquery'
        ], function ($) {

            var numers_new_mana = setInterval(function() {
                if ( $('.numers-new-mana').length ) {
                    $('.numers-new-mana').text("<?php echo $_productCollection->count() . ' ' . __('Item') . $s_p; ?>");

                if ( $( '.sorte-new-mana' ).length > 1 && $('.numers-new-mana').text() != '' ) {
                    console.log('+++++1iiiiiiii');
                    $( ".sorte-new-mana" ).hide();
                    var i = 0;
                    $( ".sorte-new-mana" ).each(function() {
                        console.log($(this));
                        i++;
                        if ( i == $( ".sorte-new-mana" ).length) {
                            $(this).show();
                        }
                    })                        
                } 

                    clearInterval(numers_new_mana);
                }
            }, 1000);

           

            // $( ".product_count" ).insertBefore( $( ".columns" ) );
            //     console.log('rrr');
            // if ( $( ".product_count" ).length > 1 ) {
            //     console.log('+1');
            //     $( ".product_count" ).hide();
            //     var i = 0;
            //     $( ".product_count" ).each(function() {
            //         console.log($(this));
            //         i++;
            //         if ( i == $( ".product_count" ).length) {
            //             $(this).show();
            //         }
            //     })
            // }
        });
    </script>     

    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @noEscape */
    $viewMode ?> products-<?= /* @noEscape */
    $viewMode ?>">
        <ol class="products list items product-items">
            <?php $isany = 1;?>

            <?php foreach ($_productCollection as $_product): ?>
                <li class="item product product-item <?php echo $isany;?>">
                    <div class="product-item-info"
                         id="product-item-info_<?= /* @noEscape */
                         $_product->getId() ?>"
                         data-container="product-<?= /* @noEscape */
                         $viewMode ?>">
                        <style type="text/css">
                            .remise_<?php echo $_product->getId(); ?> {
                                width: 20%;
                                position: absolute;
                                top: 30px;
                                height: 30px;
                                z-index: 10;
                                background-color: #ffb1b7;
                                text-align: center;
                                display: none;
                                font-weight: 700;
                                line-height: 30px;
                                left: 0;
                            }                                
                        </style> 
                        <div class="remise_<?php echo $_product->getId(); ?>"></div>
                        <?php $labelsBlock = $block->getChildBlock('product-labels'); ?>
                        <?php if ($labelsBlock) : ?>
                            <?php $labelsBlock->setProduct($_product); ?>
                            <?php echo $labelsBlock->toHtml(); ?>
                        <?php endif; ?>

                        <?php
                        $productImage = $block->getImage($_product, $imageDisplayArea);
                        if ($pos != null) {
                            $position = 'left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;';
                        }
                        ?>

                        <?php // Product Image ?>
                        <ul class="product-item-wrapper slider-list-wrapper slider-list-<?= /* @noEscape */
                        $_product->getId() ?>">
                            <?php
                            $_helperGallery->addGallery($_product);
                            $images = $_helperGallery->getGalleryImages($_product);
                            $imageResizer = $block->getImageResizer();                                 
                            if ($images instanceof Collection) {
                                $i = 1;
								// Haingo 20210916: limite remontee image a 2 
								$limit = 1;
								$firstresizedImageUrl = '';
								$secondresizedImageUrl = '';
								foreach ($images as $image) {
                                    $item = $image->getData();
									$position = isset($item['position']) ? $item['position'] : 0;
									if($position == 1) {
										$first_list_image_url = isset($item['medium_image_url']) ? $item['medium_image_url'] : null;
										$firstresizedImageUrl = $imageResizer->resizeAndGetUrl(
                                                $first_list_image_url, 900, 900
                                            );
									}
									if($position == 2) {
										$second_list_imag_url = isset($item['medium_image_url']) ? $item['medium_image_url'] : null;
										$secondresizedImageUrl = $imageResizer->resizeAndGetUrl(
                                                $second_list_imag_url, 900, 900
                                            );
									}
								}
								
                                foreach ($images as $image) {
                                    $item = $image->getData();
                                    if (isset($item['media_type']) && $item['media_type'] == 'image'):
                                        ?>
                                        <?php if ($i == 1): ?>
                                        <li class="selected">
                                    <?php else: ?>
                                        <li >
                                    <?php endif; ?>
                                        <?php 
                                            $medium_image_url = isset($item['medium_image_url']) ? $item['medium_image_url'] : null;
                                            $resizedImageUrl = $imageResizer->resizeAndGetUrl(
                                                $medium_image_url, 900, 900
                                            );
                                        ?>
										<?php // Haingo 20210916: ttt image page liste ?>
										
										
                                        <a id="image-list-link-<?php echo $_product->getId() ?>"  href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                           class="product photo product-item-photo testmm"
                                           tabindex="-1" 
                                           data-ssz="<?php echo $firstresizedImageUrl; ?>">
                                            <img id="ppal-list-image-<?php echo $_product->getId() ?>" 
                                                src="<?php echo $firstresizedImageUrl ?>"
                                                alt="<?= /* @noEscape */
                                                $_helper->productAttribute($_product, $_product->getName(), 'name') ?>"/>
                                        </a>
										<input type="hidden" id="first-list-image-<?php echo $_product->getId() ?>" value="<?php echo $firstresizedImageUrl ?>" />
										<input type="hidden" id="second-list-image-<?php echo $_product->getId() ?>" value="<?php echo $secondresizedImageUrl ?>" />
										<?php //Fin Haingo 20210916 ?>
                                        </li>
                                        <?php
                                        $i++;
                                    endif;
									
									 // Haingo 20210916: limite remontee image a 2
									 $limit++;
									 if($limit > 1) break;
									 // Fin Haingo
                                }
                            }
                            ?>
                        </ul>
						<?php /** Haingo 20210916:
                        <script>
                            require([
                                'jquery',
                                'slick'
                            ], function ($) {
                                'use strict';

                                var $element = $('.slider-list-<?= /* @noEscape / $_product->getId() ?>');

                                if ($element.hasClass('slick-initialized')) {
                                    $element.slick('unslick');
                                }

                                $element.slick({
                                    dots: false,
                                    rtl: window.BASE_URL.includes('_ar') ? true : false
                                });

                            });
                        </script>
						**/ ?>

                        <div class="product details product-item-details">
                            <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>

                            <?php /* ?>
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                    <?php if (!empty($_helper->productAttribute($_product, $_product->getPlpDescription(), 'plp_description'))): ?>
                                        <?=
                                        $_helper->productAttribute($_product, $_product->getPlpDescription(), 'plp_description') ?>
                                    <?php else: ?>
                                        <?=
                                        $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                    <?php endif; ?>
                                </a>
                            </strong>
                            <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                            <?php */ ?>

    <div class="conteneur-name-prix">
        <strong class="product-item-name">
            <a class="" href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"> <?php echo $block->stripTags($_product->getName(), null, true); ?></a>
        </strong>

        <div class="conteneur-prix">
        <?php
        $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
        if ($_product->getTypeId() == "configurable") {
            $_children = $_product->getTypeInstance()->getUsedProducts($_product);
            foreach ($_children as $child) {
                $salePrice = $child->getFinalPrice();
                $regularPrice = $child->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue();
                break;
            }

            if ($regularPrice > $salePrice) {
                ?>
                <span class="remise_bettwen<?php echo $_product->getId(); ?>" style="display: none;">                   
                    -<?php echo 100 - (($salePrice * 100)/$regularPrice) ?>
                </span>
                <script>
                    require([
                        'jquery'
                    ], function ($) {
                        console.log('remise');
                        $('.remise_<?php echo $_product->getId(); ?>').text(
                            parseInt($('.remise_bettwen<?php echo $_product->getId(); ?>').text()) + '%'
                        );
                        $('.remise_<?php echo $_product->getId(); ?>').show();
                    });
                </script>                
                <span class="old-price sly-old-price no-display" style="display: inline;">
                    <span class="price-container price-final_price tax weee">
                            <span class="price-label">Regular Price</span>
                        <span id="old-price-<?= $_product->getId() ?>" data-price-amount="<?= $regularPrice ?>"
                              data-price-type="oldPrice" class="price-wrapper "><span
                                class="price"><?= $priceHelper->currency($regularPrice, true, false) ?></span></span>
                        </span>
                    </span>
                <?php
            }
        } elseif ( $_product->getTypeId() == "simple" ) {
            $salePrice = $_product->getFinalPrice();
            $regularPrice = $_product->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue();  

            if ($regularPrice > $salePrice) {
                ?>
                <span class="remise_bettwen<?php echo $_product->getId(); ?>" style="display: none;">                   
                    -<?php echo 100 - (($salePrice * 100)/$regularPrice) ?>
                </span>
                <script>
                    require([
                        'jquery'
                    ], function ($) {
                        console.log('remise');
                        $('.remise_<?php echo $_product->getId(); ?>').text(
                            parseInt($('.remise_bettwen<?php echo $_product->getId(); ?>').text()) + '%'
                        );
                        $('.remise_<?php echo $_product->getId(); ?>').show();
                    });
                </script>                
                <?php
            }

        }
        ?>

        <?= /* @noEscape */ $block->getProductPrice($_product) ?>
        </div>
    </div>
                     
                            <?php if ($_product->isAvailable()): ?>
                                <?= $block->getProductDetailsHtml($_product) ?>
                            <?php endif; ?>

                            <div class="product-item-inner">
                                <div class="product actions product-item-actions">

                                    <div data-role="add-to-links" class="actions-secondary">
                                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                            <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                        <?php endif; ?>
                                    </div>
                                    <?= strpos($pos, $viewMode . '-secondary') ?
                                        /* @noEscape */
                                        $secureRenderer->renderStyleAsTag(
                                            $position,
                                            'product-item-info_' . $_product->getId() . ' div.actions-secondary'
                                        ) : '' ?>
                                </div>
                                <?php /* if ($showDescription): ?>
                                    <div class="product description product-item-description">
                                        <?=
                                        $_helper->productAttribute(
                                            $_product,
                                            $_product->getShortDescription(),
                                            'short_description'
                                        ) ?>
                                        <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                           title="<?=
                                           $_productNameStripped ?>"
                                           class="action more"><?= $escaper->escapeHtml(__('Learn More')) ?></a>
                                    </div>
                                <?php endif; */ ?>
                            </div>
                        </div>
                    </div>
                    <?= strpos($pos, $viewMode . '-actions') ?
                        /* @noEscape */
                        $secureRenderer->renderStyleAsTag(
                            $position,
                            'product-item-info_' . $_product->getId() . ' div.product-item-actions'
                        ) : '' ?>
                </li>
                <?php
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
                ?>
                <?php $checkcateg3 = $category->getId().'-first'; ?>
                <?php if ($this->getLayout()
                    ->createBlock('Magento\Cms\Block\Block')
                    ->setBlockId($checkcateg3)
                    ->toHtml()) : ?>
                    <?php if ($isany==8): ?>
                        <li class="item product product-item  cms-enters01">
                            <?php
                            echo $this->getLayout()
                                ->createBlock('Magento\Cms\Block\Block')
                                ->setBlockId($checkcateg3)
                                ->toHtml();
                            ?>
                        </li>
                    <?php endif; ?>
                <?php endif; ?>
            



            <?php $isany++; endforeach; ?>

        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $escaper->escapeJs($_product->getSku()) ?>"
                }
            }
        }


        </script>
    <?php endif; ?>
<?php endif; ?>
<?php // Haingo 20210916: load seconde image ?>
<script>
	require(['jquery', 'jquery/ui'], function($){
	  $(".product-item-photo").hover(function(){ // mouse-in
			var id = $(this).attr('id');
			var product_id = id.replace("image-list-link-", "");
			var src = $("#second-list-image-"+product_id).val();
			$("#ppal-list-image-"+product_id).attr('src', src);
		},
            function () { // mouse-out
				var id = $(this).attr('id');
				var product_id = id.replace("image-list-link-", "");
				var src = $("#first-list-image-"+product_id).val();
				$("#ppal-list-image-"+product_id).attr('src', src);
            }
		);
	});
</script>
<?php // Fin Haingo ?>
