<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Catalog\Block\Product\ListProduct;
use Magento\Catalog\Block\Product\ReviewRendererInterface;
use Magento\Catalog\Helper\Output;
use Magento\Catalog\Model\Product;
use Magento\Framework\App\Action\Action;
use Magento\Framework\Data\Collection;
use Magento\Framework\Escaper;
use Magento\Framework\View\Helper\SecureHtmlRenderer;

?>
<?php
/**
 * Product list template
 *
 * @var $block ListProduct
 * @var Escaper $escaper
 * @var SecureHtmlRenderer $secureRenderer
 */
?>
<!-- DEFAULT LISTING-->
<?php $time_start_all = microtime(true); ?>	
<?php

$_productCollection = $block->getLoadedProductCollection();

$writer = new \Zend\Log\Writer\Stream(BP . '/var/log/haingo_check_listcol'.'.log');
$logger = new \Zend\Log\Logger();
$logger->addWriter($writer);

$logger->info($_productCollection->getSize());
//echo $_productCollection->getSelect();

/** @var Output $_helper */
$_helper = $block->getData('outputHelper');
$_helperGallery = $this->helper('Beside\Catalog\Helper\Data');
$resized_folder = 'pub/media/staempfli_imageresizer/cache/catalog/product/h/i/900x900_co_ar_tr_85/';
$resized_path = 'staempfli_imageresizer/cache/catalog/product/h/i/900x900_co_ar_tr_85/';

$imageResizer = $block->getImageResizer();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?= $escaper->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
        <?php
        $store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
        $currentUrl = $store->getCurrentUrl();

        $request = $objectManager->get('\Magento\Framework\App\Request\Http');
        $moduleName = $request->getModuleName();
        $controller = $request->getControllerName();
        $action     = $request->getActionName();

        $request_uri = $moduleName."/".$controller."/".$action;

        $message = "<strong>".$currentUrl." has 0 product displayed on frontoffice at ".date("d/m/Y h:i:s")."</strong>";
        //$message = $currentUrl." | <strong>request_uri '".$request_uri."'</strong>";
        $sujet = "SCOTCH & SODA : ALERT CATEGORY WITH 0 PRODUCT";
        $to  = 'giftsg01@gmail.com';
        $to  = 'giftsg01@gmail.com' . ', ';
        $to .= 'faniry.marolook@gmail.com' . ', ';
        $to .= 'mirindra@khaleejdigital.com' . ', ';
        $to .= 'ahmed@khaleejdigital.com' . ', ';
        $to .= 'bejan.jilla@besidegroup.com' . ', ';
        $to .= 'varun.valiyapurakkal@besidegroup.com' . ', ';
        $to .= 'tarek.barakat@besidegroup.com';
        $headers  = 'MIME-Version: 1.0' . "\r\n";
        $headers .= 'Content-type: text/html; charset=iso-8859-1' . "\r\n";


        if ($request_uri != "catalogsearch/result/index") {
            mail($to, $sujet, $message, $headers);
            $fileSystem = $objectManager->create('\Magento\Framework\Filesystem');
            $varPath = $fileSystem->getDirectoryRead(\Magento\Framework\App\Filesystem\DirectoryList::VAR_DIR)->getAbsolutePath();

            //if ($_SERVER['REMOTE_ADDR'] == "102.68.244.64") echo $varPath."zero_product_flag<br>";

            $f = fopen($varPath."zero_product_flag", 'w');
            fclose($f);
            chmod('zero_product_flag', 0777);
        }

        ?>
    </div>
<?php else: ?>

    <?php 
        $s_p = ($_productCollection->count() > 1) ? 's' : '';
    ?>
    <?php /* ?>
    <div class="conteneur-short-numbs product_count">
        <a class="short-down"><?php echo __('Short') ?>:</a>
        <p><?php echo $_productCollection->count() . ' ' . __('Item') . $s_p; ?></p>
    </div>   
    <?php */ ?> 
<?php /** Haingo : deplace dans amount.phtml
    <script>
        require([
            'jquery'
        ], function ($) {

            var numers_new_mana = setInterval(function() {
                if ( $('.numers-new-mana').length ) {
                    $('.numers-new-mana').text("<?php // echo $_productCollection->count() . ' ' . __('Item') . $s_p; ?>");

                if ( $( '.sorte-new-mana' ).length > 1 && $('.numers-new-mana').text() != '' ) {
                    console.log('+++++1iiiiiiii');
                    $( ".sorte-new-mana" ).hide();
                    var i = 0;
                    $( ".sorte-new-mana" ).each(function() {
                        console.log($(this));
                        i++;
                        if ( i == $( ".sorte-new-mana" ).length) {
                            $(this).show();
                        }
                    })                        
                } 

                    clearInterval(numers_new_mana);
                }
            }, 1000);

           

            // $( ".product_count" ).insertBefore( $( ".columns" ) );
            //     console.log('rrr');
            // if ( $( ".product_count" ).length > 1 ) {
            //     console.log('+1');
            //     $( ".product_count" ).hide();
            //     var i = 0;
            //     $( ".product_count" ).each(function() {
            //         console.log($(this));
            //         i++;
            //         if ( i == $( ".product_count" ).length) {
            //             $(this).show();
            //         }
            //     })
            // }
         });
    </script>     
**/?>
    <div class="toolbar-tops"><?= $block->getToolbarHtml() ?></div>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>

    <div class="products wrapper <?= /* @noEscape */
    $viewMode ?> products-<?= /* @noEscape */
    $viewMode ?>  trois-fois-trois Fano-beloha">
        <ol class="products list items product-items">
            <?php $isany = 1;?>

            <?php foreach ($_productCollection as $_product): ?>
			
			
                <li class="item product product-item <?php echo $isany;?>">
                    <div class="product-item-info"
                         id="product-item-info_<?= /* @noEscape */
                         $_product->getId() ?>"
                         data-container="product-<?= /* @noEscape */
                         $viewMode ?>">
                        <style type="text/css">
                            .remise_<?php echo $_product->getId(); ?> {
                                width: 75px;
                                position: absolute;
                                top: 55px;
                                height: 30px;
                                z-index: 10;
                                background-color: #ffb1b7;
                                text-align: center;
                                display: none;
                                font-weight: 700;
                                line-height: 30px;
                                left: 0; font-size: 12px;
                            }                                
                        </style> 
                        <div class="remise_<?php echo $_product->getId(); ?>"></div>
                        <?php $labelsBlock = $block->getChildBlock('product-labels'); ?>
                        <?php if ($labelsBlock) : ?>
                            <?php $labelsBlock->setProduct($_product); ?>
                            <?php echo $labelsBlock->toHtml(); ?>
                        <?php endif; ?>

                        <?php
                        $productImage = $block->getImage($_product, $imageDisplayArea);
                        if ($pos != null) {
                            $position = 'left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;';
                        }
                        ?>

                        <?php // Product Image ?>
						<?php $time_start = microtime(true); ?>	
                        <ul class="product-item-wrapper slider-list-wrapper slider-list-<?= /* @noEscape */
                        $_product->getId() ?>">
						<?php $media_url = $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl();?>
                                        <?php

                                            $data_first_image_url = $_product->getImageMdlCrp();
                                            if ($data_first_image_url == "" || $data_first_image_url == "no_selection") {
                                                $data_first_image_url = $_product->getImage();
                                            }
                                            //$first_image_url = $media_url.'catalog/product'.$_product->getImageMdlCrp();
                                            $first_image_url = $media_url.'catalog/product'.$data_first_image_url; //Fano fix
											//$firstresizedImageUrl = $media_url.$resized_path.str_replace('/h/i/','',$_product->getImageMdlCrp());
											$firstresizedImageUrl = $media_url.$resized_path.str_replace('/h/i/','',$data_first_image_url);
											//if(!file_exists($resized_folder.str_replace('/h/i/','',$_product->getImageMdlCrp()))){
											if(!file_exists($resized_folder.str_replace('/h/i/','',$data_first_image_url))){
												$firstresizedImageUrl = $imageResizer->resizeAndGetUrl(
													$first_image_url, 900, 900
												);
											}

                                            $data_second_image_url = $_product->getImageMdlFnt();
                                            if ($data_second_image_url == "" || $data_second_image_url == "no_selection") {
                                                $images = $_helperGallery->getGalleryImages($_product);
                                                $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                                $baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
                                                //echo "baseUrl : '".$baseUrl."'<br>";
                                                if(count($images)>=2) { //any second image
                                                    $i=0;
                                                    foreach($images as $image) {
                                                        $item = $image->getData();
                                                        if ($i==2) {
                                                            $data_second_image_url = isset($item['url']) ? $item['url'] : null;
                                                            //$data_second_image_url = str_replace('https://ae.scotch-soda.com/pub/media/catalog/product','',$data_second_image_url);
                                                            $data_second_image_url = str_replace($baseUrl.'pub/media/catalog/product','',$data_second_image_url);
                                                            break;
                                                        }
                                                        $i++;
                                                    }
                                                }
                                            }

											//$secondresizedImageUrl = $media_url.$resized_path.str_replace('/h/i/','',$_product->getImageMdlFnt());
                                            $secondresizedImageUrl = $media_url.$resized_path.str_replace('/h/i/','',$data_second_image_url); //Fano fix
											//if(!file_exists($resized_folder.str_replace('/h/i/','',$_product->getImageMdlFnt()))){
											if (!file_exists($resized_folder.str_replace('/h/i/','',$data_second_image_url))) { //Fano fix
                                                //$second_image_url = $media_url.'catalog/product'.$_product->getImageMdlFnt();
                                                $second_image_url = $media_url.'catalog/product'.$data_second_image_url; //Fano fix
                                                $secondresizedImageUrl = $imageResizer->resizeAndGetUrl(
                                                    $second_image_url, 900, 900
                                                );
											}											
                                        ?>		
								
                            <?php 
							//mirindra optimization start
							?>
							<?php //mirindra get correct image from swatch selected ?>
	<?php $time_end = microtime(true);
$time = $time_end - $time_start;
?>
<!-- //microtime init  <?php //echo $time;?> -->	
						
							<?php 
							if ($_product->getTypeId() == "configurable") {
							$swatchBlock = $block->getLayout()->createBlock('Magento\Swatches\Block\Product\Renderer\Configurable');
							$swatchBlock->setProduct($_product);
							?>
<?php $time_start = microtime(true); ?>	
<?php 	
							//$swatchConfigDet = json_decode($swatchBlock->getJsonSwatchConfig());
							$swatchConfigTest = ($swatchBlock->getJsonConfig());
							?>
	<?php $time_end = microtime(true);
$time = $time_end - $time_start;
?>
<!-- //microtime plpreq  <?php echo $time;?> -->	
							<?php 
							$swatchConfigTest = json_decode($swatchConfigTest);
							foreach($swatchConfigTest->attributes as $keycft=>$valcft){
								if($valcft->id==209){
									/*echo '<pre>';
									print_r($valcft->options);
									echo '========</pre>';*/	
									$swt_opts = $valcft->options;	
									$option_product_toshow = $swt_opts[0]->id;	
									break;
									//print_r($option_product_toshow);									
								/*foreach($valcft as $valobjcft){
									//$optionscft = $valcft->options;
									//echo ($keycft);
									echo '<pre>';
									print_r($valobjcft->id);
									echo '========</pre>';
								}*/
								}
							}

							$product_simple_images = array();

							if($_product->getPlpImageOneChoices()!="" && strpos($_product->getPlpImageOneChoices(),"image_one") !== false){
								$product_simple_images = json_decode(str_replace("'",'',$_product->getPlpImageOneChoices()));
							}
							/*foreach($swatchConfigDet as $id_attr=>$conf_up){
								if($id_attr==209){
									foreach($conf_up as $id_opt=>$conf_opt){
										//echo $id_opt.'<br>';
										$option_product_toshow = $id_opt; 
									}
								
								}

							}*/
							//break;
							?>
	
						<?php $time_start = microtime(true); ?>	
							<?php 
							foreach($product_simple_images as $p_opt=>$images){
								if(is_object($images)){
								if($p_opt==$option_product_toshow){
										  $imageResizer = $block->getImageResizer();  
                                            $first_image_url = $media_url.'catalog/product'.$images->image_one;
											$firstresizedImageUrl = $media_url.$resized_path.str_replace('/h/i/','',$images->image_one);
											if(!file_exists($resized_folder.str_replace('/h/i/','',$images->image_one))){											
												$firstresizedImageUrl = $imageResizer->resizeAndGetUrl(
													$first_image_url, 900, 900
												);
											}
											if(strlen(trim($images->image_two))>0){
												$second_image_url = $media_url.'catalog/product'.$images->image_two;
												$secondresizedImageUrl = $media_url.$resized_path.str_replace('/h/i/','',$images->image_two);
											}
											else{
												$second_image_url = $media_url.'catalog/product'.$images->image_one;
												$secondresizedImageUrl = $media_url.$resized_path.str_replace('/h/i/','',$images->image_one);												
											}
											
											if(!file_exists($resized_folder.str_replace('/h/i/','',$images->image_two))){
												$secondresizedImageUrl = $imageResizer->resizeAndGetUrl(
													$second_image_url, 900, 900
												);	
											}											
								}
								}
							//echo '<pre>';print_r($product_simple_images);
							//echo $option_product_toshow;
							}
							//echo $option_product_toshow.'  '.$first_image_url.' '.$second_image_url.'<br>';
							}
							?>
	<?php $time_end = microtime(true);
$time = $time_end - $time_start;
?>
<!-- //microtime befli  <?php //echo $time;?> -->							
							<?php //end mirindra get correct image from swatch selected ?>
                                        <li >
                                    

										<?php // Haingo 20210916: ttt image page liste ?>
										
										
                                        <a id="image-list-link-<?php echo $_product->getId() ?>"  href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                           class="product photo product-item-photo testmm"
                                           tabindex="-1" 
                                           data-ssz="<?php echo $firstresizedImageUrl; ?>">
                                            <img id="ppal-list-image-<?php echo $_product->getId() ?>" 
                                                src="<?php echo $firstresizedImageUrl ?>"
                                                alt="<?= 
                                                $_helper->productAttribute($_product, $_product->getName(), 'name') ?>"/>
                                        </a>
										<input type="hidden" id="first-list-image-<?php echo $_product->getId() ?>" value="<?php echo $firstresizedImageUrl ?>" />
										<input type="hidden" id="second-list-image-<?php echo $_product->getId() ?>" value="<?php echo $secondresizedImageUrl ?>" />
										<?php //Fin Haingo 20210916 ?>
                                        </li>
										
							<?php 										
                            /*$_helperGallery->addGallery($_product);
                            $images = $_helperGallery->getGalleryImages($_product);
                                                         
                            if ($images instanceof Collection) {
                                $i = 1;
								// Haingo 20210916: limite remontee image a 2 
								$limit = 1;
								$firstresizedImageUrl = '';
								$secondresizedImageUrl = '';
								
								// $firstresizedImageUrl = $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'catalog/product'.$_product->getListImagePrincipal();
								// $secondresizedImageUrl = $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'catalog/product'.$_product->getListImageOnhover();
								
								
								$firstresizedImageUrl = $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'catalog/product'.$_product->getImageMdlCrp();
								$secondresizedImageUrl = $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'catalog/product'.$_product->getImageMdlFnt();
								
								
								if($firstresizedImageUrl == $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'catalog/product'){
									$firstresizedImageUrl = $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'catalog/product'.$_product->getImage();
									
								}
								
								if($firstresizedImageUrl == $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'catalog/product'){
									$firstresizedImageUrl = '';
									
								}
								
								
								if($secondresizedImageUrl == $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'catalog/product'){
									$secondresizedImageUrl = '';
								}
								
								if(empty($firstresizedImageUrl) || empty($secondresizedImageUrl)){
									$num_images = 1;
									$nb_images = sizeof($images);
									foreach ($images as $image) {
										$item = $image->getData();
										if(empty($firstresizedImageUrl)){
											if($num_images == 1) {
												$first_list_image_url = isset($item['large_image_url']) ? $item['large_image_url'] : null;
												$firstresizedImageUrl = $imageResizer->resizeAndGetUrl(
														$first_list_image_url, 900, 900
													);
											}
										}
										
										if(empty($secondresizedImageUrl)){
											if(($nb_images == 1) && ($num_images == 1)) {
												$second_list_imag_url = isset($item['large_image_url']) ? $item['large_image_url'] : null;
												$secondresizedImageUrl = $imageResizer->resizeAndGetUrl(
														$second_list_imag_url, 900, 900
													);
											}
											if(($nb_images == 2) && ($num_images == 2)) {
												$second_list_imag_url = isset($item['large_image_url']) ? $item['large_image_url'] : null;
												$secondresizedImageUrl = $imageResizer->resizeAndGetUrl(
														$second_list_imag_url, 900, 900
													);
											}
											
											if($num_images == 3) {
												$second_list_imag_url = isset($item['large_image_url']) ? $item['large_image_url'] : null;
												$secondresizedImageUrl = $imageResizer->resizeAndGetUrl(
														$second_list_imag_url, 900, 900
													);
													
												break;
											}
										}
										$num_images++;
									}
								}
								
                                foreach ($images as $image) {
                                    $item = $image->getData();
                                    if (isset($item['media_type']) && $item['media_type'] == 'image'):
                                        ?>
                                        <?php if ($i == 1): ?>
                                        <li class="selected">
                                    <?php else: ?>
                                        <li >
                                    <?php endif; ?>
                                        <?php 
                                            $large_image_url = isset($item['large_image_url']) ? $item['large_image_url'] : null;
                                            $resizedImageUrl = $imageResizer->resizeAndGetUrl(
                                                $large_image_url, 900, 900
                                            );
                                        ?>
										<?php // Haingo 20210916: ttt image page liste ?>
										
										
                                        <a id="image-list-link-<?php echo $_product->getId() ?>"  href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                           class="product photo product-item-photo testmm"
                                           tabindex="-1" 
                                           data-ssz="<?php echo $firstresizedImageUrl; ?>">
                                            <img id="ppal-list-image-<?php echo $_product->getId() ?>" 
                                                src="<?php echo $firstresizedImageUrl ?>"
                                                alt="<?= 
                                                $_helper->productAttribute($_product, $_product->getName(), 'name') ?>"/>
                                        </a>
										<input type="hidden" id="first-list-image-<?php echo $_product->getId() ?>" value="<?php echo $firstresizedImageUrl ?>" />
										<input type="hidden" id="second-list-image-<?php echo $_product->getId() ?>" value="<?php echo $secondresizedImageUrl ?>" />
										<?php //Fin Haingo 20210916 ?>
                                        </li>
                                        <?php
                                        $i++;
                                    endif;
									
									 // Haingo 20210916: limite remontee image a 2
									 $limit++;
									 if($limit > 1) break;
									 // Fin Haingo
                                }
                            }*/
                            ?>
                        </ul>
						
					

						<?php // Haingo: 20210929:pour swatch list ?>
						<input type="hidden" id="product-view-page-url-<?php echo $_product->getId() ?>" value="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>" />
						<?php // Fin Haingo ?>
						<?php /** Haingo 20210916:
                        <script>
                            require([
                                'jquery',
                                'slick'
                            ], function ($) {
                                'use strict';

                                var $element = $('.slider-list-<?= /* @noEscape / $_product->getId() ?>');

                                if ($element.hasClass('slick-initialized')) {
                                    $element.slick('unslick');
                                }

                                $element.slick({
                                    dots: false,
                                    rtl: window.BASE_URL.includes('_ar') ? true : false
                                });

                            });
                        </script>
						**/ ?>

                        <div class="product details product-item-details">
                            <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>

                            <?php /* ?>
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                    <?php if (!empty($_helper->productAttribute($_product, $_product->getPlpDescription(), 'plp_description'))): ?>
                                        <?=
                                        $_helper->productAttribute($_product, $_product->getPlpDescription(), 'plp_description') ?>
                                    <?php else: ?>
                                        <?=
                                        $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                    <?php endif; ?>
                                </a>
                            </strong>
                            <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                            <?php */ ?>

    <div class="conteneur-name-prix">
        <strong class="product-item-name">
            <a class="" href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"> <?php echo $block->stripTags($_product->getName(), null, true); ?></a>
        </strong>

        <div class="conteneur-prix">
        <?php
        $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');

        if ($_product->getTypeId() == "configurable") {
            $_children = $_product->getTypeInstance()->getUsedProducts($_product);
            foreach ($_children as $child) {
                $salePrice = $child->getFinalPrice();
                $regularPrice = $child->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue();
                break;
            }

            if ($regularPrice > $salePrice) {
                ?>
                <span class="remise_bettwen<?php echo $_product->getId(); ?>" style="display: none;">                   
                    -<?php echo 100 - (($salePrice * 100)/$regularPrice) ?>
                </span>
                <script>
                    require([
                        'jquery'
                    ], function ($) {
                        console.log('remise');
                        $('.remise_<?php echo $_product->getId(); ?>').text(
                            parseInt($('.remise_bettwen<?php echo $_product->getId(); ?>').text()) + '%'
                        );
                        $('.remise_<?php echo $_product->getId(); ?>').hide();
                    });
                </script>                
                <span class="old-price sly-old-price no-display" style="display: inline;">
                    <span class="price-container price-final_price tax weee">
                            <span class="price-label">Regular Price</span>
                        <span id="old-price-<?= $_product->getId() ?>" data-price-amount="<?= $regularPrice ?>"
                              data-price-type="oldPrice" class="price-wrapper "><span
                                class="price"><?= $priceHelper->currency($regularPrice, true, false) ?></span></span>
                        </span>
                    </span>
                <?php
            }
        } elseif ( $_product->getTypeId() == "simple" ) {
            $salePrice = $_product->getFinalPrice();
            $regularPrice = $_product->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue();  

            if ($regularPrice > $salePrice) {
                ?>
                <span class="remise_bettwen<?php echo $_product->getId(); ?>" style="display: none;">                   
                    -<?php echo 100 - (($salePrice * 100)/$regularPrice) ?>
                </span>
                <script>
                    require([
                        'jquery'
                    ], function ($) {
                        console.log('remise');
                        $('.remise_<?php echo $_product->getId(); ?>').text(
                            parseInt($('.remise_bettwen<?php echo $_product->getId(); ?>').text()) + '%'
                        );
                        $('.remise_<?php echo $_product->getId(); ?>').hide();
                    });
                </script>                
                <?php
            }

        }
        ?>

        <?= /* @noEscape */ $block->getProductPrice($_product) ?>
        </div>
    </div>
                     
                            <?php if ($_product->isAvailable()): ?>
                                <?= $block->getProductDetailsHtml($_product) ?>
                            <?php endif; ?>

                            <div class="product-item-inner">
                                <div class="product actions product-item-actions">

                                    <div data-role="add-to-links" class="actions-secondary">
                                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                            <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                        <?php endif; ?>
                                    </div>
                                    <?= strpos($pos, $viewMode . '-secondary') ?
                                        /* @noEscape */
                                        $secureRenderer->renderStyleAsTag(
                                            $position,
                                            'product-item-info_' . $_product->getId() . ' div.actions-secondary'
                                        ) : '' ?>
                                </div>
                                <?php /* if ($showDescription): ?>
                                    <div class="product description product-item-description">
                                        <?=
                                        $_helper->productAttribute(
                                            $_product,
                                            $_product->getShortDescription(),
                                            'short_description'
                                        ) ?>
                                        <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                           title="<?=
                                           $_productNameStripped ?>"
                                           class="action more"><?= $escaper->escapeHtml(__('Learn More')) ?></a>
                                    </div>
                                <?php endif; */ ?>
                            </div>
                        </div>
                    </div>
                    <?= strpos($pos, $viewMode . '-actions') ?
                        /* @noEscape */
                        $secureRenderer->renderStyleAsTag(
                            $position,
                            'product-item-info_' . $_product->getId() . ' div.product-item-actions'
                        ) : '' ?>
                </li>
					
				<?php
				// Haingo 20210920: add check if we are on category page
				$request = $objectManager->get('\Magento\Framework\App\Request\Http');
				?>
				<?php if ($request->getFullActionName() == 'catalog_category_view') : ?>
					<?php
					$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
					?>
					<?php $checkcateg3 = $category->getId().'-first'; ?>
					<?php /* if ($this->getLayout()
						->createBlock('Magento\Cms\Block\Block')
						->setBlockId($checkcateg3)
						->toHtml()) : ?>
						<?php if ($isany==8): ?>
							<li class="item product product-item  cms-enters01">
								<?php
								echo $this->getLayout()
									->createBlock('Magento\Cms\Block\Block')
									->setBlockId($checkcateg3)
									->toHtml();
								?>
							</li>
						<?php endif; ?>
					<?php endif; */ ?>
				<?php endif; ?>
			
            <?php $isany++; endforeach; ?>

        </ol>
    </div>
    <div class="toolbar-bottoms"><?= $block->getToolbarHtml() ?></div>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $escaper->escapeJs($_product->getSku()) ?>"
                }
            }
        }


        </script>
    <?php endif; ?>
<?php endif; ?>
<?php // Haingo 20210916: load seconde image ?>

<script>
	require(['jquery', 'jquery/ui'], function($){
	  $(".product-item-photo").hover(function(){ // mouse-in
			var id = $(this).attr('id');
			var product_id = id.replace("image-list-link-", "");
			var src = $("#second-list-image-"+product_id).val();
			$("#ppal-list-image-"+product_id).attr('src', src);
		},
            function () { // mouse-out
				var id = $(this).attr('id');
				var product_id = id.replace("image-list-link-", "");
				var src = $("#first-list-image-"+product_id).val();
				$("#ppal-list-image-"+product_id).attr('src', src);
            }
		);
	});
</script>
<?php // Fin Haingo ?>
	<?php $time_end_all = microtime(true);
$time_all = $time_end_all - $time_start_all;
?>
<!-- //microtime all  <?php echo $time_all;?> -->
