<?php
/**
 * Website switcher template
 */
?>
<?php /** @var $block \Redbox\WebsiteSwitcher\Block\Website\Switcher */ ?>
<?php $_websites = $block->getWebsites(); ?>
<?php $_isDialogEnabled = $block->isDialogEnabled(); ?>
<?php if (!empty($_websites) && $block->isCurrentWebsiteEnabled()) : ?>
    <?php $_currentWebsite = $block->getCurrentWebsite(); ?>
    <?php $currentWebsiteId = $_currentWebsite->getId(); ?>
    <?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
    <div class="switcher website switcher-website" data-ui-id="website-switcher" id="switcher-website<?php echo $block->escapeHtml($id) ?>">
        <strong class="label switcher-label"><span><?= $block->escapeHtml(__('Country')) ?></span></strong>

        <div class="actions dropdown options switcher-options">
            
            <?php if($block->escapeHtml($_currentWebsite->getCode()) == "ae") : ?>
                <a href="<?= $block->escapeUrl($block->getUrl('shopfinder')) ?>" class="store-head" title="Stores"> Stores </a>
            <?php elseif($block->escapeHtml($_currentWebsite->getCode()) == "sa") : ?>
                <a href="<?= $block->escapeUrl($block->getUrl('stores')) ?>" class="store-head" title="Stores"> Stores </a>
            <?php endif;  ?>    
            
            <div class="action toggle switcher-trigger" id="switcher-website-trigger<?php echo $block->escapeHtml($id) ?>">

                <strong class="view-<?php echo $block->escapeHtml($_currentWebsite->getCode()) ?>">
                    <span><?php echo $block->escapeHtml(__($block->getWebsiteLabel($_currentWebsite))) ?></span>
                </strong>
            </div>
            <ul class="dropdown switcher-dropdown"
                data-mage-init='{"dropdownDialog":{
                "appendTo":"#switcher-website<?php echo $block->escapeHtml($id) ?> > .options",
                "triggerTarget":"#switcher-website-trigger<?php echo $block->escapeHtml($id) ?>",
                "closeOnMouseLeave": false,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":null}}'>
                <?php foreach ($_websites as $_website) : ?>
                    <?php if ($_website->getId() != $currentWebsiteId && $_website->getId() <= 11) : ?>
                        <li class="website-<?php echo $block->escapeHtml($_website->getCode()); ?> switcher-option">
                            <a
                                <?php if ($_isDialogEnabled) : ?>
                                    data-mage-init='{"switcherPopup": {}}'
                                <?php endif; ?>
                                class="test-class"
                                href="#"
                                data-post='<?php echo $block->escapeHtml($block->getTargetStorePostData($_website->getDefaultStore())) ?>'>
                                <?php /* @noEscape */  echo $block->escapeHtml(__($block->getWebsiteLabel($_website))) ?>
                            </a>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>

<?php
$cmsBlockData = $block->getCmsBlockData();
?>
<div id="switcherDialog" style="display: none;" data-title="<?= $block->escapeHtml($cmsBlockData['title']) ?>">
    <?= $block->escapeHtml($cmsBlockData['content']) ?>
</div>
