// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @color-gray90;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-search {
        margin-bottom: 0;

        .block {
            &-title {
                margin: 0;
                padding: 17px 10px;
                font-family: @font-family-name__secondary;
                &:hover {
                    opacity: 1 !important;
                }
                strong {
                    font-size: @font-size__s;
                    letter-spacing: 1.6px;
                    font-weight: @font-weight__bold;
                    line-height: 21px;
                    cursor: pointer;
                }
            }
            &-content {
                display: none;
            }
        }

        .block-content {
            margin-bottom: 0;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            background-color: @color-white;
            .field.search {
                max-width: @layout__max-width;
                padding: 20px 10px;
                margin: 0 auto;
                border-top: 1px solid @color-gray91;
                width: 100%;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-item-align: start;
                align-self: flex-start;
                position: relative;
                .actions {
                    width: 30px;
                    height: 30px;
                    margin-right: 13px;
                    text-align: center;
                }
                .control {
                    width: 100%;
                    padding-right: 26px;
                }
            }
        }

        .action.search {
            display: none;
        }

        input {
            border: 0;
            letter-spacing: .5px;
            background-color: @color-white;
            padding: 10px;
            line-height: 26px;
            font-size: @font-size__s;
            &:focus {
                box-shadow: none;
                outline: thin dotted @brand-color4;
            }
        }

        .nested {
            display: none;
        }
    }

    .search-autocomplete {
        &:extend(.abs-add-box-sizing all);
        display: none;
        margin-top: -15px;
        overflow: hidden;
        position: absolute;
        z-index: 3;

        ul {
            .lib-list-reset-styles();

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:not(:empty) {
                    border-top: 0;
                    .lib-css(border, @autocomplete__border);
                    .lib-css(background, @autocomplete__background-color);
                }

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }
    }

    .form.search.advanced {
        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search.summary {
        margin-bottom: @indent__s;
    }

    .search__dropdown-widget .control {
        display: none;
    }

    .authentication-dropdown.search-dropdown {
        + .modal-custom-overlay {
            background-color: @color-black;
            opacity: .5;
            top: 107px;
        }
    }

    body._has-search-shown {
        overflow: hidden;
    }

    .catalogsearch-result-index {
        .page-main {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        .column.main {
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 1300px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .page-title-wrapper {
            background-color: #f6f6f6;
            .page-title {
                margin: 0;
                display: block !important;
                padding: 30px 0;
                text-align: center;
                .lib-font-size(40);
                .lib-line-height(54);
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }

    // Empty search

    body.empty-search {
        .page-title-wrapper {
            display: none;
        }
        .page-main {
            background-color: #f6f6f6;
        }
        .empty-result {
            padding: 80px 0 100px 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            p {
                .lib-font-size(14);
                .lib-line-height(26);
                letter-spacing: 0.5px;
            }
            .cms-block-wrapper {
                margin-top: 60px;
                .block-category-link {
                    a {

                    }
                }
            }
        }
        .search-count-title {
            .lib-font-size(40);
            .lib-line-height(50);
            letter-spacing: 1px;
            margin-top: 0;
            margin-bottom: 32px;
            text-transform: uppercase;
        }
    }


}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-search {
        .block-content {
            margin-bottom: 0;
        }
    }

    .catalogsearch-result-index {
        .page-title-wrapper {
            background-color: transparent;
            .page-title {
                .lib-font-size(16);
                .lib-line-height(22);
                padding: 10px 0;
                max-width: 160px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    body.empty-search {
        .empty-result {
            padding: 50px 0 90px 0;
            .cms-block-wrapper {
                margin-top: 48px;
                .pagebuilder-column {
                    flex-basis: 50% !important;
                }
                .block-category-link.widget {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .block-search {
        margin-top: @indent__s;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        float: right;
        z-index: 4;

        .nested {
            display: block;
            padding-top: 5px;
            position: absolute;
        }

        input {
            .lib-input-placeholder(#898888);
        }

        .action.search {
            display: inline-block;
            .lib-button-icon(
            @_icon-font-content: @icon-search,
            @_icon-font-text-hide: true,
            @_icon-font-color: @color-black,
            @_icon-font-size: 30px,
            @_icon-font-line-height: 30px
            );
            .lib-button-reset();

            &:focus {
                &:before {
                    .lib-css(color, @color-gray20);
                }
            }
            &[disabled] {
                opacity: 1;
            }
        }
    }

    .search-autocomplete {
        margin-top: 0;
    }

    .authentication-dropdown.search-dropdown {
        top: 94px;
        left: 0;
        border: 0;
        .modal-custom .modal-header > .action-close {
            display: none;
        }
        .modal-inner-wrap {
            padding: 0;
        }
        .block-search-dialog {
            .action-close {
                z-index: 9;
                margin: 0;
                width: 45px;
                height: 45px;
                right: 0;
                top: 16px;
                &:before {
                    font-size: 45px;
                    line-height: 20px;
                    color: @color-black;
                }
            }
        }
    }

}
