<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 *
 *
 */
?>
<?php
    $maxShowedFilters = 5;
    $isShowMore = false;
?>
<div class="sorte-new-mana"> 
<?= $block->getChildHtml('category.mobile.sorter') ?>
    <p class="numers-new-mana"></p>
</div>
<?php if ($block->canShowBlock()) : ?>


    <div class="block filter">
        <div class="block-filter-holder">
            <div class="block-title filter-title">
                <strong><?= $block->escapeHtml(__('Filter by:')) ?></strong>
            </div>

            <div class="block-content filter-content" id="narrow-by-list">
                <div class="sorter-mobile">

                </div>

				
				<div id="filter-by-link" class="block-title filter-title filter-title-mobile" style="display:none">
                        <strong><?= $block->escapeHtml(__('Filter by:')) ?></strong>
                </div>

                <div id="filter-frame" class="filter-frame">
                    <?php $i = 1; foreach ($block->getFilters() as $filter) : ?>
                        <?php if ($filter->getItemsCount()) : ?>
                            <dl class="filter-options <?= $i ?> <?php echo $i > $maxShowedFilters ? 'js-filter-hidden filter-hide' : '' ?> ">
                                <dt role="heading" aria-level="3" class="filter-options-title">
                                    <?= $block->escapeHtml(__($filter->getName())) ?>
                                </dt>
                                <dd class="filter-options-content" style="display: none">
                                     <?= /* @noEscape */ $block->getChildBlock('renderer')->render($filter) ?>
                                </dd>
                            </dl>
                        <?php if($i>$maxShowedFilters){$isShowMore = true;} ?>
                        <?php $i++; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <?php if($isShowMore == true): ?>
                        <div class="filter-toggle">
                            <span class="more-filters js_more-filters"><?= $block->escapeHtml(__('More Filters')) ?></span>
                            <span class="less-filters js_less-filters more-hidden"><?= $block->escapeHtml(__('Less Filters')) ?></span>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="filter-actions-holder ">
                    <?php /* if ($block->getLayer()->getState()->getFilters()) : ?>
                        <div class="block-actions filter-actions">
                            <a href="<?= $block->escapeUrl($block->getClearUrl()) ?>" class="action clear filter-clear"><span><?= $block->escapeHtml(__('Clear All')) ?></span></a>
                        </div>
                    <?php endif; */ ?>
                    <?= $block->getChildHtml('state') ?>
                </div>
                <span id="close-btn" class="close-btn"></span>
            </div>
        </div>
        <div class="filter-actions-holder filter-actions-mobile" style="display: none;">
            <?php /* if ($block->getLayer()->getState()->getFilters()) : ?>
                <div class="block-actions filter-actions">
                    <a href="<?= $block->escapeUrl($block->getClearUrl()) ?>" class="action clear filter-clear"><span><?= $block->escapeHtml(__('Clear All')) ?></span></a>
                </div>
            <?php endif; */ ?>
            <?= $block->getChildHtml('state') ?>
        </div>
    </div>
<?php endif; ?>
<?php // Haingo 20210914: show/hide filter in mobile ?>
<script>
require(['jquery', 'jquery/ui'], function($){
	$( "#close-btn").click(function() {
		$( "#filter-frame").hide();
		$( "#close-btn").hide();
	});
	
	$( "#filter-by-link").click(function() {
		$( "#filter-frame").show();
		$( "#close-btn").show();
	});
	
    $($('#maincontent .block-title.filter-title')[0]).click(function() {
        $('.page-with-filter #maincontent.mobile-frame').css('z-index', '9999');   
        $('#filter-frame.filter-frame').css('display','flex');
        $('#filter-by-link').show();
        $('#narrow-by-list #close-btn').show();
    });

    $('#narrow-by-list #close-btn').click(function() {
        $('.page-with-filter #maincontent.mobile-frame').css('z-index', '9998');
    });    
	
});
</script>
<?php // Haingo 20210914 ?>
