<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 *
 *
 */
?>
<?php
    $maxShowedFilters = 5;
    $isShowMore = false;
?>
<?php if ($block->canShowBlock()) : ?>
    <div class="block filter">
        <div class="block-filter-holder">
            <div class="block-title filter-title">
                <strong><?= $block->escapeHtml(__('Filter by:')) ?></strong>
            </div>

            <div class="block-content filter-content" id="narrow-by-list">
                <div class="sorter-mobile" style="display: none;">
                    <?= $block->getChildHtml('category.mobile.sorter') ?>
                </div>

                <div class="filter-frame">
                    <div class="block-title filter-title filter-title-mobile" style="display:none">
                        <strong><?= $block->escapeHtml(__('Filter by:')) ?></strong>
                    </div>
                    <?php $i = 1; foreach ($block->getFilters() as $filter) : ?>
                        <?php if ($filter->getItemsCount()) : ?>
                            <dl class="filter-options <?= $i ?> <?php echo $i > $maxShowedFilters ? 'js-filter-hidden filter-hide' : '' ?> ">
                                <dt role="heading" aria-level="3" class="filter-options-title">
                                    <?= $block->escapeHtml(__($filter->getName())) ?>
                                </dt>
                                <dd class="filter-options-content" style="display: none">
                                    <?= /* @noEscape */ $block->getChildBlock('renderer')->render($filter) ?>
                                </dd>
                            </dl>
                        <?php if($i>$maxShowedFilters){$isShowMore = true;} ?>
                        <?php $i++; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <?php if($isShowMore == true): ?>
                        <div class="filter-toggle">
                            <span class="more-filters js_more-filters"><?= $block->escapeHtml(__('More Filters')) ?></span>
                            <span class="less-filters js_less-filters more-hidden"><?= $block->escapeHtml(__('Less Filters')) ?></span>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="filter-actions-holder ">
                    <?php if ($block->getLayer()->getState()->getFilters()) : ?>
                        <div class="block-actions filter-actions">
                            <a href="<?= $block->escapeUrl($block->getClearUrl()) ?>" class="action clear filter-clear"><span><?= $block->escapeHtml(__('Clear All')) ?></span></a>
                        </div>
                    <?php endif; ?>
                    <?= $block->getChildHtml('state') ?>
                </div>
                <span class="close-btn" style="display: none;"></span>
            </div>
        </div>
        <div class="filter-actions-holder filter-actions-mobile" style="display: none;">
            <?php if ($block->getLayer()->getState()->getFilters()) : ?>
                <div class="block-actions filter-actions">
                    <a href="<?= $block->escapeUrl($block->getClearUrl()) ?>" class="action clear filter-clear"><span><?= $block->escapeHtml(__('Clear All')) ?></span></a>
                </div>
            <?php endif; ?>
            <?= $block->getChildHtml('state') ?>
        </div>
    </div>
<?php endif; ?>
