<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php $_order = $block->getOrder() ?>
<?php $_invoice = $block->getInvoice() ?>
<?php if ($_invoice) : ?>
    <?php $_invoices = [$_invoice]; ?>
<?php else : ?>
    <?php $_invoices = $_order->getInvoiceCollection() ?>
<?php endif; ?>

<?php
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeID       = $storeManager->getStore()->getStoreId();
$storeCode    = $storeManager->getStore()->getCode();
?>

<?php foreach ($_invoices as $_invoice) : ?>
<div class="order-details-items invoice">
    <div class="logo">
        <img src="<?php echo $block->getViewFileUrl('images/logo.svg'); ?>" alt="Diesel">
    </div>

    <div class="table-wrapper table-order-items invoice">
        <div class="order-title">
            <strong><?= $block->escapeHtml(__('Invoice #')) ?><?= (int) $_invoice->getIncrementId() ?></strong>
            <strong><?= $block->escapeHtml(__('فاتورة ')) ?></strong>
        </div>
        <table class="data table table-order-items invoice" id="my-invoice-table-<?= (int) $_invoice->getId() ?>">
            <caption class="table-caption"><?= $block->escapeHtml(__('Items Invoiced')) ?></caption>
            <thead>
            <tr>
                <th class="col name"><?= $block->escapeHtml(__('Product Name')) ?>
                <span><?= $block->escapeHtml(__('اسم المنتج')) ?></span></th>
                <th class="col sku"><?= $block->escapeHtml(__('SKU')) ?>
                <span><?= $block->escapeHtml(__('وحدة المنتج')) ?></span></th>
                <th class="col price"><?= $block->escapeHtml(__('Price')) ?>
                <span><?= $block->escapeHtml(__('السعر')) ?></span></th>
                <th class="col qty"><?= $block->escapeHtml(__('Qty Invoiced')) ?>
                <span><?= $block->escapeHtml(__('الكمية')) ?></span></th>
                <th class="col subtotal"><?= $block->escapeHtml(__('Subtotal')) ?>
                <span><?= $block->escapeHtml(__('المجموع')) ?></span></th>
            </tr>
            </thead>
            <?php $_items = $_invoice->getItemsCollection(); ?>
            <?php foreach ($_items as $_item) : ?>
                <?php if (!$_item->getOrderItem()->getParentItem()) : ?>
                    <tbody>
                        <?= $block->getItemHtml($_item) ?>
                    </tbody>
                <?php endif; ?>
            <?php endforeach; ?>
            <tfoot>
                <?= $block->getInvoiceTotalsHtml($_invoice) ?>
            </tfoot>
        </table>
    </div>
    <div class="block block-order-details-view">
        <div class="block-title">
            <strong><?= $block->escapeHtml(__('Order Information')) ?></strong>
            <strong><?= $block->escapeHtml(__('معلومات الطلب')) ?></strong>
        </div>
        <div class="block-content">
        <?php if (!$_order->getIsVirtual()) : ?>
            <div class="box box-order-shipping-address">
                <div class="box-title">
                <?php if ($_order->getShippingMethod() == 'beside_store_pickup_beside_store_pickup') : ?>
                    <strong><?= $block->escapeHtml(__('In-store pickup')) ?></strong>
                    <?php else: ?>
                        <strong><?= $block->escapeHtml(__('Shipping Address')) ?></strong>
                    <?php endif; ?>

                </div>
                <div class="box-content">
                    <?php $_shipping = $_invoice->getShippingAddress() ?>
                    <address><?= /* @noEscape */ $block->formatAddress($_shipping, 'html') ?></address>
                </div>
            </div>

            <div class="box box-order-shipping-method">
                <div class="box-title">
                    <strong><?= $block->escapeHtml(__('Shipping Method')) ?></strong>
                </div>
                <div class="box-content">
                    <?php if ($_order->getShippingDescription()) : ?>
                        <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                    <?php else : ?>
                        <?= $block->escapeHtml(__('No shipping information available')) ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>
            <div class="box box-order-billing-address">
                <div class="box-title">
                    <strong><?= $block->escapeHtml(__('Billing Address')) ?></strong>
                </div>
                <div class="box-content">
                    <?php $_billing = $_invoice->getbillingAddress() ?>
                    <address><?= /* @noEscape */ $block->formatAddress($_order->getBillingAddress(), 'html') ?></address>
                </div>
            </div>

            <div class="box box-order-billing-method">
                <div class="box-title">
                    <strong><?= $block->escapeHtml(__('Payment Method')) ?></strong>
                </div>
                <div class="box-content">
                    <?= $block->getPaymentInfoHtml() ?>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright-footer">
    <img src="<?php echo $block->getViewFileUrl('images/beside.png'); ?>" alt="Diesel">
    <?php if(str_contains($storeCode, 'sa')) : ?>
        <p>
            <span><?= $block->escapeHtml(__('CR No. 4030156878')) ?></span>
            <span><?= $block->escapeHtml(__('Beside Trading Company Ltd, PO Box 75392, Riyadh, KSA')) ?></span>
            <span><?= $block->escapeHtml(__('Sign up for our Be U Rewards : https://beurewards.com/')) ?></span>
        </p>
    <?php else: ?>
        <p>
            <span><?= $block->escapeHtml(__('VAT RegNo: 100305428300003')) ?></span>
            <span><?= $block->escapeHtml(__('Beside General Trading Co LLC., PO Box 61237, Dubai, United Arab Emirates')) ?></span>
            <span><?= $block->escapeHtml(__('Sign up for our Be U Rewards : https://beurewards.com/')) ?></span>
        </p>
    <?php endif; ?>
</div>
<?php endforeach; ?>
