<?php
/**
 * Copyright © 2021 Redbox Digital Limited. All rights reserved.
 * Beside
 */
?>
<?php
/**
 * @var \Amasty\Faq\Block\Lists\CategoryList $block
 */

$blockObj= $block->getLayout()->createBlock('\Amasty\Faq\Block\Widgets\Categories');

$currentCategoryId = $block->getCurrentCategoryId();
if ($categories = $block->getCategories()): ?>
    <div class="help-menu-questions widget">
        <div class="help-menu--header">
            <a class="back" href="<?php echo $this->getUrl('help') ?>">
             <?= $block->escapeHtml(__('Back to Help')); ?>
            </a>
        </div>
        <div class="help-menu--content">
            <?php foreach ($categories as $category): ?>
                <?php if ($category->getCategoryId() == $currentCategoryId): ?>
                    <div class="help-menu">
                        <?php if (!$blockObj->isShowWithoutQuestions()
                                && $questions = $blockObj->getCategoryQuestions($category)): ?>
                                <ul class="submenu show-menu">
                                    <?php foreach ($questions as $question): ?>
                                        <li>
                                            <a href="<?= $blockObj->escapeUrl($blockObj->getQuestionUrl($question)) ?>">
                                                <span><?= $blockObj->escapeHtml($question->getTitle()); ?></span>
                                            </a>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<script type="text/javascript">
    require(['jquery'], function($) {
        var url = window.location.pathname.split('/').filter(Boolean);
        var urlKey = url[url.length - 1]

        $('.help-menu .submenu.show-menu a').each(function() {
            var href = $(this).attr('href')
            if(href.lastIndexOf(urlKey) > -1 && href.lastIndexOf(urlKey) > 15) {
                $(this).parent().addClass('active')
            }
        })
    });
</script>
