<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>
<?php // Haingo 201210730 : affichage lien vers mon compte si mode connecte ?>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
?>
<?php if ($block->isLoggedIn()) : ?>
<script type="text/javascript">
    function displays() {
        var x = document.getElementById("loginpopups");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

        var y = document.getElementById("authorizationlink");
        if (y.className === "authorization-link") {
            y.className = "authorization-link-over";
        } else {
            y.className = "authorization-link";
        }
    }
    
    
    document.onclick = function(e){
    	// var x = document.getElementById("loginpopups");
    	// var y = document.getElementById("accountLink");
		if(e.target.id == 'accountLink'){
			window.location.href ="<?php echo $baseUrl; ?>customer/account";
		}
    	// if((e.target !== y) && (e.target.id !== "loginpopups") && (!x.contains(e.target))){
	    	// if (x.style.display === "block") {
            		// x.style.display = "none";
            		// document.getElementById("authorizationlink").className = "authorization-link";
		// }	
    	// }
    	
    	// if(e.target === y){
    		// if (document.getElementById("loginpopups").style.display === "none") {
		    // document.getElementById("loginpopups").style.display = "block";
		// } else {
		    // document.getElementById("loginpopups").style.display = "none";
		// }
		
		// var yy = document.getElementById("authorizationlink");
		// if (yy.className === "authorization-link") {
		    // yy.className = "authorization-link-over";
		// } else {
		    // yy.className = "authorization-link";
		// }
    	// }
    };


</script>
<?php else: ?>

<script type="text/javascript">
    function displays() {
        var x = document.getElementById("loginpopups");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

        var y = document.getElementById("authorizationlink");
        if (y.className === "authorization-link") {
            y.className = "authorization-link-over";
        } else {
            y.className = "authorization-link";
        }
    }
    
    
    document.onclick = function(e){
    	var x = document.getElementById("loginpopups");
    	var y = document.getElementById("accountLink");
    	
    	if((e.target !== y) && (e.target.id !== "loginpopups") && (!x.contains(e.target))){
	    	if (x.style.display === "block") {
            		x.style.display = "none";
            		document.getElementById("authorizationlink").className = "authorization-link";
		}	
    	}
    	
    	if(e.target === y){
    		if (document.getElementById("loginpopups").style.display === "none") {
		    document.getElementById("loginpopups").style.display = "block";
		} else {
		    document.getElementById("loginpopups").style.display = "none";
		}
		
		var yy = document.getElementById("authorizationlink");
		if (yy.className === "authorization-link") {
		    yy.className = "authorization-link-over";
		} else {
		    yy.className = "authorization-link";
		}
    	}
    };


</script>
<?php endif; ?>



<div class="authorization-link" id="authorizationlink" data-label="<?= $block->escapeHtml($block->getLabel()) ?>">
    <span id="accountLink">
        <?= $block->escapeHtml($block->getLabel()) ?>
    </span>
</div>
<div id="loginpopups" style="display:none"><div class="login-container">
        <?php echo $this->getLayout()->createBlock("Magento\Customer\Block\Form\Login\Info")->setTemplate("Magento_Customer::newcustomer.phtml")->toHtml();?>
    <?php echo $this->getLayout()->createBlock("Magento\Customer\Block\Form\Login")->setTemplate("Magento_Customer::form/login.phtml")->toHtml();?>

</div></div>
<script type="text/javascript">
// Haingo 20211019: hide popup after mouseleave
// require([
        // "jquery",
    // ], function($) {
		
		// $( "#loginpopups" ).hover(
		  // function() {
			
		  // }, function() {
			// $("#loginpopups").hide();
		  // }
		// );
    // });		
// fin Haingo 20211019
</script> 