<?php
/**
 * @category  design
 * @package   Redbox_Shopfinder
 * @author    Bolaji Olubajo <bolaji.tolulope@redboxdigital.com>
 * @copyright Copyright (c) 2015 Redbox Digital (http://www.redboxdigital.com)
 */
?>
<?php
/**
 * @var $block \Redbox\Shopfinder\Block\ListShop
 */
// @codingStandardsIgnoreFile
?>
<?php $collection = $block->getShopCollection(); ?>
<?php $shopsFound = ($collection->getSize() > 0); ?>
<?php $storeName = $block->getStoreName() ?>
<?php $errorFound = $block->getUrlDataModel()->getError(); ?>
<?php $searchMode = $block->isSearchMode()?>

<?php if ($shopsFound) : ?>
    <div class="shopfinder shopfinder-list">
        <div class="col-left sidebar">
            <div class="shop-list">
                <div id="search-message">
                    <?php if (!$searchMode): ?>
                        <h2><?php echo __('Our Stores') ?></h2>
                    <?php else: ?>
                        <h2><?php echo __('Shops') ?></h2>
                    <?php endif; ?>
                    <?php $count = $collection->getSize() ?>
                    <?php $searchedText = $block->getSearchGetReqst(); ?>
                    <?php if ($searchedText): ?>
                        <p id="searched-text"><?php echo __(
                                'Search results for'
                            ) ?>
                            <span>
                                <?php echo $this->escapeHtml(
                                    "''" . $searchedText . "''"
                                ) ?>
                            </span>
                        </p>
                    <?php endif; ?>
                    <?php if ($searchedText && $errorFound): ?>
                        <span id="shops-found">
                            <?php echo __('No %1 shop was found near you.', $block->escapeHtml($storeName)); ?>
                        </span>
                    <?php endif; ?>
                </div>
                <?php echo $block->getToolbarHtml(); ?>
                <?php $startNum = $block->getShopsStartNum(); ?>
                <div id="shops-wrapper">
                    <?php foreach ($collection as $shop) : ?>
                        <?php /** @var $shop \Redbox\Shopfinder\Model\Shop */?>
                        <div class="shop-details" id="shop_details_<?php echo $startNum ?>">
                            <h3 class="shop-name">
                                <span
                                    class="shop_num"><?php echo $startNum++; ?>. </span> <?php echo $shop->getShopName(); ?>
                            </h3>

                            <p class="shop-distance"><?php echo $shop->getDistanceText(
                                ) ?></p>
                            <address>
                                <?php echo ($shop->getData('street1'))
                                    ? '<span class="addr1">' . $shop->getData(
                                        'street1'
                                    ) . ',</span>' : '</span>'; ?>
                                <?php echo ($shop->getData('street2'))
                                    ? '<span class="addr2">' . $shop->getData(
                                        'street2'
                                    ) . ',</span>' : '</span>'; ?>
                                <?php echo ($shop->getPostcode())
                                    ? '<span class="zip">'
                                    . $shop->getPostcode()
                                    . ',</span>' : '</span>'; ?>
                                <?php echo ($shop->getRegion())
                                    ? '<span class="region">'
                                    . $shop->getRegion()
                                    . ',</span>' : '</span>'; ?>
                                <?php echo ($shop->getCountryName())
                                    ? '<span class="country">'
                                    . $shop->getCountryName() . '.</span>'
                                    : '</span>'; ?>
                            </address>
                            <?php echo ($shop->getShopPhone())
                                ? '<p class="tel"><label>'. __('Tel') .': </label>'
                                . $shop->getShopPhone() . '.</p>' : '</p>'; ?>
                            <p>
                            <?php echo ($shop->getShopFax())
                                ? '<p class="fax"><label>'. __('Fax') .': </label>'
                                . $shop->getShopFax() . '.</p>' : '</p>'; ?> 
                            <?php echo ($shop->getOpenTimes())
                                ? '<p class="open"><label>'. __('Open') .': </label>'
                                . $shop->getOpenTimes() . '.</p>' : ''; ?>                            
                            <?php if ($shop->getShopUrlCms()) { ?>
                            <p>
                                <a href="<?php echo $shop->getShopUrlCms() ?>"
                                   title="<?php echo __('View details'); ?>">
                                    <?php echo __('View details'); ?>
                                </a>
                            </p>
                            <?php } ?> 
                        </div>
                    <?php endforeach; ?>
                    <?php echo $block->getToolbarHtml(); ?>
                </div>
            </div>
        </div>
        <div class="shop-col-main">
            <?php echo $block->getChildHtml('shop_lists_maps') ?>
        </div>
    </div>
<?php else : ?>
    <div id="shop-locator-notfound">
        <h2><?php echo __("No Shop Found.") ?></h2>
        <?php if($searchMode):?>
            <p>
                <?php echo __('We are unable to locate a %1 shop near %2.', $storeName, $block->getSearchedText()) ?>
            </p>
        <?php endif;?>

    </div>
<?php endif; ?>
<?php echo $block->getChildHtml('shopfinder.search.shop') ?>
