<?php
/**
 * Copyright © 2021 Redbox Digital Limited. All rights reserved.
 * Beside
 */

/** @var \Magento\Contact\Block\ContactForm $block */
/** @var \Magento\Contact\ViewModel\UserDataProvider $viewModel */

$viewModel = $block->getViewModel();
?>
<form class="form contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="field name required">
            <div class="control">
                <input name="name"
                       id="name"
                       placeholder="<?= $block->escapeHtmlAttr(__('Name*')) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Name')) ?>"
                       value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>"
                       class="input-text"
                       type="text"
                       data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field surname required">
            <div class="control">
                <input name="surname"
                       id="surname"
                       placeholder="<?= $block->escapeHtmlAttr(__('Surname*')) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Surname')) ?>"
                       value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('surname') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>"
                       class="input-text"
                       type="text"
                       data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field email required">
            <div class="control">
                <input name="email"
                 id="email"
                 placeholder="<?= $block->escapeHtmlAttr(__('E-mail*')) ?>"
                 title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                 value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text"
                 type="email"
                 data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field telephone">
            <div class="control">
                <input name="telephone"
                id="telephone"
                placeholder="<?= $block->escapeHtmlAttr(__('Phone number')) ?>"
                title="<?= $block->escapeHtmlAttr(__('Phone number')) ?>"
                value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text"
                type="text" />
            </div>
        </div>
        <div class="field orderno">
            <div class="control">
                <input name="orderNo"
                id="orderNo"
                placeholder="<?= $block->escapeHtmlAttr(__('Order number')) ?>"
                title="<?= $block->escapeHtmlAttr(__('Order number')) ?>"
                value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('orderNo')) ?>" class="input-text"
                type="text" />
            </div>
        </div>
        <?php
        /**
         * @todo add dropdown for contact message reason
         * stopping form from redirecting to contact/index on success
         * adding orderNo and surname attribute to form
         */ ?>
        <div class="field comment required">
            <div class="control">
                <textarea name="comment"
                id="comment"
                placeholder="<?= $block->escapeHtmlAttr(__('Text...*')) ?>"
                title="<?= $block->escapeHtmlAttr(__('Message')) ?>" class="input-text"
                cols="5"
                rows="3"
                data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
            </div>
        </div>
        <?= $block->getChildHtml('form.additional.info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>
