/**
 * Copyright © 2021 Redbox Digital Limited. All rights reserved.
 * Beside
 */

//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .cms-help, .faq-question-view {
        .page-title {
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: 0.83px;
            font-size: 40px;
            line-height: 50px;
        }

        .am-widget-center {
            width: auto !important;
            border-bottom: 1px solid #e8e8e8;
        }
    }

    .am-back-to-product-widget.am-widget-right {
        display: none;
    }

    .help-container {
        display: grid;
    }

    .amfaq-search {
        margin-bottom: 0;
        form {
            display: flex;
            &:before {
                content: '\e615';
                font-family: 'icons-blank-theme';
                font-size: 27px;
            }
        }
        .am-input  {
            border: none;
        }

        .am-button {
            display: none;
        }
    }

    .widget {
        &.ask-question-form {
            display: none;
        }

        &.help-menu-holder {
            flex-direction: column;
        }

        .submenu {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            left: -150%;
            width: 100%;
            transition: .3s all linear;
            &.show-menu {
                position: relative;
                left: 0;
                transition: .3s all linear;
                li {
                    letter-spacing: 1.5px;
                    cursor: pointer;
                    a {
                        display: inline-block;
                        width: 100%;
                    }
                }

                span {
                    &:after {
                        content: @ico-var-chevron-down;
                        font-family: @font-icons__font-name;
                        transform: rotate(-90deg);
                        float: right;
                    }
                }
            }

            li {
                margin: 15px 0 5px;
            }
        }

        .help-menu {
            &--title {
                cursor: pointer;
                position: relative;
                transition: .2s all linear;
                opacity: 1;
                cursor: pointer;
                letter-spacing: 1.5px;
                margin: 15px 0 5px;
                &:after {
                    content: @ico-var-chevron-down;
                    font-family: @font-icons__font-name;
                    transform: rotate(-90deg);
                    float: right;
                }

                &.topmenu-hide {
                    opacity: 0;
                    margin: 0 0 0 -100%;
                    transition: .3s all linear;
                    left: -100%;
                    position: absolute;
                }
            }

            &--header {
                margin: 0;
                p {
                    margin: 0;
                    font-weight: 700;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    font-family: @font-family-name__secondary;
                }
                .back {
                    cursor: pointer;
                    font-family: @font-family-name__secondary;
                    &:before {
                        content: @ico-var-chevron-down;
                        font-family: @font-icons__font-name;
                        transform: rotate(90deg);
                        float: left;
                        margin-right: 18px;
                    }
                }
            }

            &--content {
                position: relative;
            }
        }
    }

    .help-menu-questions {
        .help-menu {
            &--header {
                .back {
                    font-weight: 700;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }
            }
        }

        .submenu.show-menu {
            li {
                padding-left: 10px;
                padding-right: 5px;
                &.active {
                    background-color: #f6f6f6;
                }
            }

            a {
                display: inline-block;
            }

            span {
                display: flex;
                justify-content: space-between;
                &:after {
                    font-size: 10px;
                }
            }
        }
    }

    .faq-question-view  {
        .question_view {
            border-bottom: none;

            h2 {
                margin-bottom: 6px;
                line-height: 37px;
                font-size: 24px;
            }

            h3 {
                margin-bottom: 6px;
                margin-top: 0;
                line-height: 37px;
                font-size: 20px;
            }

            [data-content-type='button-item'] {
                a {
                    color: black;
                    background-color: white;
                    font-size: 14px;
                    width: 100%;
                }
            }

            .btn-link {
                border: solid 1px black;
                padding: 14px 17px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    .contact-us {
        display: flex;
        justify-content: center;

        form {
            width: 400px;
        }

        input,
        textarea,
        select {
            background-color: #f6f6f6;
            border: solid 1px transparent;
        }

        .fieldset {
            > .field:not(.choice) {
                > .control {
                    width: 100%;
                }
            }
        }
    }

    .am-back-button {
        display: none;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .help {
        &-container {
            grid-template-columns: 1fr 2fr;
            grid-gap: 58px;
        }

        &-main {
            &--menu {
                padding: 88px 48px;
            }
        }
    }

    .amfaq-search {
        .am-input {
            height: 52px;
        }
    }

    .am-search-box-wrapper {
        margin-bottom: 40px;
    }

    .faq-question-view {
        .amfaq-search {
            margin-left: auto;
            margin-right: auto;
            max-width: 1300px;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 40px;

            form {
                border-bottom: 1px solid #e8e8e8;
            }
        }

        .page-title-wrapper {
            margin-left: auto;
            margin-right: auto;
            max-width: 1300px;
            text-align: center;
            h1 {
                margin-bottom: 0;
                font-size: 40px;
                letter-spacing: 0.83px;
                text-transform: uppercase;
                line-height: 50px;
            }
        }

        .column.main {
            width: 75%;
        }

        .sidebar-additional {
            width: 25%;
        }

        .question_view {
            .help-menu--header {
                display: none;
            }
        }

        .account-help-block-holder {
            margin-top: 70px;
        }
    }

    .faq-question-view  {
        .question_view {
            h2 {
                margin-top: 0;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .help-main {
        &--menu {
            display: none;
        }

        .account-help-block-holder {
            margin-top: 32px;
        }
    }

    .am-search-box-wrapper {
        margin-bottom: 30px;
        .am-widget-center {
            background-color: #f6f6f6;
        }

        .amfaq-search {
            .am-input {
                background-color: #f6f6f6;
            }

            form {
                align-items: center;
                height: 35px;
                &:before {
                    content: '';
                }

                &:after {
                    content: '\e615';
                    font-family: 'icons-blank-theme';
                    font-size: 27px;
                    padding-right: 9px;
                }
            }
        }
    }

    .faq-question-view {
        .page-title-wrapper {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .amfaq-search {
            background-color: #f6f6f6;
            margin: 0 auto;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 30px;

            .am-input {
                background-color: #f6f6f6;
            }

            form {
                align-items: center;
                height: 35px;
                &:before {
                    content: '';
                }

                &:after {
                    content: '\e615';
                    font-family: 'icons-blank-theme';
                    font-size: 27px;
                    padding-right: 9px;
                }
            }
        }

        .question_view {
            h2 {
                margin-top: 28px;
            }

            [data-content-type='button-item'] {
                width: 100%;
            }

            .btn-link {
                display: flex;
                justify-content: center;
            }
        }

        .help-menu--header {
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 0.44px;
            font-weight: 700;
            padding-left: 10px;
            .back {
                cursor: pointer;
                    &:before {
                        content: @ico-var-chevron-down;
                        font-family: @font-icons__font-name;
                        transform: rotate(90deg);
                        float: left;
                        margin-right: 18px;
                    }
            }
        }
    }

    .return-grid {
        .pagebuilder-column-group {
            display: grid !important;
            grid-template-columns: 60px 1fr;
            grid-gap: 8px;
        }

        .pagebuilder-column {
            &:first-child {
                width: 100% !important;
            }
        }
    }
}
