<!--
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */
-->
<div class="block-title">
    <strong>
        <span class="text" translate="'My Cart'"/>
        <span
            class="qty empty"
            text="getCartParam('summary_count')"
            data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }">
        </span>
    </strong>
</div>

<div class="block-content">
    <button type="button"
            id="btn-minicart-close"
            class="action close"
            data-action="close"
            data-bind="attr: { title: $t('Close') }">
        <span translate="'Close'"/>
    </button>

    <if args="getCartParam('summary_count')">
        <div class="minicart-footer">
            <div class="vat">
                <span class="label">
                      <!-- ko i18n: 'VAT' --><!-- /ko -->
                </span>
                <!-- ko if: (Object.keys(cart).length > 1 && getCartParam('display_incl_tax')) -->
                    <span class="value">
                        <!-- ko i18n: 'Included' --><!-- /ko -->
                    </span>
                <!-- /ko -->
                <!-- ko if: (Object.keys(cart).length > 1 && !getCartParam('display_incl_tax'))-->
                <span class="value">
                    <!-- ko i18n: 'Excluded' --><!-- /ko -->
                </span>
                <!-- /ko -->
            </div>
            <each args="getRegion('subtotalContainer')" render=""/>
            <each args="getRegion('extraInfo')" render=""/>

            <div class="actions" if="getCartParam('possible_onepage_checkout')">
                <div class="primary">
                    <button
                            id="top-cart-btn-checkout"
                            type="button"
                            class="action primary checkout"
                            data-action="close"
                            data-bind="
                                attr: {
                                    title: $t('Proceed to Checkout')
                                },
                                click: closeMinicart()
                            "
                            translate="'Proceed to Checkout'"
                    />
                    <div data-bind="html: getCartParamUnsanitizedHtml('extra_actions')"></div>
                </div>
            </div>
        </div>
    </if>

    <if args="getCartParam('summary_count')">
        <strong class="subtitle" translate="'Recently added item(s)'"/>
        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                />
            </ol>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <strong class="subtitle empty"
                data-bind="visible: closeSidebar()"
                translate="'You have no items in your shopping cart.'"
        />
    </ifnot>

    <div id="minicart-widgets" class="minicart-widgets" if="regionHasElements('promotion')">
        <each args="getRegion('promotion')" render=""/>
    </div>
</div>
<each args="getRegion('sign-in-popup')" render=""/>
