<!--
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */
-->
<div class="block-title">
    <strong>
        <span class="text" translate="'My Cart'"/>
        <span
            class="qty empty"
            text="getCartParam('summary_count')"
            data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }">
        </span>
    </strong>
</div>

<div class="block-content">
    <button type="button"
            id="btn-minicart-close"
            class="action close"
            data-action="close"
            data-bind="attr: { title: $t('Close') }">
        <span translate="'Close'"/>
    </button>



    <if args="getCartParam('summary_count')">
        <strong class="subtitle" translate="'Recently added item(s)'"/>


        <div class="bag border-left">
            <div class="bag__items-wrapper empty-message">
                <div style="padding: 35px 0px 0px 70px; overflow: hidden; max-height:460px;">
                <div data-action="scroll" class="minicart-items-wrapper">
                    <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                        <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                              render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                        />
                    </ol>
                </div>
                </div>

            </div>
            <div class="bag__summary pt-5 pb-4">

            </div>
            <div class="bag__actions">
                <table cellpadding="0" cellspacing="0" border="0" width="1000%">
                    <tr>
                    <td style="padding: 8px 0;">
                        <span class="bag-summary__count">
                            0 <!-- ko i18n: 'Item' --><!-- /ko -->
                        </span>
                    </td>
                    <td>
                        <if args="getCartParam('summary_count')">
                            <div class="minicart-footer">
                                <each args="getRegion('subtotalContainer')" render=""/>
                                <each args="getRegion('extraInfo')" render=""/>

                            </div>
                        </if>
                    </td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <a class="action create primary" href="https://ss-staging.khaleejdev.fr/ae_en/checkout/cart/" title="View Shopping Bag">
                    <!-- ko i18n: 'View Shopping Bag' --><!-- /ko -->
                </a>

            </div>
        </div>


    </if>

    <ifnot args="getCartParam('summary_count')">


        <div class="bag border-left">
            <div class="bag__items-wrapper empty-message scalls">

                <span class="h1 d-block pb-2" style="margin-bottom: 20px;"><!-- ko i18n: 'Your basket is currently empty' --><!-- /ko --></span>


            </div>
            <div class="bag__summary pt-5 pb-4">
                                <span class="bag-summary__count">
                                    0
                                </span>
            </div>
            <div class="bag__actions">
                <div>
                    <a class="action create primary disabled" href="#" title="View Shopping Bag"><!-- ko i18n: 'View Shopping Bag' --><!-- /ko --></a>
                </div>

            </div>
        </div>


    </ifnot>

    <div id="minicart-widgets" class="minicart-widgets" if="regionHasElements('promotion')">
        <each args="getRegion('promotion')" render=""/>
    </div>
</div>
<each args="getRegion('sign-in-popup')" render=""/>
