

    <!--
    /**
     * Copyright © 2020 Redbox Digital Limited. All rights reserved.
     * Beside
     */
    -->
    <div class="block-title">
        <strong>
            <span class="text" translate="'My Cart'"/>
            <span
                    class="qty empty"
                    text="getCartParam('summary_count')"
                    data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }">
        </span>
        </strong>
    </div>

    <div class="block-content">
        <button type="button"
                id="btn-minicart-close"
                class="action close"
                data-action="close"
                data-bind="attr: { title: $t('Close') }">
            <span translate="'Close'"/>
        </button>




        <if args="getCartParam('summary_count')">
            <strong class="subtitle" translate="'Recently added item(s)'"/>

<!--         <div class="wrapper" style="width:50%; margin:0 auto;">
         

            <div class="jcarousel-wrapper">
                <div class="jcarousel" data-jcarousel="true">
                    <ul style="left: 0px; top: 0px;" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                        <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                              render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                        />                                           
                    </ul>
                </div>
                <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
                <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
             </div>
        </div>
 -->
            <div class="bag border-left">
                <div class="bag__items-wrapper empty-message">
                    <div style="padding: 0px; overflow: hidden; max-height:460px;">
                        <div data-action="scroll" class="minicart-items-wrapper">
                            <div class="wrapper" style="width:100%; margin:0 auto;">
                                <div class="jcarousel-wrapper">
                                    <div class="jcarousel cart_remove" data-jcarousel="true">
                                        <ul id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                                            <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                                                  render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                                            />
                                        </ul>
                                    </div>
                                    <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
                                    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="bag__summary pt-5 pb-4">

                </div>
                <div class="bag__actions">
                    <table cellpadding="0" cellspacing="0" border="0" width="1000%">
                        <tr>
                            <td style="padding: 8px 0;">
                        <span class="bag-summary__count">
                           <span id="panier_item">0</span> <!-- ko i18n: 'Items' --><!-- /ko --><!-- <span id="count_number_pluriel">$0.00</span> -->
                        </span>
                            </td>
                            <td>
                                <if args="getCartParam('summary_count')">
                                    <div class="minicart-footer">
                                        <each args="getRegion('subtotalContainer')" render=""/>
                                        <each args="getRegion('extraInfo')" render=""/>

                                    </div>
                                </if>
                            </td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <a class="action create primary" href="#" title="View Shopping Bag" id="go_checkout">
                        <!-- ko i18n: 'View Shopping Bag' --><!-- /ko -->
                    </a>

                </div>
            </div>


        </if>

        <ifnot args="getCartParam('summary_count')">


            <div class="bag border-left">
                <div class="bag__items-wrapper empty-message scalls">

                    <span class="h1 d-block pb-2" style="margin-bottom: 20px;"><!-- ko i18n: 'Your basket is currently empty' --><!-- /ko --></span>


                </div>
                <div class="bag__summary pt-5 pb-4">
                                <span class="bag-summary__count">
                                    0 <!-- ko i18n: 'Items' --><!-- /ko -->
                                </span>
                                <!-- <span id="count_number_pluriel">$0.00</span> -->
                </div>
                <div class="bag__actions">
                    <div>
                        <a class="action create primary disabled" href="#" title="View Shopping Bag"><!-- ko i18n: 'View Shopping Bag' --><!-- /ko --></a>
                    </div>

                </div>
            </div>


        </ifnot>

        <div id="minicart-widgets" class="minicart-widgets" if="regionHasElements('promotion')">
            <each args="getRegion('promotion')" render=""/>
        </div>
    </div>
    <each args="getRegion('sign-in-popup')" render=""/>