<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Newsletter $block */
?>
				<?php 
				$form_link = "https://besidegroup.us7.list-manage.com/subscribe/post-json?u=8e714f031fbc5257d772407db&id=0eaacb872b";
				ini_set('display_errors',"1");
				$om = \Magento\Framework\App\ObjectManager::getInstance();  
				$customerSession = $om->get('Magento\Customer\Model\Session');  
				$customerEmail= $customerSession->getCustomer()->getEmail();
				
				$mcHelper = $this->helper('Dredd\Mailchimpcustom\Helper\Data');
				//$customerEmail = "mirindranewacc@khaleejdigital.com";
				
				$is_subscribed = $mcHelper->isSubscribed($customerEmail);
				$interests = array();
				$interests = $mcHelper->getEmailInterests($customerEmail);
				//$interests = $mcHelper->getEmailFormChecked($customerEmail);
				$interests_list = $mcHelper->getMcInterestsByCategory();

				if($is_subscribed){
					$e_param = $mcHelper->getUniqueEmailId($customerEmail);
					$u_param = "8e714f031fbc5257d772407db";
					$id_param = "0eaacb872b";
					$form_link = "https://besidegroup.us7.list-manage.com/profile/post";
				}
				else{

				}
				$form_link =  $block->getUrl('dreddmc/newsletter/update');


				?>
                <?php
                $objectManager =  $om;
                $storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                $storeID       = $storeManager->getStore()->getStoreId();
                ?>
<?= $block->getChildHtml('form_before') ?>
    <div class="customer-newsletter-subscription block">
        <form class="form subscribe"
            novalidate
            action="<?php echo $form_link; ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="mcacc-embedded-subscribe-form"
            name="mcacc-embedded-subscribe-form"
            >
			<?php if($is_subscribed):?>
			<input type="hidden" name="u" value="<?php echo $u_param;?>">
			<input type="hidden" name="id" value="<?php echo $id_param;?>">
			<input type="hidden" name="e" value="<?php echo $e_param;?>">
			<?php endif;?>
            <fieldset class="fieldset">
                <?= $block->getBlockHtml('formkey') ?>
                <div class="block-title">
                    <strong><?= $block->escapeHtml(__('YOUR EMAIL PREFERENCES')) ?></strong>
                </div>
				<div class="newsletter-acc-msg"></div>
                <div class="field">

				<input type="hidden" name="is_newsubscriber" value="<?php if(!$is_subscribed):?>1<?php else:?>0<?php endif;?>">
				
							<input name="subscribe_email" type="hidden" id="mceacc-EMAIL" class="email"
								   value="<?php echo $customerEmail;?>"
							/>
					<div for="mceacc-EMAIL" generated="true" class="mage-error" id="mceacc-EMAIL-error" style="display: none;"></div>

					<div class="checkbox-list-wrapper">
						<strong><?= $block->escapeHtml(__('I\'m interested in')) ?> </strong>
						<!--
						<ul><li><input type="checkbox" value="1" name="group[81456][1]" id="mce-group[81456]-81456-0" <?php if(in_array("group[81456][1]", $interests)): ?>checked="checked"<?php endif; ?>><label for="mce-group[81456]-81456-0"><?= $block->escapeHtml(__('Womenswear')) ?></label></li>
							<li><input type="checkbox" value="2" name="group[81456][2]" id="mce-group[81456]-81456-1" <?php if(in_array("group[81456][2]", $interests)): ?>checked="checked"<?php endif; ?>><label for="mce-group[81456]-81456-1"><?= $block->escapeHtml(__('Menswear')) ?></label></li>
							<li><input type="checkbox" value="4" name="group[81456][4]" id="mce-group[81456]-81456-2" <?php if(in_array("group[81456][4]", $interests)): ?>checked="checked"<?php endif; ?>><label for="mce-group[81456]-81456-2"><?= $block->escapeHtml(__('Kidswear')) ?></label></li>
						</ul>
						-->
						<?php foreach($interests_list as $interest_key => $interest_name):?>
						<?php if ($interest_name=="Kidswear" && ($storeID == 2 or $storeID == 3) ):?>
						<?php else: ?>
						<div class="newsletter-checkbox-list"><input type="checkbox" value="1" name="interestgp[<?php echo $interest_key; ?>]" id="mce-group<?php echo $interest_key; ?>" <?php if(array_key_exists($interest_key,$interests) && $interests[$interest_key]==1): ?>checked="checked"<?php endif; ?>><label for="mce-group[81456]-81456-0"><?= $block->escapeHtml(__($interest_name)) ?></label></div>
						<?php endif; ?>
						<?php endforeach;?>
						
					</div>				

                </div>
                <?php /* Extensions placeholder */ ?>
                <?= $block->getChildHtml('customer.form.newsletter.extra') ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary"><button type="submit" id="mcacc-embedded-subscribe"  title="<?= $block->escapeHtmlAttr(__('Save changes')) ?>" class="action save primary"><span><?= $block->escapeHtml(__('Save changes')) ?></span></button></div>
				<?php if($is_subscribed):?>
				<div class="secondary unsub"><a class="action unsubscribe" href="https://besidegroup.us7.list-manage.com/unsubscribe?u=8e714f031fbc5257d772407db&id=0eaacb872b&e=c1268a4f5c" title="Unsubscribe"><?= $block->escapeHtml(__('Unsubscribe')) ?></a></div>
                <?php endif; ?>
				<div class="secondary"><a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a></div>
            </div>
			<d
        </form>
    </div>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.newsletter.extra2') ?>
<script type="text/javascript">
/*    require([
        'jquery',
        'mage/mage',
        'mage/validation'
    ],function($){

   

        $(document).ready(function () {
            var form = $('form#mcacc-embedded-subscribe-form');
            form.on('submit',function (event) {
                event.preventDefault();
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    sendToMailChimp();
                }
            });

            $('#mcacc-embedded-subscribe').on('click',function (event) {
                event.preventDefault();
                sendToMailChimp();
            });

            $("#mceacc-EMAIL" ).on ('focus',function(event) {
                $('#mceacc-EMAIL-error').fadeOut('slow');
                $('#mceacc-EMAIL-error').html('');
            });


            function sendToMailChimp()
            {
                var txtInput = $('#mceacc-EMAIL').val();

                if ($.mage.isEmptyNoTrim(txtInput)) { //required-entry
                    $('#mceacc-EMAIL-error').html('<?php echo $block->escapeHtmlAttr(__('This is a required field.')) ?>');
                    $('#mceacc-EMAIL-error').fadeIn();
                }
                else {
                    if (/^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(txtInput)) { //validate-email
                        
                        $('#mceacc-EMAIL-error').hide();
                        var form = $('form#mcacc-embedded-subscribe-form');

                        $('#mcacc-embedded-subscribe').hide();
                        $('#gif_loading').show();

                        $.ajax({
                            url: form.attr('action'),
                            type: 'POST',
                            data: form.serialize(),
                            cache: false,
                            dataType: "jsonp",
                            jsonp: "c",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
								console.log(data);
                                $('#gif_loading').hide();
                                var _html = '<div>';

                                //BEGIN Intégration
                                if (data.result == "success") {

                                    _html += "<h2 class='sucess-chimps'><?= $block->escapeHtml(__('Thank you for signing up.')) ?></h2>";
                                    _html += "<p class='sucess-chimps-text'><?= $block->escapeHtml(__('You will receive your personal voucher code within your inbox in a few minutes. Enjoy shopping!')) ?></p>";
                                    //_html += "..."; //Ampiana zay ilaina
                                }
                                else {
                                    _html += '<div class="error-chimps"><span>' + data.msg + '</span></div>'; //message d'erreur ny avy any ivelany
                                }
                                //END Intégration

                                _html += '</div>';

                                $('.newsletter-acc-msg').html(_html);
                            }
                        });

                        return false;
                    }
                    else { //not validate
                        $('#mceacc-EMAIL-error').html('<?php echo $block->escapeHtmlAttr(__('Please enter a valid email address (Ex: johndoe@domain.com).')) ?>');
                        $('#mceacc-EMAIL-error').fadeIn();
                    }
                }
            }
        });


    });*/
</script>
