<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
?>
<?php // Haingo 20210923: affichage nombre items ?>
<input type="hidden" id="item_total_number" value="<?php echo $block->getTotalNum(); ?>" />
<input type="hidden" id="item_limit" value="<?php echo $block->getLimit(); ?>" />
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();  
$request = $objectManager->get('Magento\Framework\App\Request\Http');  
$num_page = $request->getParam('p');
if(empty($num_page)) $num_page = 1;
?>
<input type="hidden" id="number_page" value="<?php echo $num_page ?>" />
<?php // Fin Haingo 20210923 ?>


<p class="toolbar-amount" id="toolbar-amount">
    <?php if ($block->getLastPageNum() > 1) :?>
        <?= $block->escapeHtml(
            __(
                'Products %1-%2 of %3',
                '<span class="toolbar-number">' . $block->getFirstNum() . '</span>',
                '<span class="toolbar-number">' . $block->getLastNum() . '</span>',
                '<span class="toolbar-number">' . $block->getTotalNum() . '</span>'
            ),
            ['span']
        ) ?>
    <?php elseif ($block->getTotalNum() == 1) :?>
        <?= $block->escapeHtml(
            __('Showing: %1 Product', '<span class="toolbar-number">' . $block->getTotalNum() . '</span>'),
            ['span']
        ) ?>
    <?php else :?>
        <?= $block->escapeHtml(
            __('Showing: %1 Products', '<span class="toolbar-number">' . $block->getTotalNum() . '</span>'),
            ['span']
        ) ?>
    <?php endif; ?>
</p>

<a class="search-back" href="#" onclick="history.go(-1);"><span>&nbsp;</span></a>
<p class="total-result-count">
    <?php if ($block->getTotalNum() == 1) :?>
        <?= $block->escapeHtml(
            __('%1 result', '<span class="toolbar-number">' . $block->getTotalNum() . '</span>'),
            ['span']
        ) ?>
    <?php else :?>
        <?= $block->escapeHtml(
            __('%1 results', '<span class="toolbar-number">' . $block->getTotalNum() . '</span>'),
            ['span']
        ) ?>
    <?php endif; ?>
</p>
<?php // Haingo 20210923: affichage nombre items ?>	
<div class="compteur-items">	
	<div class="view-more-compteur-items"></div>
	<div>	
		<div class="p-background">
			<div class="p-progress"></div>
		</div>
		<style>
			.p-background{background:#dbc7ae; height:4px;width:200px}
			.p-background .p-progress{height:4px; background:#bd7f32}
		</style>  
	</div>	
</div>	

<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){ 
		$(document).ready(function($) {
			var num_page = $("#number_page").val();
			getCompteurMoreView(num_page);
			getProgressPercent(num_page)

		});  
		
		function getCompteurMoreView(num_page) {
			
			var item_total_number = $("#item_total_number").val();
			var item_limit = $("#item_limit").val();
			var nb_items_views = num_page*item_limit;
			if(item_total_number<=nb_items_views){
				var compteur_text = "<span>Viewed "+item_total_number+" of "+item_total_number+" items</span>";
			}else{
				var compteur_text = "<span>Viewed "+nb_items_views+" of "+item_total_number+" items</span>";
			}
			$( ".view-more-compteur-items" ).html(compteur_text);
			// var view_more_div = $( ".view-more-compteur-items" );
			// view_more_div.children("span").text(compteur_text);
		}
		
		function getProgressPercent(num_page) {
			
			var item_total_number = $("#item_total_number").val();
			var item_limit = $("#item_limit").val();
			var nb_items_views = num_page*item_limit;
			if(item_total_number<=nb_items_views){
				var percent_txt = '100%';
			}else{
				
				var percent = Math.ceil((100*nb_items_views)/item_total_number);
				var percent_txt = percent+'%';
			}
			$('.p-progress').attr('style','width: '+percent_txt);
			$('.numers-new-mana').text(item_total_number+"<?php echo ' ' . __('Items');  ?>");
		}
		
		
		// dev mana deplace par haingo 20210927
		/**var numers_new_mana = setInterval(function() {
                if ( $('.numers-new-mana').length ) {
					// haingo: mofidication nb item
					var item_total_number = $("#item_total_number").val();
					// $('.numers-new-mana').text(item_total_number+"<?php echo ' ' . __('Items');  ?>");

                if ( $( '.sorte-new-mana' ).length > 1 && $('.numers-new-mana').text() != '' ) {
                    // console.log('+++++1iiiiiiii');
                    $( ".sorte-new-mana" ).hide();
                    var i = 0;
                    $( ".sorte-new-mana" ).each(function() {
                        console.log($(this));
                        i++;
                        if ( i == $( ".sorte-new-mana" ).length) {
                            $(this).show();
                        }
                    })                        
                } 

                    clearInterval(numers_new_mana);
                }
            }, 1000);**/
			
	});
</script>
<?php // fin Haingo ?>