<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
?>
<div class="toolbar-sorter sorter mmmm">
    <label class="sort_dir" for="sorter" style="padding-right: 10px;"><?= $block->escapeHtml(__('Sort:')) ?> </label>
    <div class="sorter-select-holder">
        <select id="sorter" data-role="sorter" class="sorter-options custom-select">
            <?php foreach ($block->getAvailableOrders() as $_key => $_order) : ?>
                <option value="<?= $block->escapeHtmlAttr($_key) ?>"
                    <?php if ($block->isOrderCurrent($_key)) : ?>
                        selected="selected"
                    <?php endif; ?>
                >
                    <?= $block->escapeHtml(__($_order)) ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
    <?php if ($block->getCurrentDirection() == 'desc') : ?>
        <a title="<?= $block->escapeHtmlAttr(__('Set Ascending Direction')) ?>"
           href="#"
           class="action sorter-action sort-desc"
           data-role="direction-switcher"
           data-value="asc">
            <span><?= $block->escapeHtml(__('Set Ascending Direction')) ?></span>
        </a>
    <?php else : ?>
        <a title="<?= $block->escapeHtmlAttr(__('Set Descending Direction')) ?>"
           href="#"
           class="action sorter-action sort-asc"
           data-role="direction-switcher"
           data-value="desc">
            <span><?= $block->escapeHtml(__('Set Descending Direction')) ?></span>
        </a>
    <?php endif; ?>
</div>

<script>
    require([
        'jquery'
    ], function($) {
        'use strict';
        $('select.custom-select').each(function(){
            if(!$(this).hasClass('initialized')){
                var $this = $(this),
                    numberOfOptions = $(this).children('option').length;
                $this.addClass('initialized');
                $this.addClass('select-hidden');
                $this.wrap('<div class="select"></div>');
                $this.after('<div class="select-styled"></div>');

                var $styledSelect = $this.next('div.select-styled');
                $styledSelect.text($this.children('option:selected').eq(0).text());

                var $list = $('<ul />', {
                    'class': 'select-options'
                }).insertAfter($styledSelect);

                for (var i = 0; i < numberOfOptions; i++) {
                    $('<li />', {
                        text: $this.children('option').eq(i).text(),
                        rel: $this.children('option').eq(i).val()
                    }).appendTo($list);
                }

                var $listItems = $list.children('li');
                $list.addClass('select-hide');
                $styledSelect.click(function(e) {
                    e.stopPropagation();
                    $('div.select-styled.active').not(this).each(function(){
                        $(this).removeClass('active').next('ul.select-options').addClass('select-hide');
                    });
                    $(this).toggleClass('active').next('ul.select-options').toggleClass('select-hide');
                });

                $listItems.click(function(e) {
                    e.stopPropagation();
                    $styledSelect.text($(this).text()).removeClass('active');
                    $this.val($(this).attr('rel'));
                    $this.change();
                    $list.addClass('select-hide');
                });

                $(document).click(function() {
                    $styledSelect.removeClass('active');
                    $list.addClass('select-hide');
                });
            }
        });

        // $('.sorter-options.custom-select.initialized.select-hidden').change(function() {
        //     alert('test');
        //   $( "select option:selected" ).each(function() {
        //     alert($(this ).val());
        //     window.location.href = '?product_list_order=' + $(this ).val();
        //   });
        // }); 

        $('.sorter-options.custom-select.initialized.select-hidden').change(loadTeachers);  

        function loadTeachers() {
            // console.log('change.');
            console.log($(this).val());
            if ( $(this).val() == 'low_to_high' ) {
                localStorage.setItem('rdr', 'low_to_high');
            }
            if ( $(this).val() == 'high_to_low' ) {
                localStorage.setItem('rdr', 'high_to_low');
            }
            if ( $(this).val() == 'position' ) {
                var ii = 0;
                $('.sorte-new-mana').each(function() {
                    ii++;
                    if ( ii > 0 ) {
                        $($('.sorte-new-mana')[ii]).hide();
                    }
                });
            }
            if ( $(this).val() == 'price' ) {
                var ii = 0;
                $('.sorte-new-mana').each(function() {
                    ii++;
                    if ( ii > 0 ) {
                        $($('.sorte-new-mana')[ii]).hide();
                    }
                });                
            }
            if ( $(this).val() == 'redbox_pl_new' ) {
                var ii = 0;
                $('.sorte-new-mana').each(function() {
                    ii++;
                    if ( ii > 0 ) {
                        $($('.sorte-new-mana')[ii]).hide();
                    }
                });                
            }
        }        

        $('.sort_dir').click(function() {
            var url_redirect = '';
            var url_string = window.location.href;
            var url = new URL(url_string);
            var product_list_order = url.searchParams.get("product_list_order");
            var product_list_dir = url.searchParams.get("product_list_dir");

            if ( product_list_dir == 'asc' ) {
                product_list_dir = 'desc';
            } else if (product_list_dir == 'desc') {
                product_list_dir = 'asc';
            }

            if ( product_list_order != null && product_list_dir != null ) {
                console.log('1');
                url_redirect = '?product_list_order=' + product_list_order + '&product_list_dir=' + product_list_dir;
            } else if ( 
                product_list_order != null && product_list_dir == null 
                || product_list_order != null && product_list_dir === null 
            ) {
                console.log('2');
                url_redirect = '?product_list_order=' + product_list_order + '&product_list_dir=asc';
            } else if ( product_list_order == null && product_list_dir != null ) {
                console.log('3');
                url_redirect = '?product_list_dir=' + product_list_dir;
            } else if ( product_list_order == null && product_list_dir == null ) {
                url_redirect = '?product_list_order=position&product_list_dir=asc';
                console.log('4');
            }

            console.log(product_list_dir);
            console.log(url_redirect);
            window.location.href = window.location.pathname + url_redirect           

            // var datas_url = current_url.includes("?");
            // console.log(current_url);
            // if ( datas_url ) {
            //     window.location.href = window.location.href + '&product_list_dir=desc';   
            // } else {
            //     window.location.href = window.location.href + '?product_list_dir=desc';   
            // }
        });

        $( document ).ready(function() {
            var url_string = window.location.href;
            var url = new URL(url_string);
            var product_list_dir = url.searchParams.get("product_list_dir"); 
            var short_class = '';
            if ( product_list_dir == null ) {
                short_class = 'short-down';
            } else {
                short_class = 'short-' + product_list_dir;
            }
            console.log('short_class');
            console.log(short_class);
            $('.sort_dir').addClass(short_class);

            console.log('iifa');
            var ii = 0;
            $('.sorte-new-mana').each(function() {
                console.log('ii');
                console.log(ii);
                ii++;
                if ( ii > 0 ) {
                    $($('.sorte-new-mana')[ii]).hide();
                }
            }); 

            if ( $('body').hasClass('category-scotchcategory1') ) {
                console.log('category-scotchcategory1');
                $($('.mmmm')[1]).show();
                $($('.mmmm')[2]).hide();
                $($('.mmmm')[0]).hide();
                $($('.mmmm')[3]).hide();
            }           

        });  

        var rdr_il = setInterval(function() {
            if ( jQuery('.mmmm .select-styled').length ) {
                clearInterval(rdr_il);
                if ( localStorage.getItem('rdr') ) {
                    var rdr = localStorage.getItem('rdr');
                    if ( rdr == 'high_to_low' ) {
                        jQuery('.mmmm .select-styled').text('Price High To Low');
                    }
                    if ( rdr == 'low_to_high' ) {
                        jQuery('.mmmm .select-styled').text('Price Low To High')
                    }         
                    localStorage.removeItem('rdr');       
                }
            }
        }, 1000);     

    });
</script>

<style type="text/css">
    body.categorypath-scotchcategory1 .sorte-new-mana .toolbar-sorter.sorter.mmmm {
        display: block !important;
    }    
</style>
