<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="block newsletter">

    <div class="title"><strong><?= $block->escapeHtml(__('Sign up for our Newsletter:')) ?></strong></div>
    <div class="content">
        <!-- Begin Mailchimp Signup Form -->
        <form class="form subscribe"
            novalidate
            action="https://khaleejdev.us6.list-manage.com/subscribe/post?u=273f70a34e2c6ac449c46a624&amp;id=efafeccc3d"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            target="_blank">
            <div class="field newsletter">
                <div class="control">
                    <label for="newsletter">
                        <span class="label">
                            <?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?>
                        </span>
                        <input name="EMAIL" type="email" id="mce-EMAIL" class="email"
                               placeholder="<?= $block->escapeHtml(__('Your Email Address')) ?>"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}"
                               required
                        />
                        <span class="newsletter-note">
                            <?= $block->getChildHtml('footer-subscribe-note'); ?>
                        </span>
                    </label>
                </div>

                <div class="mc-field-group input-group">
                    <strong><?= $block->escapeHtml(__('I\'m interested in')) ?> </strong>
                    <ul><li><input type="checkbox" value="2" name="group[53522][2]" id="mce-group[53522]-53522-0"><label for="mce-group[53522]-53522-0"><?= $block->escapeHtml(__('Womenswear')) ?></label></li>
                        <li><input type="checkbox" value="4" name="group[53522][4]" id="mce-group[53522]-53522-1"><label for="mce-group[53522]-53522-1"><?= $block->escapeHtml(__('Menswear')) ?></label></li>
                        <li><input type="checkbox" value="8" name="group[53522][8]" id="mce-group[53522]-53522-2"><label for="mce-group[53522]-53522-2"><?= $block->escapeHtml(__('Kidswear')) ?></label></li>
                    </ul>
                </div>

            </div>
            <div class="actions">
                <button class="action subscribe secondary"
                        title="<?= $block->escapeHtmlAttr(__('Sign up')) ?>"
                        type="submit"
                        aria-label="Sign up"
                        name="subscribe"
                        id="mc-embedded-subscribe" >
                    <span><?= $block->escapeHtml(__('Sign up')) ?></span>
                </button>
            </div>
        </form>
        <!--End mc_embed_signup-->
    </div>

</div>

