<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */
/** Fano modif mailchimp */
?>
<div class="block newsletter">

    <div class="title"><strong><?= $block->escapeHtml(__('Sign up for our Newsletter:')) ?></strong></div>
    <div class="content">
        <!-- Begin Mailchimp Signup Form -->
        <form class="form subscribe"
            novalidate
            action="https://besidegroup.us7.list-manage.com/subscribe/post-json?u=8e714f031fbc5257d772407db&id=0eaacb872b"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            target="_blank">
            <div class="field newsletter">
                <div class="control">
                    <label for="newsletter">
                        <span class="label">
                            <?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?>
                        </span>
                        <input name="EMAIL" type="email" id="mce-EMAIL" class="email"
                               placeholder="<?= $block->escapeHtml(__('Your Email Address')) ?>"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}"
                               required
                        />
                        <span class="newsletter-note">
                            <?= $block->getChildHtml('footer-subscribe-note'); ?>
                        </span>
                    </label>
                </div>

                <div for="mce-EMAIL" generated="true" class="mage-error" id="mce-EMAIL-error" style="display: none;"></div>

                <div class="mc-field-group input-group">
                    <strong><?= $block->escapeHtml(__('I\'m interested in')) ?> </strong>
                    <ul><li><input type="checkbox" value="1" name="group[81456][1]" id="mce-group[81456]-81456-0"><label for="mce-group[81456]-81456-0"><?= $block->escapeHtml(__('Womenswear')) ?></label></li>
                        <li><input type="checkbox" value="2" name="group[81456][2]" id="mce-group[81456]-81456-1"><label for="mce-group[81456]-81456-1"><?= $block->escapeHtml(__('Menswear')) ?></label></li>
                        <li><input type="checkbox" value="4" name="group[81456][4]" id="mce-group[81456]-81456-2"><label for="mce-group[81456]-81456-2"><?= $block->escapeHtml(__('Kidswear')) ?></label></li>
                    </ul>
                </div>

            </div>
            <div class="actions">
                <button class="action subscribe secondary"
                        title="<?= $block->escapeHtmlAttr(__('Sign up')) ?>"
                        type="submit"
                        aria-label="Sign up"
                        name="subscribe"
                        id="mc-embedded-subscribe" >
                    <span><?= $block->escapeHtml(__('Sign up')) ?></span>
                </button>
                <?php
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
                    $mediaUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA );
                ?>
                <span><img src="<?php echo $mediaUrl."circles-menu.gif" ?>" style="display: none; width:100px" id="gif_loading"></span> <!--GIF LOADING-->
            </div>
        </form>
        <!--End mc_embed_signup-->
    </div>

</div>
<script type="text/javascript">
    require([
        'jquery',
        'mage/mage',
        'mage/validation'
    ],function($){

        /*
        isEmptyNoTrim: function (value) {
                return value === '' || value == null || value.length === 0;
            },


        */

        $(document).ready(function () {
            var form = $('form#mc-embedded-subscribe-form');
            form.on('submit',function (event) {
                event.preventDefault();
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    sendToMailChimp();
                }
            });

            $('#mc-embedded-subscribe').on('click',function (event) {
                event.preventDefault();
                sendToMailChimp();
            });

            $("#mce-EMAIL" ).on ('focus',function(event) {
                $('#mce-EMAIL-error').fadeOut('slow');
                $('#mce-EMAIL-error').html('');
            });


            function sendToMailChimp()
            {
                var txtInput = $('#mce-EMAIL').val();

                if ($.mage.isEmptyNoTrim(txtInput)) { //required-entry
                    $('#mce-EMAIL-error').html('<?php echo $block->escapeHtmlAttr(__('This is a required field.')) ?>');
                    $('#mce-EMAIL-error').fadeIn();
                }
                else {
                    if (/^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(txtInput)) { //validate-email
                        
                        $('#mce-EMAIL-error').hide();
                        var form = $('form#mc-embedded-subscribe-form');

                        $('#mc-embedded-subscribe').hide();
                        $('#gif_loading').show();

                        $.ajax({
                            url: form.attr('action'),
                            type: 'POST',
                            data: form.serialize(),
                            cache: false,
                            dataType: "jsonp",
                            jsonp: "c",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                $('#gif_loading').hide();
                                var _html = '<div>';

                                //BEGIN Intégration
                                if (data.result == "success") {

                                    _html += "<h2 class='sucess-chimps'><?= $block->escapeHtml(__('Thank you for signing up.')) ?></h2>";
                                    _html += "<p class='sucess-chimps-text'><?= $block->escapeHtml(__('You will receive your personal voucher code within your inbox in a few minutes. Enjoy shopping!')) ?></p>";
                                    //_html += "..."; //Ampiana zay ilaina
                                }
                                else {
                                    _html += '<div class="error-chimps"><span>' + data.msg + '</span></div>'; //message d'erreur ny avy any ivelany
                                }
                                //END Intégration

                                _html += '</div>';

                                $('.block.newsletter').html(_html);
                            }
                        });

                        return false;
                    }
                    else { //not validate
                        $('#mce-EMAIL-error').html('<?php echo $block->escapeHtmlAttr(__('Please enter a valid email address (Ex: johndoe@domain.com).')) ?>');
                        $('#mce-EMAIL-error').fadeIn();
                    }
                }
            }
        });


    });
</script>
