<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block items-in-cart">
    <div class="title" data-role="title">
        <h3 role="heading" aria-level="1">
            <!-- ko if: getCartLineItemsCount() > 1 -->
                <span data-bind="i18n: 'Items being shipped'"/>
            <!--/ko-->

            <!-- ko if: getCartLineItemsCount() === 1 -->
                <span data-bind="i18n: 'Item being shipped'"/>
            <!-- /ko -->
        </h3>
    </div>
    <div class="content minicart-items" data-role="content">
        <div class="minicart-items-wrapper overflowed">
            <ol class="minicart-items">
                <each args="items()">
                    <li class="product-item">
                        <div class="product">
                            <each args="$parent.elems()" render=""/>
                        </div>
                    </li>
                </each>
            </ol>
        </div>
    </div>
    <div class="actions-toolbar" if="maxCartItemsToDisplay < getCartLineItemsCount()">
        <div class="secondary">
            <a class="action viewcart" data-bind="attr: {href: cartUrl}">
                <span data-bind="i18n: 'View and Edit Cart'"></span>
            </a>
        </div>
    </div>
</div>
