//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .shopfinder-index-index {

        .page-title {
            margin-bottom: 40px;
            text-transform: uppercase;
            letter-spacing: 0.83px;
            font-size: 40px;
            line-height: 50px;
        }

        .store-locator {
            display: grid;
        }

        .new-search {
            h2 {
                text-transform: uppercase;
                letter-spacing: 0.83px;
                font-size: 24px;
                line-height: 27px;
                margin-bottom: 20px;
                margin-top: 0;
            }
        }

        .toolbar-shopfinder {
            display: none;
        }

        #shops-wrapper {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }

        .shop-details {
            .shop-name {
                font-size: 24px;
                line-height: 27px;
                margin: 0;
                letter-spacing: 0.83px;
                cursor: pointer;
            }
        }

        #search-message {
            h2 {
                text-transform: uppercase;
                letter-spacing: 0.83px;
                font-size: 24px;
                line-height: 27px;
                margin-bottom: 40px;
                margin-top: 60px;
            }
        }

        .find-shop {
            > p {
                display: none;
            }
        }

        .loc-search {
            button {
                margin-top: 10px;
                width: 100%;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
        }

        .search-filters {
            margin-top: 10px;
        }

    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .shopfinder-index-index {
        .column.main {
            width: 100%;
        }

        .store-locator {
            grid-template-columns: 1fr 2fr;
            grid-gap: 50px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .shopfinder-index-index {
        .store-locator {
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
        }
    }
}
