<!--
/**
 * Copyright © 2020 Redbox Digital Limited. All rights reserved.
 * Beside
 */
-->
<div class="breadcrumbs-items">
    <span><a href="<%= breadcrumbs[breadcrumbs.length - 2].link %>">Back To <%- breadcrumbs[breadcrumbs.length - 2].label %> (<% breadcrumbs.length %>)</a>
    </span>
</div>
